﻿<!-- All new id of a is prefix by CORE_btnBackTo[contentID] ex.  id="CORE_btnBackTo501"-->
<div class="breadcrumb-container ess-breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ess-breadcrumb">
            <li class="breadcrumb-item ess-breadcrumb-item"><a id="CORE_btnBackToHome" ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page" ng-if="document.RequestTypeID == '1101' || document.RequestTypeID == '1102' || document.RequestTypeID == '1103' || document.RequestTypeID == '1104'|| document.RequestTypeID == '1105'"><a ng-click="openViewContent(110)" href="" id="CORE_btnBackTo110">{{Text['APPLICATION'].OM_UNIT}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page" ng-if="document.RequestTypeID == '1201' || document.RequestTypeID == '1202' || document.RequestTypeID == '1203' || document.RequestTypeID == '1204' || document.RequestTypeID == '1205'|| document.RequestTypeID == '1206'"><a ng-click="openViewContent(120)" href="" id="CORE_btnBackTo110">{{Text['APPLICATION'].OM_POSITION}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page" ng-if="document.RequestTypeID == '1601'"><a ng-click="openViewContent(1601)" href="" id="CORE_btnBackTo1601">{{Text['APPLICATION'].LETTER}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page" ng-if="document.RequestTypeID == '2201'"><a ng-click="openViewContent(220)" href="" id="CORE_btnBackTo2201">{{Text['APPLICATION'].PA_PERSONAL_QUALI_INFO}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page" ng-if="document.RequestTypeID == '2202'"><a ng-click="openViewContent(220)" href="" id="CORE_btnBackTo2202">{{Text['APPLICATION'].PA_PERSONAL_QUALI_INFO}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page" ng-if="document.RequestTypeID == '2203'"><a ng-click="openViewContent(220)" href="" id="CORE_btnBackTo2203">{{Text['APPLICATION'].PA_PERSONAL_QUALI_INFO}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page" ng-if="document.RequestTypeID == '2204'"><a ng-click="openViewContent(220)" href="" id="CORE_btnBackTo2204">{{Text['APPLICATION'].PA_PERSONAL_QUALI_INFO}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page" ng-if="document.RequestTypeID == '2205'"><a ng-click="openViewContent(220)" href="" id="CORE_btnBackTo2205">{{Text['APPLICATION'].PA_PERSONAL_QUALI_INFO}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page" ng-if="document.RequestTypeID == '2206'"><a ng-click="openViewContent(220)" href="" id="CORE_btnBackTo2206">{{Text['APPLICATION'].PA_PERSONAL_QUALI_INFO}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page" ng-if="document.RequestTypeID == '2207'"><a ng-click="openViewContent(220)" href="" id="CORE_btnBackTo2207">{{Text['APPLICATION'].PA_PERSONAL_QUALI_INFO}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page" ng-if="document.RequestTypeID == '2208'"><a ng-click="openViewContent(220)" href="" id="CORE_btnBackTo2208">{{Text['APPLICATION'].PA_PERSONAL_QUALI_INFO}}</a></li>
            <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{document.RequestTypeSummary}}</li>

        </ol>
    </nav>
</div>



