﻿<style>
    .stepProgress {
      /*  background-color: rgba(190, 164, 231,0.25);
        border-radius: 40px;
        padding: 10px 2px 5px 0px;
        z-index: -1;*/
    }
</style>
<div class="ess-page-header-panel row ess-row-wrap moving-bar" ng-class="{'on-scrolldown' : isMove }">
    <div class="col-sm-4 ess-page-header">
        <i class="icon icon-man"></i>
        <h1 class="ess-page-header1">{{document.RequestTypeSummary}}</h1>
    </div>
    <!--<div ng-class="document.CurrentFlowItemCode==''||!document.CurrentFlowItemCode ? 'col-sm-4':'col-sm-4 stepProgress'">
        <div ng-include="'views/common/partials/document_milestonestep.html?t='+runtime"></div>
    </div>-->
    <div class="col-sm-4">
        <div ng-include="'views/common/partials/document_milestonestep.html?t='+runtime"></div>

    </div>
    <div class="col-sm-4 ess-page-header">
        <div class="itemlist" style="width:100%;">
            <div class="ess-page-header-element">
                <div ng-repeat="action in (document.RequestActionList | filter:{IsVisible:true})">
                    <a id="CORE_btnDocumentAction{{$index}}" class="ess-button {{action.IconClass}}" ng-click="setCurentButtonTxt(action.ActionText);doRequestAction(action.URL);" href="" role="button">
                        <div class="ess-caption-icon"><i class="icon {{action.IconClass}}"></i>&nbsp;{{action.ActionText}} </div>
                        <md-tooltip class="em-font-15">
                            {{action.ActionText}}{{Text['SYSTEM']['document']}}
                        </md-tooltip>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ess-headersub-1"></div>
    <div class="ess-headersub-2"></div>
</div>