﻿
<!--<div style="margin-top: 20px; "></div>-->
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <a href="" class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#essCommentInfo" role="button" aria-expanded="true" aria-controls="essDocumentInfo">
            <div class="col-12 ess-tab-section-bar1">
                <div class="ess-tab-section-bar-hdr">{{Text['SYSTEM']['REASON_']}}</div>
                <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            </div>
        </a>
        <div class="collapse show" id="essCommentInfo">

            <div id="reasone_main_request"  ng-show="(document.RequestActionList | filter:{IsVisible:true}).length > 0">

                <div style=" border: 1px solid #e5e5e5; border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
                    <textarea id="CORE_txtCommentInRequestDocument" class="form-control form-control-textarea" rows="5" style="width: 100%; resize: none; padding: 10px; border:none" ng-model="document.Comment"></textarea>
                </div>
            </div>
            <div style=" margin-top: 20px; "></div>
            <div class="fyi_expand" ng-if="document.RequestCommentList" ng-show="templateControl.isRequestViewerController">
                
                <div class=" row leavedetail_item fyi_inexpand" ng-repeat="comment in document.RequestCommentList" ng-if="$index < document.RequestCommentList.length-1">
                     <div class="col-sm-10 -col_centered detail_item-fyi fyinote -bg-lightred grayscale" style="margin-top:10px;">
                        <div class="row">
                            <div class="col-md-1 col-xs-1 -pad0">
                                <!--<span class="icon-pin spanicon"></span>1-->
                                <div style="background-image: url('{{FilePath}}{{comment.CommentbyEmployeeID}}{{FileType}}'),url('./images/unknown.png');background-size:cover; width:70px;height:70px;border-radius: 100px;"></div>
                            </div>
                            <div class="col-md-11 col-xs-9">
                                <span class="tip tip-left"></span>
                                <div class="message" >
                                    <div style="margin-left:10px;">
                                        <span class="itemfyi-des">
                                            {{comment.CommentbyEmployeeName}}
                                        </span>
                                        <!--<span class="itemfyi-des"><span class="icon-calendar spanicon -txt-gray"></span> {{comment.CommentDate | date:'d/M/yyyy'}}</span>-->
                                        <!--<span class="itemfyi-des">
                                            <i class="glyphicon glyphicon-calendar fa fa-clock-o">
                                            </i> {{comment.CommentDate | date:'HH:mm'}}
                                        </span>-->
                                        <p class="itemfyi-des -txt-gray">
                                            {{comment.CommentText }}
                                        </p>
                                    </div>
                                </div>
                                <div style="margin-left:20px;color: darkgray;">
                                    <span class="itemfyi-des"><span class="icon-calendar spanicon -txt-gray"></span> {{comment.CommentDate | date:'d/M/yyyy HH:mm'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:10px;"></div>
            <div class="row leavedetail_item" ng-if="document.RequestCommentList[document.RequestCommentList.length-1]" ng-show="templateControl.isRequestViewerController">
               
                <div class="col-sm-10 -col_centered detail_item-fyi fyinote -bg-lightred"  style="margin-top:10px;">
                    <div class="row">
                        <div class="col-md-1 col-xs-1 -pad0">
                            <!--<div style="background-image: url('./images/unknown.png');background-size:cover; width:70px;height:70px; border-radius: 100px;"></div>-->
                            <div style="background-image: url('{{FilePath}}{{document.RequestCommentList[document.RequestCommentList.length-1].CommentbyEmployeeID}}{{FileType}}'),url('./images/unknown.png');background-size:cover; width:70px;height:70px;border-radius: 100px;"></div>
                        </div>
                        <div class="col-md-11 col-xs-9">
                            <span class="tip_error tip_error-left"></span>
                            <div class="message_error">
                                <div style="margin-left:10px;">
                                    <span class="itemfyi-des">
                                        {{document.RequestCommentList[document.RequestCommentList.length-1].CommentbyEmployeeName}}
                                    </span>
                                    <!--<span class="itemfyi-des"><span class="icon-calendar spanicon -txt-org"></span> {{document.RequestCommentList[document.RequestCommentList.length-1].CommentDate | date:'d/M/yyyy'}}</span>-->
                                    <!--<span class="itemfyi-des">
                                        <i class="glyphicon glyphicon-calendar fa fa-clock-o">
                                        </i> {{document.RequestCommentList[document.RequestCommentList.length-1].CommentDate | date:'HH:mm'}}
                                    </span>-->
                                    <p class="itemfyi-des -txt-gray">
                                        {{document.RequestCommentList[document.RequestCommentList.length-1].CommentText}}
                                    </p>
                                </div>
                            </div>
                            <div style="margin-left:20px;color: darkgray;">
                                <span class="itemfyi-des"><span class="icon-calendar spanicon -txt-org"></span> {{document.RequestCommentList[document.RequestCommentList.length-1].CommentDate | date:'d/M/yyyy HH:mm'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class=" itemfyi-icon icodown rotate180" ng-if="document.RequestCommentList.length > 1" style="top: 0; width: 37px; height: 37px; right: 0px !important; "><span class="icon-arrow_tail_down"></span></div>
                </div>

            </div>
        </div>
 
    </div>
</div>
