﻿<!-- menu -->
<div ng-controller="MenuController" id="main-menu" ng-class="{'mainBlock-hide':menuCtrl.isHideMenu}" ng-init="init();">
    <!-- menu -->
    <div class="collapse mainnavbar-collapse mainnavbar" ng-class="{'show':isExpendMainMenu}">
        <nav class="topnav-menu" id="topnav-menu">
            <div class="topnav-menu-home-wrap">
                <div class="topnav-menu-box topnav-menu-home">

                    <div class="topnav-menu-headerlink" ng-repeat="menu in menus" ng-if="menu.groupID == 0">
                        <a id="CORE_MENU_btnGotoGroup{{menu.groupID}}_{{$parent.$index}}" href="" class="topnav-menu-link topnav-menu-homelink" ng-click="toggleExpendMainMenu();clickMenu(this, menu.url)">
                            <!--<i class="icon icon_home"></i>-->
                            <i class="icon {{menu.icon}}"></i>
                            <span class="topnav-menu-homelink-label">{{ menu.url ? menu.text : Text['BOXLIST'].HOME}}</span>
                        </a>
                    </div>
                </div>
                <div class="topnav-menu-box topnav-menu-document">
                    <div class="topnav-menu-box topnav-menu-list">
                        <div ng-repeat="menu in menus">
                            <div class="topnav-menu-list-inner" ng-if="menu.isHeader && menu.isBox && menu.groupID != 0">
                                <a id="CORE_MENU_btnExpandGroup{{menu.groupID}}_{{$parent.$index}}" class="topnav-menu-headerlink" data-toggle="collapse" data-target="#collapseSubMenu{{menu.groupID}}" role="button" aria-expanded="true" aria-controls="collapseSubMenu{{menu.groupID}}">
                                    <i class="icon {{menu.icon}}"></i>
                                    <div class="topnav-menu-link">{{menu.text}}</div>
                                </a>
                                <div class="collapse" id="collapseSubMenu{{menu.groupID}}">
                                    <ul class="topnav-menu-linklist">
                                        <li class="topnav-menu-linkitem" ng-repeat="submenu in menus" ng-if="!submenu.isHeader && submenu.isBox && submenu.groupID == menu.groupID">
                                            <a href="" ng-click="toggleExpendMainMenu();clickMenu(this, submenu.url);" class="topnav-menu-link">
                                                {{submenu.text}}
                                                <span class="topnav-menu-link-qty-wrap" ng-show="submenu.count>0">
                                                    <span class="topnav-menu-link-qty">{{submenu.count}}</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topnav-slide-wrap">
                <section class="slide-right" ng-class="{'show':isExpendMainMenu}">
                    <div class="topnav-slide-item" ng-repeat="menu in menus | filter: {'isHeader':true , 'isBox':false}" ng-if="menu.groupID != 0">
                        {{menu.Text}}
                        <div class="topnav-menu-box topnav-menu-list" ng-if="menu.isHeader && !menu.isBox && menu.groupID != 0">
                            <div class="topnav-menu-list-inner">
                                <a id="CORE_MENU_btnExpandGroup{{menu.groupID}}_{{$parent.$index}}" class="topnav-menu-headerlink" data-toggle="collapse" data-target="#collapseSubMenu{{menu.groupID}}" role="button" aria-expanded="true" aria-controls="collapseSubMenu{{menu.groupID}}">
                                    <i class="icon {{menu.icon}}"></i>
                                    <div class="topnav-menu-link">{{menu.text}}</div>
                                </a>
                                <div class="collapse" id="collapseSubMenu{{menu.groupID}}">
                                    <ul class="topnav-menu-linklist">
                                        <li class="topnav-menu-linkitem" ng-repeat="submenu in menus" ng-if="!submenu.isHeader && !submenu.isBox && (submenu.groupID == menu.groupID)">
                                            <a id="CORE_MENU_btnGotoGroup{{menu.groupID}}_{{$parent.$index}}" href="" ng-click="toggleExpendMainMenu();clickMenu(this, submenu.url)" class="topnav-menu-link">{{submenu.text}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </nav>
    </div>
</div>


