﻿/* Background color sets */
.dess-bg-primary-1 {
    background-color: #6441A5;
}

.dess-bg-primary-1-light {
    background-color: #6f49b6;
}

.dess-bg-primary-1-lighter {
    background-color: #c5b6e2;
}

.dess-bg-primary-1-lightest {
    background-color: #f1edf8;
}

.dess-bg-primary-2 {
    background-color: #00c379;
}

.dess-bg-info {
    background-color: #2a0845;
}

.dess-bg-info-light {
    background-color: #8a1be4;
}

.dess-bg-info-lighter {
    background-color: #d0a4f4;
}

.dess-bg-info-lightest {
    background-color: #f3e8fc;
}

/* Text color sets */
.dess-text-primary-1 {
    color: #6441A5;
}

.dess-text-primary-1-light {
    color: #6f49b6;
}

.dess-text-primary-1-lighter {
    color: #c5b6e2;
}

.dess-text-primary-1-lightest {
    color: #f1edf8;
}

.dess-text-primary-2 {
    color: #00c379;
}

.dess-text-info {
    color: #2a0845;
}

.navbar-custom, .ess-page-header-panel, .ess-headersub-1, .ess-headersub-2 {
    /*background: #6441A5;*/ /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #2a0845, #6441A5);*/ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*#00c379   -> เขียว*/
    /*#59308e   -> ม่วง*/
}

/***********************************************************************สี Sub Header*/
/*.ess-headersub-1 {
    background-color: #5a318f;
    height: 5px;
}

.ess-headersub-2 {
    background-color: #8a5dc0;
    height: 5px;
}*/

/***********************************************************************สี Header collapse */
.ess-tab-section-bar1 {
    display: flex;
    align-items: center;
    padding: 1px 10px 1px 25px;
    color: white;
    border-radius: 10px 10px 0 0;
    background-color: #00c379;
}

.ess-tab-section-education-bar {
    display: flex;
    align-items: center;
    padding: 1px 10px 1px 25px;
    color: white;
    border-radius: 10px 10px 0 0;
    background-color: #10D389;
   
}

.ess-tab-personal-bar {
    display: flex;
    align-items: center;
    padding: 1px 10px 1px 25px;
    color: white;
    height: 40%;
    border-radius: 10px 10px 0 0;
    background-color: #00c379;
}

.ess-tab-personal-modal {
    display: flex;
    align-items: center;
    padding: 1px 10px 1px 25px;
    color: white;
    height: 40%;
    border-radius: 4px 4px 0 0;
    background-color: #00c379;
}







.page-link:hover {
    background-color: #3F1E70 !important;
    opacity: 0.5;
}

/************************************************************************DASHBOARD*/
.c100.default .bar, .c100.default .fill {
    border-color: #319090 !important;
}

.c100.default:hover > span {
    color: #319090;
}

.c100.default.dark .bar, .c100.default.dark .fill {
    border-color: #316190 !important;
}

.c100.default.dark:hover > span {
    color: #316190;
}

.dashboard-RightsGranted {
    /*สิทธิ์ที่ได้รับ*/
    color: #34985f !important;
}

.dashboard-UserLeave {
    /*ใช้ไป*/
    color: #41be77 !important;
}

.dashboard-BalanceLeave {
    /*คงเหลือ*/
    color: #6bb4ca !important;
}

.dashboard-WaitApprove {
    /*อยู่ระหว่างดำเนินการ*/
    color: #9ccddb !important;
}

/************************************************************************สีลิงค์ หน้า PA*/
.ess-tab-document-wrap .ess-nav-link-pa {
    /*สีลิงค์ตอน active */
    background-color: #ffffff;
    /*สีเส้นข้างล่าง active*/
    border-bottom: 3px solid #C2C2C2;
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 20px 10px 10px;
    min-width: 150px;
    height: 100%;
    background-color: #ffffff;
    color: #808080;
    border-style: none;
}

    .ess-tab-document-wrap .ess-nav-link-pa:hover, .ess-tab-document-wrap .ess-nav-link-pa:focus {
        background-color: #59308e;
        color: #ffffff;
        border-bottom: 3px solid #59308e;
    }

    /************************************************************************first load PersonalContent page*/
    .ess-tab-document-wrap .ess-nav-link-pa.active {
        /*สีลิงค์ตอน active */
        background-color: #59308e;
        /*สีเส้นข้างล่าง active*/
        border-bottom: 3px solid #59308e;
        position: relative;
        color: #ffffff;
        justify-content: center;
        text-align: center;
    }

/************************************************************************Tab กล่องเอกสาร*/
.ess-tab-document-wrap .ess-nav-link {
    display: flex;
    align-items: center;
    padding: 10px 20px 0px 10px;
    border-width: 1px 1px 0;
    border-color: #d6d7d8;
    border-style: solid;
    min-width: 150px;
    height: 100%;
    margin-right: 3px;
    background-color: #ffffff;
    color: #808080;
    border-bottom: 1px solid #dee2e6;
}

    .ess-tab-document-wrap .ess-nav-link.active {
        background-color: #59308e;
        border-bottom: 3px solid #59308e;
        position: relative;
        color: #ffffff;
        padding: 10px 20px 10px 10px;
    }

    /************************************************************************สีลิงค์เมนู หน้า PA*/
    .ess-tab-document-wrap .ess-nav-link:hover, .ess-tab-document-wrap .ess-nav-link:focus {
        background-color: #59308e;
        color: #ffffff;
        border-bottom: 3px solid #59308e;
    }


/************************************************************************สีตัวเลขหน้า BoxContent รายการเอกสารต่าง ๆ*/
.ess-document-number {
    font-size: 16px !important;
    display: inline-block;
    background-color: #aa66cc;
    color: #ffffff;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
}

/************************************************************************bg ของส่วน clock in-out main page*/

.custom-page {
    margin: 0 auto;
    background-image: url('../../main-ui/clockinout_bg.jpg');
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-size: cover;
}

@media (max-width: 420px) {
    .custom-page {
        margin: 0 auto;
        background: url('../../main-ui/clockinout_bg.jpg');
        background-size: contain;
        background-repeat: round;
    }
}

/************************************************************************Scrollbar*/
.scrollbar {
    float: left;
    height: 90%;
    overflow: auto;
}

.scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-default::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #a8afb4;
}


/************************************************************************สีลิงค์ในประกาศ*/
.carousel-caption a:link, a:visited {
    color: #24e79d;
}

.carousel-caption a:visited {
    color: #24e79d;
}

.carousel-caption a:hover {
    color: #ffffff !important;
}

/************************************************************************สีกล่องเอกสารอนุมัติ*/
.ess-document-list {
    background-color: #F8F9F9;
}

/*TABLE*/
.ess-table-container {
    background-color: #fff
}

.freeze {
    width: 100%;
    overflow-y: scroll auto;
    overflow-x: auto;
    position: relative;
    max-height: calc(100vh /1.5);
}

.ess-table-default {
    border-collapse: collapse;
    width: 100%;
}

    .ess-table-default th {
        background-color: #10d389;
        color: #fff;
        position: sticky;
        top: 0;
        text-align: center;
    }

    .ess-table-default td {
        border: 1px solid #ecebeb;
        padding: 4px;
    }

    /*    .ess-table-default tr:first-child td {
        vertical-align: middle;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }*/

    .ess-table-default tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .ess-table-default tr:hover {
        background-color: #efffff;
    }


.ess-table-default-pa {
    border-collapse: collapse;
    width: 100%;
}

    .ess-table-default-pa th {
        background-color: #10D389;
        color: #fff;
        position: sticky;
        top: 0;
        text-align: center;
    }

    .ess-table-default-pa td {
        border: 1px solid #ecebeb;
        padding: 4px;
    }

    .ess-table-default-pa tr:first-child td {
        vertical-align: middle;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .ess-table-default-pa tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .ess-table-default-pa tr:hover {
        background-color: #efffff;
    }


.ess-table-data-notfound {
    text-align: center;
    color: #4b4b4b;
    margin: 10px;
}

.ess-collapse-leavereport .ess-btn-showhide-detail {
    /*  border-bottom: 1px solid #c2c2c2;*/
    background-color: #00c379;
    border-radius: 10px 10px 0 0;
    color: #fff;
    padding: 5px;
    margin-top: 10px
}

/************************************************************************สีกระดิ่ง vote*/
.pinkBg {
    background-color: #ed184f !important;
    background-image: linear-gradient(90deg, #283c86, #45a247);
}

.vote .tooltip {
    background: rgba(30,80,110,.45);/*Color code*/
    bottom: 100%;
    color: #fff;
    text-align: center;
    display: block;
    left: 10px;
    margin-bottom: -30px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.partial-position-select {
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
    background: #6441A5; /* fallback for old browsers */
    background: -webkit-linear-gradient(326deg, #2a0845, #6441A5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(326deg, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/************************************************************************สี Phone directory*/
.business-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #f2f3f4 0%,#fff 50%,#00c379 80.5%,rgba(191, 255, 241, .4) 100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.flippable-business-card .back {
    background-color: #f2f3f4;
    color: #59308e;
}