﻿/*
    main color
    color1: #d95137;
    color2: #ff943a;
    color3: #f9d7cb;
    color4: #f2f2f4; // white
*/
.md-toast-content span {
    font-size: 24px;
    font-weight: bold;
    color: #f34949
}
.travelEx_tablesec02 thead.table-header, tbody,tfoot {
    height: 60px;
}
.ag-warning {
    background: #fbfbfb;
    padding: 1rem;
    border: 1px dotted red;
    color: red;
    font-size: 20px;
}
.md-autocomplete-suggestions-container.md-default-theme li .highlight, .md-autocomplete-suggestions-container li .highlight {
    color: rgb(86, 97, 185) !important;
}
md-menu-item p{
    font-size:25px;
}
md-menu-item p i {
    color: #87b750
}


.ico_lightaction {
    padding-top: 8px !important;
    width: 38px !important;
    height: 38px !important;
}
.item-btn .itemin_btn.disabled {
    background-color: #afafaf;
}
    .item-btn .itemin_btn.disabled:hover {
        background-color: #afafaf;
    }
.loginPage {
    background-image: url(../../images/background/background-login.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.alert-danger {
    font-weight: bold;
    font-size: 20px;
    color: #cb3e3b;
    background-color: rgb(255, 188, 188) !important;
    border: 0px !important;
    margin-bottom: 0px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.box-content .list-box-item {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
    margin-bottom:1rem;
    background: white;
}
.box-content {
    margin-top:2rem;
}
@media only screen and (max-width: 764px) {
    .box-content {
        margin-top:0px;
    }
    .col-md-12 {
        padding: 5px;
    }
}

.request-background {
        background: #e6e6e6;
}
.loginPage input,.loginPage  select {
    background:rgba(0, 0, 0, 0.26);
    color: white;
}
.company-list {
    display:normal;
}
.loginPage button {
        background:rgba(0, 0, 0, 0.26) !important;
}
.nav-panel_list {
    background-color: rgb(19, 58, 73)  !important;
}
.nav-control .control-sub,.nav-profileBar .itemlist {
    background-color: white;
    color: rgb(19, 58, 73) ;
}
.nav-control .control-sub:active, .nav-control .control-sub:hover {
    background-color: #b4b8e0;
}
.taskactive .task_titlehead  {
    
    background-color: rgb(19, 58, 73) ;
    color:white;
}
.taskBlock {
    color:white;
}
.bar_title,.bar_expandlist .bar_expand-status,.panel-collapse .itemin_btn,.bar_bottom-status,.md-toolbar-tools,.ag-tabs .tab-header.active,.bar_left-icon.mo-duo,.travel_elm2 .bar_title {
    background:rgb(19, 58, 73)  !important;
}
    .bar_bottom-status .bar_left-icon:active, .bar_bottom-status .bar_left-icon:hover, .bar_bottom-status .bar_right-icon:active, .bar_bottom-status .bar_right-icon:hover, .bar_expandlist .bar_expand-status .bar_left-icon:active, .bar_expandlist .bar_expand-status .bar_left-icon:hover, .bar_expandlist .bar_expand-status .bar_right-icon:active, .bar_expandlist .bar_expand-status .bar_right-icon:hover,.bar_bottom-expandlist .bar_right-icon.visible:hover, .bar_bottom-expandlist .bar_right-icon.visible:active,.bar_bottom-expandlist .bar_right-icon.visible {
        background:rgb(19, 58, 73)  !important;
    }
.ag-tabs .tab-headers{
    border-bottom: solid 2px rgb(19, 58, 73);
}
.travel_elm2 .bar_title {
    color:white;
}

/*.itemlist_block,.content-border-top,.body_content {
    border: none !important;
}
.row.itemlist_block {
        border: 1px solid rgb(203, 203, 203) !important;
}*/
.bar_expand-status.mo-duo span, .bar_expand-status.mo-duo a {
    color:white;
}

.bar_searchactive, .search_block input,.contentHead .bar_right:hover{
    background: rgb(19, 58, 73) !important;
}
.inCircle,.taskactive .navCircle_list .inCircle {
    border: 2px solid #ff3237 !important;
    background-color: #ff3237  !important;
}
.taskactive .navCircle_list:after, .taskactive .navCircle_list:before,.navCircle_list:after, .navCircle_list:before {
    background-color: rgba(0,0,0,.0);
}
.taskactive {
    color:white;
}
.-task-highlight {
    background: rgb(108, 108, 108) !important;
}
.nav-profileBar .itemlist{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
.task-titletop,.task-title{
    color:white;
}
.profilebar-logo {
    display:none;
}
.profilebar_img,profilebar-img,.-img_circle, .profilebar_img > *{
    border-radius:0% !important;
    
}
.profilebar_img {

}
.nav-profileBar .profilebar-img,.nav-profileBar .profilebar-img img {
    padding:0px;
}
.itemlist .itemin_nametask, .-txt-blue {
    color: #5b92f9 !important;
}
.-console-blue {
    color: #7ac0fd !important;
}
.mini-menu {
    background: rgb(19, 58, 73);
}
.mini-menu .mini-menu-item{
    background: #133a49;
    color: #ffffff !important;
}

.hide-menu-btn {
    top: -50%;
    right: -24px;
    z-index: 1;
    height: 80px;
    padding-top: 17px;
    padding-top: 23px;
    width: 24px;
    padding-left: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.d-clame .d-dialog {
    position: fixed;
    max-width: 700px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    transform: translate(-50%, 0);
    left:50% !important;
    top: 20%;
    z-index: 8;
    background: white;
    padding-top: 60px;
}
.d-clame .d-dialog.big {
    max-width: 900px;
    top: 7%;
    max-height: 710px;
}
    .d-clame .d-dialog.bigger {
        max-width: 1200px;
        width:100%;
        top: 5%;
        max-height: 740px;
        height:100%;
    }
    .d-clame .d-dialog.small {
        max-width: 846px;
        top: 14%;
        max-height: 562px;
    }

        .d-clame .d-dialog.small .body_content {
            max-height: 500px;
            border: 0px;
        }
@media only screen and (max-width: 764px) {
    .d-clame .d-dialog {
        top: 0%;
    }

        .d-clame .d-dialog.big {
            max-width: 1500px;
            top: 0%;
            width: 100%;
            max-height: 1500px;
        }

        .d-clame .d-dialog.bigger {
            max-width: 1500px;
            top: 0%;
            width: 100%;
            max-height: 1500px;
        }
        .d-clame .d-dialog.small {
            max-width: 1500px;
            top: 0%;
            width: 100%;
            max-height: 1500px;
        }
}


.d-clame .d-dialog .bar-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.d-clame .d-dialog .body_content {
    overflow-y: scroll;
    height: 100%;
}              
    .d-clame .background-filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index:7;
    width:100%;
    height:100%;
    background: rgba(37, 33, 33, 0.18);
    text-align:center;
}
    @media only screen and (max-width: 769px) {
    .d-clame .d-dialog {
        z-index:10;
        top: 0;
        height:100%;
        overflow-y:scroll;
    }
}
.ghost-menu-space-reserving {
    height: 66px;
}
.alert-danger {
    min-height: 3rem;
    position: absolute;
    width: 100%;
    /*top: 3rem;*/
    line-height: 20px;
    z-index: 1;
}
.warning-space {
    height: 4rem;
}

.nav-profileBar .profile-text {
    font-size: 17px;
    padding-top: 10px;
}
.nav-profileBar .cir-img-profile {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    background: rgb(100,181,246);
    overflow:hidden;
    position:absolute;
}

.nav-profileBar .nav-profileBar-content {
    position:relative;    
    height: 100%;
}
.nav-profileBar .profilebar_img {
    border-radius: 50% !important;
    overflow: hidden;
}

.nav-profileBar .profilebar-hamburger {
    padding-top: 10px;
}

.nav-profileBar .img-profile {
    width: 70px;
}

.nav-profileBar .logo-container {
    width: 150px;
    height: 100%;
    text-align: center;
    padding-top: 0.5rem;
    border-right: #eaeaea 1px solid;
}

    .nav-profileBar .logo-container img {
        max-width: 100px;
    }

.travelExMan_content-res.travelEx_tablesec02 .bar_statusword {
    color:white;
}

.bar_bottom-expandlist .bar_bottomlist .bar_bottom-status.active-bar {
    background-color: #0f5aca !important
}

@media only screen and (max-width: 720px) {
    .nav-profileBar .logo-container img {
        max-width: 70px;
        padding-top: 15px;
    }

    .nav-profileBar  .logo-container {
        padding-top: 0px;
        width: 100px;
    }
}

 .nav-profileBar {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
}
     



/* moblie*/
@media only screen and (max-width: 769px) {
    .loginPage .img_loginlogo {
        max-width: 140px;
    }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .loginPage .img_loginlogo {
 
    }
}
/*desktop*/
@media only screen and (min-width: 992px) {
    .mainBlock-hide > .menu-blocking {
        width: 70px;
    }
    .mainBlock-hide {
        padding-left: 70px;
    }
    .menu-left.hide-left {
        left: -178px;

    }
}


/*loading*/
  @keyframes lds-ripple {
    0% {
        top: 90px;
        left: 90px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -5px;
        left: -5px;
        width: 190px;
        height: 190px;
        opacity: 0;
    }
    }

    @-webkit-keyframes lds-ripple {
    0% {
        top: 90px;
        left: 90px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -5px;
        left: -5px;
        width: 190px;
        height: 190px;
        opacity: 0;
    }
    }

    .lds-ripple {
    position: relative;
    }

    .lds-ripple div {
        box-sizing: content-box;
        position: absolute;
        border-width: 10px;
        border-style: solid;
        opacity: 1;
        border-radius: 50%;
        -webkit-animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .lds-ripple div:nth-child(1) {
            border-color: #93dbe9;
        }

        .lds-ripple div:nth-child(2) {
            border-color: #689cc5;
            -webkit-animation-delay: -0.75s;
            animation-delay: -0.75s;
        }

    .lds-ripple {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    }




/* action flow */
.action-flows {
    margin-bottom:5rem;
}
.action-flows .action-flow:after {
    content: "";
    border-top: dotted 4px #dedede;
    width: 2rem;
}
.action-flows .action-flow:last-child:after{
    content: "";
    border-top: 0px;
    width: 0rem;
    margin-bottom: 0rem;
}
.tooltip-multiline {
    height: auto;
}
.action-flow-item {
    position:relative;
}
.action-flow-item .description{
    position: absolute;
    top: 100%;
}
.action-flow-item-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 1px #a5a5a5;
    margin-bottom:1rem;
}
.action-flows .action-flow .action-flow-item-circle{
    background:white;
    font-size: 30px;
    color:#696969;
}
.action-flows .action-flow .action-flow-item-circle.inprogress{
    background: #ffc625;
    color: white;
    border: 2px solid #888888;

}
.action-flows .action-flow .action-flow-item-circle.passed{
    background: #4dd6b6;
    color: white;
    border:0px;
}
@media only screen and (max-width: 720px) {
    .mobile-no-padding {
        padding:0px;
    }
    .action-flows .action-flow-item-circle {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }
    .action-flows .action-flow:after {
        border-top: dotted 2px #dedede;
        width: 0.5rem;
    }
    .action-flows .action-flow b {
        font-size:80%;
    }
}






@media only screen and (min-width: 600px) {
    .span_name, .em-font {
        font-size: 1.1rem;
    }
}

.d-clame.paper table.font-white td, .d-clame.paper table.font-white span{
    color:white !important;
}
