﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="OrganizationSplitEditorController" ng-init="init()">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['REQUESTTYPE'].OM_UNIT_NEW_RECORD}}</div>
            </div>
            <div class="ess-personal-info-edit-panel p-1">
                <form name="splitValidate" style="width:100%" novalidate>
                    <div class="ess-form-control row col-12">
                        <div class="row col-md-8 col-sm-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].ORG_ID}}</span>
                            </div>
                            <input id="OM_1105_txtOrgID" class="form-control" type="text" ng-model="document.Additional.OrganizationData.OrganizationID" name="orgid" ng-class="{inputInvalid: splitValidate.orgid.$invalid}" ng-disabled="isNotAllowEdit" autocomplete="off" required />
                        </div>
                        <div class="row col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].BEGIN_DATE}}</span>
                            </div>
                            <input id="OM_1105_dtBeginDate" class="form-control" name="begindate" ng-class="{inputInvalid: splitValidate.begindate.$invalid}" maxlength="10" value="{{getDateFormat(document.Additional.OrganizationData.BeginDate)}}" ng-model="document.Additional.OrganizationData.BeginDate" type="text" my-date-picker required>
                            <i class="fa fa-calendar ess-icon-element-in-textbox"></i>
                        </div>
                        <div class="row col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].END_DATE}}</span>
                            </div>
                            <input id="OM_1105_dtEndDate" class="form-control" name="enddate" ng-class="{inputInvalid: splitValidate.enddate.$invalid}" maxlength="10" value="{{getDateFormat(document.Additional.OrganizationData.EndDate)}}" ng-model="document.Additional.OrganizationData.EndDate" type="text" ng-disabled="true" my-date-picker required>
                            <i class="fa fa-calendar ess-icon-element-in-textbox"></i>
                        </div>
                        <div class="row col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].SHORTNAME_EN}}</span>
                            </div>
                            <input id="OM_1105_txtShortName_en" class="form-control" type="text" ng-model="document.Additional.OrganizationData.ShortNameEN" autocomplete="off" />
                        </div>
                        <div class="row col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].SHORTNAME_TH}}</span>
                            </div>
                            <input id="OM_1105_txtShortName_th" class="form-control" type="text" ng-model="document.Additional.OrganizationData.ShortNameTH" autocomplete="off" />
                        </div>
                        <div class="row col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].FULLNAME_EN}}</span>
                            </div>
                            <input id="OM_1105_txtName_en" class="form-control" type="text" ng-model="document.Additional.OrganizationData.FullNameEN" autocomplete="off" />
                        </div>
                        <div class="row col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].FULLNAME_TH}}</span>
                            </div>
                            <input id="OM_1105_txtName_th" class="form-control" type="text" ng-model="document.Additional.OrganizationData.FullNameTH" autocomplete="off" />
                        </div>
                        <div class="row col-sm-12 col-md-7 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].HEAD_PERSON}}&nbsp;</span>
                            </div>
                            <input id="OM_1105_txtHeadPerson" class="form-control" type="text" value="{{ !LeaderOfHeadPerson ? '-' : LeaderOfHeadPerson}}" autocomplete="off" style="border:none; background-color:transparent" />
                        </div>
                        <div class="row col-sm-12 col-md-7 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].HEAD_POSITION}}&nbsp;</span>
                            </div>
                            <input id="OM_1105_txtHeadPosition" class="form-control" type="text" value="{{ !LeaderOfHeadPosition ? '-' : LeaderOfHeadPosition}}" autocomplete="off" style="border:none; background-color:transparent" />
                        </div>
                        <div class="row col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">
                                    {{Text[Textcategory].LEVEL_OF_ORG}}
                                </span>
                            </div>
                            <select id="OM_1105_ddlOrgLevel" ng-model="document.Additional.OrganizationData.OrganizationLevelID" class="form-control" name="level" ng-change="getRootOrgByHeadOrg('LEVEL_ORG')">
                                <option ng-value="null">-</option>
                                <option ng-repeat="orgLevel in OrganizationLevelList" ng-value="orgLevel.DLL_VALUE">{{orgLevel.DLL_DATA}}</option>
                            </select>
                        </div>
                        <div class="row col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].ORDER_NO}}</span>
                                <i class="fa fa-info-circle ess-org-sibling-information" data-target="#siblingDataModal" data-toggle="modal" href="" ng-click="siblingOrganization()"></i>
                            </div>
                            <input id="OM_1105_txtOrder_no" class="form-control" name="orderno" type="text" ng-model="document.Additional.OrganizationData.OrderNo" oninput="this.value=this.value.replace(/[^0-9]/g,'');" autocomplete="off" />
                        </div>
                        <div class="row col-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].COSTCENTER}}</span>
                            </div>
                            <select id="OM_1105_ddlCostCenter" ng-model="document.Additional.OrganizationData.CostCenterID" class="form-control">
                                <option ng-value="null">-</option>
                                <option ng-repeat="costCT in CostCenterList" ng-value="costCT.DLL_VALUE">{{costCT.DLL_DATA}}</option>
                            </select>
                        </div>
                        <div class="row col-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].HEAD_ORG}}</span>
                            </div>
                            <select id="OM_1105_ddlHeadOfOrg" ng-model="document.Additional.OrganizationData.HeadOfOrganizationID" ng-change="getRootOrgByHeadOrg('HEAD_ORG')" class="form-control" name="headorg" ng-disabled="isRootOrg">
                                <option ng-value="null">-</option>
                                <option ng-repeat="HeadOrg in HeadOfOrgList" ng-value="HeadOrg.DLL_VALUE">{{HeadOrg.DLL_DATA}}</option>
                            </select>
                        </div>
                        <div class="row col-12 ess-personal-info-panel-s mb-3" ng-if="OrgLevelByCriteria.length > 0">
                            <div class="freeze scrollbar-default">
                                <table class="ess-table-default">
                                    <tr>
                                        <th class="text-center" style="width:30%">
                                            {{Text[Textcategory].HEADORG_LEVEL_NO}}
                                        </th>
                                        <th class="text-center" style="width:70%">
                                            {{Text[Textcategory].HEADORG_LEVEL_DESC}}
                                        </th>
                                    </tr>
                                    <tr ng-repeat="level in OrgLevelByCriteria">
                                        <td class="text-center">{{level.split(' : ')[0]}}</td>
                                        <td>{{level.split(' : ')[1]}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>

            <div class="ess-personal-info-general">
                <div class="modal fade" id="siblingDataModal" role="dialog">
                    <div class="modal-dialog  modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>{{Text['OM_UNIT_MANAGEMENT'].SIBLING_ORG}}</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <!--<i class="fa fa-window-close" aria-hidden="true"></i>-->
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="ess-personal-info-general-frame">
                                    <div style="margin-bottom:5px"></div>
                                    <div class="row">
                                        <div class="form-group col-md-12" ng-if="unitPriorityList.length > 0">
                                            <table class="ess-table-default">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" colspan="2" style="background-color:black; color:white;">{{Text[Textcategory].HEAD_ORG}} : {{document.Additional.OrganizationData.HeadOfOrganizationID}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center" style="background-color:gray;">{{Text[Textcategory].ORDER_NO}}</th>
                                                        <th class="text-center" style="background-color:gray;">{{Text[Textcategory].ORGANIZATION_GENERAL_DETAIL}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in unitPriorityList">
                                                        <td class="text-center">{{item.SEQ}}</td>
                                                        <td>{{item.PRIORITY_DETAIL}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

