﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <h2 class="text-center" style="color:red"><b>{{Text['OM_UNIT_MANAGEMENT'].PERMANENT_DELETE_REQUEST}}</b></h2>
    </div>
</div>
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="OrganizationPermanentDeleteEditorController">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['REQUESTTYPE'].OM_UNIT_PERMANANCE_DELETE}}</div>
            </div>
            <div class="ess-personal-info-edit-panel p-1">
                <div class="tab-content ess-tab-content-pa">
                    <div class="ess-personal-info-data" style="width:100%">
                        <div class="freeze scrollbar-default">
                            <table class="ess-table-default">
                                <tr>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].UNIT_CODE}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].START_DATE}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].END_DATE}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].ABBR}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].ORGANIZATIONAL_UNIT}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].COST_CENTER}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].COST_CENTER_NAME}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].LEVEL_CODE}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].LEVEL}}
                                    </th>
                                </tr>
                                <tr ng-repeat="data in OrganizationList">
                                    <td>{{data.OrganizationID}}</td>
                                    <td>{{data.BeginDate}}</td>
                                    <td>{{data.EndDate}}</td>
                                    <td>{{CurrentLanguage == 'EN' ? data.ShortNameEN : data.ShortNameTH}}</td>
                                    <td>{{CurrentLanguage == 'EN' ? data.FullNameEN : data.FullNameTH}}</td>
                                    <td>{{data.CostCenterID}}</td>
                                    <td>{{data.CostCenterName}}</td>
                                    <td>{{data.OrganizationLevelID}}</td>
                                    <td>{{data.OrganizationLevelName}}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
