﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="OrganizationInactiveViewerController" ng-init="init()">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['REQUESTTYPE'].OM_UNIT_INACTIVE}}</div>
            </div>
            <div class="ess-personal-info-edit-panel">
                <div class="row col-12 mt-3">
                    <div class="col-md-4 col-sm-12 ess-personal-info-panel-s mb-3">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text[Textcategory].LAST_BEGINDATE}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div><span>{{OrganizationList[OrganizationList.length - 1].BeginDate}}</span></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ess-personal-info-panel-s mb-3">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text[Textcategory].LAST_ENDDATE}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div><span>{{OrganizationList[OrganizationList.length - 1].EndDate}}</span></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ess-personal-info-panel-s mb-3">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text[Textcategory].LAST_ACTIVE_DATE}}</span>
                        </div>
                        <div class="ess-personal-info-data">
                            <div><span class="red_text">{{LastEffectiveDate}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="ess-form-control row col-12 mt-3">
                    <div class="row col-12 ess-personal-info-data" style="width:100%">
                        <div class="freeze scrollbar-default">
                            <table class="ess-table-default">
                                <tr>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].UNIT_CODE}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].START_DATE}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].END_DATE}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].ABBR}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].ORGANIZATIONAL_UNIT}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].COST_CENTER}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].COST_CENTER_NAME}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].LEVEL_CODE}}
                                    </th>
                                    <th class="text-center">
                                        {{Text['OM_UNIT'].LEVEL}}
                                    </th>
                                </tr>
                                <tr ng-repeat="data in OrganizationList" ng-class="{'ess-last-org-item': $last}">
                                    <td>{{data.OrganizationID}}</td>
                                    <td>{{data.BeginDate}}</td>
                                    <td>{{data.EndDate}}</td>
                                    <td>{{CurrentLanguage == 'EN' ? data.ShortNameEN : data.ShortNameTH}}</td>
                                    <td>{{CurrentLanguage == 'EN' ? data.FullNameEN : data.FullNameTH}}</td>
                                    <td>{{data.CostCenterID}}</td>
                                    <td>{{data.CostCenterName}}</td>
                                    <td>{{data.OrganizationLevelID}}</td>
                                    <td>{{data.OrganizationLevelName}}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
