﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="OrganizationSplitViewerController">
            <div ng-init="init()">
                <div class="ess-tab-section-bar1">
                    <div class="ess-personal-info-sub-hdr">{{Text['REQUESTTYPE'].OM_UNIT_NEW_RECORD}}</div>
                </div>
                <div class="ess-personal-info-edit-panel">
                    <div class="ess-form-control row col-12">
                        <div class="col-md-8 col-sm-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].ORG_ID}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="OrganizationData.OrganizationID != OrganizationDataOLD.OrganizationID"><span class="red_text"><strike>{{OrganizationDataOLD.OrganizationID}}</strike></span></div>
                                <div ng-show="OrganizationData.OrganizationID != OrganizationDataOLD.OrganizationID"><span class="blue_text">{{OrganizationData.OrganizationID}}</span></div>
                                <div ng-show="OrganizationData.OrganizationID == OrganizationDataOLD.OrganizationID">{{OrganizationData.OrganizationID}}</div>
                                <div ng-show="!OrganizationData.OrganizationID">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].BEGIN_DATE}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div><span class="blue_text">{{OrganizationData.BeginDate}}</span></div>
                                <!--<div ng-show="OrganizationData.BeginDate != OrganizationDataOLD.BeginDate"><span class="red_text"><strike>{{OrganizationDataOLD.BeginDate}}</strike></span></div>
    <div ng-show="OrganizationData.BeginDate != OrganizationDataOLD.BeginDate"><span class="blue_text">{{OrganizationData.BeginDate}}</span></div>
    <div ng-show="OrganizationData.BeginDate == OrganizationDataOLD.BeginDate">{{OrganizationData.BeginDate}}</div>-->
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].END_DATE}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div><span class="blue_text">{{OrganizationData.EndDate}}</span></div>
                                <!--<div ng-show="OrganizationData.EndDate != OrganizationDataOLD.EndDate"><span class="red_text"><strike>{{OrganizationDataOLD.EndDate}}</strike></span></div>
    <div ng-show="OrganizationData.EndDate != OrganizationDataOLD.EndDate"><span class="blue_text">{{OrganizationData.EndDate}}</span></div>
    <div ng-show="OrganizationData.EndDate == OrganizationDataOLD.EndDate">{{OrganizationData.EndDate}}</div>-->
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].SHORTNAME_EN}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="OrganizationData.ShortNameEN != OrganizationDataOLD.ShortNameEN"><span class="red_text"><strike>{{OrganizationDataOLD.ShortNameEN}}</strike></span></div>
                                <div ng-show="OrganizationData.ShortNameEN != OrganizationDataOLD.ShortNameEN"><span class="blue_text">{{OrganizationData.ShortNameEN}}</span></div>
                                <div ng-show="OrganizationData.ShortNameEN == OrganizationDataOLD.ShortNameEN">{{OrganizationData.ShortNameEN}}</div>
                                <div ng-show="!OrganizationData.ShortNameEN">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].SHORTNAME_TH}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="OrganizationData.ShortNameTH != OrganizationDataOLD.ShortNameTH"><span class="red_text"><strike>{{OrganizationDataOLD.ShortNameTH}}</strike></span></div>
                                <div ng-show="OrganizationData.ShortNameTH != OrganizationDataOLD.ShortNameTH"><span class="blue_text">{{OrganizationData.ShortNameTH}}</span></div>
                                <div ng-show="OrganizationData.ShortNameTH == OrganizationDataOLD.ShortNameTH">{{OrganizationData.ShortNameTH}}</div>
                                <div ng-show="!OrganizationData.ShortNameTH">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].FULLNAME_EN}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="OrganizationData.FullNameEN != OrganizationDataOLD.FullNameEN"><span class="red_text"><strike>{{OrganizationDataOLD.FullNameEN}}</strike></span></div>
                                <div ng-show="OrganizationData.FullNameEN != OrganizationDataOLD.FullNameEN"><span class="blue_text">{{OrganizationData.FullNameEN}}</span></div>
                                <div ng-show="OrganizationData.FullNameEN == OrganizationDataOLD.FullNameEN">{{OrganizationData.FullNameEN}}</div>
                                <div ng-show="!OrganizationData.FullNameEN">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].FULLNAME_TH}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="OrganizationData.FullNameTH != OrganizationDataOLD.FullNameTH"><span class="red_text"><strike>{{OrganizationDataOLD.FullNameTH}}</strike></span></div>
                                <div ng-show="OrganizationData.FullNameTH != OrganizationDataOLD.FullNameTH"><span class="blue_text">{{OrganizationData.FullNameTH}}</span></div>
                                <div ng-show="OrganizationData.FullNameTH == OrganizationDataOLD.FullNameTH">{{OrganizationData.FullNameTH}}</div>
                                <div ng-show="!OrganizationData.FullNameTH">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].HEAD_PERSON}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="LeaderOfHeadPerson">{{LeaderOfHeadPerson}}</div>
                                <div ng-show="!LeaderOfHeadPerson">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].HEAD_POSITION}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="LeaderOfHeadPosition">{{LeaderOfHeadPosition}}</div>
                                <div ng-show="!LeaderOfHeadPosition">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">
                                    {{Text[Textcategory].LEVEL_OF_ORG}}
                                </span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="OrganizationData.OrganizationLevel != OrganizationDataOLD.OrganizationLevel"><span class="red_text"><strike>{{OrganizationDataOLD.OrganizationLevel}}</strike></span></div>
                                <div ng-show="OrganizationData.OrganizationLevel != OrganizationDataOLD.OrganizationLevel"><span class="blue_text">{{OrganizationData.OrganizationLevel}}</span></div>
                                <div ng-show="OrganizationData.OrganizationLevel == OrganizationDataOLD.OrganizationLevel">{{OrganizationData.OrganizationLevel}}</div>
                                <div ng-show="!OrganizationData.OrganizationLevel">-</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].ORDER_NO}}</span>
                                <i class="fa fa-info-circle ess-org-sibling-information" data-target="#siblingDataModal" data-toggle="modal" href="" ng-click="siblingOrganization()"></i>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="OrganizationData.OrderNo != OrganizationDataOLD.OrderNo"><span class="red_text"><strike>{{OrganizationDataOLD.OrderNo}}</strike></span></div>
                                <div ng-show="OrganizationData.OrderNo != OrganizationDataOLD.OrderNo"><span class="blue_text">{{OrganizationData.OrderNo}}</span></div>
                                <div ng-show="OrganizationData.OrderNo == OrganizationDataOLD.OrderNo">{{OrganizationData.OrderNo}}</div>
                                <div ng-show="!OrganizationData.OrderNo">-</div>
                            </div>
                        </div>
                        <div class="col-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].COSTCENTER}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="OrganizationData.CostCenter != OrganizationDataOLD.CostCenter"><span class="red_text"><strike>{{OrganizationDataOLD.CostCenter}}</strike></span></div>
                                <div ng-show="OrganizationData.CostCenter != OrganizationDataOLD.CostCenter"><span class="blue_text">{{OrganizationData.CostCenter}}</span></div>
                                <div ng-show="OrganizationData.CostCenter == OrganizationDataOLD.CostCenter">{{OrganizationData.CostCenter}}</div>
                                <div ng-show="!OrganizationData.CostCenter">-</div>
                            </div>
                        </div>
                        <div class="col-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text[Textcategory].HEAD_ORG}}</span>
                            </div>
                            <div class="ess-personal-info-data">
                                <div ng-show="OrganizationData.HeadOfOrganization != OrganizationDataOLD.HeadOfOrganization"><span class="red_text"><strike>{{OrganizationDataOLD.HeadOfOrganization}}</strike></span></div>
                                <div ng-show="OrganizationData.HeadOfOrganization != OrganizationDataOLD.HeadOfOrganization"><span class="blue_text">{{OrganizationData.HeadOfOrganization}}</span></div>
                                <div ng-show="OrganizationData.HeadOfOrganization == OrganizationDataOLD.HeadOfOrganization">{{OrganizationData.HeadOfOrganization}}</div>
                                <div ng-show="!OrganizationData.HeadOfOrganization">-</div>
                            </div>
                        </div>
                        <div class="col-12 ess-personal-info-panel-s mb-3" ng-if="OrgLevelByCriteria.length > 0">
                            <div class="freeze scrollbar-default">
                                <table class="ess-table-default">
                                    <tr>
                                        <th class="text-center" style="width:30%">
                                            {{Text[Textcategory].HEADORG_LEVEL_NO}}
                                        </th>
                                        <th class="text-center" style="width:70%">
                                            {{Text[Textcategory].HEADORG_LEVEL_DESC}}
                                        </th>
                                    </tr>
                                    <tr ng-repeat="level in OrgLevelByCriteria">
                                        <td class="text-center">{{level.split(' : ')[0]}}</td>
                                        <td>{{level.split(' : ')[1]}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ess-personal-info-general">
                <div class="modal fade" id="siblingDataModal" role="dialog">
                    <div class="modal-dialog  modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>{{Text['OM_UNIT_MANAGEMENT'].SIBLING_ORG}}</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <!--<i class="fa fa-window-close" aria-hidden="true"></i>-->
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="ess-personal-info-general-frame">
                                    <div style="margin-bottom:5px"></div>
                                    <div class="row">
                                        <div class="form-group col-md-12" ng-if="unitPriorityList.length > 0">
                                            <table class="ess-table-default">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" colspan="2" style="background-color:black; color:white;">{{Text[Textcategory].HEAD_ORG}} : {{document.Additional.OrganizationData.HeadOfOrganizationID}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center" style="background-color:gray;">{{Text[Textcategory].ORDER_NO}}</th>
                                                        <th class="text-center" style="background-color:gray;">{{Text[Textcategory].ORGANIZATION_GENERAL_DETAIL}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in unitPriorityList">
                                                        <td class="text-center">{{item.SEQ}}</td>
                                                        <td>{{item.PRIORITY_DETAIL}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

