﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
<div class="ess-wrapper" style="z-index:1">
    <div class="ess-inner-wrapper">
        <div ng-controller="PositionDotedEditorController">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['OM_POSITION'].POSITION_DETAIL}}</div>
            </div>
            <div class="ess-personal-info-general-frame">
                <div style="margin:15px">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].SUPERVISOR_OF_POSITION}}</span>
                            <div class="">
                                {{Language=='TH'? PositionData.PositionTextTH : PositionData.PositionTextEN}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].START_DATE}}</span>
                            <div class=""><span>{{getDateFormat(PositionData.StartDate)}}</span></div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="font-weight-bold">
                                <span>{{Text['OM_POSITION'].END_DATE}}</span>
                            </div>
                            <div class=""> <span>{{getDateFormat(PositionData.EndDate)}}</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].BAND}}</span>
                            <div class=""> <span>{{Language=='TH'? PositionData.BandTextTH : PositionData.BandTextEN}}</span></div>

                        </div>
                        <div class="form-group col-md-6" style="margin-bottom:20px;">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].HEAD_OF_ORGANIZATION_NAME}}</span>
                            <div class="">
                                <div class="form-check">
                                    <input type="checkbox" ng-disabled="true" class="form-check-input" id="exampleCheck1" ng-model="PositionData.HeadOfUnitFlag">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">

                            <span class="font-weight-bold">{{Text['OM_POSITION'].UNIT}}</span>
                            <div class="">      <span>{{Language=='TH'? PositionData.UnitTextTH : PositionData.UnitTextEN}}</span> </div>

                        </div>
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].EMP_OF_POSITION}}</span>
                            <div class=""><span>{{Language=='TH'? PositionData.EmpOfPosTextTH : PositionData.EmpOfPosTextEN}}</span> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">

                            <span class="font-weight-bold">{{Text['OM_POSITION'].SUBORDINATE_POSITION}}</span>
                            <div class="">
                                <select class="form-control ess-form-control" ng-model="posSelected" ng-change="selectedPosCode(posSelected)">
                                    <option value="">-</option>
                                    <option value="{{item.DLL_VALUE}}" ng-repeat="item in PositionUnderSupervisorList">{{item.DLL_DATA}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].SUBORDINATE_POSITION_NEW}}</span>
                            <div class="">
                                <select class="form-control ess-form-control" ng-model="posNewSelected" ng-change="selectedNewPosCode(posNewSelected)">
                                    <option value="">-</option>
                                    <option value="{{item.DLL_VALUE}}" ng-repeat="item in PositionUnderSupervisorNewList">{{item.DLL_DATA}}</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row ess-personal-info-general justify-content-end" style="margin:15px">
                    <a href="" ng-click="AddPositionDotedData(PositionData.StartDate,PositionData.EndDate)" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['OM_POSITION'].ADD_DOTED}}</a>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="freeze scrollbar-default">
                            <table class="ess-table-default">
                                <tr>
                                    <th>
                                        {{Text['OM_POSITION'].START_DATE}}
                                    </th>
                                    <th>
                                        {{Text['OM_POSITION'].END_DATE}}
                                    </th>
                                    <th>
                                        {{Text['OM_POSITION'].SUBORDINATE_POSITION}}<!--ตำแหน่งใต้บังคับบัญชา-->
                                    </th>
                                    <th>
                                        {{Text['OM_POSITION'].ORGANIZATIONUNIT}} <!--หน่วยงาน-->
                                    </th>
                                    <th>
                                        {{Text['OM_POSITION'].EMPLOYEE}}
                                    </th>
                                    <th>
                                        {{Text['OM_POSITION'].SUPERVISOR_OF_POSITION}}
                                    </th>
                                    <th>
                                        {{Text['OM_POSITION'].HEAD_ORGANIZATION}}<!--สังกัดหน่วยงาน-->
                                    </th>
                                    <th>
                                        {{Text['OM_POSITION'].STATUS}}
                                    </th>
                                    <th></th>
                                </tr>
                                <!--<tr href="" style="cursor: pointer;" ng-repeat="item in PositionDotedDetail | filter: { ActionType: '!D' }">-->
                                <tr href="" style="cursor: pointer;" ng-repeat="item in PositionDotedDetail"  ng-style="{ color: item.ActionType == 'D' ? 'red' : item.ActionType == 'U'?'blue':item.ActionType == 'I'?'green':'' }">

                                    <td style="width:10%" align="center">
                                        <input ng-disabled="item.ActionType==''||item.ActionType=='D'" ng-model="item.StartDate" class="form-control" type="text" value="{{getDateFormat(item.StartDate)}}" ng-trim="false" autocomplete="off" my-date-picker />
                                    </td>
                                    <td style="width:10%" align="center">
                                        <input ng-disabled="item.ActionType==''||item.ActionType=='D'" ng-model="item.EndDate" class="form-control" type="text" value="{{getDateFormat(item.EndDate)}}" ng-trim="false" autocomplete="off" my-date-picker />
                                    </td>
                                    <td>{{item.PositionOfSubordinate}}</td>
                                    <td>{{item.Unit}}</td>
                                    <td>{{item.EmployeeID}}</td>
                                    <td>{{item.HeadOfPosition}}</td>
                                    <td>{{item.HeadOfOrganizationName}}</td>
                                    <td width="6%" align="center">{{item.ActionType==''?'-':item.ActionType=='I'?Text['OM_POSITION'].ADD:item.ActionType=='U'?Text['OM_POSITION'].EDIT:item.ActionType=='D'?Text['OM_POSITION'].DELETE:''}}</td>
                                    <td width="4%" align="center">
                                        <a href="" ng-show="item.ActionType!='I'" ng-click="EditItem(item)"><i class="fa fa-pencil" style="cursor:pointer;"></i></a>&nbsp;<a href="" ng-click="DeleteItem(item)"><i class="fa fa-trash-o" style="cursor:pointer;"></i></a>
                                    </td>
                                </tr>
                                <tr ng-show="PositionDotedDetail.length == 0">
                                    <td colspan="9" style="text-align:center">{{Text['SYSTEM']['NO_DATA']}}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
