﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div class="ess-wrapper" style="z-index:1">
    <div class="ess-inner-wrapper">
        <div ng-controller="PositionDotedViewerController">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['OM_POSITION'].POSITION_DETAIL}}</div>
            </div>
            <div class="ess-personal-info-general-frame">
                <div style="margin:15px">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].SUPERVISOR_OF_POSITION}}</span>
                            <div class="">
                                {{Language=='TH'? PositionData.PositionTextTH : PositionData.PositionTextEN}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].START_DATE}}</span>
                            <div class=""><span>{{getDateFormat(PositionData.StartDate)}}</span></div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="font-weight-bold">
                                <span>{{Text['OM_POSITION'].END_DATE}}</span>
                            </div>
                            <div class=""> <span>{{getDateFormat(PositionData.EndDate)}}</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].BAND}}</span>
                            <div class=""> <span>{{Language=='TH'? PositionData.BandTextTH : PositionData.BandTextEN}}</span></div>

                        </div>
                        <div class="form-group col-md-6" style="margin-bottom:20px;">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].HEAD_OF_ORGANIZATION_NAME}}</span>
                            <div class="">
                                <div class="form-check">
                                    <input type="checkbox" ng-disabled="true" class="form-check-input" id="exampleCheck1" ng-model="PositionData.HeadOfUnitFlag">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">

                            <span class="font-weight-bold">{{Text['OM_POSITION'].UNIT}}</span>
                            <div class="">      <span>{{Language=='TH'? PositionData.UnitTextTH : PositionData.UnitTextEN}}</span> </div>

                        </div>
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].EMP_OF_POSITION}}</span>
                            <div class=""><span>{{Language=='TH'? PositionData.EmpOfPosTextTH : PositionData.EmpOfPosTextEN}}</span> </div>
                        </div>
                    </div>
                </div>
                <div style="margin:15px">
                    <div class="row">
                        <div class="col-12">
                            <div class="freeze scrollbar-default">
                                <table class="ess-table-default">
                                    <tr>
                                        <th>
                                            {{Text['OM_POSITION'].START_DATE}}
                                        </th>
                                        <th>
                                            {{Text['OM_POSITION'].END_DATE}}
                                        </th>
                                        <th>
                                            {{Text['OM_POSITION'].SUBORDINATE_POSITION}}<!--ตำแหน่งใต้บังคับบัญชา-->
                                        </th>
                                        <th>
                                            {{Text['OM_POSITION'].ORGANIZATIONUNIT}} <!--หน่วยงาน-->
                                        </th>
                                        <th>
                                            {{Text['OM_POSITION'].EMPLOYEE}}
                                        </th>
                                        <th>
                                            {{Text['OM_POSITION'].SUPERVISOR_OF_POSITION}}
                                        </th>
                                        <th>
                                            {{Text['OM_POSITION'].HEAD_ORGANIZATION}}<!--สังกัดหน่วยงาน-->
                                        </th>
                                        <th>
                                            {{Text['OM_POSITION'].STATUS}}
                                        </th>
                                    </tr>
                                    <tr href="" style="cursor: pointer;" ng-repeat="item in PositionDotedDetail" ng-style="{ color: item.ActionType == 'D' ? 'red' : item.ActionType == 'U'?'blue':item.ActionType == 'I'?'green':'' }">
                                        <td style="width:8%" align="center">{{getDateFormat(item.StartDate)}}</td>
                                        <td style="width:8%" align="center">{{getDateFormat(item.EndDate)}}</td>
                                        <td>{{item.PositionOfSubordinate}}</td>
                                        <td>{{item.Unit}}</td>
                                        <td>{{item.EmployeeID}}</td>
                                        <td>{{item.HeadOfPosition}}</td>
                                        <td>{{item.HeadOfOrganizationName}}</td>
                                        <td align="center">{{item.ActionType==''?'-':item.ActionType=='I'?Text['OM_POSITION'].ADD:item.ActionType=='U'?Text['OM_POSITION'].EDIT:item.ActionType=='D'?Text['OM_POSITION'].DELETE:''}}</td>
                                    </tr>
                                    <tr ng-show="PositionDotedDetail.length == 0">
                                        <td colspan="8" style="text-align:center">{{Text['SYSTEM']['NO_DATA']}}</td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
