﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="PositionInactiveViewerController">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['OM_POSITION'].POSITION_DETAIL}}</div>
            </div>
            <div class="ess-personal-info-edit-panel">
                <div class="row col-12 mt-3">
                    <form name="validateForm" novalidate style="width:100%; display:contents">
                        <div class="row col-md-4 col-sm-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['OM_POSITION'].START_DATE}}</span>
                            </div>
                            <input id="OM_1204_txtBeginDate" class="form-control" type="text" value="{{getDateFormat(PositionDataOld[PositionDataOld.length - 1].StartDate)}}" ng-disabled="true" my-date-picker />

                        </div>
                        <div class="row col-md-4 col-sm-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['OM_POSITION'].END_DATE}}</span>
                            </div>
                            <input id="OM_1204_txtEndDate" class="form-control" type="text" value="{{getDateFormat(PositionDataOld[PositionDataOld.length - 1].EndDate)}}" ng-disabled="true" my-date-picker />

                        </div>
                        <div class="row col-md-4 col-sm-12 ess-personal-info-panel-s mb-3">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['OM_POSITION'].END_DATE}} (ใหม่)</span>
                            </div>
                            <input id="OM_1204_txtLastEffectivedate" ng-disabled="true" class="form-control" type="text" value="{{getDateFormat(LastEffectiveDate)}}" ng-model="LastEffectiveDate" my-date-picker required />

                        </div>
                    </form>
                </div>
                <div class="freeze scrollbar-default">
                    <table class="ess-table-default">
                        <tr>
                            <th>
                                {{Text['OM_POSITION'].POSITION_CODE}}
                            </th>
                            <th>
                                {{Text['OM_POSITION'].START_DATE}}
                            </th>
                            <th>
                                {{Text['OM_POSITION'].END_DATE}}
                            </th>
                            <th>
                                {{Text['OM_POSITION'].ABBR}}
                            </th>
                            <th>
                                {{Text['OM_POSITION'].FULL_POSITION}}
                            </th>
                            <th>
                                {{Text['OM_POSITION'].HEAD_OF_ORGANIZATION}}
                            </th>
                            <th>
                                {{Text['OM_POSITION'].BAND_CODE}}
                            </th>
                            <th>
                                {{Text['OM_POSITION'].BAND}}
                            </th>
                        </tr>
                        <tr ng-repeat="data in PositionDataOld">
                            <td width="10%" align="center">{{data.PosCode}}</td>
                            <td width="10%" align="center">{{getDateFormat(data.StartDate)}}</td>
                            <td width="10%" align="center">{{getDateFormat(data.EndDate)}}</td>
                            <td width="10%">{{Language=='TH'? data.PosShortName : data.PosShortNameEN}}</td>
                            <td>{{Language=='TH'? data.PosName : data.PosNameEN}}</td>
                            <td width="5%" align="center">{{data.HeadOfUnitFlag}}</td>
                            <td width="10%">{{data.BandValue}}</td>
                            <td width="10%">{{Language=='TH'? data.BandValueTextTH : data.BandValueTextEN}}</td>
                        </tr>

                        <tr ng-show="!PositionData||PositionData.length==0">
                            <td align="center" colspan="9"> {{Text['SYSTEM'].NO_DATA}}</td>
                        </tr>
                        <tr>
                            <td align="right" colspan="9"> จำนวนข้อมูล : {{ !PositionData?'0':PositionData.length}} รายการ</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
