﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
<div class="ess-wrapper" style="z-index:1">
    <div class="ess-inner-wrapper">
        <div ng-controller="PositionSplitEditorController">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['OM_POSITION'].POSITION_DETAIL}}</div>
            </div>
            <div class="ess-personal-info-general-frame">
                <div style="margin:15px">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_CODE}}</span>
                            <div class="">
                                <input id="OM_1201_txtPositionCode" ng-disabled="true" ng-model="PositionData.PosCode" value="{{PositionData.PosCode}}" class="form-control" type="text" ng-trim="false" autocomplete="off"  />
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].START_DATE}}</span>
                            <div class="">
                                <input id="OM_1201_txtStartDate" ng-model="PositionData.StartDate" class="form-control" type="text" value="{{getDateFormat(PositionData.StartDate)}}" ng-trim="false" autocomplete="off" my-date-picker />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].END_DATE}}</span>
                            <div class="">
                                <input id="OM_1201_txtEndDate" ng-disabled="true" ng-model="PositionData.EndDate" class="form-control" type="text" value="{{getDateFormat(PositionData.EndDate)}}" ng-trim="false" autocomplete="off" my-date-picker />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_SHORT_NAME}} (TH)</span>
                            <div class="">
                                <input id="OM_1201_txtPositionShortNameTH" ng-model="PositionData.PosShortName" class="form-control" type="text" value="" ng-trim="false" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_SHORT_NAME}} (EN)</span>
                            <div class="">
                                <input id="OM_1201_txtPositionShortNameEN" ng-model="PositionData.PosShortNameEN" class="form-control" type="text" value="" ng-trim="false" autocomplete="off" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_NAME}} (TH)</span>
                            <div class="">
                                <input id="OM_1201_txtPosName" ng-model="PositionData.PosName" class="form-control" type="text" value="" ng-trim="false" autocomplete="off" required />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_NAME}} (EN)</span>
                            <div class="">
                                <input id="OM_1201_txtPosNameEN" ng-model="PositionData.PosNameEN" class="form-control" type="text" value="" ng-trim="false" autocomplete="off" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].BAND}}</span>
                            <div class="">
                                {{Language=='TH'? PositionData.BandTextTH:PositionData.BandTextEN}}
                            </div>
                        </div>
                        <div class="form-check col-md-6">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-model="HeadFlagValue" ng-checked="IsHead" ng-change="checkValue(HeadFlagValue)">
                            <label class="form-check-label" for="exampleCheck1">{{Text['OM_POSITION'].HEAD_OF_ORGANIZATION_NAME}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].EMP_OF_POSITION}}</span>
                            <div class="">
                                <span>{{Language=='TH'? PositionData.EmpOfPosTextTH : PositionData.EmpOfPosTextEN}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].UNIT}}</span>
                            <div class="">
                                <!--<span>{{Language=='TH'? PositionData.UnitTextTH : PositionData.UnitTextEN}}</span>-->
                                <select id="OM_1201_txtUnitCode" class="form-control ess-form-control" ng-model="PositionData.UnitCode" ng-click="GetPositionDataDetail()">
                                    <option value="">-</option>
                                    <option value="{{item.DLL_VALUE}}" ng-repeat="item in UnitList">{{item.DLL_DATA}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--{{PositionDataDetail}}-->
                    <div class="row">
                        <div class="form-group col-md-12">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].LEVEL_OF_ORG}}</span>
                            <div class="">
                                <span>{{PositionDataDetail.LevelText!=''?PositionDataDetail.LevelText:'-'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].COST_CENTER}}</span>
                            <div class="">
                                <span>{{PositionDataDetail.CostCenterText!=''?PositionDataDetail.CostCenterText:'-'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].SUPERVISOR_NAME}}</span>
                            <div class="">
                                <span>{{PositionDataDetail.SupervisorName!=''?PositionDataDetail.SupervisorName:'-'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].CREATE_DATE}}</span>
                            <div class="">
                                <span>{{PositionData.CreateDate==null?'-':getDateTimeFormate(PositionDataDetail.CreateDate)}}</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].CREATE_BY}}</span>
                            <div class="">
                                <span>{{PositionData.CreateBy==null?'-':PositionDataDetail.CreateBy}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
