﻿<div class="TravelExManPage personal-data-setting" ng-controller="PersonalDataSettingController">
    <div class="contentHead">
        <div class="bar-content" id="sticky_main_bar">
            <div class="row bar_title">
                <div class="col-md-12">
                    <div class="bar_left ng-binding">{{content.Header}}</div>
                    <div class="bar_right forsearch "><span class="icon-magnify_glass"></span></div>
                </div>
            </div>
            <div class="row bar_search">
                <div class="col-xs-10 -col_centered search-visible-xs -pad10">
                    <div class="input-group search_block">
                        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" ng-model="search">
                        <span class="input-group-btn">
                            <button class="btn btn-default ng-binding" type="button">{{ Text['SYSTEM'].SEARCH }}</button>
                        </span>
                    </div>
                    <div class="-pad10"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="-pad20"></div>
    <div class="body_content" id="widthruler">
        <div class="-pad10"></div>






        
           
                <div class="row" style="padding-left: 30px;">
                    <div class="col-sm-12">
                        <div class="item-btn mobile-text-center">
                            <a>
                                <div class="itemin_btn" ng-click="OnClickAddEmployee();" style="min-width: 165px; text-align: center;">
                                    <span class="icon-doc_plus"></span>&nbsp{{ Text[PATextcategory].AddEmployee }}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="-pad20"></div>

                <div class="leavetableBlock leavetableBlock_create">
                    <div class="row itemlist_block" style="border-bottom:none;">
                        <div class="col-md-12">
                            <div class="col-sm-12 ">




                                <!-- moblie version table -->
                                <div class="travelExMan_content-res -xs_sm-only travelEx_tablesec02">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="bar_expandlist" ng-repeat="x in data.arrSplited[data.selectedColumn]">
                                                <div class="bar_expand-status">
                                                    <div class="bar_left-icon">
                                                        <div class="dummy"> <span class="icon-arrow_line_down"></span></div>
                                                    </div>
                                                    <div class="bar_statusword">
                                                        <a href="#"> {{ x.Name }}</a>
                                                    </div>
                                                    <div class="exman-res_icoaction">
                                                        <a ng-click="OnClickEditEmployee(x.EmployeeID);" class="btn no-radius ico_lightaction action-edit"><span class="fal fa-pencil-alt"></span></a>
                                                        <a ng-click="OnClickDeleteEmployee(x.EmployeeID);" class="btn no-radius ico_lightaction action-del"><span class="fal fa-times"></span></a>
                                                    </div>
                                                </div>
                                                <div class="bar_expand-expandDetail " style="display: none;">
                                                    <div class="expandDetail_01">
                                                        <ul class="itemlist_table-res -warp">
                                                            <li>
                                                                <p class="exman-res_titletable"> {{ Text[PATextcategory].EmployeeID }}</p>
                                                                <p class="exman-res_detailtable em-font-15">{{ x.EmployeeID }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text[PATextcategory].FullName }}</p>
                                                                <p class="exman-res_detailtable em-font-15 text-left">{{ x.Name }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text[PATextcategory].Position }}</p>
                                                                <p class="exman-res_detailtable em-font-15 text-left">{{ x.Position }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text[PATextcategory].OrganizationName }}</p>
                                                                <p class="exman-res_detailtable em-font-15 text-left">{{ x.OrgUnit }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable"> {{ Text[PATextcategory].EmpGroup }}</p>
                                                                <p class="exman-res_detailtable em-font-15 text-left">{{ x.EmpGroup }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text[PATextcategory].EmpSubGroup }}</p>
                                                                <p class="exman-res_detailtable em-font-15">{{ x.EmpSubGroup }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text[PATextcategory].Area }}</p>
                                                                <p class="exman-res_detailtable em-font-15 text-left">{{ x.Area }}</p>
                                                            </li>
                                                            <li>
                                                                <p class="exman-res_titletable">{{ Text[PATextcategory].SubArea }}</p>
                                                                <p class="exman-res_detailtable em-font-15 text-left">{{ x.SubArea }}</p>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                                <!-- bar_expand-expandDetail -->
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--
                                <div class="travelExMan_content-res -xs_sm-only travelEx_tablesec01" style="overflow-x: scroll; margin-bottom:0; ">
                                    <div class="row itemlist">

                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide" style="overflow: visible; padding:0;">
                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width" style="border: none;">
                                                <thead>
                                                    <tr>
                                                        <td class="ghost-topic"></td>
                                                        <td class="ghost-topic"></td>
                                                        <td class="ghost-topic"></td>
                                                        <td class="ghost-topic"></td>
                                                        <td class="ghost-topic"></td>
                                                        <td class="ghost-topic"></td>
                                                        <td class="ghost-topic"></td>
                                                        <td class="ghost-topic"></td>
                                                        <td class="ghost-topic"></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="x in data.arrSplited[data.selectedColumn]" >
                                                        <td colspan="9" style=" border: none;padding: 0;">
                                                            <div >
                                                               <ul class="itemlist_table-res" style="padding-top:40px;">
                                                                    <li>
                                                                        <p class="exman-res_titletable">
                                                                            {{ Text[PATextcategory].EmployeeID }}
                                                                        </p>
                                                                        <p class="exman-res_detailtable">
                                                                            {{ x.EmployeeID }}
                                                                        </p>
                                                                    </li>
                                                                    <li>
                                                                        <p class="exman-res_titletable">
                                                                            {{ Text[PATextcategory].FullName }}
                                                                        </p>
                                                                        <p class="exman-res_detailtable">
                                                                            {{ x.Name }}
                                                                        </p>
                                                                    </li>
                                                                    <li>
                                                                        <p class="exman-res_titletable">
                                                                            {{ Text[PATextcategory].Position }}
                                                                        </p>
                                                                        <p class="exman-res_detailtable">
                                                                            {{ x.Position }}
                                                                        </p>
                                                                    </li>
                                                                    <li>
                                                                        <p class="exman-res_titletable">
                                                                            {{ Text[PATextcategory].OrganizationName }}
                                                                        </p>
                                                                        <p class="exman-res_detailtable">
                                                                            {{ x.OrgUnit }}
                                                                        </p>
                                                                    </li>
                                                                    <li>
                                                                        <p class="exman-res_titletable">
                                                                            {{ Text[PATextcategory].EmpGroup }}
                                                                        </p>
                                                                        <p class="exman-res_detailtable">
                                                                            {{ x.EmpGroup }}
                                                                        </p>
                                                                    </li>
                                                                    <li>
                                                                        <p class="exman-res_titletable">
                                                                            {{ Text[PATextcategory].EmpSubGroup }}
                                                                        </p>
                                                                        <p class="exman-res_detailtable">
                                                                            {{ x.EmpSubGroup }}
                                                                        </p>
                                                                    </li>
                                                                    <li>
                                                                        <p class="exman-res_titletable">
                                                                            {{ Text[PATextcategory].Area }}
                                                                        </p>
                                                                        <p class="exman-res_detailtable">
                                                                            {{ x.Area }}
                                                                        </p>
                                                                    </li>
                                                                    <li>
                                                                        <p class="exman-res_titletable">
                                                                            {{ Text[PATextcategory].SubArea }}
                                                                        </p>
                                                                        <p class="exman-res_detailtable">
                                                                            {{ x.SubArea }}
                                                                        </p>
                                                                    </li>
                                                                    <li>
                                                                        <div class="exman-res_icoaction">
                                                                            <a ng-click="OnClickEditEmployee(x.EmployeeID);" class="btn no-radius ico_lightaction action-edit"><span class="fal fa-pencil-alt"></span></a>
                                                                            <a ng-click="OnClickDeleteEmployee(x.EmployeeID);" class="btn no-radius ico_lightaction action-del"><span class="fal fa-times"></span></a>
                                                                        </div>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="ghost-td"></td>
                                                        <td class="ghost-td"></td>
                                                        <td class="ghost-td"></td>
                                                        <td class="ghost-td"></td>
                                                        <td class="ghost-td"></td>
                                                        <td class="ghost-td"></td>
                                                        <td class="ghost-td"></td>
                                                        <td class="ghost-td"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <!-- desktop version table -->

                                <div class="traveltableBlock -desk_md-only" style="overflow-x: scroll; margin-bottom:0; ">
                                    <div class="row itemlist">

                                        <div class="col-sm-12 forscroll-x mCustomScrollbar _mCS_4 mCS-autoHide" style="overflow: visible;">
                                            <table class="table table-bordered travelEx_tablesec02 not-fix-width">
                                                <thead>

                                                    <tr>
                                                        <td>{{ Text[PATextcategory].EmployeeID }}</td>
                                                        <td>{{ Text[PATextcategory].FullName }}</td>
                                                        <td>{{ Text[PATextcategory].Position }}</td>
                                                        <td>{{ Text[PATextcategory].OrganizationName }}</td>
                                                        <td>{{ Text[PATextcategory].EmpGroup }}</td>
                                                        <td>{{ Text[PATextcategory].EmpSubGroup }}</td>
                                                        <td>{{ Text[PATextcategory].Area }}</td>
                                                        <td>{{ Text[PATextcategory].SubArea }}</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="x in data.arrSplited[data.selectedColumn]">
                                                        <td>
                                                            <div class="breakword-100px em-font-15">{{ x.EmployeeID }}</div>
                                                        </td>
                                                        <td>
                                                            <div class="breakword-100px em-font-15 text-left">{{ x.Name }}</div>
                                                        </td>
                                                        <td>
                                                            <div class="breakword-100px em-font-15 text-left">{{ x.Position }}</div>
                                                        </td>
                                                        <td>
                                                            <div class="breakword-100px em-font-15 text-left">{{ x.OrgUnit }}</div>
                                                        </td>
                                                        <td>
                                                            <div class="breakword-100px em-font-15 text-left">{{ x.EmpGroup }}</div>
                                                        </td>
                                                        <td class="money">
                                                            <div class="breakword-100px em-font-15">{{ x.EmpSubGroup }}</div>
                                                        </td>
                                                        <td class="money">
                                                            <div class="breakword-100px em-font-15 text-left">{{ x.Area }}</div>
                                                        </td>
                                                        <td class="money">
                                                            <div class="breakword-100px em-font-15 text-left">{{ x.SubArea }}</div>
                                                        </td>
                                                        <td style="vertical-align: middle !important; text-align:right !important;">
                                                            <a ng-click="OnClickCopyEmployee(x.EmployeeID);" class="btn no-radius ico_lightaction action-edit" style="background: #cef6ff;"><span class="fa fa-files-o" style="color:#6e8dbc;"></span></a>
                                                            <a ng-click="OnClickEditEmployee(x.EmployeeID);" class="btn no-radius ico_lightaction action-edit"><span class="fal fa-pencil-alt"></span></a>
                                                            <a ng-click="OnClickDeleteEmployee(x.EmployeeID,$event);" class="btn no-radius ico_lightaction action-del"><span class="fal fa-times"></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="-pad10"></div>
    <div class="row contentPagination" style="position:absolute;" id="paggingWidth">
        <div class="col-md-12 -col_centered contentPagein">
            <div style="outline:none;" class="page-prev " ng-click="pageLeft();"><a><span class="icon-arrow_line_left"></span></a></div>
            <div class="page-pagenum">
                <ul>
                    <li ng-if="data.arrSplited.length != 0 && data.selectedColumn != 0 && data.selectedColumn != 1 && data.selectedColumn != 2" ng-click="data.selectedColumn=0">1</li>
                    <li ng-if="data.arrSplited.length != 0 && data.selectedColumn != 0 && data.selectedColumn != 1 && data.selectedColumn != 2">. . .</li>

                    <li ng-class="{pageactive:data.selectedColumn==$index}" ng-if="($index-data.selectedColumn <= 2) && (data.selectedColumn-2 <= $index)" ng-repeat="page in data.arrSplited" ng-click="data.selectedColumn=$index" style="margin-left:10px;">{{$index+1}}</li>

                    <li ng-if="(data.arrSplited.length >= 4) && data.selectedColumn != data.arrSplited.length-1 && data.selectedColumn != data.arrSplited.length-2 && data.selectedColumn != data.arrSplited.length-3">. . .</li>
                    <li ng-if="(data.arrSplited.length >= 4) && data.selectedColumn != data.arrSplited.length-1 && data.selectedColumn != data.arrSplited.length-2 && data.selectedColumn != data.arrSplited.length-3" ng-click="data.selectedColumn=data.arrSplited.length-1">{{data.arrSplited.length}}</li>
                </ul>
            </div>
            <div style="outline:none;" class="page-next" ng-click="pageRight();"> <a><span class="icon-arrow_line_right"></span></a></div>
        </div>
    </div>

</div>

<style>
    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid #333333;
    }
  
    .dataTables_filter{
        margin-bottom: 30px;
    }
    .personal-data-setting.TravelExManPage td {
        vertical-align: middle !important;
        text-align: center !important;
    }
    td.ghost-td {
        width: 0px !important;
        margin: 0px !important;
        padding: 0px !important;
        border: 0px !important;
        border: none;
    }

    td.ghost-topic {
        height: 0px !important;
        margin: 0px !important;
        padding: 0px !important;
        border: 0px !important;
        border: none;
    }

    .bar_searchactive {
        margin-top: 0 !important;
    }

    .bar_search {
        height: 5rem;
        margin-top: -5rem;
    }

    .faa-shake.animated {
        -webkit-animation: none !important;
        animation: none !important;
    }

    .exman-res_detailtable {
        width: 48%;
    }

    .exman-res_titletable {
        width: 43%;
    }

    .itemlist_table-res li {
        outline: none;
        font-size: 20px;
    }

    @media only screen and (max-width: 500px) {
        .itemlist_table-res li {
            padding: 2px !important;
            font-size: 12px !important;
        }
    }
</style>
