﻿<div id="main-content" ng-controller="SettingEvaluatePeriodController" ng-init="init()">
    <div class="page-body">
        <div class="breadcrumb-container ess-breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION'].SETTING_EVALUATE}}</li>
                </ol>
            </nav>
        </div>

        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].SETTING_EVALUATE}}</h1>
            </div>
        </div>

        <div class="ess-wrapper">
            <div class="ess-inner-wrapper mt-1">
                <!--ADD New Period d-flex justify-content-center -->
                <div class="ess-tab-section-bar1 p-1">
                    <div class="ess-personal-info-sub-hdr p-2 m-0"><span class="h5">{{Text[Textcategory].SETUPEVALUATEYEAR}} {{yearToSetting}}</span></div>
                </div>
                <div class="row ess-document-info-edit-panel p-2 d-flex justify-content-center">
                    <div id="PA_909_divEVASettingDetail" class="row ess-create-ot-list col-12 col-md-7 col-lg-7 col-xl-7 py-2 m-0 justify-content-center">
                        <div class="form-group col-md-2 col-lg-2 col-xl-2 col-sm-12 my-0">
                            <label for="PA_909_ddlYearListSetting" class="font-weight-bold pr-2">{{Text['PA_HEALTH'].SELECT_YEAR}}</label>
                            <select id="PA_909_ddlYearListSetting" class="form-control ess-form-control" ng-model="yearToSetting" ng-change="ChangeSettingYear(yearToSetting)"
                                    data-ng-options="item as item for item in YearSetting">
                                <option ng-value="yearToSetting" id="PA_909_ddlYearList{{$index}}">{{item}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4 col-lg-4 col-xl-4 col-sm-12 my-0">
                            <label class="font-weight-bold">{{Text['SYSTEM'].BEGINDATE}}</label>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input id="PA_909_txtBeginDate" maxlength="10" ng-model="BeginDate" type="text" ng-change="checkStartDate();" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-lg-4 col-xl-4 col-sm-12 my-0">
                            <label class="font-weight-bold">{{Text['SYSTEM'].ENDDATE}}</label>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input id="PA_909_txtEndDate" maxlength="10" ng-model="EndDate" type="text" ng-change="checkEndDate();" class="form-control" name="end" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                        <div class="form-group col-md-2 col-lg-2 col-xl-2 col-sm-12 my-0 text-center">
                            <label for="PA_909_ddlYearListSetting" class="font-weight-bold pr-2 text-white">{{Text['PA_HEALTH'].SELECT_YEAR}}</label><br />
                            <a id="PA_909_btnSave" ng-click="EvaluateSetting(EVAPeriodSetting)" role="button" href=""><div class="ess-button addbtn"><i class="fa fa-plus-circle"></i> {{Text['SYSTEM'].ADDROW}}</div></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7 py-2 px-0 m-0">
                        <div class="table-responsive">
                            <div class="ess-table-container">
                                <div class="freeze scrollbar-default">
                                    <table class="ess-table-default">
                                        <thead>
                                            <tr class="ess-table-header">
                                                <th>{{Text[Textcategory].PERIOD_YEAR}}</th>
                                                <th>{{Text['SYSTEM'].BEGINDATE}}</th>
                                                <th>{{Text['SYSTEM'].ENDDATE}}</th>
                                                <th>{{Text['SYSTEM'].EDIT}}/{{Text['SYSTEM'].DELETE}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="PA_909_tblRowPFSettingList{{$index}}" class="" ng-repeat="x in EVASettingList">
                                                <td class="text-center" ng-class="{'font-weight-bold': x.PeriodID == 0}"><span ng-show="x.PeriodID == 0" class="text-danger font-weight-bold">*</span> {{x.Year}}</td>
                                                <td class="text-center" ng-class="{'font-weight-bold': x.PeriodID == 0}">{{x.BeginDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                                <td class="text-center" ng-class="{'font-weight-bold': x.PeriodID == 0}">{{x.EndDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                                <td class="text-center">
                                                    <!--Edit-->
                                                    <a id="PA_909_btnEditEVASettingList{{$index}}" ng-click="editRow($index)" style="cursor:pointer;">
                                                        <i class="fa fa-pencil-square-o text-primary" aria-hidden="true" title="{{Text['SYSTEM'].EDIT}}"></i>
                                                    </a>&nbsp;
                                                    <!--Delete-->
                                                    <a id="PA_909_btnDeleteEVASettingList{{$index}}" ng-click="deleteRow($index)" style="cursor:pointer;">
                                                        <i class="fa fa-trash-o text-danger" aria-hidden="true" title="{{Text['SYSTEM'].DELETE}}"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="font-weight-bold" ng-if="EVASettingList.length == 0">
                                                <td colspan="4" style=" width: 100%; text-align:center;padding:5px">{{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="PA_909_newDataStatus" ng-show="hasNew == true" class="font-weight-bold text-danger small">*{{Text['SYSTEM'].NEWDATA}}/{{Text['SYSTEM'].CHANGEDATA}}</div>
                                    <div id="PA_909_savingStatus" class="col-12 text-center py-2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-12 p-1 m-0 text-center">
                            <a ng-show="isSave && EVASettingList.length > 0" id="PA_909_btnSaveEvaluateSetting" href="" class="ess-button submitbtn px-3" style="cursor: pointer;" ng-click="SaveEvaluateSetting()"><i class="fa fa-floppy-o"></i>&nbsp;{{Text['SYSTEM'].SAVE}}</a>
                        </div>
                    </div>
                </div>

                <!-- History evaluate setting -->
                <div class="ess-tab-section-bar1 mt-3 p-1">
                    <div class="ess-personal-info-sub-hdr p-2 m-0"><span class="h5">{{Text[Textcategory].SETEVALUATEDATA}}</span></div>
                </div>
                <div class="row ess-document-info-edit-panel p-2 d-flex justify-content-center">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-sm-12 px-0 form-inline justify-content-center">
                        <div class="form-group row">
                            <label for="PA_909_ddlYearHistory" class="font-weight-bold pr-2">{{Text['PA_HEALTH'].SELECT_YEAR}}</label>
                            <select id="PA_909_ddlYearHistory" class="form-control ess-form-control" ng-model="yearToHistory" ng-change="GetEvaluateSettingHistory(yearToHistory)"
                                    data-ng-options="item as item.YearText for item in YearHistory">
                                <option ng-value="yearToHistory" id="PA_909_ddlYearHistoryList{{$index}}">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7 py-2 px-0 m-0">
                        <div class="table-responsive">
                            <div class="ess-table-container">
                                <div class="freeze scrollbar-default">
                                    <table class="ess-table-default">
                                        <thead>
                                            <tr class="ess-table-header">
                                                <th>{{Text[Textcategory].PERIOD_YEAR}}</th>
                                                <th>{{Text['SYSTEM'].BEGINDATE}}</th>
                                                <th>{{Text['SYSTEM'].ENDDATE}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="PA_909_tblRowPFSettingList{{$index}}" class="" ng-repeat="x in EVASettingListHistory">
                                                <td class="text-center">{{x.Year}}</td>
                                                <td class="text-center">{{x.BeginDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                                <td class="text-center">{{x.EndDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                            </tr>
                                            <tr class="font-weight-bold" ng-if="EVASettingListHistory.length == 0">
                                                <td colspan="4" style=" width: 100%; text-align:center;padding:5px">{{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <!-- Modal Confirm and preview data -->
    <!--<div class="modal fade" id="PA_909_SaveModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="PA_909_SaveModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered border-secondary" role="document">
            <div class="modal-content">
                <div class="modal-header py-1">
                    <h5 class="modal-title font-weight-bold" id="LE_1602_StatusLabel">{{Text['SYSTEM'].WARNING}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 id="PA_909_StatusText" class="text-center p-1 m-1">{{Text['SYSTEM'].CONFIRM_SAVE}}</h6>
                    <div class="col-12 m-1 p-0">
                        <div class="table-responsive">
                            <div class="ess-table-container">
                                <div class="freeze scrollbar-default">
                                    <table class="ess-table-default">
                                        <thead>
                                            <tr class="ess-table-header py-1">
                                                <th>{{Text[Textcategory].PERIOD_YEAR}}</th>
                                                <th>{{Text['SYSTEM'].BEGINDATE}}</th>
                                                <th>{{Text['SYSTEM'].ENDDATE}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="PA_909_tblRowPFSettingList{{$index}}" class="" ng-repeat="x in EVASettingList">
                                                <td class="text-center" ng-class="{'font-weight-bold': x.PeriodID == 0}"><span ng-show="x.PeriodID == 0" class="text-danger font-weight-bold">*</span> {{x.Year}}</td>
                                                <td class="text-center" ng-class="{'font-weight-bold': x.PeriodID == 0}">{{x.BeginDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                                <td class="text-center" ng-class="{'font-weight-bold': x.PeriodID == 0}">{{x.EndDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="PA_909_newDataStatus" ng-show="hasNew == true" class="font-weight-bold text-danger small">*{{Text['SYSTEM'].NEWDATA}}/{{Text['SYSTEM'].CHANGEDATA}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center py-1">
                    <a ng-show="isSave && EVASettingList.length > 0" id="PA_909_btnSaveEvaluateSetting" href="" class="ess-button submitbtn px-3" style="cursor: pointer;" ng-click="SaveEvaluateSetting()"><i class="fa fa-floppy-o"></i>&nbsp;{{Text['SYSTEM'].SAVE}}</a>&nbsp;&nbsp;
                    <a id="PA_909_btnCloseSuccess" href="" class="ess-button recallbtn px-3" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;{{Text['SYSTEM'].CANCEL}}</a>
                </div>
            </div>
        </div>
    </div>-->

</div>
