﻿
<div ng-controller="CVController" class="padding-breadcrumb information_other TravelExManPage" ng-init="init();">
    <!-- Start breadcrumb -->
    <div class="breadcrumb-container ess-breadcrumb-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ess-breadcrumb">
                <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
                <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION'].CVREPORT}}</li>
            </ol>
        </nav>
    </div>
    <!-- End breadcrumb -->
    <!-- Start Header -->
    <div class="ess-page-header-panel row ess-row-wrap">
        <div class="col-12 ess-page-header">
            <i class="icon icon_employee_history_wh"></i>
            <h1 class="ess-page-header1">{{content.Header}}</h1>
        </div>
    </div>
    <div class="ess-headersub-1"></div>
    <div class="ess-headersub-2"></div>
    <!-- End Header -->


    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">
            <div class="ess-collapse-wrap" style="margin:15px">
                <div class="row">
                    <div class="col-12">
                        <div class="ess-personal-info-general-hdr">{{Text['CVREPORT'].GENERALINFO}}</div>
                    </div>
                </div>
                <!--BUTTON-->
                <div style="margin:20px;"></div>
                <div class="row ess-personal-info-general" style="margin:0px 15px 0px 5px;">
                    <div class="col-md-4 col-lg-3 ess-personal-info-general-pict">
                        <img ng-src="{{CVdata.ImageUrl}}" onerror="this.src = './images/unknown.png'" />
                    </div>
                    <div class="col-md-8 col-lg-9 ess-personal-info-general-data-main ess-personal-info-general-data-cv-main" ng-show="IsOwnerOrUserRoleView('TAB_INFORMATION')">
                        <div class="ess-report-employee-header-label">{{Text[PATextcategory].NAME}}&nbsp;:&nbsp;{{CVdata.PersonData.TitleID}} {{CVdata.PersonData.FirstName}} {{CVdata.PersonData.LastName}}</div><!--{{profile.Name}}-->
                        <div class="ess-report-employee-header-label">{{Text[PATextcategory]['EMPLOYEEID']}}&nbsp;:&nbsp;{{CVdata.PersonData.EmployeeID}}</div>
                        <div class="ess-report-employee-header-label">{{Text[PATextcategory].WORKPOSITION}}&nbsp;:&nbsp;<span ng-bind-html="createHtml(CurrentPosition)"></span><!--{{profile.Position}}--></div>
                        <div class="ess-report-employee-header-label">{{Text[PATextcategory].ORGANIZATION}}&nbsp;:&nbsp;<span ng-bind-html="createHtml(CurrentOrganization)"></span><!--{{profile.OrgUnitName}}--></div>
                        <div class="ess-report-employee-header-label" ng-show="false">{{Text[PATextcategory].LEVEL_ORG}}&nbsp;:&nbsp; เป็นข้อมูลลับ DHR ไม่ส่งค่า</div>
                        <div style="padding-top:30px;"></div>
                        <div class="row">
                            <div class="col-12 col-md-3 col-lg-3 ess-personal-info-panel-wrap ess-report-employee-duration-wrap">
                                <div class="ess-personal-info-panel-s">
                                    <div class="ess-personal-info-label-panel-s">
                                        <span class="ess-personal-info-label-panel">{{Text[PATextcategory].PREWORK_BEGINDATE}}</span>
                                    </div>
                                    <!--<div class="ess-personal-info-data">{{CVdata.PersonData.BeginDate | date:'dd/MM/yyyy'}}</div>-->
                                    <div class="ess-personal-info-data">{{CVdata.StartWorkdate | date:'dd/MM/yyyy'}}</div>
                                </div>

                            </div>
                            <div class="col-12 col-md-3 col-lg-3 ess-personal-info-panel-wrap ess-report-employee-duration-wrap">
                                <div class="ess-personal-info-panel-s">
                                    <div class="ess-personal-info-label-panel-s">
                                        <span class="ess-personal-info-label-panel">{{Text[PATextcategory].WORKAGE}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">{{CVdata.ageOfCompany}}</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3 ess-personal-info-panel-wrap">
                                <div class="ess-personal-info-panel-s">
                                    <div class="ess-personal-info-label-panel-s">
                                        <span class="ess-personal-info-label-panel">{{Text[PATextcategory].WORKPOSITIONAGE}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">{{CVdata.ageOfPosition}}</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3 ess-personal-info-panel-wrap" ng-show="false">
                                <div class="ess-personal-info-panel-s">
                                    <div class="ess-personal-info-label-panel-s">
                                        <span class="ess-personal-info-label-panel">{{Text[PATextcategory].EXPIREYEAR}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">{{CVdata.RetirementDate | date:'dd/MM/yyyy'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <!-- Header -->
                    <div class="col-lg-3 ess-personal-info-general-leftnav">
                        <div class="row mx-0">
                            <div class="col-12 ess-personal-info-card ess-report-employee-agecard" ng-show="IsOwnerOrUserRoleView('TAB_INFORMATION')">
                                <div class="row">
                                    <div class="col-6 col-lg-6 ess-personal-info-panel-wrap">
                                        <div class="ess-personal-info-panel-s">
                                            <div class="ess-personal-info-label-panel-s">
                                                <span class="ess-personal-info-label-panel">{{Text[PATextcategory].DOB}}</span>
                                            </div>
                                            <div class="ess-personal-info-data">{{CVdata.PersonData.DOB | date:'dd/MM/yyyy'}}</div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-6 ess-personal-info-panel-wrap ess-report-employee-age">
                                        <div class="ess-personal-info-panel-s">
                                            <div class="ess-personal-info-label-panel-s">
                                                <span class="ess-personal-info-label-panel">{{Text[PATextcategory].AGE}}</span>
                                            </div>
                                            <div class="ess-personal-info-data">{{CVdata.AgePeriod}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12 ess-personal-info-card ess-personal-info-card-contact" ng-show="IsOwnerOrUserRoleView('TAB_INFORMATION')">
                                <div class="ess-personal-info-label">
                                    {{Text[PATextcategory].CONTRACT}} : {{CVdata.PersonData.TitleID}} {{CVdata.PersonData.FirstName}} {{CVdata.PersonData.LastName}}<!--{{profile.Name}}-->
                                </div>
                                <div style="margin:15px"></div>
                                <ul class="list-unstyled ess-personal-info-data-ul">
                                    <li class="ess-personal-info-datalist" ng-if="CommunicateVisible.WorkPlace">
                                        <span class="ess-iconbox"><i class="icon icon-phone"></i></span>
                                        <span class="ess-personal-info-datalist-data">{{ContactInfo.WorkPlace === null || ContactInfo.WorkPlace === '' ? '-' : ContactInfo.WorkPlace}}</span>
                                    </li>
                                    <li class="ess-personal-info-datalist" ng-if="CommunicateVisible.HomePhone">
                                        <span class="ess-iconbox"><i class="icon icon-phone1"></i></span>
                                        <span class="ess-personal-info-datalist-data">{{ContactInfo.HomePhone === null || ContactInfo.HomePhone === '' ? '-' : ContactInfo.HomePhone}}</span>
                                    </li>
                                    <li class="ess-personal-info-datalist" ng-if="CommunicateVisible.PhoneNo">
                                        <span class="ess-iconbox"><i class="icon icon-phone1"></i></span>
                                        <span class="ess-personal-info-datalist-data">{{ContactInfo.PhoneNo === null || ContactInfo.PhoneNo === '' ? '-' : ContactInfo.PhoneNo}}</span>
                                    </li>
                                    <li class="ess-personal-info-datalist" ng-if="CommunicateVisible.MobilePhone">
                                        <span class="ess-iconbox"><i class="icon icon-mobile"></i></span>
                                        <span class="ess-personal-info-datalist-data">{{ContactInfo.MobilePhone === null || ContactInfo.MobilePhone === '' ? '-' : ContactInfo.MobilePhone}}</span>
                                    </li>
                                    <li class="ess-personal-info-datalist" ng-if="CommunicateVisible.Email">
                                        <span class="ess-iconbox"><i class="icon icon-mail"></i></span>
                                        <span class="ess-personal-info-datalist-data">{{ContactInfo.Email === null || ContactInfo.Email === '' ? '-' : ContactInfo.Email}}</span>
                                    </li>
                                    <li class="ess-personal-info-datalist" ng-if="CommunicateVisible.PrivateEmail">
                                        <span class="ess-iconbox"><i class="icon icon-personal-mail"></i></span>
                                        <span class="ess-personal-info-datalist-data">{{ContactInfo.PrivateEmail === null || ContactInfo.PrivateEmail === '' ? '-' : ContactInfo.PrivateEmail}}</span>
                                    </li>
                                    <li class="ess-personal-info-datalist" ng-if="CommunicateVisible.LineID">
                                        <span class="ess-iconbox"><i class="icon icon-lineid"></i></span>
                                        <span class="ess-personal-info-datalist-data">{{ContactInfo.LineID === null || ContactInfo.LineID === '' ? '-' : ContactInfo.LineID}}</span>
                                    </li>
                                    <li class="ess-personal-info-datalist" ng-if="CommunicateVisible.PersonOfEmergency">
                                        <span class="ess-iconbox"><i class="icon icon-emergency"></i></span>
                                        <span class="ess-personal-info-datalist-data">{{ContactInfo.PersonOfEmergency === null || ContactInfo.PersonOfEmergency === '' ? '-' : ContactInfo.PersonOfEmergency}}</span>
                                    </li>
                                </ul>
                            </div>
                            <!--<div class="col-md-6 col-lg-12 ess-personal-info-card ess-personal-info-card-skill">
                                <div class="ess-personal-info-label">
                                    Skills
                                </div> <div style="margin:15px"></div>
                                <ul class="list-unstyled ess-personal-info-data-ul ess-personal-info-skilllist-ul">
                                    <li class="ess-personal-info-datalist ess-personal-info-skilllist">
                                        <span class="ess-personal-info-datalist-data">English Languages</span>
                                        <i class="icon icon-point"></i>
                                    </li>
                                    <li class="ess-personal-info-datalist ess-personal-info-skilllist">
                                        <span class="ess-personal-info-datalist-data">Spanish Language</span>
                                        <div> <span class="icon icon-point"></span><span class="icon icon-point"></span></div>
                                    </li>
                                    <li class="ess-personal-info-datalist ess-personal-info-skilllist">
                                        <span class="ess-personal-info-datalist-data">Public Speaking</span>
                                        <div> <span class="icon icon-point"></span><span class="icon icon-point"></span><i class="icon icon-point"></i></div>

                                    </li>
                                    <li class="ess-personal-info-datalist ess-personal-info-skilllist">
                                        <span class="ess-personal-info-datalist-data">Sport (Table Tennis)</span>
                                        <div> <span class="icon icon-point"></span><span class="icon icon-point"></span><i class="icon icon-point"></i></div>
                                    </li>
                                </ul>
                            </div>-->
                        </div>
                    </div>
                    <!-- content tab separate by category-->
                    <div class="col-lg-9 ess-personal-info-general-panel">
                        <!-- content education history-->
                        <div class="ess-collapse-wrap ess-style-margin-top-10" ng-show="IsOwnerOrUserRoleView('TAB_EDUCATION')">
                            <div class="ess-showhide-detail-button">
                                <a class="ess-btn-showhide-detail" data-toggle="collapse" href="" data-target="#essReportEmployeeEducation" role="button" aria-expanded="true" aria-controls="essReportEmployeeEducation">
                                    <div class="col-12 ess-tab-section-bar1">
                                        <i class="icon icon_employee_history_bar"></i>
                                        <div class="ess-tab-section-bar-hdr">{{Text[PATextcategory].table_educationhistory}}</div>
                                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="collapse show" id="essReportEmployeeEducation">
                                <div class="ess-collapse-data-panel" ng-repeat="edu in educationList" ng-if="educationList.length > 0">
                                    <div class="row mx-0">
                                        <div class="col-12 ess-collapse-data-panel-hdr">
                                            <div class="ess-personal-info-panel-wrap">
                                                <div class="ess-report-employee-subhdr">
                                                    <i class="fa fa-graduation-cap"></i>
                                                    <span class="ess-personal-info-label"> {{edu.EducationlevelText}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ess-personal-info-panel-wrap">
                                        <div class="row mx-0 ess-report-employee-datapanel no-gutters">
                                            <div class="col-md-6 col-lg-4 ess-report-employee-date">
                                                <span class="ess-report-employee-datadate">{{edu.BeginDate | date:'yyyy'}}</span>
                                                <div class="ess-iconwrap"><i class="fa fa-arrow-circle-right"></i></div>
                                                <span class="ess-report-employee-datadate">{{edu.EndDate | date:'yyyy'}}</span>
                                            </div>
                                            <div class="col-md-6 col-lg-8 ess-report-employee-detail">
                                                <div class="ess-report-employee-maindetail">{{edu.CertificateText}}</div>
                                                <!--<div class="ess-report-employee-desc">{{EDUCATIONGROUP[edu.EducationGroupCode]}}</div>-->
                                                <div class="ess-report-employee-desc">{{edu.BranchText}}</div>
                                                <div class="ess-report-employee-desc">{{edu.InstituteText}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ess-collapse-data-panel" ng-if="educationList.length == 0" style="text-align: center;">
                                    <span class="ess-notfound-text">{{Text['SYSTEM'].notfound}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="ess-collapse-wrap ess-style-margin-top-10" ng-show="IsOwnerOrUserRoleView('TAB_WORK_CURRENT')">
                            <div class="ess-showhide-detail-button">
                                <a class="ess-btn-showhide-detail" data-toggle="collapse" href="" data-target="#essReportEmployeeWorkHistory" role="button" aria-expanded="true" aria-controls="essReportEmployeeWorkHistory">

                                    <div class="col-12 ess-tab-section-bar1">
                                        <i class="icon icon_employee_history_bar"></i>
                                        <div class="ess-tab-section-bar-hdr">{{Text[PATextcategory].WORKHISTORY}}</div>
                                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="collapse show" id="essReportEmployeeWorkHistory">
                                <div class="ess-collapse-data-panel" ng-repeat="work in CurrentWorkHistoryList" ng-if="CurrentWorkHistoryList.length > 0">
                                    <div class="ess-personal-info-panel-wrap">
                                        <div class="row mx-0 ess-report-employee-datapanel no-gutters">
                                            <div class="col-md-6 col-lg-4">
                                                <div class="ess-report-employee-date">
                                                    <span class="ess-report-employee-datadate">{{work.STARTDATE}}</span>
                                                    <div class="ess-iconwrap"><i class="fa fa-arrow-circle-right"></i></div>
                                                    <span class="ess-report-employee-datadate">{{work.ENDDATE}}</span>
                                                </div>
                                                <div class="ess-report-employee-totaldate">
                                                    <div class="ess-report-employee-datadate" style="text-align:left">อายุงาน : <span class="ess-report-employee-totaldate-value"></span>{{work.WorkTime}}</div>

                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-8 ess-report-employee-detail">
                                                <div class="ess-report-employee-maindetail">{{work.POS_NAME}}</div>

                                                <!--<div class="ess-report-employee-maindetail">{{Text[PATextcategory].LEVEL_ORG}} {{work.LEVEL}}</div>-->
                                                <div class="ess-report-employee-maindetail">{{work.ORG_NAME}}</div>
                                                <div class="ess-report-employee-maindetail" style="color:gray">({{work.ACTION}})</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ess-collapse-data-panel" ng-if="CurrentWorkHistoryList.length == 0" style="text-align: center;">
                                    <span class="ess-notfound-text">{{Text['SYSTEM'].notfound}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="ess-collapse-wrap ess-style-margin-top-10" ng-show="IsOwnerOrUserRoleView('TAB_WORK_HISTORY')">
                            <div class="ess-showhide-detail-button">
                                <a class="ess-btn-showhide-detail" data-toggle="collapse" href="" data-target="#essWORKHISTORY" role="button" aria-expanded="true" aria-controls="essReportEmployeeWorkHistory">
                                    <div class="col-12 ess-tab-section-bar1">
                                        <i class="icon icon_employee_history_bar"></i>
                                        <div class="ess-tab-section-bar-hdr">{{Text[PATextcategory].PREWORKHISTORY}}</div>
                                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="collapse show" id="essWORKHISTORY">
                                <div class="ess-collapse-data-panel" ng-repeat="work in workHistoryList" ng-if="workHistoryList.length > 0">
                                    <div class="ess-personal-info-panel-wrap">
                                        <div class="row mx-0 ess-report-employee-datapanel no-gutters">
                                            <div class="col-md-6 col-lg-4">
                                                <div class="ess-report-employee-date">
                                                    <span class="ess-report-employee-datadate">{{work.BeginDate | date : 'dd/MM/yyyy'}}</span>
                                                    <div class="ess-iconwrap"><i class="fa fa-arrow-circle-right"></i></div>
                                                    <span class="ess-report-employee-datadate">{{work.EndDate | date : 'dd/MM/yyyy'}}</span>
                                                </div>
                                                <div class="ess-report-employee-totaldate">
                                                    <div class="ess-report-employee-datadate" style="text-align:left">อายุงาน : <span class="ess-report-employee-totaldate-value"></span>{{work.WorkTime}}</div>

                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-8 ess-report-employee-detail">
                                                <div class="ess-report-employee-maindetail" ng-if="work.Position != null || work.Position != ''">{{work.Position}}</div>
                                                <div class="ess-report-employee-maindetail" ng-if="work.Employer != null || work.Employer != ''">{{work.Employer}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ess-collapse-data-panel" ng-if="workHistoryList.length == 0" style="text-align: center;">
                                    <span class="ess-notfound-text">{{Text['SYSTEM'].notfound}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="ess-collapse-wrap ess-style-margin-top-10" ng-show="IsOwnerOrUserRoleView('TAB_TRAINING')">
                            <div class="ess-showhide-detail-button">
                                <a class="ess-btn-showhide-detail" data-toggle="collapse" href="" data-target="#essReportEmployeeTraining" role="button" aria-expanded="true" aria-controls="essReportEmployeeTraining">
                                    <div class="col-12 ess-tab-section-bar1">
                                        <i class="icon icon_employee_history_bar"></i>
                                        <div class="ess-tab-section-bar-hdr">{{Text[PATextcategory].TRAINING}}</div>
                                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="collapse show" id="essReportEmployeeTraining">
                                <div class="ess-collapse-data-panel" ng-repeat="training in TrainingList" ng-if="TrainingList.length > 0">
                                    <div class="ess-personal-info-panel-wrap">
                                        <div class="row mx-0 ess-report-employee-datapanel no-gutters">
                                            <div class="col-md-6 col-lg-4 ess-report-employee-date">
                                                <span class="ess-report-employee-datadate">{{training.Begindate | date : 'dd/MM/yyyy'}}</span>
                                                <div class="ess-iconwrap"><i class="fa fa-arrow-circle-right"></i></div>
                                                <span class="ess-report-employee-datadate">{{training.Enddate | date : 'dd/MM/yyyy'}}</span>
                                            </div>
                                            <div class="col-md-6 col-lg-8 ess-report-employee-detail">
                                                <div class="ess-report-employee-maindetail">{{training.CourseName}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- End content in  collapse-data-panel -->
                                </div>
                                <div class="ess-collapse-data-panel" ng-if="TrainingList.length == 0" style="text-align: center;">
                                    <span class="ess-notfound-text">{{Text['SYSTEM'].notfound}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="ess-collapse-wrap ess-style-margin-top-10" ng-show="IsOwnerOrUserRoleView('TAB_PUNISHMENT')">
                            <!--ng-show="IsUserroleForPunishment"-->
                            <div class="ess-showhide-detail-button">
                                <a class="ess-btn-showhide-detail" data-toggle="collapse" href="" data-target="#essReportEmployeePunishment" role="button" aria-expanded="true" aria-controls="essReportEmployeePunishment">
                                    <div class="col-12 ess-tab-section-bar1">
                                        <i class="icon icon_employee_history_bar"></i>
                                        <div class="ess-tab-section-bar-hdr">{{Text[PATextcategory].PUNISHMENT}}</div>
                                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="collapse show" id="essReportEmployeePunishment">
                                <div class="ess-collapse-data-panel" ng-repeat="punishment in PunishmentList" ng-if="PunishmentList.length > 0">
                                    <div class="ess-personal-info-panel-wrap">
                                        <div class="row mx-0 ess-report-employee-datapanel no-gutters">
                                            <div class="col-md-6 col-lg-4 ess-report-employee-date">
                                                <span class="ess-report-employee-datadate">{{punishment.Begindate | date : 'dd/MM/yyyy'}}</span>
                                                <div class="ess-iconwrap"><i class="fa fa-arrow-circle-right"></i></div>
                                                <span class="ess-report-employee-datadate">{{punishment.Enddate | date : 'dd/MM/yyyy'}}</span>
                                            </div>
                                            <div class="col-md-6 col-lg-8 ess-report-employee-detail">
                                                <div class="ess-report-employee-maindetail">{{Text[PATextcategory].COMMANDNO}}&nbsp;:&nbsp;{{punishment.CommandNo == null || punishment.CommandNo == '' ? '-' : punishment.CommandNo}}</div>
                                                <div class="ess-report-employee-maindetail">{{Text[PATextcategory].EVIDENCE}}&nbsp;:&nbsp;{{punishment.EvidenceDesc}}</div>
                                                <div class="ess-report-employee-maindetail">{{Text[PATextcategory].PUNISHACTION}}&nbsp;:&nbsp;{{punishment.PunishmentDesc}}</div>
                                                <div class="ess-report-employee-maindetail">{{Text[PATextcategory].STARTPUNISH}}&nbsp;:&nbsp;{{punishment.StartValueDesc}}</div>
                                                <div class="ess-report-employee-maindetail">{{Text['SYSTEM'].STATUS}}&nbsp;:&nbsp;{{punishment.StatusDesc}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- End content in  collapse-data-panel -->
                                </div>
                                <div class="ess-collapse-data-panel" ng-if="PunishmentList.length == 0" style="text-align: center;">
                                    <span class="ess-notfound-text">{{Text['SYSTEM'].notfound}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="ess-collapse-wrap ess-style-margin-top-10" ng-show="IsOwnerOrUserRoleView('TAB_ACADEMIC_WORK')">
                            <!--ng-show="IsUserroleForPunishment"-->
                            <div class="ess-showhide-detail-button">
                                <a class="ess-btn-showhide-detail" data-toggle="collapse" href="" data-target="#essReportEmployeeAcademicWork" role="button" aria-expanded="true" aria-controls="essReportEmployeeAcademicWork">
                                    <div class="col-12 ess-tab-section-bar1">
                                        <i class="icon icon_employee_history_bar"></i>
                                        <div class="ess-tab-section-bar-hdr">{{Text['APPLICATION'].PA_RESEARCH_PATENT}}</div>
                                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="collapse show" id="essReportEmployeeAcademicWork">
                                <div class="ess-collapse-data-panel" ng-repeat="AcademicData in PersonalAcademicList" ng-if="PersonalAcademicList.length > 0">
                                    <div class="row mx-0">
                                        <div class="col-12 ess-collapse-data-panel-hdr">
                                            <div class="ess-personal-info-panel-wrap">
                                                <div class="ess-report-employee-subhdr">
                                                    <i class="fa fa-book"></i>
                                                    <span class="ess-personal-info-label">&nbsp;{{CurrentLanguageCode == 'TH' ? AcademicData.SubTypeNameTH : AcademicData.SubTypeNameEN }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ess-personal-info-panel-wrap">
                                        <div class="row mx-0 no-gutters" style="margin-bottom:20px;">
                                            <div class="col-md-12 ess-report-employee-date" ng-repeat="item in AcademicConfig|filter: { FieldName: 'DOINo' }" ng-show="item.IsVisible && item.FieldName=='DOINo'">
                                                <span class="col-2 ess-personal-info-label">{{Text['ACADEMICINFO'].DOINo}}</span>{{AcademicData.DOI}}
                                            </div>
                                            <div class="col-md-12 col-lg-12 ess-report-employee-date" ng-repeat="item in AcademicConfig|filter: { FieldName: 'Title' }" ng-show="item.IsVisible && item.FieldName=='Title'">
                                                <span class="col-2 ess-personal-info-label"> {{Text['ACADEMICINFO'].Title}}</span><span>{{AcademicData.Title}}</span>
                                            </div>
                                            <div class="col-md-12 col-lg-12 ess-report-employee-date" ng-repeat="item in AcademicConfig|filter: { FieldName: 'PatentSubType' }" ng-show="item.IsVisible && item.FieldName=='PatentSubType' && AcademicData.SubTypeValue=='2'">
                                                <span class="col-2 ess-personal-info-label">{{Text['ACADEMICINFO'].PatentSubType}}</span><span>{{AcademicData.CategoryNameTH}}</span>
                                            </div>
                                            <div class="col-md-12 col-lg-12 ess-report-employee-date" ng-repeat="item in AcademicConfig|filter: { FieldName: 'YearOfPublic' }" ng-show="item.IsVisible && item.FieldName=='YearOfPublic' && AcademicData.SubTypeValue=='1'">
                                                <span class="col-2 ess-personal-info-label">{{Text['ACADEMICINFO'].YearOfPublic}}</span><span>{{AcademicData.YearOfPublic}}</span>
                                            </div>
                                            <div class="col-md-12 col-lg-12 ess-report-employee-date" ng-repeat="item in AcademicConfig|filter: { FieldName: 'Journal' }" ng-show="item.IsVisible && item.FieldName=='Journal' && AcademicData.SubTypeValue=='1'">
                                                <span class="col-2 ess-personal-info-label">{{Text['ACADEMICINFO'].Journal}}</span><span>{{AcademicData.Journal}}</span>
                                            </div>
                                            <div class="col-md-12 col-lg-12 ess-report-employee-date" ng-repeat="item in AcademicConfig|filter: { FieldName: 'ImpactFactor' }" ng-show="item.IsVisible && item.FieldName=='ImpactFactor' && AcademicData.SubTypeValue=='1'">
                                                <span class="col-2 ess-personal-info-label">{{Text['ACADEMICINFO'].ImpactFactor}} </span><span>{{AcademicData.ImpactFactor}}</span>
                                            </div>
                                            <!--<div class="col-md-12 col-lg-12 ess-report-employee-date" ng-repeat="item in AcademicConfig|filter: { FieldName: 'SubmittedDate' }" ng-show="item.IsVisible && item.FieldName=='SubmittedDate' && AcademicData.SubTypeValue=='2'">
                                                <span class="col-2 ess-personal-info-label">{{Text['ACADEMICINFO'].SubmittedDate}}</span>:<span>{{getDateFormate(AcademicData.SubmittedDate)}}</span>
                                            </div>-->
                                            <div class="col-md-12 col-lg-12 ess-report-employee-date" ng-repeat="item in AcademicConfig|filter: { FieldName: 'GrantedDate' }" ng-show="item.IsVisible && item.FieldName=='GrantedDate' && AcademicData.SubTypeValue=='2'">
                                                <span class="col-2 ess-personal-info-label">{{Text['ACADEMICINFO'].GrantedDate}}</span><span>{{getDateFormate(AcademicData.GrantedDate)}}</span>
                                            </div>
                                            <!--<div class="col-md-12 col-lg-12 ess-report-employee-date" ng-repeat="item in AcademicConfig|filter: { FieldName: 'RefAuthor' }" ng-show="item.FieldName=='RefAuthor' && item.IsVisible">
                                                <span class="col-2 ess-personal-info-label">{{Text['ACADEMICINFO'].RefAuthor}}</span><span>{{AcademicData.RefAuthor}}</span>
                                            </div>-->
                                            <div class="col-md-12 col-lg-12 ess-report-employee-date" ng-repeat="item in AcademicConfig|filter: { FieldName: 'Author' }" ng-show="item.FieldName=='Author' && item.IsVisible">
                                                <span class="col-2 ess-personal-info-label">{{Text['ACADEMICINFO'].Author}}</span><br />
                                                <div class="col-8 ess-personal-info-data">
                                                    <table class="ess-table-default">
                                                        <tr>
                                                            <th>{{Text['SYSTEM'].EMPLOYEE_ID}}</th>
                                                            <th style="width:50%">{{Text['REPORT_LEAVE'].EMPLOYEENAME}}</th>
                                                            <th>{{Text['APPLICATION'].USER_ROLE}}</th>
                                                        </tr>
                                                        <tr ng-repeat="mem in AcademicData.AcademicMembers">
                                                            <td>{{mem.EmployeeID}}</td>
                                                            <td>{{mem.FullNameTH}}</td>
                                                            <td>{{mem.RoleNameTH}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-12 col-lg-12 ess-report-employee-date" ng-repeat="item in AcademicConfig|filter: { FieldName: 'Attachment' }" ng-show="item.FieldName=='Attachment' && item.IsVisible">
                                            <span class="col-2 ess-personal-info-label">{{Text['ACADEMICINFO'].Attachment}}</span><br />

                                            <div class="col-8" ng-show="AcademicData.AttachmentFileSets.length > 0">
                                                <table class="ess-table-default">
                                                    <tr>
                                                        <th>{{Text['SYSTEM'].ATTACHMENT_TITLE}}</th>
                                                        <th>{{Text['SYSTEM'].VIEWDOCUMENT}}</th>
                                                    </tr>
                                                    <tr ng-repeat="mem in AcademicData.AttachmentFileSets">
                                                        <td>{{mem.FileName}}</td>
                                                        <td class="text-center">
                                                            <a href="" ng-click="getFileFromPath(mem)" target="_blank">
                                                                <i class="fa fa-file-pdf-o" style="cursor:pointer;" aria-hidden="true" title="{{Text['SYSTEM'].VIEWDOCUMENT}}"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div ng-show="AcademicData.AttachmentFileSets.length <= 0" class="ess-table-data-notfound">
                                                {{Text['SYSTEM']['NOATTACHMENT']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- End content in  collapse-data-panel -->
                            </div>
                            <div class="ess-collapse-data-panel" ng-if="PersonalAcademicList.length == 0" style="text-align: center;">
                                <span class="ess-notfound-text">{{Text['SYSTEM'].notfound}}</span>
                            </div>

                        </div>
                        <div class="ess-collapse-wrap ess-style-margin-top-10" ng-show="IsOwnerOrUserRoleView('TAB_EVALUATE')">
                            <!-- || IsEmpSubForEvaluate -->
                            <!--ng-show="c || IsOwner || IsUserroleForEvaluate"-->
                            <div class="ess-showhide-detail-button">
                                <a class="ess-btn-showhide-detail" data-toggle="collapse" href="" data-target="#essReportEmployeeEvaluate" role="button" aria-expanded="true" aria-controls="essReportEmployeeEvaluate">
                                    <div class="col-12 ess-tab-section-bar1">
                                        <i class="icon icon_employee_history_bar"></i>
                                        <div class="ess-tab-section-bar-hdr">{{Text['CVREPORT'].EVALUATERESULT}}</div>
                                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="collapse show" id="essReportEmployeeEvaluate">
                                <div class="ess-collapse-data-panel" ng-if="!CanAccess" style="background-color:#e5e5e5; min-height:50px;">
                                    <div class="col-12">
                                        <div class="row col-12 justify-content-center" style="align-items:center;">
                                            <label for="tbxPincode" class="col-3 ess-label" style="text-align:end;margin-top:10px;"> {{Text['CVREPORT'].PINCODE}}</label>
                                            <div id="tbxPincode" class="col-4 ess-detail-data">
                                                <input type="password" id="Pincode" name="Pincode" class="form-control ess-form-control" ng-model="vPincode" ng-trim="true" placeholder="{{Text['CVREPORT'].PINCODE}}" required />
                                            </div>
                                            <div class="col-3 ess-detail-data">
                                                <a ng-click="checkAccesPincode(vPincode)" role="button" href="" style="display:flex;">
                                                    <div class="ess-button submitbtn ng-binding">
                                                        <i class="fa fa-check-square-o"></i> {{Text['SYSTEM'].CONFIRM}}
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center" style="margin-bottom: 1rem;" ng-if="!verifyStatus">
                                            <div class="col-sm-6 detaildate_leave" style="color:red;text-align:center">
                                                {{wpAlert}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="ess-collapse-data-panel" ng-if="CanAccess">
                                    <!-- Start content in  collapse-data-panel -->
                                    <div class="ess-report-employee-evaluate" ng-repeat="subEvaluate in MergedEvaluate" ng-if="MergedEvaluate.length > 0">
                                        <!-- && $index <= 0-->
                                        <div class="row mx-0 no-gutters w-100">
                                            <div class="col-sm-12 col-md-12 col-lg-2 ess-report-employee-item">
                                                <div class="ess-personal-info-panel ess-report-employee-panel ess-report-employee-year">
                                                    <div class="ess-personal-info-data">
                                                        <div class="ess-personal-eval-text-center">{{Text['CVREPORT'].SCHOOLYEAR}}</div>
                                                        <div style="color:red">{{subEvaluate.Period}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-5 col-lg-5 ess-report-employee-item mb-3">
                                                <div class="ess-report-employee-databox">
                                                    <div class="row ess-report-employee-panel mb-2" ng-repeat="times in subEvaluate.EvaluateTimes">
                                                        <div class="row col-12 ess-report-employee-subhdr justify-content-center mb-1">
                                                            <span class="ess-personal-info-label">{{Text[PATextcategory].EVA_TIMES}} {{times.Time}}</span>
                                                        </div>
                                                        <div class="row col-12 ess-report-employee-data">
                                                            <div class="col-7 ess-personal-eval-text-center">{{Text[PATextcategory].EVALUATE_POINT}}</div>
                                                            <div class="col-5 ess-personal-eval-number-center">{{times.Score | number:2}}</div>
                                                        </div>
                                                        <div class="row col-12 ess-report-employee-data">
                                                            <div class="col-7 ess-personal-eval-text-center">{{Text[PATextcategory].EVALUATE_AVERAGEPOINT}}</div>
                                                            <div class="col-5 ess-personal-eval-number-center">{{times.EverageScore | number:2}}</div>
                                                        </div>
                                                    </div>

                                                    <!--<div class="row ess-report-employee-panel mb-2">
                                                        <div class="row col-12 ess-report-employee-subhdr justify-content-center mb-1">
                                                            <span class="ess-personal-info-label">{{Text['CVREPORT'].SECOND_EVA_RESULT}}</span>
                                                        </div>
                                                        <div class="row col-12 ess-report-employee-data">
                                                            <div class="col-7 ess-personal-eval-text-center">{{Text['CVREPORT'].EVALUATE_POINT}}</div>
                                                            <div class="col-5 ess-personal-eval-number-center">{{subEvaluate.SecondScore | number:2}}</div>
                                                        </div>
                                                        <div class="row col-12 ess-report-employee-data">
                                                            <div class="col-7 ess-personal-eval-text-center">{{Text['CVREPORT'].EVALUATE_AVERAGEPOINT}}</div>
                                                            <div class="col-5 ess-personal-eval-number-center">{{subEvaluate.SecondAverageScore | number:2}}</div>
                                                        </div>
                                                    </div>-->
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-5 ess-report-employee-item mb-3">
                                                <div class="ess-report-employee-databox">
                                                    <div class="row col-12 ess-report-employee-subhdr justify-content-center mb-1">
                                                        <span class="ess-personal-info-label">{{Text[PATextcategory].EVALUATESUMMARY}}</span>
                                                    </div>
                                                    <div class="row ess-report-employee-data">
                                                        <div class="col-7 ess-personal-eval-text-center">{{Text[PATextcategory].SALARYRATE}}</div>
                                                        <div class="col-5 ess-personal-eval-number-center">{{subEvaluate.CurrentSalaryrate | number:2}}</div>
                                                    </div>
                                                    <div class="row ess-report-employee-data">
                                                        <div class="col-7 ess-personal-eval-text-center">{{Text[PATextcategory].SALARYPERCENTAGEINCLUDED}}</div>
                                                        <div class="col-5 ess-personal-eval-number-center">{{subEvaluate.UpSalaryPercentage | number:2}} %</div>
                                                    </div>
                                                    <div class="row ess-report-employee-data">
                                                        <div class="col-7 ess-personal-eval-text-center">{{Text[PATextcategory].SALARYCURRENCYINCLUDED}}</div>
                                                        <div class="col-5 ess-personal-eval-number-center">{{subEvaluate.UpSalaryActual | number:2}}</div>
                                                    </div>
                                                    <div class="row ess-report-employee-data">
                                                        <div class="col-7 ess-personal-eval-text-center">{{Text[PATextcategory].BONUS}}</div>
                                                        <div class="col-5 ess-personal-eval-number-center">{{subEvaluate.BonusByPeriod | number:2}}</div>
                                                    </div>
                                                    <div class="row ess-report-employee-data">
                                                        <div class="col-7 ess-personal-eval-text-center">{{Text[PATextcategory].BONUSPERCENTAGE}}</div>
                                                        <div class="col-5 ess-personal-eval-number-center">{{subEvaluate.VariableBonus | number:2}} เท่า</div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="" ng-if="MergedEvaluate.length == 0" style="text-align: center;">
                                        <span class="ess-notfound-text">{{Text['SYSTEM'].notfound}}</span>
                                    </div>
                                    <!-- End content in  collapse-data-panel -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>









