﻿<div id="main-content">
    <div class="page-body">
        <!-- Start breadcrumb -->
        <div class="breadcrumb-container ess-breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST'].HOME}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION'].PA_INSIDE_ORGANIZE_INFO}}</li>
                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
        <!-- Start Header -->
        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].PA_INSIDE_ORGANIZE_INFO}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>
        <!-- End Header -->
        <!-- Start Search -->
        <div ng-controller="PersonalCorporateContentController" ng-init="init();">

            <div class="ess-wrapper ess-button-align-right">
                <!-- <button class="btn btn-outline-secondary" data-toggle="modal" data-target=".bd-example-modal-lg"  type="button">ค้นหาพนักงาน</button>-->
                <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#detailDataModal" type="button">{{Text['PA_EDUCATION_MANAGEMENT'].BUTTON_SEARCH}}</button>
            </div>

            <div class="ess-wrapper">
                <div class="row">

                    <div class="col-12 ess-tab-personal-bar">
                        <h5 class="ess-page-header1">{{Text['PA_EDUCATION_MANAGEMENT'].TITLE_EDUCATION}}</h5>
                        <br>
                    </div>

                    <!--<div class="col-12 ess-inner-wrapper ">-->
                    <!--All Tab Content-->

                    <div class="row col-12 ess-inner-tab-personal">
                        <div class="col-11 ">
                            <div class="freeze scrollbar-default">
                                <table class="ess-table-default-table-pa">
                                    <tr>
                                        <th>
                                            <i class="fa fa-user-circle"> </i><span> {{Text['APPGROUP'].PaDestblSeEmployeeID}}</span>
                                        </th>
                                        <th>
                                            <i class="fa fa-address-card-o"> </i><span> {{Text['APPGROUP'].PaDestblSePosition}} </span>
                                        </th>
                                        <th>
                                            <i class="fa fa-dot-circle-o">    </i><span> {{Text['PA_EDUCATION_MANAGEMENT'].BAND}}  </span>
                                        </th>
                                        <th>
                                            <i class="fa fa-users"> </i><span> {{Text['APPGROUP'].PaDestblSeUnit}} </span>
                                        </th>
                                        <th ">
                                            <i class="fa fa-sitemap "> </i><span> {{Text['PA_EDUCATION_MANAGEMENT'].UNITLEVEL}} </span>
                                        </th>


                                    </tr>
                                    <tr>
                                        <td width="20%" style="margin-left:10px;" ng-show="EmpNameTH"><span>{{EmpNameTH}}</span> <span>({{EmpCode}})</span></td>
                                        <td width="21%" style="margin-left:10px;" ng-show="EmpNameTH"> <span>{{PositionTextTH}}</span> <span>({{PosCode}})</span></td>
                                        <td width="13%" style="margin-left:10px;" ng-show="EmpNameTH"><span>{{BandTextTH}}</span> <span>({{BandValue}})</span></td>
                                        <td width="35%" style="margin-left:10px;" ng-show="EmpNameTH"><span>{{UnitTextTh}}</span> <span>({{UnitCode}})</span></td>
                                        <td width="17%" style="margin-left:10px;" ng-show="EmpNameTH"><span>{{UnitLevelTextTH}}</span> <span>({{UnitLevelValue}})</span></td>
                                    </tr>
                                    <tr style="background-color:#F8C471" align="center" ng-show="!EmpNameTH||EmpNameTH=='NULL'">
                                        <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                    </tr>
                                </table>




                            </div>

                        </div>
                        <div class="col-1">
                            <div class="ess-nav-item-user">
                                <div class="ess-nav-item-userimg" align-text="center">
                                    <span class="ess-userimg" style="background-image: url('./images/unknown.png');background-size:cover;margin-left:40px;"></span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ess-wrapper">
                <div class="ess-inner-wrapper">
                    <div class="row">
                        <ul class="nav nav-tabs ess-tab-document-wrap" id="essDocument" role="tablist">
                            <li class="nav-item ess-tab-panel" ng-repeat="item in TabPACoparateConfig">
                                <a ng-show="item.IsVisible" class="nav-link ess-nav-link-pa {{$index==0 ? 'active' : ''}}" id="{{item.FieldName}}-tab" data-toggle="tab" data-target="#{{item.FieldName}}" href="" role="tab" aria-controls="{{item.FieldName}}" aria-selected="true" ng-click="getDataByTab(item.FieldName)">
                                    <span class="ess-tab-link-label">{{Text['TabPACoparate'][item.FieldName]}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content ess-tab-content-pa ess-report-pa-quali">
                        <div class="tab-pane  fade show {{FirstTabIndex=='TabPACoparatePosition' ? 'active' : ''}} ess-tab-pane" id="TabPACoparatePosition" role="tabpanel" aria-labelledby="TAB_PA-tab">

                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end" style="margin:10px">

                                <a ng-show="PositionhisList||PositionhisList.length != 0" href="" ng-show="EmpCode" ng-click="CreateNew('2201', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')" class="ess-button editbtn" style="margin:10px 11px"> {{Text['BUTTON'].Edit_Pacoparate}}</a>
                                <a ng-show="!PositionhisList||PositionhisList.length==0" href="" ng-show="EmpCode" ng-click="CreateNew('2201', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>



                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('START_DATE')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].START_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('END_DATE')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].END_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('WORKTYPE')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].WORKTYPE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('Abbr')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].REASON}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('CostCenter')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].EditDelete}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatas(PositionhisList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewEducationDetail(data)">
                                                <td>{{getDateFormat(data.BeginDate)}}</td>
                                                <td>{{getDateFormat(data.EndDate)}}</td>
                                                <td>{{data.ActionTextEN}}</td>
                                                <td>{{data.ReasonTextTH}}</td>
                                                <td><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="directToRequest('2201','EDIT',data.EmpCode,data.PAEduID)"></i> / <i class="fa fa-trash" aria-hidden="true" ng-click="directToRequest('2202','CANCEL',data.EmpCode,data.Id)"></i></td>
                                            </tr>

                                            <tr ng-show="!PositionhisList||PositionhisList.length==0">
                                                <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                        </table>

                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="EducationList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                    <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(PositionhisList)"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                                    <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>


                                    </div>
                                    <br />
                                    <!--<div class=" nav-solid-bar"></div>-->

                                    <div class="">
                                        <div class="ess-personal-info-data">

                                            <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                                <div class="col-12 ess-tab-section-bar1">
                                                    <!--<i class="icon icon_type_blue"></i>-->
                                                    <div align="left" class="ess-tab-section-bar-hdr">{{Text['PA_CORPARATE_MANAGEMENT'].CORPARATEMANAGEMENT}}</div>

                                                </div>
                                            </a>
                                            <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].START_DATE}}</span></div>

                                                        <div ng-show="true">{{getDateFormat(StartDateText)}}</div>
                                                    </div>


                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].END_DATE}}</span></div>

                                                        <div ng-show="true">{{getDateFormat(EndDateText)}}</div>
                                                    </div>

                                                </div>

                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].WORKTYPE}}</span></div>

                                                        <div ng-show="true">{{EducationLevelText}}</div>
                                                    </div>

                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].REASON}}</span></div>


                                                        <div ng-show="true">{{CertificateText}}</div>
                                                    </div>

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <br />
                                    <div class="">
                                        <div class="ess-personal-info-data">

                                            <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                                <div class="col-12 ess-tab-section-bar1">
                                                    <!--<i class="icon icon_type_blue"></i>-->
                                                    <div align="left" class="ess-tab-section-bar-hdr">{{Text['PA_CORPARATE_MANAGEMENT'].CORPARATEMANAGEMENTFIXDATE}}</div>

                                                </div>
                                            </a>
                                            <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">

                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].WORKTYPE}}</span></div>

                                                        <div ng-show="true">{{getDateFormat(StartDateText)}}</div>
                                                    </div>


                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].REASON}}</span></div>

                                                        <div ng-show="true">{{getDateFormat(EndDateText)}}</div>
                                                    </div>

                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade show {{FirstTabIndex=='TabPACoparateOrganization' ? 'active' : ''}} ess-tab-pane" id="TabPACoparateOrganization" role="tabpanel" aria-labelledby="TAB_ADDRESS-tab">

                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end" style="margin:10px">

                                <a href="" ng-show="EmpCode" ng-click="CreateNew('2201', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')" class="ess-button editbtn" style="margin:10px 11px"> {{Text['BUTTON'].Edit_Pacoparate}}</a>
                                <a href="" ng-show="EmpCode" ng-click="CreateNew('2201', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>
                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('START_DATE')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].START_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('END_DATE')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].END_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('WORKTYPE')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].Position}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('Abbr')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].Unit}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('Abbr')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].EmployeeType}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('Abbr')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].PositionGroup}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('Abbr')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].Status}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('CostCenter')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].EditDelete}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatas(OrganizationinfoList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewOrganizationDetail(data)">
                                                <td>{{getDateFormat(data.BeginDate)}}</td>
                                                <td>{{getDateFormat(data.EndDate)}}</td>
                                                <td>{{data.PosTextTH}}</td>
                                                <td>{{data.CertificateTextTH}}</td>
                                                <td>{{data.UnitTextTH}}</td>
                                                <td>{{data.EmpTypeTextTH}}</td>
                                                <td>{{data.BandTextTH}}</td>
                                                <td><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="directToRequest('2201','EDIT',data.EmployeeID,data.PAEduID)"></i> / <i class="fa fa-trash" aria-hidden="true" ng-click="directToRequest('2202','CANCEL',data.EmployeeID,data.PAEduID)"></i></td>
                                            </tr>

                                            <tr ng-show="!OrganizationinfoList||OrganizationinfoList.length==0">
                                                <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                        </table>

                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="OrganizationinfoList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                    <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(OrganizationinfoList)"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                                    <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>


                                    </div>
                                    <br />
                                    <!--<div class=" nav-solid-bar"></div>-->

                                    <div class="">
                                        <div class="ess-personal-info-data">

                                            <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                                <div class="col-12 ess-tab-section-bar1">
                                                    <!--<i class="icon icon_type_blue"></i>-->
                                                    <div align="left" class="ess-tab-section-bar-hdr">{{Text['PA_CORPARATE_MANAGEMENT'].CORPARATEMANAGEMENT}}</div>

                                                </div>
                                            </a>
                                            <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].START_DATE}}</span></div>

                                                        <div ng-show="true">{{getDateFormat(OrganizStartDateText)}}</div>
                                                    </div>


                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].END_DATE}}</span></div>

                                                        <div ng-show="true">{{getDateFormat(OrganizEndDateText)}}</div>
                                                    </div>

                                                </div>

                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].Position}}</span></div>

                                                        <div ng-show="true">{{PosTextTH}}</div>
                                                    </div>

                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].Unit}}</span></div>


                                                        <div ng-show="true">{{UnitTextTH}}</div>
                                                    </div>

                                                </div>

                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].EmployeeType}}</span></div>

                                                        <div ng-show="true">{{getDateFormat(EmpTypeTextTH)}}</div>
                                                    </div>


                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].CostCenter}}</span></div>

                                                        <div ng-show="true">{{getDateFormat(CostCenterValue)}}<br />{{getDateFormat(CostCenterText)}}</div>
                                                    </div>

                                                </div>

                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].PositionGroup}}</span></div>

                                                        <div ng-show="true">{{BandTextTH}}</div>
                                                    </div>

                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].EmployeeLevel}}</span></div>


                                                        <div ng-show="true">{{LevelTextTH}}</div>
                                                    </div>

                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].PositionGroupActing}}</span></div>

                                                        <div ng-show="true">{{ActingBandTextTH}}</div>
                                                    </div>

                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].EmployeeLevelActing}}</span></div>


                                                        <div ng-show="true">{{ActingLevelTextTH}}</div>
                                                    </div>

                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].CountryWork}}</span></div>

                                                        <div ng-show="true">{{CountryWorkTextTH}}</div>
                                                    </div>

                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].AreaWork}}</span></div>


                                                        <div ng-show="true">{{WorkPlaceTextTH}}</div>
                                                    </div>

                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].EmployeeStatus}}</span></div>

                                                        <div ng-show="true">{{EducationLevelText}}</div>
                                                    </div>

                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].LocationWork}}</span></div>


                                                        <div ng-show="true">{{WorkAreaTextTH}}</div>
                                                    </div>

                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].ReportTo}}</span></div>

                                                        <div ng-show="true">{{EducationLevelText}}</div>
                                                    </div>

                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].HrAdmin}}</span></div>
                                                        <div ng-show="true">{{HrAdminTextTH}}</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade show {{FirstTabIndex=='TabPACoparateActingPosition' ? 'active' : ''}} ess-tab-pane" id="TabPACoparateActingPosition" role="tabpanel" aria-labelledby="TAB_ADDRESS-tab">
                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end" style="margin:10px">
                                <a href="" ng-click="CreateNew('2205', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>
                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('StartDate')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].START_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('EndDate')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].END_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th colspan="2" ng-click="changeSorting('Position')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].Position}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th colspan="2" ng-click="changeSorting('Unit')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].Unit}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>

                                                <th>
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].EditDelete}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatas(TrainingList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                <td>{{getDateFormat(data.BeginDate)}}</td>
                                                <td>{{getDateFormat(data.EndDate)}}</td>
                                                <td colspan="2" align="left">{{data.ActingPosTextTH}}</td>
                                                <td colspan="2" align="left">{{data.CourseName}}</td>
                                                <td><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="directToRequest('2205','EDIT',data.EmployeeID,data.PaTrId)"></i> / <i class="fa fa-trash" aria-hidden="true" ng-click="directToRequest('2206','CANCEL',data.EmployeeID,data.PaTrId)"></i></td>
                                            </tr>

                                            <tr ng-show="!TrainingList||TrainingList.length==0">
                                                <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                        </table>
                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="TrainingList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                    <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(TrainingList)"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                                    <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="">
                                        <div class="ess-personal-info-data">

                                            <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                                <div class="col-12 ess-tab-section-bar1">
                                                    <!--<i class="icon icon_type_blue"></i>-->
                                                    <div align="left" class="ess-tab-section-bar-hdr">{{Text['PA_CORPARATE_MANAGEMENT'].MajorPositionInfo}}</div>
                                                </div>
                                            </a>
                                            <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].START_DATE}}</span></div>
                                                        <div ng-show="true">{{getDateFormat(StartDateText)}}</div>
                                                    </div>
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].END_DATE}}</span></div>
                                                        <div ng-show="true">{{getDateFormat(EndDateText)}}</div>
                                                    </div>
                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].PositionActing}}</span></div>
                                                        <div ng-show="true">{{EducationLevelText}}</div>
                                                    </div>
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].UnitActing}}</span></div>
                                                        <div ng-show="true">{{CertificateText}}</div>
                                                    </div>
                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].PositionGroupActing}}</span></div>
                                                        <div ng-show="true">{{EducationLevelText}}</div>
                                                    </div>
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class="">
                                                            <input type="checkbox" ng-model="theCheckbox1"  ng-disabled="isDisable"/>
                                                            <span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].HeadUnit}}</span>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="">
                                        <div class="ess-personal-info-data">
                                            <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                                <div class="col-12 ess-tab-section-bar1">
                                                    <!--<i class="icon icon_type_blue"></i>-->
                                                    <div align="left" class="ess-tab-section-bar-hdr">{{Text['PA_CORPARATE_MANAGEMENT'].PositionActingInfo}}</div>
                                                </div>
                                            </a>
                                            <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].START_DATE}}</span></div>
                                                        <div ng-show="true">{{getDateFormat(StartDateText)}}</div>
                                                    </div>
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].END_DATE}}</span></div>
                                                        <div ng-show="true">{{getDateFormat(EndDateText)}}</div>
                                                    </div>
                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].MajorPosition}}</span></div>
                                                        <div ng-show="true">{{getDateFormat(StartDateText)}}</div>
                                                    </div>
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].Unit}}</span></div>
                                                        <div ng-show="true">{{getDateFormat(EndDateText)}}</div>
                                                    </div>
                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].PositionGroup}}</span></div>
                                                        <div ng-show="true">{{getDateFormat(StartDateText)}}</div>
                                                    </div>
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class="">
                                                            <input type="checkbox" ng-model="theCheckbox2" ng-disabled="isDisable"/>
                                                            <span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].HeadUnit}}</span>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show {{FirstTabIndex=='TabPACoparateImportanceDate' ? 'active' : ''}} ess-tab-pane" id="TabPACoparateImportanceDate" role="tabpanel" aria-labelledby="TAB_ADDRESS-tab">
                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end" style="margin:10px">

                                <a href="" ng-show="EmpCode" ng-click="CreateNew('2201', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')" class="ess-button editbtn" style="margin:10px 11px"> {{Text['BUTTON'].Edit_Pacoparate}}</a>
                                <a href="" ng-show="EmpCode" ng-click="CreateNew('2201', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>
                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('START_DATE')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].START_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('END_DATE')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].END_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th colspan="2" ng-click="changeSorting('StartWorkDate')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].StartWorkDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th colspan="2" ng-click="changeSorting('EmployedDate')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].EmployedDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th colspan="2" ng-click="changeSorting('CountLeaveAgeDate')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].CountLeaveAgeDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th colspan="2" ng-click="changeSorting('registFundDate')">
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].registFundDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th>
                                                    {{Text['PA_CORPARATE_MANAGEMENT'].EditDelete}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatas(ImportanceDateList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewImportanceDateDetail(data)">
                                                <td>{{getDateFormat(data.BeginDate)}}</td>
                                                <td>{{getDateFormat(data.EndDate)}}</td>
                                                <td colspan="2">{{getDateFormat(data.StartWorkDate)}}</td>
                                                <td colspan="2">{{getDateFormat(data.EmployedDate)}}</td>
                                                <td colspan="2">{{getDateFormat(data.CountLeaveAgeDate)}}</td>
                                                <td colspan="2">{{getDateFormat(data.RegistFundDate)}}</td>
                                                <td><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="directToRequest('2207','EDIT',data.EmpCode,data.Id)"></i> / <i class="fa fa-trash" aria-hidden="true" ng-click="directToRequest('2208','CANCEL',data.EmpCode,data.Id)"></i></td>
                                            </tr>
                                            <tr ng-show="!ImportanceDateList||ImportanceDateList.length==0">
                                                <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                        </table>
                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="ImportanceDateList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                    <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(ImportanceDateList)"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                                    <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="">
                                        <div class="ess-personal-info-data">

                                            <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                                <div class="col-12 ess-tab-section-bar1">
                                                    <!--<i class="icon icon_type_blue"></i>-->
                                                    <div align="left" class="ess-tab-section-bar-hdr">{{Text['PA_CORPARATE_MANAGEMENT'].Importantdate}}</div>
                                                </div>
                                            </a>
                                            <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].START_DATE}}</span></div>
                                                        <div ng-show="true">{{getDateFormat(ImportanceStartDateText)}}</div>
                                                    </div>
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].END_DATE}}</span></div>
                                                        <div ng-show="true">{{getDateFormat(ImportanceEndDateText)}}</div>
                                                    </div>
                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].StartWorkDate}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(StartWorkDate)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeStartWorkDate}}</div></div>
                                                    </div>
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].EmployedDate}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(EmployedDate)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeEmployedDate}}</div></div>
                                                       
                                                    </div>
                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].StartWorkGroupDate}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(StartWorkGroupDate)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeStartWorkGroupDate}}</div></div>
                                                    </div>
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].CountLeaveAgeDate}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(CountLeaveAgeDate)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeCountLeaveAgeDate}}</div></div>

                                                    </div>
                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].retireDate}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(RetireDate)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeRetireDate}}</div></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="">
                                        <div class="ess-personal-info-data">
                                            <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                                <div class="col-12 ess-tab-section-bar1">
                                                    <!--<i class="icon icon_type_blue"></i>-->
                                                    <div align="left" class="ess-tab-section-bar-hdr">{{Text['PA_CORPARATE_MANAGEMENT'].WorkAge}}</div>
                                                </div>
                                            </a>
                                            <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].countLevelAgeDate}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(CountLevelAgeDate)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeCountLevelAgeDate}}</div></div>
                                                    </div>
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].countLevelAgeGroupDate}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(CountLevelAgeGroupDate)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeCountLevelAgeGroupDate}}</div></div>
                                                    </div>
                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].countPosAgeDate}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(CountPosAgeDate)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeCountPosAgeDate}}</div></div>
                                                    </div>
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].countUnitAgeDate}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(CountUnitAgeDate)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeCountUnitAgeDate}}</div></div>
                                                    </div>
                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].countRootJobAgeDate}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(CountRootJobAgeDate)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeCountRootJobAgeDate}}</div></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <br />
                                    <div class="">
                                        <div class="ess-personal-info-data">
                                            <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                                <div class="col-12 ess-tab-section-bar1">
                                                    <!--<i class="icon icon_type_blue"></i>-->
                                                    <div align="left" class="ess-tab-section-bar-hdr">{{Text['PA_CORPARATE_MANAGEMENT'].Providentfund}}</div>
                                                </div>
                                            </a>
                                            <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].registFundDate}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(RegistFundDate)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeRegistFundDate}}</div></div>
                                                    </div>
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].countFundAgeDate}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(CountFundAgeDate)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeCountFundAgeDate}}</div></div>
          
                                                    </div>
                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].leavePfFundDate1}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(LeavePfFundDate1)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeLeavePfFundDate1}}</div></div>
                                                    </div>
                                                    <div class="col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].leavePfFundDate2}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(LeavePfFundDate2)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeLeavePfFundDate2}}</div></div>
                                                    </div>
                                                </div>
                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class=" col-md-5 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class=""><span class="ess-personal-info-label">{{Text['PA_CORPARATE_MANAGEMENT'].leavePfFundDate3}}</span></div>
                                                        <div class="row" ng-show="true"><div class="text-xl-left ng-binding">{{getDateFormat(LeavePfFundDate3)}}</div><div align="right" class="col-sm-5  ng-binding">{{AgeLeavePfFundDate3}}</div></div>
                                                   
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="tab-pane fade show {{FirstTabIndex=='TabPACoparateAttachment' ? 'active' : ''}} ess-tab-pane" id="TabPACoparateAttachment" role="tabpanel" aria-labelledby="TAB_ADDRESS-tab">
                            <div class="col-12">
                                <div class="ess-personal-info-data">

                                    <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                        <div class="col-12 ess-tab-section-bar1">
                                            <!--<i class="icon icon_type_blue"></i>-->
                                            <div align="left" class="ess-tab-section-bar-hdr">{{Text['PA_EDUCATION_MANAGEMENT'].ATTACHMENT}}</div>

                                        </div>
                                    </a>
                                    <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span align="right" class="ess-personal-info-label">{{Text['TabPACoparate'].TabPACoparatePosition}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">

                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2201List) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o" style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2201List||FileAttachment2201List.length==0">
                                                        <td colspan="9" align="center">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span align="right" class="ess-personal-info-label">{{Text['TabPACoparate'].TabPACoparateOrganization}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">

                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2203List) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o " style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2203List||FileAttachment2203List.length==0">
                                                        <td colspan="9" align="center">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span class="ess-personal-info-label">{{Text['TabPACoparate'].TabPACoparateActingPosition}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">

                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2205List) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o" style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2205List||FileAttachment2205List.length==0">
                                                        <td colspan="9" align="center">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <div align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span align="right" class="ess-personal-info-label">{{Text['TabPACoparate'].TabPACoparateImportanceDate}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">

                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2207List) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o" style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2207List||FileAttachment2207List.length==0">
                                                        <td colspan="9" align="center">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
            </div>


            <div class="modal fade" id="detailDataModal" role="dialog">
                <div class="modal-dialog modal-xl">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header ess-tab-personal-modal">
                            <h3>ค้นหาพนักงาน</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">



                                <div align="left" class="form-group col-md-2">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeUnitLevel}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important" ng-model="LevelSelected" placeholder="-" object-property="DLL_DATA" suggestions-arr="LevelList" ng-click="GetOrgUnit()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeUnit}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important" ng-model="UnitSelected" placeholder="-" object-property="DLL_DATA" suggestions-arr="UnitList" ng-click="GetPosition()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSePosition}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                                           ng-model="PositionSelected"
                                                           placeholder="-"
                                                           object-property="DLL_DATA"
                                                           suggestions-arr="PositionList"
                                                           ng-click="GetEmployee()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeEmployee}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                                           ng-model="EmployeeSelected"
                                                           placeholder="-"
                                                           object-property="DLL_DATA"
                                                           suggestions-arr="EmployeeList">
                                    </multiple-autocomplete>
                                </div>
                                <div align="right" class="d-flex align-items-center">
                                    <a id="TM_1102_btnGetMonthlyTimesheet" href="" class="ess-button searchbtn" ng-click="SearchEmployeeData()"><i class="fa fa-search"></i>&nbsp;{{Text['BUTTON'].SEARCH}}</a>&nbsp;
                                    <a id="TM_1100_btnClear" href="" class="ess-button editbtn" ng-click="ResetDataContent()"><i class="fa fa-refresh"></i>&nbsp;{{Text['BUTTON'].RESET}}</a>
                                </div>


                            </div>


                            <div class="">
                                <div class="tab-content ess-tab-content-pa">
                                    <div class="ess-personal-info-data">
                                        <div class="">
                                            <table class="ess-table-default">
                                                <tr>

                                                    <th ng-click="changeSorting('EndDate')">
                                                        {{Text['APPGROUP'].PaDestblSeEmployeeID}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('Abbr')">
                                                        {{Text['APPGROUP'].PaDestblSeName}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('OrganizationUnit')">
                                                        {{Text['APPGROUP'].PaDestblSePosition}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('CostCenter')">
                                                        {{Text['APPGROUP'].PaDestblSeUnit}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>


                                                </tr>
                                                <tr ng-repeat="data in genDatas(EmployeeDataList) | orderBy:sort.column:sort.descending" data-target="#detailDataModal" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewDetailData(data)">
                                                    <td>{{data.EmpCode}}</td>
                                                    <td>{{data.EmpNameTH}}</td>
                                                    <td>{{data.PositionTextTH}}</td>
                                                    <td>{{data.UnitTextTh}}</td>

                                                </tr>
                                                <tr align="center" ng-show="!EmployeeDataList||EmployeeDataList.length==0">
                                                    <td colspan="9">{{Text['SYSTEM'].NO_DATA}}</td>
                                                </tr>
                                            </table>

                                            <div class="ess-pagination-wrap" id="paggingWidth" ng-show="EmployeeDataList.length > 0">
                                                <nav class="ess-navbar">
                                                    <ul class="pagination">
                                                        <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                        <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(EmployeeDataList)"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                                        <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
