﻿<div id="main-content">
    <div class="page-body">
        <!-- Start breadcrumb -->
        <div class="breadcrumb-container ess-breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST'].HOME}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION'].PA_PERSONAL_SECRET}}</li>
                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
        <!-- Start Header -->
        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].PA_PERSONAL_SECRET}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>
        <!-- End Header -->
        <!-- Start Search -->
        <div ng-controller="PersonalConfidentialContentController" ng-init="init();">

            <div class="ess-wrapper ess-button-align-right">
                <!-- <button class="btn btn-outline-secondary" data-toggle="modal" data-target=".bd-example-modal-lg"  type="button">ค้นหาพนักงาน</button>-->
                <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#detailDataModal" type="button">{{Text['PA_EDUCATION_MANAGEMENT'].BUTTON_SEARCH}}</button>
            </div>

            <div class="ess-wrapper">
                <div class="row">

                    <div class="col-12 ess-tab-personal-bar">
                        <h5 class="ess-page-header1">{{Text['PA_EDUCATION_MANAGEMENT'].TITLE_EDUCATION}}</h5>
                        <br>
                    </div>

                    <!--<div class="col-12 ess-inner-wrapper ">-->
                    <!--All Tab Content-->

                    <div class="row col-12 ess-inner-tab-personal">
                        <div class="col-11 ">
                            <div class="row">
                                <div class=" col border-right">
                                    <div>
                                        <i class="fa fa-user-circle"> </i><span> {{Text['APPGROUP'].PaDestblSeEmployeeID}}</span><br />
                                        <span ng-show="EmpNameTH||EmpNameTH!='NULL'" class="spanSize2">{{EmpNameTH}}</span> <span ng-show="EmpNameTH||EmpNameTH!='NULL'" class="spanSize2">{{EmpCodeText}}</span>
                                    </div>
                                </div>
                                <div class=" col border-right">
                                    <div>
                                        <i class="fa fa-address-card-o"> </i><span> {{Text['APPGROUP'].PaDestblSePosition}} </span><br />
                                        <span ng-show="EmpNameTH||EmpNameTH!='NULL'" class="spanSize2">{{PositionTextTH}}</span> <span ng-show="EmpNameTH||EmpNameTH!='NULL'" class="spanSize2">{{PosCodeText}}</span>
                                    </div>
                                </div>
                                <div class=" col border-right">
                                    <div>
                                        <i class="fa fa-dot-circle-o">    </i><span> {{Text['PA_EDUCATION_MANAGEMENT'].BAND}}  </span><br />
                                        <span ng-show="EmpNameTH||EmpNameTH!='NULL'" class="spanSize2">{{BandTextTH}}</span> <span ng-show="EmpNameTH||EmpNameTH!='NULL'" class="spanSize2">{{BandValueText}}</span>
                                    </div>
                                </div>
                                <div class=" col border-right">
                                    <div>
                                        <i class="fa fa-users"> </i><span> {{Text['APPGROUP'].PaDestblSeUnit}} </span><br />
                                        <span ng-show="EmpNameTH||EmpNameTH!='NULL'" class="spanSize2">{{UnitTextTh}}</span> <span ng-show="EmpNameTH||EmpNameTH!='NULL'" class="spanSize2">{{UnitCodeText}}</span>
                                    </div>
                                </div>
                                <div class="col border-right">
                                    <div>
                                        <i class="fa fa-sitemap "> </i><span> {{Text['PA_EDUCATION_MANAGEMENT'].UNITLEVEL}} </span><br />
                                        <span ng-show="EmpNameTH||EmpNameTH!='NULL'" class="spanSize2">{{UnitLevelTextTH}}</span> <span ng-show="EmpNameTH||EmpNameTH!='NULL'" class="spanSize2">{{UnitLevelValueText}}</span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div style="background-color:#F8C471" ng-show="!EmpNameTH||EmpNameTH=='NULL'" align="center" class="row col-12 d-flex justify-content-center">
                                {{Text['SYSTEM'].NO_DATA}}
                            </div>


                        </div>

                        <div class="col-1 ess-nav-item-user">
                            <div class="ess-nav-item-user-content d-flex justify-content-center">
                                <span class="ess-userimg-content" style="background-image: url('./images/Photo/{{CompanyCode}}/{{EmpCode}}.jpg'),url('./images/unknown.png');background-size:cover;"></span>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <div class="ess-wrapper">
                <div class="ess-inner-wrapper">
                    <div class="row">
                        <ul class="nav nav-tabs ess-tab-document-wrap" id="essDocument" role="tablist">
                            <li class="nav-item ess-tab-panel" ng-repeat="item in TabDataConfig">
                                <a ng-show="item.IsVisible" class="nav-link ess-nav-link-pa {{$index==0 ? 'active' : ''}}" id="{{item.FieldName}}-tab" data-toggle="tab" data-target="#{{item.FieldName}}" href="" role="tab" aria-controls="{{item.FieldName}}" aria-selected="true" ng-click="getDataByTab(item.FieldName)">
                                    <span class="ess-tab-link-label">{{Text['APPGROUP'][item.FieldName]}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content ess-tab-content-pa ess-report-pa-quali">
                        <div class="tab-pane  fade show {{FirstTabIndex=='TabConfidentialInfo' ? 'active' : ''}} ess-tab-pane" id="TabConfidentialInfo" role="tabpanel" aria-labelledby="TAB_TabConfidentialInfo-tab">
                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end" style="margin:10px">
                                <a href="" ng-show="EmpCode" ng-click="CreateNew('2301', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-' + '|' + changeCharector(PositionTextTH))" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>
                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('UniCode')">
                                                    {{Text['PA_PERSONAL'].StartDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('StartDate')">
                                                    {{Text['PA_PERSONAL'].EndDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('EndDate')">
                                                    {{Text['PA_PERSONAL'].DateOfBirth}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('DateOfBirth')">
                                                    {{Text['PA_PERSONAL'].IDCard}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('IDCard')">
                                                    {{Text['PA_PERSONAL'].BloodType}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>

                                                <th ng-click="changeSorting('BloodType')">
                                                    {{Text['PA_PERSONAL'].EditAndDelete}}
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatasInfo(DataList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewDetail(data)">
                                                <td>{{getDateFormat(data.BeginDate)}}</td>
                                                <td>{{getDateFormat(data.EndDate)}}</td>
                                                <td>{{getDateFormat(data.BirthDate)}}</td>
                                                <td>{{data.IDCard}}</td>
                                                <td>{{profile.Language == 'EN' ? data.BloodType : data.BloodType}}</td>
                                                <td><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="directToRequest('2301','EDIT',data.EmployeeID,data.PAEduID,data)"></i> / <i class="fa fa-trash" aria-hidden="true" ng-click="directToRequest('2202','CANCEL',data.EmployeeID,data.PAEduID,data)"></i></td>
                                            </tr>
                                            <tr ng-show="!DataList||DataList.length==0">
                                                <td align="center" colspan="6"> {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                            <tr>
                                                <td align="right" colspan="6"> จำนวนข้อมูล : {{ !DataList?'0':DataList.length}} รายการ</td>
                                            </tr>
                                        </table>

                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="DataList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="paginEducation.currentPage <= 1" ng-click="changePageEducation(paginEducation.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                    <li class="page-item {{paginEducation.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPagesEducation(DataList)"><a class="page-link" ng-click="changePageEducation(page)" href="">{{page}}</a></li>
                                                    <li class="page-item " ng-hide="paginEducation.currentPage  >= paginEducation.numPage" ng-click="changePageEducation(paginEducation.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>


                                    </div>
                                    <br />

                                    <div class="">
                                        <div class="ess-personal-info-data">

                                            <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                                <div class="col-12 ess-tab-section-bar1">
                                                    <!--<i class="icon icon_type_blue"></i>-->
                                                    <div align="left" class="ess-tab-section-bar-hdr">{{Text['APPGROUP'].TabConfidentialInfo}}</div>

                                                </div>
                                            </a>
                                            <div ng-show="DataList.length > 0" align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                                <div class="row mx-0 ess-personal-info-general" align="center"
                                                     style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s"
                                                         align="left" style="margin-bottom:10px;"
                                                         ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                         ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class="">
                                                            <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].StartDate}}</span>
                                                        </div>

                                                        <div ng-show="true">{{getDateFormate(StartDateText)}}</div>
                                                    </div>


                                                    <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s"
                                                         align="left" style="margin-bottom:10px;"
                                                         ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                         ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class="">
                                                            <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].EndDate}}</span>
                                                        </div>

                                                        <div ng-show="true">{{getDateFormate(EndDateText)}}</div>
                                                    </div>

                                                </div>

                                                <div class="row mx-0 ess-personal-info-general" align="center"
                                                     style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s"
                                                         align="left" style="margin-bottom:10px;"
                                                         ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                         ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class="">
                                                            <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].DateOfBirth}}</span>
                                                        </div>
                                                        <div ng-show="true">{{getDateFormate(BirthDateText)}} <span class="text-black-50">{{Age}}</span></div>
                                                    </div>

                                                    <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s"
                                                         align="left" style="margin-bottom:10px;"
                                                         ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                         ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class="">
                                                            <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].BloodType}}</span>
                                                        </div>


                                                        <div ng-show="true">{{profile.Language == 'EN' ? BloodTypeText : BloodTypeText}}</div>
                                                    </div>

                                                </div>

                                                <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                                    <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                         ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class="">
                                                            <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].IDCard}}</span>
                                                        </div>


                                                        <div ng-show="true">{{IDCardText}}</div>
                                                    </div>

                                                    <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s"
                                                         align="left" style="margin-bottom:10px;"
                                                         ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                         ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                        <div class="">
                                                            <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].TaxIdentificationNumber}}</span>
                                                        </div>


                                                        <div ng-show="true">{{IDCardText}}</div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div ng-show="!DataList||DataList.length==0" align="center" class="row col-12 d-flex justify-content-center collapse show w-100 ess-document-showattachment-edit-panel">
                                                {{Text['SYSTEM'].NO_DATA}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade show {{FirstTabIndex=='TabConfidentialAssessment' ? 'active' : ''}} ess-tab-pane" id="TabConfidentialAssessment" role="tabpanel" aria-labelledby="TAB_TabConfidentialAssessment-tab">

                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end" style="margin:10px">
                                <a href="" ng-click="CreateNew('2302', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-' + '|' + changeCharector(PositionTextTH))" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>
                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('UniCode')">
                                                    {{Text['PA_PERSONAL'].Number}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('StartDate')">
                                                    {{Text['PA_PERSONAL'].AssessmentYear}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('EndDate')">
                                                    {{Text['PA_PERSONAL'].StartDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('Abbr')">
                                                    {{Text['PA_PERSONAL'].EndDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('EndDate')">
                                                    {{Text['PA_PERSONAL'].AssessmentScore}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('AssessmentScore')">
                                                    {{Text['PA_PERSONAL'].GroupAverage}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('GroupAverage')">
                                                    {{Text['PA_PERSONAL'].EditAndDelete}}
                                                </th>
                                            </tr>

                                            <tr ng-repeat="data in genDatasWorkHist(EvaluationInfList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewEvaluationInfDetail(data)">
                                                <td>{{data.evaluationTime}}</td>
                                                <td>{{data.period}}</td>
                                                <td>{{ConvertDate(data.startDate)}}</td>
                                                <td>{{ConvertDate(data.endDate)}}</td>
                                                <td>{{data.score}}</td>
                                                <td>{{data.average}}</td>
                                                <td><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="directToRequest('2302','EDIT',data.EmpCode,data.PaWoId,data)"></i> / <i class="fa fa-trash" aria-hidden="true" ng-click="directToRequest('2302','CANCEL',data.EmpCode,data.PaWoId,data)"></i></td>
                                            </tr>

                                            <tr ng-show="!EvaluationInfList||EvaluationInfList.length==0">
                                                <td align="center" colspan="7"> {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                            <tr>
                                                <td align="right" colspan="7"> จำนวนข้อมูล : {{ !EvaluationInfList?'0':EvaluationInfList.length}} รายการ</td>
                                            </tr>
                                        </table>

                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="EvaluationInfList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="paginWorkHist.currentPage <= 1" ng-click="changePageWorkHist(paginWorkHist.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                    <li class="page-item {{paginWorkHist.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPagesWorkHist(EvaluationInfList)"><a class="page-link" ng-click="changePageWorkHist(page)" href="">{{page}}</a></li>
                                                    <li class="page-item " ng-hide="paginWorkHist.currentPage  >= paginWorkHist.numPage" ng-click="changePageWorkHist(paginWorkHist.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>


                                    </div>
                                    <br />
                                    <div class="col-12">
                                        <div class="row mx-0 ess-personal-info-general" align="center" style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                 ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Number}}</span>
                                                </div>
                                                <div ng-show="true">{{evaluationTime}}</div>
                                            </div>


                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s"
                                                 align="left" style="margin-bottom:10px;"
                                                 ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                 ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].AssessmentYear}}</span>
                                                </div>

                                                <div ng-show="true">{{period}}</div>
                                            </div>

                                        </div>
                                        <div class="row mx-0 ess-personal-info-general" align="center"
                                             style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s"
                                                 align="left" style="margin-bottom:10px;"
                                                 ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                 ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].StartDate}}</span>
                                                </div>

                                                <div ng-show="true">{{StartDateText}}</div>
                                            </div>


                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s"
                                                 align="left" style="margin-bottom:10px;"
                                                 ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                 ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].EndDate}}</span>
                                                </div>

                                                <div ng-show="true">{{EndDateText}}</div>
                                            </div>

                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center"
                                             style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s"
                                                 align="left" style="margin-bottom:10px;"
                                                 ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }"
                                                 ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].AssessmentScore}}</span>
                                                </div>
                                                <div ng-show="true">{{score}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">
                                                        {{Text['PA_PERSONAL'].GroupAverage}}
                                                    </span>
                                                </div>
                                                <div ng-show="true">{{average}}</div>
                                            </div>

                                        </div>

                                        <div class="row mx-0 ess-personal-info-general" align="center"
                                             style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">
                                                        {{Text['PA_PERSONAL'].SalaryIncreasePercentage}}
                                                    </span>
                                                </div>
                                                <div ng-show="true">{{upSalaryPercentage}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">
                                                        {{Text['PA_PERSONAL'].Total}}
                                                    </span>
                                                </div>
                                                <div ng-show="true">{{variableBonus}}</div>
                                            </div>

                                        </div>
                                        <div class="row mx-0 ess-personal-info-general" align="center"
                                             style="padding-top:20px; padding-left:60px;">
                                            <div class="col-lg-4 col-md-6 col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">
                                                        {{Text['PA_PERSONAL'].SalaryIncrease}}
                                                    </span>
                                                </div>
                                                <div ng-show="true">{{increaseSalary}}</div>
                                            </div>

                                            <div class="col-lg-4 col-md- col-sm-12 ess-personal-info-panel-s" align="left" style="margin-bottom:10px;" ng-repeat="item in PersonalConfig|filter: { FieldName: 'TitleID' }" ng-if="item.FieldName=='TitleID' && item.IsVisible">
                                                <div class="">
                                                    <span class="ess-personal-info-label">
                                                        {{Text['PA_PERSONAL'].PrizeMoney}}
                                                    </span>
                                                </div>
                                                <div ng-show="true">{{compenAmount}}</div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade show {{FirstTabIndex=='TabConfidentialHCI' ? 'active' : ''}} ess-tab-pane" id="TabConfidentialHCI" role="tabpanel" aria-labelledby="TAB_TabConfidentialHCI-tab">
                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end" style="margin:10px">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <div class="form-inline col-sm-2">
                                            <span class="font-weight-bold">{{Text['PA_PERSONAL'].Period}}</span>
                                        </div>
                                        <div class="col-sm-10">
                                            <select class="form-control ess-form-control">
                                                <option value="">-</option>
                                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in PeriodList">{{item.DLL_DATA}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row float-sm-right">
                                        <a href="" ng-click="CreateNew('2403', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-' + '|' + changeCharector(PositionTextTH))" class="ess-button editbtn ">
                                            <i class="fa fa-plus-circle"></i>
                                            {{Text['BUTTON'].UPDATE_PA_INFO}}
                                        </a>
                                        <a href="" ng-click="CreateNew('2403','NEWID')" class="ess-button addbtn ml-sm-1">
                                            <i class="fa fa-plus-circle"></i>
                                            {{Text['BUTTON'].CREATE_PA_INFO}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('UniCode')">
                                                    {{Text['PA_PERSONAL'].No}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('No')">
                                                    {{Text['PA_PERSONAL'].Checklist}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('Checklist')">
                                                    {{Text['PA_PERSONAL'].NormalExResults}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('NormalExResults')">
                                                    {{Text['PA_PERSONAL'].AbnormalExaminationResults}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('AbnormalExaminationResults')">
                                                    {{Text['PA_PERSONAL'].DrOpinion}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('DrOpinion')">
                                                    {{Text['PA_PERSONAL'].EditAndDelete}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatasItem(MedicalCheckupList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                <td>{{data.sequence}}</td>
                                                <td class="text-left">
                                                    {{ profile.Language == 'EN' ? data.checkupTextEN : data.checkupTextTH}}
                                                </td>
                                                <td>{{data.normCheckResult}}</td>
                                                <td>{{data.abnormCheckResult}}</td>
                                                <td>{{data.doctorComment}}</td>
                                                <td><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="directToRequest('2403','EDIT',data.EmployeeID,data.PaTrId,changeCharector(PositionTextTH))"></i> / <i class="fa fa-trash" aria-hidden="true" ng-click="directToRequest('2403','CANCEL',data.EmployeeID,data.PaTrId,changeCharector(PositionTextTH))"></i></td>
                                            </tr>

                                            <tr ng-show="!MedicalCheckupList||MedicalCheckupList.length==0">
                                                <td align="center" colspan="9"> {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                            <tr>
                                                <td align="right" colspan="9"> จำนวนข้อมูล : {{ !MedicalCheckupList?'0':MedicalCheckupList.length}} รายการ</td>
                                            </tr>
                                        </table>
                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="MedicalCheckupList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="paginMedicalCheckup.currentPage <= 1" ng-click="changePageMedicalCheckup(paginItem.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                    <li class="page-item {{paginMedicalCheckup.currentPage == page ? 'active' : ''}}" ng-repeat="page in genDatasMedicalCheckup(MedicalCheckupList)"><a class="page-link" ng-click="changePageMedicalCheckup(page)" href="">{{page}}</a></li>
                                                    <li class="page-item " ng-hide="paginMedicalCheckup.currentPage  >= paginMedicalCheckup.numPage" ng-click="changePageMedicalCheckup(paginTrainning.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <br />

                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade show {{FirstTabIndex=='TabConfidentialPenalty' ? 'active' : ''}} ess-tab-pane" id="TabConfidentialPenalty" role="tabpanel" aria-labelledby="TAB_TabConfidentialPenalty-tab">
                            <div class="row ess-wrapper-pa ess-personal-info-general justify-content-end" style="margin:10px">
                                <a href="" ng-click="CreateNew('2404', 'NEWID' + '|' + EmpCode + '|' + PosCode + '|' + '-' + '|' + changeCharector(PositionTextTH))" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].Create_PaQuali}}</a>
                            </div>

                            <div class="ess-wrapper-pa tab-content ess-tab-content-pa">
                                <div class="ess-personal-info-data">
                                    <div class="">
                                        <table class="ess-table-default-pa">
                                            <tr>
                                                <th ng-click="changeSorting('UniCode')">
                                                    {{Text['PA_PERSONAL'].StartDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('StartDate')">
                                                    {{Text['PA_PERSONAL'].EndDate}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('EndDate')">
                                                    {{Text['PA_PERSONAL'].DisciplineJobStatus}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th ng-click="changeSorting('DisciplineJobStatus')">
                                                    {{Text['PA_PERSONAL'].DisciplinaryOffense}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                </th>
                                                <th>
                                                    {{Text['PA_PERSONAL'].EditAndDelete}}
                                                </th>
                                            </tr>
                                            <tr ng-repeat="data in genDatas(PunishmentList) | orderBy:sort.column:sort.descending" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                <td>{{data.evaluationTime}}</td>
                                                <td>{{data.period}}</td>
                                                <td>{{getDateFormat(data.startDate)}}</td>
                                                <td>{{getDateFormat(data.endDate)}}</td>
                                                <td><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="directToRequest('2407','EDIT',data.EmpCode,data.PAReMemID,changeCharector(PositionTextTH))"></i> / <i class="fa fa-trash" aria-hidden="true" ng-click="directToRequest('2408','CANCEL',data.EmpCode,data.PAReMemID,changeCharector(PositionTextTH))"></i></td>
                                            </tr>

                                            <tr ng-show="!PunishmentList||PunishmentList.length==0">
                                                <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                            </tr>
                                        </table>
                                        <div class="ess-pagination-wrap" id="paggingWidth" ng-show="PunishmentList.length > 0">
                                            <nav class="ess-navbar">
                                                <ul class="pagination">
                                                    <li class="page-item " ng-hide="paginPunishment.currentPage <= 1" ng-click="changePagePunishment(paginmember.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                    <li class="page-item {{paginPunishment.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPagesPunishment(PunishmentList)"><a class="page-link" ng-click="changePagePunishment(page)" href="">{{page}}</a></li>
                                                    <li class="page-item " ng-hide="paginPunishment.currentPage  >= paginPunishment.numPage" ng-click="changePagePunishment(paginmember.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <br />

                                </div>
                            </div>

                        </div>



                        <div class="tab-pane fade show {{FirstTabIndex=='TabConfidentialAttachment' ? 'active' : ''}} ess-tab-pane" id="TabConfidentialAttachment" role="tabpanel" aria-labelledby="TAB_TabConfidentialAttachment-tab">
                            <div class="col-12">
                                <div class="ess-personal-info-data">

                                    <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#attachemnt" role="button" aria-expanded="true" aria-controls="attachemnt">
                                        <div class="col-12 ess-tab-section-bar1">
                                            <!--<i class="icon icon_type_blue"></i>-->
                                            <div align="left" class="ess-tab-section-bar-hdr">{{Text['PA_EDUCATION_MANAGEMENT'].ATTACHMENT}}</div>

                                        </div>
                                    </a>
                                    <div ng-show="FileAttachment2201List.length > 0" align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span align="right" class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].EDUCATION}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">

                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2201List) | orderBy:'-RequestNo'" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o" style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2201List||FileAttachment2201List.length==0">
                                                        <td colspan="9" align="center">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="FileAttachment2203List.length > 0" align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span align="right" class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].WORKHISTORY}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">

                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2203List) | orderBy:'-RequestNo'" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o " style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2203List||FileAttachment2203List.length==0">
                                                        <td colspan="9" align="center">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="FileAttachment2205List.length > 0" align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].TRAINNING}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">

                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2205List) | orderBy:'-RequestNo'" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o" style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2205List||FileAttachment2205List.length==0">
                                                        <td colspan="9" align="center">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="FileAttachment2207List.length > 0" align="left" class="collapse show w-100 ess-document-showattachment-edit-panel">
                                        <div class="row">
                                            <div class="col-3" align="right">
                                                <br />
                                                <span align="right" class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].ACADEMICWORKMEMBER}}</span>
                                            </div>
                                            <div class="col-8 ess-div-default-attachmen">

                                                <table class="ess-table-default-pa">
                                                    <tr>
                                                        <th style="text-align:left;width:260px;">
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOCUMENT_NO}}
                                                        </th>
                                                        <th>
                                                            {{Text['PA_EDUCATION_MANAGEMENT'].DOWNLOADDOCUMENT}}
                                                        </th>

                                                    </tr>
                                                    <tr ng-repeat="data in genDatas(FileAttachment2207List) | orderBy:'-RequestNo'" data-target="#A" data-toggle="modal" href="" style="cursor: pointer;">
                                                        <td>{{data.RequestNo}}</td>
                                                        <td>
                                                            <a href="" class="" ng-click="getFileFromPath(data)" ng-if="!data.IsDelete && data.FileID > -1">
                                                                <!--<i class="icon icon_airrow_down_blue"></i>-->
                                                                <i class="fa fa-file-text-o" style="cursor:pointer;" title="Download File"></i> {{data.FileName}}
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <tr ng-show="!FileAttachment2207List||FileAttachment2207List.length==0">
                                                        <td colspan="9" align="center">  {{Text['SYSTEM'].NO_DATA}}</td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="IsAttachFile == false" align="center" class="row col-12 d-flex justify-content-center collapse show w-100 ess-document-showattachment-edit-panel">
                                        {{Text['SYSTEM'].NO_DATA}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="detailDataModal" role="dialog">
                <div class="modal-dialog modal-xl">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header ess-tab-personal-modal">
                            <h3>ค้นหาพนักงาน</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">



                                <div align="left" class="form-group col-md-2" style="margin-left: 5px;">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeUnitLevel}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important" ng-model="LevelSelected" placeholder="-" object-property="DLL_DATA" suggestions-arr="LevelList" ng-click="GetOrgUnit()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeUnit}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important" ng-model="UnitSelected" placeholder="-" object-property="DLL_DATA" suggestions-arr="UnitList" ng-click="GetPosition()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSePosition}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                                           ng-model="PositionSelected"
                                                           placeholder="-"
                                                           object-property="DLL_DATA"
                                                           suggestions-arr="PositionList"
                                                           ng-click="GetEmployee()">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="form-group col-md-3">
                                    <span class="font-weight-bold">{{Text['APPGROUP'].PaDestblSeEmployee}}</span>
                                    <multiple-autocomplete style="box-shadow:none !important; border:0px !important"
                                                           ng-model="EmployeeSelected"
                                                           placeholder="-"
                                                           object-property="DLL_DATA"
                                                           suggestions-arr="EmployeeList">
                                    </multiple-autocomplete>
                                </div>
                                <div align="left" class="col-md-3 d-flex align-items-center">
                                    <a id="TM_1102_btnGetMonthlyTimesheet" href="" class="ess-button searchbtn" ng-click="SearchEmployeeData()"><i class="fa fa-search"></i>&nbsp;{{Text['BUTTON'].SEARCH}}</a>&nbsp;
                                    <a id="TM_1100_btnClear" href="" class="ess-button editbtn" ng-click="ResetDataContent()"><i class="fa fa-refresh"></i>&nbsp;{{Text['BUTTON'].RESET}}</a>
                                </div>


                            </div>


                            <div class="">
                                <div class="tab-content ess-tab-content-pa">
                                    <div class="ess-personal-info-data" style="margin-left: -8px;">
                                        <div class="">
                                            <table class="ess-table-default">
                                                <tr>

                                                    <th ng-click="changeSorting('EndDate')">
                                                        {{Text['APPGROUP'].PaDestblSeEmployeeID}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('Abbr')">
                                                        {{Text['APPGROUP'].PaDestblSeName}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('OrganizationUnit')">
                                                        {{Text['APPGROUP'].PaDestblSePosition}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>
                                                    <th ng-click="changeSorting('CostCenter')">
                                                        {{Text['APPGROUP'].PaDestblSeUnit}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                                    </th>


                                                </tr>
                                                <tr ng-repeat="data in genDatasEmployee(EmployeeDataList) | orderBy:sort.column:sort.descending" data-target="#detailDataModal" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewDetailData(data)">
                                                    <td>{{data.EmpCode}}</td>
                                                    <td>{{data.EmpNameTH}}</td>
                                                    <td>{{data.PositionTextTH}}</td>
                                                    <td>{{data.UnitTextTh}}</td>

                                                </tr>
                                                <tr align="center" ng-show="!EmployeeDataList||EmployeeDataList.length==0">
                                                    <td colspan="9">{{Text['SYSTEM'].NO_DATA}}</td>
                                                </tr>
                                            </table>

                                            <div class="ess-pagination-wrap" id="paggingWidth" ng-show="EmployeeDataList.length > 0">
                                                <nav class="ess-navbar">
                                                    <ul class="pagination">
                                                        <li class="page-item " ng-hide="paginEmployee.currentPage <= 1" ng-click="changePageEmployee(paginEmployee.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                        <li class="page-item {{paginEmployee.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPagesEmployee(EmployeeDataList)"><a class="page-link" ng-click="changePageEmployee(page)" href="">{{page}}</a></li>
                                                        <li class="page-item " ng-hide="paginEmployee.currentPage  >= paginEmployee.numPage" ng-click="changePageEmployee(paginEmployee.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
