﻿

<div class="ess-wrapper" ng-controller="ActionInsteadOfController">
    <div class="ess-inner-wrapper">
        <div style="text-align:right; margin-bottom:5px;">
            <a id="CORE_btnTakeActionInsteadOf" ng-click="takeActionInsteadOf(contentId)" href="" class="ess-button viewbtn">
                <i class="fa fa-users"></i> {{Text['SYSTEM']['ACTION_INSTEAD_OF_MYSELF']}}
            </a>
        </div>
        <div class="ess-showhide-detail-button">
            <div class="col-12 ess-tab-section-bar1">
                <div class="ess-tab-section-bar-hdr">{{Text['SYSTEM']['ACTION_INSTEAD_OF']}}</div>
            </div>
        </div>
        <div class="collapse show">
            <div class="ess-collapse-data-panel">
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                </div>
                <div class="row" style="margin-top:10px;align-items:center;">
                    <div class="col-lg-2">
                        <div class="ess-search-box text-right">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div style="position:relative;">
                            <input class="form-control" id="findinstandofemployee" ng-model="personDetail" type="text" placeholder="{{Text['SYSTEM']['SEARCH_WORDING']}}" />
                        </div>
                    </div>
                    <div class="col-lg-4 text-left">
                        <a href="" id="CORE_btnSubmitButton" class="ess-button submitbtn" ng-click="searchEmployee()"><i class="fa fa-search"></i>&nbsp;{{Text['SYSTEM']['SEARCH']}}</a>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-12">
                        <div class="ess-table-container">
                            <div class="ess-report-table-border">
                                <div class="freeze scrollbar-default">
                                    <div ng-show="actionInsteadOfList.length>0">
                                        <table id ="CORE_tblActionInsteadList"class="ess-table-default">
                                            <thead>
                                                <tr>
                                                    <th><div class="th-text">{{Text['HRPAPERSONALDATA']['EMPLOYEEID']}}</div></th>
                                                    <th><div class="th-text">{{Text['HRPAPERSONALDATA']['NAME']}}</div></th>
                                                    <th><div class="th-text">{{Text['SYSTEM']['POSITION']}}</div></th>
                                                    <th><div class="th-text">{{Text['SYSTEM']['ORGANIZATION']}}</div></th>
                                                    <th><div class="th-text">{{Text['SYSTEM']['SELECT']}}</div></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="actionInsteadOf in actionInsteadOfList">
                                                    <td style="text-align:center">{{actionInsteadOf.EmployeeID}}</td>
                                                    <td>{{actionInsteadOf.EmployeeName}}</td>
                                                    <td>{{actionInsteadOf.PositionName}}</td>
                                                    <td>{{actionInsteadOf.OrgName}}</td>
                                                    <td style="text-align:center">
                                                        <a href="" ng-click="takeActionInsteadOfForWorkAcrossCompany(contentId, actionInsteadOf.EmployeeID, actionInsteadOf.PositionID, actionInsteadOf.PositionName, actionInsteadOf.EmployeeName,actionInsteadOf.CompanyCode)">
                                                            <i class="fa fa-user-circle-o"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-show="actionInsteadOfList.length == 0">
                                        <div style="text-align: center;">{{Text['SYSTEM']['NO_DATA']}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>