﻿<div ng-controller="RequestEditorController" class="padding-breadcrumb request-background">

    <div>
        <div>
            <div ng-include="'views/common/partials/document_action.html?t='+runtime"></div>
        </div>
    </div>

    <div ng-if="document" ng-include="getRequestEditorTemplate(runtime)"></div>
    <!--<div class="row">-->
    <div ng-if="templateControl.isNotSubEditor && document" ng-include="'views/common/partials/document_attachment_manager.html?t='+runtime"></div>
    <!--</div>
    <div class="row">-->
    <div ng-if="templateControl.isNotSubEditor && document && !templateControl.isDeleteRequest" ng-include="'views/common/partials/document_comment.html?t='+runtime"></div>
    <!--</div>
    <div class="row">-->

    <!--หน้า editor ไม่จำเป็นต้องแสดงรายละเอียดลำดับการอนุมัติเอกสาร ตามแนวคิดความของ BA comment by: Nattawat 2020-09-30-->
    <!--<div ng-include="'views/common/partials/document_flow.html?t='+runtime"></div>-->

    <!--</div>-->
</div>
