﻿<div ng-controller="FormViewContentController" class="request-background">

    <div class="ghost-menu-space-reserving"></div>

    <!--<div ng-if="contentInfo && contentInfo.HaveActionInsteadOf" class="row justify-content-end clickable" ng-click="showListActionInsteadOf()" style="width:fit-content;cursor:pointer">
        <div style="padding:8px 15px 2px 15px;background-color: #0fcaa4;color:#fff;font-size:20px;">
            <div class="pull-left" style="padding-top:2px;"><span class="glyphicon glyphicon-eye-open">&nbsp;</span></div>
            <div class="pull-left"><i class="icon icon-eye"></i>{{Text['SYSTEM']['ACTION_INSTEAD_OF']}}</div>
            <div class="clearfix"></div>
        </div>
    </div>-->
    <div class="row col-12 justify-content-end">
        <div ng-if="contentInfo && contentInfo.HaveActionInsteadOf" class="row col-12" style="display:contents">
            <div align="center" style="position: relative; text-align:center">
                <a ng-click="showListActionInsteadOf()" role="button" nohref>
                    <div class="ess-button insteadofbtn ng-binding" style="display:inline-block">
                            <i class="fa fa-users"></i> {{Text['SYSTEM']['ACTION_INSTEAD_OF']}}<span ng-if="contentInfo && contentInfo.HaveActionInsteadOf && employeeData.EmployeeID != employeeData.RequesterEmployeeID"><b> : {{createHtml(requesterName)}} ({{requesterEmployeeID}})</b></span>
                      
                        
                    </div>
                </a>
            </div>
        </div>

        <!--<div style="background-color:floralwhite;align-items:center;margin:4px;" ng-if="contentInfo && contentInfo.HaveActionInsteadOf && employeeData.EmployeeID != employeeData.RequesterEmployeeID" class="row profile_position">
            <div class="profile_position-detail">
                <span><b>{{requesterName}}</b></span>
            </div>
        </div>-->
    </div>



    <!-- Body -->

    <div ng-if="contentInfo" ng-include="getTemplate()" ng-class="{'padding-breadcrumb': contentInfo.HaveActionInsteadOf, 'padding-breadcrumb2': contentInfo.HaveActionInsteadOf && employeeData.EmployeeID != employeeData.RequesterEmployeeID}"></div>

    <!--<div ng-if="contentInfo" ng-include="getTemplate()"></div>-->

</div>