﻿<div id="main-content">
    <div class="page-body">
        <!-- Start breadcrumb -->
        <div class="breadcrumb-container ess-breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST'].HOME}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION'].OM_POSITION}}</li>
                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
        <!-- Start Header -->
        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].OM_POSITION}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>
        <!-- End Header -->

        <div class="ess-wrapper" ng-controller="PositionContent" ng-init="init();">

            <div class="ess-inner-wrapper">
                <div class="row">
                    <ul class="nav nav-tabs ess-tab-document-wrap" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link ess-nav-link-pa active" id="pills-solid-tab" data-toggle="pill" data-target="#pills-home" href="" role="tab" aria-controls="pills-home" aria-selected="true" ng-click="SetCurrentTab('Solid')"> {{Text['OM_POSITION'].SOLID_TAB}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ess-nav-link-pa" id="pills-dotted-tab" data-toggle="pill" data-target="#pills-profile" href="" role="tab" aria-controls="pills-profile" aria-selected="false" ng-click="SetCurrentTab('Doted')"> {{Text['OM_POSITION'].DOTED_TAB}}</a>
                        </li>
                    </ul>
                </div>

                <!--Search Content-->
                <div class="row ess-report-summary ess-document-tab-content-search justify-content-center">
                    <div class="row mx-0">
                        <div class="col-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="form-inline">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].ASOF}} :&nbsp;</span>
                                <input ng-disabled="AllPeriod" type="text" class="form-control" id="txtAsOfDate" ng-model="CurrentAsOfDate" value="{{getDateFormat(CurrentAsOfDate)}}" maxlength="10" autocomplete="off" my-date-picker> &nbsp;&nbsp;
                                <input class="form-check-input" type="checkbox" id="chkAllPeriod" ng-model="AllPeriod" ng-change="SetIsAllPeriod()">
                                <span class="font-weight-bold" for="chkAllPeriod">
                                    {{Text['OM_POSITION'].ALLPERIOD}}
                                </span>
                            </div>
                        </div>

                        <div class="col-4 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].LEVEL_OF_ORG}}</span>
                            <multiple-autocomplete style="box-shadow:none !important; border:0px !important" ng-model="LevelSelected" placeholder="-" object-property="DLL_DATA" suggestions-arr="LevelList" ng-click="GetOrgUnit()">
                            </multiple-autocomplete>
                        </div>
                        <div class="col-4" style="margin-bottom:20px;">
                            <div class="">
                                <span class="font-weight-bold">{{Text['OM_POSITION'].ORGANIZATIONUNIT}}</span>
                            </div>
                            <multiple-autocomplete style="box-shadow:none !important; border:0px !important" ng-model="UnitSelected" placeholder="-" object-property="DLL_DATA" suggestions-arr="UnitList" ng-click="GetPosition()">
                            </multiple-autocomplete>

                        </div>
                        <div class="col-4" style="margin-bottom:20px;">
                            <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION}}</span>
                            <multiple-autocomplete style="box-shadow:none !important; border:0px !important" 
                                                   ng-model="PositionSelected" 
                                                   placeholder="-" 
                                                   object-property="DLL_DATA" 
                                                   suggestions-arr="PositionList">
                            </multiple-autocomplete>

                        </div>
                        <div align="right" class="col-12" style="margin-bottom:20px;">
                            <a href="" class="ess-button searchbtn" ng-click="GetDataContent()"><i class="fa fa-search"></i>&nbsp;{{Text['BUTTON'].SEARCH}}</a>&nbsp;
                            <a id="TM_1202_btnClearInput" href="" class="ess-button editbtn" ng-click="ResetDataContent()"><i class="fa fa-refresh"></i>&nbsp;{{Text['BUTTON'].RESET}}</a>
                        </div>
                    </div>
                </div>
                <!--Data Content-->
                <div class="tab-content" id="pills-tabContent">
                    <!--Solid Data Content-->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-solid-tab">
                        <div class="row ess-personal-info-general justify-content-end" style="margin:10px">
                            <a href="" ng-click="CreateNew('1201','NEWID')" class="ess-button addbtn" style="margin:10px 0px"><i class="fa fa-plus-circle"></i> {{Text['BUTTON'].CREATE_SOLID}}</a>
                        </div>
                        <div class="tab-content ess-tab-content-pa">
                            <div class="">
                                <div class="freeze scrollbar-default">
                                    <table class="ess-table-default">
                                        <tr>
                                            <th ng-click="changeSorting('PosCode')">
                                                {{Text['OM_POSITION'].POSITION_CODE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="changeSorting('StartDate')">
                                                {{Text['OM_POSITION'].START_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="changeSorting('EndDate')">
                                                {{Text['OM_POSITION'].END_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="Language=='TH'? changeSorting('PosShortName'):changeSorting('PosShortNameEN')">
                                                {{Text['OM_POSITION'].ABBR}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="Language=='TH'? changeSorting('PosName'):changeSorting('PosNameEN')">
                                                {{Text['OM_POSITION'].FULL_POSITION}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="changeSorting('HeadOfUnitFlag')">
                                                {{Text['OM_POSITION'].HEAD_OF_ORGANIZATION}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="changeSorting('BandValue')">
                                                {{Text['OM_POSITION'].BAND_CODE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="Language=='TH'? changeSorting('BandValueTextTH'):changeSorting('BandValueTextEN')">
                                                {{Text['OM_POSITION'].BAND}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                        </tr>
                                        <tr ng-repeat="data in genDatas(SolidMasterDataList) | orderBy:sort.column:sort.descending" data-target="#detailDataModal" data-toggle="modal" href="" style="cursor: pointer;" ng-click="ViewDetailData(data)">
                                            <td width="10%" align="center">{{data.PosCode}}</td>
                                            <td width="10%" align="center">{{getDateFormat(data.StartDate)}}</td>
                                            <td width="10%" align="center">{{getDateFormat(data.EndDate)}}</td>
                                            <td width="10%">{{Language=='TH'? data.PosShortName:data.PosShortNameEN}}</td>
                                            <td>{{Language=='TH'? data.PosName:data.PosNameEN}}</td>
                                            <td width="5%" align="center">{{data.HeadOfUnitFlag}}</td>
                                            <td width="10%">{{data.BandValue}}</td>
                                            <td width="10%">{{Language=='TH'? data.BandValueTextTH:data.BandValueTextEN}}</td>
                                        </tr>

                                        <tr ng-show="!SolidMasterDataList||SolidMasterDataList.length==0">
                                            <td align="center" colspan="9"> {{Text['SYSTEM'].NO_DATA}}</td>
                                        </tr>
                                        <tr>
                                            <td align="right" colspan="9"> จำนวนข้อมูล : {{ !SolidMasterDataList?'0':SolidMasterDataList.length}} รายการ</td>
                                        </tr>
                                    </table>

                                    <div class="ess-pagination-wrap" id="paggingWidth" ng-show="SolidMasterDataList.length > 0">
                                        <nav class="ess-navbar">
                                            <ul class="pagination">
                                                <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(SolidMasterDataList)"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                                <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Dotted Data Content-->
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-dotted-tab">
                        <div class="tab-content ess-tab-content-pa">
                            <div class="">
                                <div class="freeze scrollbar-default">
                                    <table class="ess-table-default">
                                        <tr>
                                            <th ng-click="changeSorting('PosCode')">
                                                {{Text['OM_POSITION'].POSITION_CODE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="changeSorting('StartDate')">
                                                {{Text['OM_POSITION'].START_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="changeSorting('EndDate')">
                                                {{Text['OM_POSITION'].END_DATE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="Language=='TH'? changeSorting('PosShortName'):changeSorting('PosShortNameEN')">
                                                {{Text['OM_POSITION'].ABBR}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="Language=='TH'? changeSorting('PosName'):changeSorting('PosNameEN')">
                                                {{Text['OM_POSITION'].POSITION}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="changeSorting('HeadOfUnitFlag')">
                                                {{Text['OM_POSITION'].HEAD_OF_ORGANIZATION}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="changeSorting('BandValue')">
                                                {{Text['OM_POSITION'].BAND_CODE}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                            <th ng-click="Language=='TH'? changeSorting('BandTextTH'):changeSorting('BandTextEN')">
                                                {{Text['OM_POSITION'].BAND}}&nbsp;<i class="fa fa-sort" ng-show="sort.descending"></i><i class="fa fa-sort" ng-show="!sort.descending"></i>
                                            </th>
                                        </tr>
                                        <tr ng-repeat="data in genDatas(DotedMasterDataList) | orderBy:sort.column:sort.descending" data-target="#detailDataModal" data-toggle="modal" href="" style="cursor: pointer;" ng-click="CreateNew('1206',data.UnitCode+'|'+data.PosCode+'|'+getDateFormatURL(data.StartDate)+'|'+getDateFormatURL(data.EndDate))">
                                            <td width="10%" align="center">{{data.PosCode}}</td>
                                            <td width="10%" align="center">{{getDateFormat(data.StartDate)}}</td>
                                            <td width="10%" align="center">{{getDateFormat(data.EndDate)}}</td>
                                            <td width="10%">{{Language=='TH'? data.PosShortName:data.PosShortNameEN}}</td>
                                            <td>{{Language=='TH'? data.PosName:data.PosNameEN}}</td>
                                            <td width="5%" align="center">{{data.HeadOfUnitFlag}}</td>
                                            <td width="10%">{{data.BandValue}}</td>
                                            <td width="10%">{{Language=='TH'? data.BandTextTH:data.BandTextEN}}</td>
                                        </tr>
                                        <tr ng-show="!DotedMasterDataList||DotedMasterDataList.length==0">
                                            <td colspan="9">  {{Text['SYSTEM'].NO_DATA}}</td>
                                        </tr>
                                    </table>

                                    <div class="ess-pagination-wrap" id="paggingWidth" ng-show="DotedMasterDataList.length > 0">
                                        <nav class="ess-navbar">
                                            <ul class="pagination">
                                                <li class="page-item " ng-hide="pagin.currentPage <= 1" ng-click="changePage(pagin.currentPage-1)"><a class="page-link" href="">{{Text['SYSTEM'].PREVIOUS}}</a></li>
                                                <li class="page-item {{pagin.currentPage == page ? 'active' : ''}}" ng-repeat="page in getPages(DotedMasterDataList)"><a class="page-link" ng-click="changePage(page)" href="">{{page}}</a></li>
                                                <li class="page-item " ng-hide="pagin.currentPage  >= pagin.numPage" ng-click="changePage(pagin.currentPage+1)"><a class="page-link" href="">{{Text['SYSTEM'].NEXT}}</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Modal Content-->
                <div class="ess-personal-info-general">
                    <div class="ess-inner-wrapper">
                        <div class="modal fade" id="detailDataModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3>{{Text['OM_POSITION'].POSITION_DETAIL}}</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-md-6 ess-personal-info-general justify-content-start">
                                                <a href="" ng-click="CreateNew('1203',PositionData.PosCode)" class="ess-button cancelbtn" style="margin:10px 0px"><i class="fa fa-trash"></i> {{Text['OM_POSITION'].BUTTON_PERMANENT_DELETE}}</a>&nbsp;
                                                <a href="" ng-click="CreateNew('1204',PositionData.PosCode)" class="ess-button viewbtn" style="margin:10px 0px"><i class="fa fa-eye-slash"></i> {{Text['OM_POSITION'].BUTTON_INACTIVE}}</a>
                                            </div>
                                            <div class="form-group col-md-6 ess-personal-info-general justify-content-end">
                                                <a href="" ng-click="CreateNew('1205',PositionData.PosCode+'|'+getDateFormatURL(PositionData.StartDate)+'|'+getDateFormatURL(PositionData.EndDate))" class="ess-button addbtn" style="margin:10px 0px" dismiss="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{Text['OM_POSITION'].BUTTON_SPLIT}}</a>&nbsp;
                                                <div ng-if="PositionInfoEditRequest.length <= 0 || PositionInfoEditRequest == null|| PositionInfoEditRequest[0].FlowItemCode=='COMPLETED'">
                                                    <a href="" class="ess-button editbtn" style="margin:10px 0px" ng-click="CreateNew('1201','EDIT|'+PositionData.PosCode+'|'+getDateFormatURL(PositionData.StartDate)+'|'+getDateFormatURL(PositionData.EndDate))"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  {{Text['OM_POSITION'].BUTTON_EDIT}}</a>&nbsp;
                                                </div>
                                                <div ng-if="PositionInfoEditRequest[0].FlowItemCode == 'DRAFT' || PositionInfoEditRequest[0].FlowItemCode == 'WAITFOREDIT'">
                                                    <a class="ess-button editbtn" style="margin:10px 0px" ng-click="openRequest(PositionInfoEditRequest[0].RequestNo,requesterData.CompanyCode,PositionInfoEditRequest[0].KeyMaster, false, false, false, '')" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  {{Text['OM_POSITION'].BUTTON_EDIT}}:{{PositionInfoEditRequest[0].RequestNo}}</a>&nbsp;
                                                </div>
                                                <div ng-if="PositionInfoEditRequest[0].FlowItemCode == 'WAITFORVERIFY' ||PositionInfoEditRequest[0].FlowItemCode == 'WAITFORAPPROVE' || PositionInfoEditRequest[0].FlowItemCode == 'WAITFORPOSTDATA'">
                                                    <a class="ess-button viewbtn" style="margin:10px 0px" ng-click="ViewObj(PositionInfoEditRequest[0].RequestNo,requesterData.CompanyCode)" href=""><i class="icon icon_view_white"></i>{{Text['SYSTEM'].EDIT}}:{{PositionInfoEditRequest[0].RequestNo}}</a>&nbsp;
                                                </div>
                                                <a href="" ng-click="CreateNew('1202',PositionData.PosCode+'|'+getDateFormatURL(PositionData.StartDate)+'|'+getDateFormatURL(PositionData.EndDate))" class="ess-button cancelbtn" style="margin:10px 0px" dismiss="modal"><i class="fa fa-minus-circle" aria-hidden="true"></i> {{Text['OM_POSITION'].BUTTON_DELETE}}</a>
                                            </div>
                                        </div>
                                        <div class="ess-personal-info-general-frame">
                                            <div style="margin:15px">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_CODE}}</span>
                                                        <div class="">
                                                            {{PositionData.PosCode}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].START_DATE}}</span>
                                                        <div class="">
                                                            {{getDateFormat(PositionData.StartDate)}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].END_DATE}}</span>
                                                        <div class="">
                                                            {{getDateFormat(PositionData.EndDate)}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_SHORT_NAME}} (TH)</span>
                                                        <div class="">
                                                            {{PositionData.PosShortName}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_SHORT_NAME}} (EN)</span>
                                                        <div class="">
                                                            {{PositionData.PosShortNameEN}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_NAME}} (TH)</span>
                                                        <div class="">
                                                            {{PositionData.PosName}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].POSITION_NAME}} (EN)</span>
                                                        <div class="">
                                                            {{PositionData.PosNameEN}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].BAND}}</span>
                                                        <div class="">
                                                            {{Language=='TH'? PositionData.BandTextTH:PositionData.BandTextEN}}
                                                        </div>
                                                    </div>
                                                    <div class="form-check col-md-6">
                                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-checked="PositionData.HeadOfUnitFlag=='Y'" ng-disabled="true">
                                                        <label class="form-check-label" for="exampleCheck1">{{Text['OM_POSITION'].HEAD_OF_ORGANIZATION_NAME}}</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].EMP_OF_POSITION}}</span>
                                                        <div class="">
                                                            <span>{{Language=='TH'? PositionData.EmpOfPosTextTH : PositionData.EmpOfPosTextEN}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].UNIT}}</span>
                                                        <div class="">
                                                            <span>{{Language=='TH'? PositionData.UnitTextTH : PositionData.UnitTextEN}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].LEVEL_OF_ORG}}</span>
                                                        <div class="">
                                                            <span>{{PositionDataDetail.LevelText}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].COST_CENTER}}</span>
                                                        <div class="">
                                                            <span>{{PositionDataDetail.CostCenterText!=''?PositionDataDetail.CostCenterText:'-'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].SUPERVISOR_NAME}}</span>
                                                        <div class="">
                                                            <span>{{PositionDataDetail.SupervisorName!=''?PositionDataDetail.SupervisorName:'-'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].UPDATE_DATE}}</span>
                                                        <div class="">
                                                            <span>{{PositionData.UpdateDate==null?'-':getDateTimeFormat(PositionData.UpdateDate)}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <span class="font-weight-bold">{{Text['OM_POSITION'].UPDATE_BY}}</span>
                                                        <div class="">
                                                            <span>{{PositionData.UpdateBy}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

