﻿<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <title>DESS-KVIS</title>
    <meta charset="UTF-8" http-equiv="Expires" content="-1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="images/favicon/dess_icon_cycle_1.png">
    <link href="main-ui/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="css/ess.css" rel="stylesheet" />
    <link href="css/share.css" rel="stylesheet" />
    <link href="css/loader.css" rel="stylesheet" />
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/route.js"></script>
    <script src="app/authentication.js"></script>
    <style>

        .text-box {
            border-radius: 5px;
            width: 100%;
            font-size: 20px;
        }

        .jobui-wrapper {
            padding: 15px 15px 15px 15px;
            background-color: #e1e2e1;
        }

        .jobui-inner-wrapper {
            background-color: floralwhite;
            border-radius: 30px;
            margin: 25px;
            padding: 30px;
        }

        .text-result {
            overflow-y: scroll;
            background-color: aliceblue;
            color: black;
            width: 100%;
            height: 500px;
            padding: 15px;
            border-radius: 15px;
            font-weight: bold;
        }

        .label-jobui {
            color: #000;
            text-shadow: 1px 1px #e7e7e7;
            font-weight: bold
        }

        .button-jobui {
            transition-duration: 0.4s;
            padding: 10px;
            color: white;
            border-radius: 10px;
            width: 70%;
            box-shadow: 1px 1px 1px 1px;
            font-weight: bold;
        }

        .button-run {
            background-color: forestgreen;
        }

        .button-clear {
            background-color: darksalmon;
        }

        .button-run:hover {
            background-color: darkgreen;
            color:black;
        }

        .button-clear:hover {
            background-color: brown;
            color: black;
        }

        .center-text {
            text-align: -webkit-center;
        }
    </style>
</head>

<body ng-app="jobUI" class="ess">
    <div class="jobui-wrapper" ng-controller="JobUIController" ng-init="init();">
        <div class="cs-loader" id="loader" ng-show="jobLoader.enable">
            <div class="spinner ng-scope">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <div class="row jobui-inner-wrapper">
            <div class="col-12 mt-3 mb-5 center-text" style="background-color: lightyellow; border-radius: 10px; box-shadow: 5px 5px 5px 5px;">
                <h1>Job management.</h1>
            </div>
            <div class="col-4" ng-disable="!jobLoader.enable">
                <div ng-show="CompanyCodeDefault==''">
                    <div class="form-group" ng-show="CompanyList.length > 0">
                        <label class="label-jobui">Company : </label><br />
                        <select id="ddlCompany" name="essCompany" class="text-box" ng-model="selCompany" ng-options="c.Name for c in CompanyList track by c.CompanyCode">
                        </select>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label class="label-jobui">Job ID :</label><br />
                        <input id="txtJobID" class="text-box text-right" type="number" maxlength="10" ng-model="JobID" ng-change="ifBlankAutoZero()" style="padding-right:10px;"/>
                    </div>
                </div>
                <div class="row col-12 mt-3">
                    <div class="col-6 center-text">
                        <button class="button-jobui button-run" ng-click="runJob()"> RUN </button>
                    </div>
                    <div class="col-6 center-text">
                        <button class="button-jobui button-clear" ng-click="clearCriteria()"> CLEAR </button>
                    </div>
                </div>
            </div>
            <div class="ess-inner-wrapper col-8">
                <div class="text-result" ng-bind-html="renderHtml(JobResult)"></div>
                <!--<textarea rows="10" class="text-result" ng-bind-html="renderHtml(JobResult)"></textarea>-->
            </div>

        </div>

    </div>
    <footer class="py-3" style="background-color:#ffffff">
        <div align="center">
            <p class="m-0 text-center" style="color:#4b4b4b">©Copyright 2019 PTT Digital Solutions Company Limited. All Right Reserved.</p>
        </div>
    </footer>
    <script src="app/controllers/common/JobUIController.js"></script>
    
</body>
</html>