﻿<div ng-controller="BoxContentController" class="box-content" ng-init="init();">
    <div id="main-content">
        <div class="page-body">
            <div class="breadcrumb-container ess-breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb ess-breadcrumb">
                        <li id="CORE_btnGobackHomePage" class="breadcrumb-item ess-breadcrumb-item"><a href="" ng-click="goBackHomePage()">{{Text['BOXLIST']['HOME']}}</a></li>
                        <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{HeaderBox}}</li>
                    </ol>
                </nav>
            </div>
            <div class="ess-page-header-panel row ess-row-wrap">
                <div class="col-12 ess-page-header">
                    <i class="icon icon_private_box_wh"></i>
                    <h1 class="ess-page-header1">{{HeaderBox}}</h1>
                </div>
            </div>
            <div class="ess-headersub-1"></div>
            <div class="ess-headersub-2"></div>

            <div class="ess-wrapper">
                <!--<div class="ess-inner-wrapper">  </div>
                <div class="tab-content ess-tab-content" id="essDocumentContent"> </div>-->
                <ul class="nav nav-tabs ess-tab-document-wrap" id="essDocument" role="tablist">
                    <li class="nav-item ess-tab-panel" ng-repeat="head in Headermenus" ng-show="head.groupID == '10' || head.groupID == '30'">
                        <a href="" class="nav-link ess-nav-link {{head.Active}}" style="text-align:left" id="{{head.BoxAction}}" ng-click="clickMenu(this, head.url);" data-toggle="tab" data-target="#{{head.BoxAction}}" role="tab" aria-controls="{{head.BoxAction}}" aria-selected="true">
                            <div class="ess-tab-link-icon">
                                <div ng-if="ContentParam == 101 || ContentParam == 102 || ContentParam == 103 || ContentParam == 104 || ContentParam == 105 || ContentParam == 206">
                                    <!--<i class="icon icon_document_wait" ng-if="head.MenuCode=='WAIT_FOR_APPROVE_BOX'"></i>-->
                                    <!--<i class="icon icon_document_post" ng-if="head.MenuCode=='POST_ERROR_BOX'"></i>
                                    <i class="icon icon_document_delegate" ng-if="head.MenuCode=='DELEGATE_BOX'"></i>
                                    <i class="icon icon_document_history" ng-if="head.MenuCode=='APPROVED_HISTORY_BOX'"></i>-->
                                    <i class="fa fa-file-text-o" aria-hidden="true" ng-if="head.MenuCode=='WAIT_FOR_APPROVE_BOX'"></i>
                                    <i class="fa fa-file-text-o" aria-hidden="true" ng-if="head.MenuCode=='POST_ERROR_BOX'"></i>
                                    <i class="fa fa-file-text-o" aria-hidden="true" ng-if="head.MenuCode=='DELEGATE_BOX'"></i>
                                    <i class="fa fa-file-text-o" aria-hidden="true" ng-if="head.MenuCode=='APPROVED_HISTORY_BOX'"></i>

                                </div>
                                <div ng-if="ContentParam == 301 || ContentParam == 302 || ContentParam == 303 || ContentParam == 304">
                                    <!--<i class="icon icon_document_draft" ng-if="head.MenuCode=='RECALLED_BOX'"></i>
                                    <i class="icon icon_document_send" ng-if="head.MenuCode=='SENT_ITEM_BOX'"></i>
                                    <i class="icon icon_document_completed" ng-if="head.MenuCode=='ARCHIVE_BOX'"></i>-->
                                    <i class="fa fa-file-text-o" aria-hidden="true" ng-if="head.MenuCode=='RECALLED_BOX'"></i>
                                    <i class="fa fa-file-text-o" aria-hidden="true" ng-if="head.MenuCode=='SENT_ITEM_BOX'"></i>
                                    <i class="fa fa-file-text-o" aria-hidden="true" ng-if="head.MenuCode=='ARCHIVE_BOX'"></i>
                                </div>
                                <span class="badge badge-danger ess-badge" ng-show="head.count>0">{{head.count}}</span>
                            </div>
                            <span style="text-align:left">{{head.text}}</span>
                        </a>
                    </li>
                </ul>
                <div class="form-group ess-form-group">
                    <!--<div class="tab-content ess-tab-content" id="essDocumentInBox" role="tabpanel" aria-labelledby="essDocumentInBox-tab">-->
                    <div class="tab-content ess-tab-content" id="essDocumentInBox" role="tabpanel" aria-labelledby="essDocumentInBox-tab">
                        <div class="form-inline" style="margin-top:15px;">
                            <div class="form-group">
                                <label for="essDocumentType" class="ess-label">{{Text['BOXCONTENT']['DOC_TYPE']}}</label>&nbsp;&nbsp;
                                <select id="CORE_sllItemTemplateSelected" class="form-control ess-form-control" ng-model="itemTemplateSelected" ng-change="filterDocumentBySelect()"
                                        data-ng-options="item as item.RequestTypeText for item in DocRequestType">
                                    <option ng-value="itemTemplateSelected">{{item}}</option>
                                </select>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="input-group"> </div>
                                <input type="text" class="form-control ess-form-control" ng-model="SearchText" ng-keydown="$event.keyCode === 13 && filterDocumentText()" id="formSearch" placeholder="{{Text['SYSTEM']['SEARCH_WORDING']}}">
                                <a id="CORE_btnFilterDoc" href="" class="ess-button infobtn" ng-click="filterDocumentText()"><i class="fa fa-search" aria-hidden="true"></i> {{Text['BOXCONTENT'].SEARCH}}</a>

                            </div>
                        </div>
                        <div class="row col-12 mt-3" ng-repeat="position in RequestDocumentByPosition" ng-show="position.arrSplited.length > 0">
                            <!-- style="border-radius:20px; padding: 15px; background-image:radial-gradient(rgba(255,255,255,0.5), rgba(144,144,144,0.5))" -->
                            <a class="ess-btn-showhide-detail w-100" data-toggle="collapse" id="CORE_btnBox_Tab{{position.PositionID}}" data-target="#CORE_BoxByPosition_{{position.PositionID}}" role="button" aria-expanded="false" aria-controls="CORE_BoxByPosition_{{position.PositionID}}">
                                <div class="col-12 ess-tab-section-bar1">
                                    <div class="ess-tab-section-bar-hdr" style="margin-left:10px;">{{position.PositionID}}&nbsp;:&nbsp;{{position.PositionName}}&nbsp;({{GetOrgOfPosition(position.PositionID)}})</div>
                                    <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                </div>
                            </a>
                            <div class="collapse w-100 ess-document-attachment-edit-panel mb-0 table-responsive show" id="CORE_BoxByPosition_{{position.PositionID}}" style="padding: 10px 10px;background-image: radial-gradient(rgba(255,255,255,0.5), rgba(144,144,144,0.5))">
                                <div class="row mt-3" ng-show="ShowFilter && position.arrSplited.length  > 0">
                                    <div class="col-xs-12 col-md-4" style="text-align:start; align-self: center;">
                                        <input type="checkbox" ng-model="position.isAllChecked" ng-change="CheckUncheckAll(position.isAllChecked, position.arrSplited[position.selectedColumn] , position.PositionID)" />&nbsp;{{Text[Textcategory].SELECT_ALL}}
                                    </div>
                                    <div class="col-xs-12 col-md-8" style=" text-align: end; align-self: center;">
                                        <a id="CORE_btnActionFromDoc" class="ess-button submitbtn" ng-click="ActionFromDocument('ALL','',position.PositionID);onReloadMenuFunction(true);">
                                            <i class="fa fa-check-circle"></i> {{Text['ACTION'].CONFIRM_MASS_ACTION}}
                                        </a>
                                        <a id="CORE_btnCancel" class="ess-button cancelbtn" ng-click="ActionFromDocument('REJECT','',position.PositionID);onReloadMenuFunction(true);">
                                            <i class="fa fa-times-circle"></i> {{Text['ACTION'].REJECT_MASS_ACTION}}
                                        </a>
                                    </div>
                                </div>
                                <!--<div class="row ess-document-list" ng-repeat="document in data.arrSplited[data.selectedColumn]">-->
                                <div class="row ess-document-list" ng-repeat="document in position.arrSplited[position.selectedColumn]">
                                    <a id="CORE_btnOpenRequest" href="" class="col-12 document-item-bg-change-event" ng-click="openRequest(document.RequestNo,document.RequestorCompanyCode, document.KeyMaster, document.IsOwnerView, document.IsDataOwnerView, requestType)" style="cursor:pointer">
                                        <div class="ess-document-list-item">
                                            <div class="ess-document-list-item-type-wrap justify-content-center" style="margin-top:5px;">
                                                <div class="checkbox" ng-show="ShowFilter" style="display:inline-block;" ng-click="$event.stopPropagation()">
                                                    <input id="chk_{{position.PositionID}}_{{$index + 1}}" class="styled" ng-model="document.selected"
                                                           type="checkbox" value="{{document.RequestNo + ',' + document.KeyMaster+ ','+document.RequestorCompanyCode+','+document.ReceipientCode }}" ng-checked="document.selected" ng-change="CheckUncheckHeader(position.arrSplited[position.selectedColumn] , position.PositionID)" requestdoc-isselect />
                                                    <label for="">
                                                    </label>
                                                </div>
                                                <div class="ess-document-list-item-type">
                                                    <div class="ess-document-number text-center">{{ (position.selectedColumn) * chunk + ($index + 1)}} / {{position.splitedAmount}}</div>
                                                </div>
                                            </div>
                                            <div class="ess-document-list-item-detail-wrap">
                                                <div class="ess-document-list-label ess-document-list-item-detail-label"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;{{Text['SYSTEM'].ICON_DETAIL}}</div>
                                                <div class="ess-document-list-item-detail-num"><span id="CORE_txtRequestNo_{{document.RequestNo.replace('-','')}}">{{document.RequestNo}}</span></div>
                                                <!--<div class="ess-document-list-item-detail-desc">{{document.RequestTypeText}}</div>-->
                                                <div class="ess-document-list-item-detail-desc"><span id="CORE_txtSummaryRequest_{{document.RequestNo.replace('-','')}}">{{document.Summary == '' ? document.RequestTypeText : document.Summary}}</span></div>
                                            </div>
                                            <div class="ess-document-list-item-creator-wrap">
                                                <div class="ess-document-list-label ess-document-list-item-creator-label"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;{{Text['REQUESTHEADER'].CREATOR}}</div>
                                                <div class="ess-document-list-item-creator-num">{{document.CreatorNo}}</div>
                                                <div class="ess-document-list-item-creator-name">{{document.CreatorName}}</div>
                                                <div class="ess-document-list-item-creator-position">({{document.CreatorPositionDesc}})</div>
                                            </div>
                                            <div class="ess-document-list-item-requestor-wrap">
                                                <div class="ess-document-list-label ess-document-list-item-requestor-label"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;{{Text['REQUESTHEADER'].REQUESTOR}}</div>
                                                <div class="ess-document-list-item-requestor-num">{{document.RequestorNo}}</div>
                                                <div class="ess-document-list-item-requestor-name">{{document.RequestorName}}</div>
                                                <div class="ess-document-list-item-requestor-position">({{document.RequestorPositionDesc}})</div>
                                            </div>
                                            <div class="ess-document-list-item-status-wrap">
                                                <div class="row ess-document-list-item-status-panel">
                                                    <div class="ess-document-list-label ess-document-list-item-status-label"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>&nbsp;{{Text['SYSTEM'].REQUEST_RESULT}}</div>
                                                    <div class="ess-document-list-item-status-timestamp"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;{{Text['TIMEAWARELINK'].LASTACTIONDATE}} : {{document.LastActionDate | date:'dd/MM/yyyy H:mm'}} {{Text['SYSTEM'].TIME_O}}</div>

                                                </div>
                                                <div class="row ess-document-list-item-status-panel justify-content-center" style="margin:5px;">
                                                    <div ng-if="document.FlowStatus == 'COMPLETED'" class="row ess-status completed">{{document.Status}}</div>
                                                    <div ng-if="document.FlowStatus == 'CANCELLED'" class="row ess-status cancelled">{{document.Status}}</div>
                                                    <div ng-if="document.FlowStatus != 'COMPLETED' && document.FlowStatus != 'CANCELLED'" class="row ess-status draft">{{document.Status}}</div>

                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!--</div>-->

                                <div class="col-12 ess-document-list-item" style="border:1px #e5e5e5 solid; border-radius:5px; padding:20px; text-align:center" ng-show="position.arrSplited.length == 0">
                                    {{Text['SYSTEM'].NO_DATA}}
                                </div>
                                <div class="ess-pagination-wrap" id="paggingWidth" ng-show="position.arrSplited[position.selectedColumn].length > 0">
                                    <nav class="ess-navbar">
                                        <ul class="pagination">
                                            <li id="CORE_btnPageLeft" class="page-item" ng-hide="position.afterClickPlage==0||position.currentPage==0" ng-click="pageChange(position.PositionID, -1)">
                                                <a class="page-link" href=""> {{Text['SYSTEM'].PREVIOUS}}</a>
                                            </li>
                                            <li class="page-item {{position.selectedColumn == $index ? 'active' : ''}}" ng-repeat="page in position.arrSplited">
                                                <a class="page-link" ng-click="selectPage(position.PositionID, $index+1)" href="">{{$index+1}}</a>
                                            </li>
                                            <li id="CORE_btnPageRight" class="page-item " ng-hide="(position.selectedColumn+1)==position.arrSplited.length" ng-click="pageChange(position.PositionID, 1)">
                                                <a class="page-link" href=""> {{Text['SYSTEM'].NEXT}}</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
