.vote {
    text-align: center;
    width: 280px;
}

    .vote .tooltip {
        /*  background: #1496bb;*/
        background: rgba(30,80,110,.45);
        bottom: 100%;
        color: #fff;
        text-align: center;
        display: block;
        left: 10px;
        margin-bottom: -30px;
        opacity: 0;
        padding: 20px;
        pointer-events: none;
        position: absolute;
        width: 100%;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
        -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
    }

        /* This bridges the gap so you can mouse into the tooltip without it disappearing */
        .vote .tooltip:before {
            bottom: -20px;
            content: " ";
            display: block;
            height: 20px;
            left: 0;
            position: absolute;
            width: 100%;
        }

        /* CSS Triangles - see Trevor's post */
        .vote .tooltip:after {
          /*  border-left: solid transparent 10px;
            border-right: solid transparent 10px;
            border-top: solid rgba(30,80,110,.45) 10px;*/
            bottom: -10px;
            content: " ";
            height: 0;
            left: 50%;
            margin-left: -13px;
            position: absolute;
            width: 0;
        }

    .vote:hover .tooltip {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }

/* IE can just show/hide with no transition */
.lte8 .vote .tooltip {
    display: none;
}

.lte8 .vote:hover .tooltip {
    display: block;
}
