* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

.ess-topheader-wrap {
    background-color: #fff
}

.ess-header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 8px;
    border-bottom: 1px solid #d3d6da
}

.ess-primary-navigation {
    display: flex;
    align-items: center
}

    .ess-primary-navigation .ess-menu {
        padding: 20px 22px 10px 11px
    }

    .ess-primary-navigation .ess-logowrap {
        display: flex;
        align-items: center;
        border-left: 1px solid #666;
        padding: 0 0 4px 17px;
        margin-top: 4px
    }

.ess-content-header-panel {
    display: flex;
    align-items: center
}

    .ess-content-header-panel .ess-nav {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0 0 0 33px;
        justify-content: flex-end
    }

    .ess-content-header-panel .ess-nav-link {
        padding: 0;
        color: #7f7f7f
    }

    .ess-content-header-panel .font-size-smaller, .ess-content-header-panel .font-size-normal, .ess-content-header-panel .font-size-bigger {
        line-height: 12px;
        padding: 0 5px;
        color: #7f7f7f
    }

        .ess-content-header-panel .font-size-smaller a, .ess-content-header-panel .font-size-normal a, .ess-content-header-panel .font-size-bigger a {
            color: #7f7f7f
        }

        .ess-content-header-panel .font-size-smaller.active, .ess-content-header-panel .font-size-normal.active, .ess-content-header-panel .font-size-bigger.active {
            color: #000
        }

            .ess-content-header-panel .font-size-smaller.active a, .ess-content-header-panel .font-size-normal.active a, .ess-content-header-panel .font-size-bigger.active a {
                color: #000
            }

    .ess-content-header-panel .font-size-smaller {
        font-size: 15px
    }

    .ess-content-header-panel .font-size-normal {
        font-size: 18px
    }

    .ess-content-header-panel .font-size-bigger {
        font-size: 22px
    }

    .ess-content-header-panel .dropdown-toggle {
        font-size: 13px
    }

        .ess-content-header-panel .dropdown-toggle:after {
            border: none;
            background: url("../images/icons/select-arrow.svg") no-repeat center center;
            width: 19px;
            height: 19px;
            display: inline-block;
            vertical-align: inherit;
            background-size: cover;
            vertical-align: middle;
            margin-left: 10px;
            position: relative;
            bottom: 10px
        }

        .ess-content-header-panel .dropdown-toggle .ess-nav-link-user {
            padding-right: 15px
        }

    .ess-content-header-panel .mobile-menu .menu-settings {
        display: none
    }

.ess-nav-inbox {
    display: flex;
    margin: 0;
    padding: 0
}

.ess-nav-item-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: #8d8d8d;
    width: 100%
}

    .ess-nav-item-user .ess-userimg {
        width: 43px;
        height: 43px;
        display: block;
        border-radius: 100%
    }

        .ess-nav-item-user .ess-userimg img {
            border-radius: 100%;
            width: 100%;
            height: auto
        }

    .ess-nav-item-user .ess-nav-item-userimg {
        width: 43px
    }

    .ess-nav-item-user .ess-nav-item-userdata {
        width: calc( 100% - 43px );
        padding: 5px 9px 0 9px;
        margin-left: 8px
    }

        .ess-nav-item-user .ess-nav-item-userdata.show {
            background-color: #fff;
            position: relative;
            border-radius: 8px 8px 0 0;
            box-shadow: 0px -2px 12px -7px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-menu.show {
            background: #fff;
            transform: none !important;
            left: 0 !important;
            right: 0 !important;
            top: unset !important;
            border-radius: 0 0 10px 10px;
            border: 0;
            margin: 0 !important;
            min-width: 154px;
            box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-item {
            color: #737373;
            padding: 5px 10px;
            display: flex;
            align-items: center
        }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item .dropdown-icon {
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center
            }

            /*.ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus {
                color: #fff;
                text-decoration: none;
                background-color: #18baec
            }*/

                .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover .dropdown-icon .icon, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus .dropdown-icon .icon {
                    filter: brightness(300)
                }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:first-child, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:last-child {
                border-radius: 0
            }

        .ess-nav-item-user .ess-nav-item-userdata .ess-nav-item-userdata-line {
            margin: 6px 0
        }

    .ess-nav-item-user .ess-nav-link-hello {
        font-size: 18px;
        line-height: 1.1;
        display: block;
        color: #8d8d8d
    }

    .ess-nav-item-user .ess-nav-link {
        display: flex;
        align-items: flex-end
    }

.ess-nav-item {
    color: #7f7f7f;
    min-height: 50px;
    display: flex;
    align-items: center
}

    .ess-nav-item.ess-user-topbar {
        justify-content: flex-end;
        padding: 0
    }

    .ess-nav-item.ess-nav-date .font-size-label {
        font-size: 15px
    }

    .ess-nav-item.ess-nav-cta-box {
        align-items: flex-end;
        min-height: 51px;
        padding: 0;
        position: relative
    }

    .ess-nav-item.ess-kvis-icon {
        margin-top: 7px;
        padding: 0 27px;
        border-left: 1px solid #666
    }

.ess-nav-cta {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px
}

    .ess-nav-cta .ess-nav-cta-icon {
        display: block;
        line-height: 0
    }

    .ess-nav-cta .ess-nav-approve-qty {
        position: absolute;
        right: 10px;
        top: 0;
        background-color: #ff1d25;
        display: inline-block;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        line-height: 1.4;
        padding: 0 6px
    }

.ess .mainnavbar {
    position: absolute;
    width: 100%;
    top: 75px;
    z-index: 200;
    background: #f9f9f9;
    box-shadow: none
}

.ess .mainnavbar-close {
    position: absolute;
    top: -58px;
    left: 22px;
    background: #fff;
    padding: 10px
}

.ess .form-control:focus, .ess .ess-form-control:focus {
    box-shadow: unset
}

.ess .form-control, .ess .ess-form-control {
    border-radius: 0;
    font-size: 16px;
    font-family: kanit;
    color: #000;
    border-radius: 10px;
}
/*
.ess .select2-container--default .select2-selection--single {
    border-color: #9f9f9f;
    border-radius: 10px;
    line-height: 2;
    height: 30px;
    color: #7d7d7d
}

    .ess .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 2;
        color: #7d7d7d
    }

    .ess .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-width: 7px 5px 0 5px;
        left: 50%;
        margin-left: -7px;
        margin-top: -2px
    }

.ess .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 5px 7px 5px
}
*/
.ess .topnav-menu {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    box-shadow: 0 20px 10px 5px rgba(0,0,0,0.2);
    position: relative;
    padding: 0
}

    .ess .topnav-menu .topnav-menu-home-wrap {
        display: flex;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.1)
    }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-home {
            padding: 19px 20px 0
        }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-document .topnav-menu-list-inner {
            background-color: #f7f7f7
        }

    .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
        padding: 0
    }

    .ess .topnav-menu .topnav-menu-document {
        border-left: 2px solid #eaeaea;
        width: 186px
    }

    .ess .topnav-menu .topnav-menu-homelink, .ess .topnav-menu .topnav-menu-switch {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 16px
    }

    .ess .topnav-menu .topnav-menu-homelink-label {
        padding-top: 10px;
        font-size: 12px
    }

    .ess .topnav-menu .topnav-menu-headerlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: normal;
        padding: 17px 5%;
        border-bottom: 0;
        text-align: center
    }

        .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
            margin-top: 16px;
            color: #4B4B4B
        }

            .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link.topnav-menu-homelink {
                margin-top: 0
            }

    .ess .topnav-menu .topnav-menu-linklist {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
        border-top: 2px dotted #ccc
    }

        .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem {
            font-size: 12px;
            padding: 0;
            line-height: 1.3;
            border-bottom: 2px dotted #ccc
        }

            .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link {
                padding: 7px 5px 7px 10px;
                display: flex;
                justify-content: space-between
            }

                /*.ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link:hover {*/
                    /*background-color: #592f91;*/
                    /*background-color: #56cbf2;
                    color: #290460
                }*/

                .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link .topnav-menu-link-qty {
                    background-color: #ee4536;
                    padding: 0 3px;
                    text-align: center;
                    color: #fff;
                    border-radius: 20px;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 1.4;
                    padding: 0 3px;
                    min-width: 22px;
                    display: block
                }

    .ess .topnav-menu .topnav-menu-subheaderlink {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px 8px 15px
    }

    .ess .topnav-menu .topnav-menu-list-inner {
        margin: 0 3px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 60%
    }

    .ess .topnav-menu .topnav-menu-list2 {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%
    }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
            width: 25%
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner .topnav-menu-link-icon {
                display: flex;
                height: 48px
            }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink {
            background-color: #fff;
            margin: 0 10px 10px;
            height: calc(100% - 10px);
            justify-content: flex-start
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink:hover {
                background-color: transparent
            }

    .ess .topnav-menu .topnav-menu-list-inner .collapse, .ess .topnav-menu .topnav-menu-list-inner .collapsing, .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: block;
        height: 100%
    }

.ess-breadcrumb {
    padding: 7px 76px;
    margin: 0;
    font-size: 12px
}

    .ess-breadcrumb a {
        color: rgba(83,83,83,0.7) !important
    }

.mainnavbar-collapse.collapsing .slick-slider {
    visibility: hidden
}

.mainnavbar-collapse.collapse.show .slick-slider {
    visibility: visible
}

.topnav-slide-wrap {
    width: calc( 100% - 400px );
    margin: 20px auto
}

.topnav-slide .slick-slide {
    margin: 0
}

.topnav-slide .slick-prev, .topnav-slide .slick-next {
    color: #fff;
    width: 30px;
    height: 30px
}

.topnav-slide .slick-next {
    right: -25px
}

    .topnav-slide .slick-next::before {
        content: "\e900";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-prev {
    left: -40px
}

    .topnav-slide .slick-prev::before {
        content: "\e901";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-active {
    opacity: 1
}

@media (max-width: 1448px) {
    .ess-overall-nav .ess-overall-box-datagroup {
        width: auto;
        min-width: unset;
        display: flex;
    }
}

@media (max-width: 1140px) {
    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%
        }
}

@media (max-width: 1110px) {
    .ess .mainnavbar {
        top: 80px
    }

    .ess .mainnavbar-close {
        top: -64px;
        left: 23px
    }
}

@media (max-width: 1086px) {
    .ess-overall-nav .ess-overall-box {
        flex-direction: row;
        flex-wrap: nowrap
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        padding: 5px 20px
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: 135px;
        padding: 0;
        text-align: right
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: calc( 100% - 135px)
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        width: 100%;
        min-width: unset;
        max-width: unset
    }
}

@media (max-width: 1024px) {
    .ess .mainnavbar-close {
        top: -64px;
        left: 8px
    }

    .ess-dropdown-hover:hover > .dropdown-menu {
        transform: translate3d(0, 27px, 0px);
        position: absolute;
        top: 0
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ess .topnav-menu {
        padding: 18px 0 10px
    }

    .ess-content-header-panel .sp-user-topbar {
        flex-basis: unset;
        flex-grow: 0
    }

    .ess-row-wrap {
        padding-left: 5px;
        padding-right: 5px
    }

    .ess-header-wrap {
        padding: 8px 5px 17px
    }

    .ess-breadcrumb {
        padding: 6px 15px 7px
    }

    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 826px) {
    .ess .mainnavbar {
        top: 90px
    }

    .ess .mainnavbar-close {
        top: -67px;
        left: 8px
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 40%
    }

        .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 {
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 .topnav-menu-list2-inner {
                width: 50%
            }
}

@media (max-width: 767px) {
    .ess .mainnavbar {
        top: 52px
    }

    .ess .mainnavbar-close {
        top: -48px;
        left: 2px
    }

    .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
        min-height: unset
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: none;
        height: 0
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapsing {
        height: 0
    }

    .ess .topnav-menu {
        padding-left: 0;
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc( 100vh - 54px);
        padding-right: 0
    }

        .ess .topnav-menu .topnav-menu-home-wrap {
            flex-direction: column
        }

        .ess .topnav-menu .topnav-menu-list-inner {
            margin: 0 5px
        }

        .ess .topnav-menu .topnav-menu-linklist {
            margin: 0 15px 20px
        }

        .ess .topnav-menu .topnav-slide-wrap {
            margin-top: 0
        }

        .ess .topnav-menu .topnav-menu-box {
            border-top: 0;
            padding-left: 0;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink {
                border-bottom: 0;
                padding-left: 20px
            }

                .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink .topnav-menu-link {
                    margin-top: 0;
                    padding: 0 15px 15px
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-document {
                border-left: 0;
                border-top: 1px solid #eaeaea
            }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-home {
                border: 0;
                width: 100%;
                display: flex;
                justify-content: center
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
                    border: 0
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-list {
                margin: 0
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-list .topnav-menu-list-inner {
                    margin: 0
                }

        .ess .topnav-menu .topnav-menu-box2 {
            margin-top: 10px;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink {
                padding: 20px 5px
            }

                .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink .topnav-menu-link {
                    padding: 0 10px 0
                }

    .ess .topnav-menu-linklist {
        padding-left: 35px
    }

    .ess .mainnavbar-collapse .ess-header-wrap {
        padding: 10px 10px
    }

    .ess .topnav-slide-wrap {
        width: 100%
    }

    .ess-footer {
        margin-top: 0
    }

    .ess-top-header {
        display: none
    }

    .ess-primary-navigation {
        flex-basis: 40%;
        padding-top: 0
    }

        .ess-primary-navigation .ess-menu {
            padding: 0 20px 0 0
        }

    .ess-content-header-panel {
        margin-top: 0
    }

    .ess-content-header-panel {
        display: flex;
        justify-content: flex-end;
        width: 100%
    }

    .ess-content-header-panel {
        position: relative;
        flex-basis: 55%
    }

        .ess-content-header-panel .mobile-menu .menu-settings {
            display: flex;
            justify-content: flex-end
        }

        .ess-content-header-panel .ess-nav {
            position: absolute;
            z-index: 100;
            background-color: #fff;
            padding: 10px;
            display: none
        }

            .ess-content-header-panel .ess-nav .ess-nav-item {
                border: 0;
                width: 100%;
                order: 2;
                min-height: 35px
            }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-nav-cta-box {
                    width: 40%
                }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata {
                    display: block;
                    padding-left: 10px
                }

                    .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata .dropdown-toggle {
                        margin-left: 0
                    }

        .ess-content-header-panel .collapsing.ess-nav {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            right: 0;
            width: 240px;
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            top: 38px
        }

        .ess-content-header-panel .collapse.show.ess-nav {
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            position: absolute;
            flex-direction: column;
            display: flex;
            right: 0;
            width: 300px;
            top: 38px
        }

    .ess-header-wrap {
        padding: 5px 10px 0
    }

    .ess-breadcrumb {
        padding: 5px 10px
    }

    .ess-page-header-panel {
        padding-bottom: 5px
    }

        .ess-page-header-panel .ess-page-header {
            padding: 0 0 10px
        }

        .ess-page-header-panel .ess-page-header-element {
            padding: 0
        }

    .ess-doc-num-box {
        padding: 0
    }

    .ess-tab-section-content {
        padding: 0;
        margin-top: 10px;
    }

    .ess-overall-nav .ess-overall-box {
        width: 100%;
        padding: 5px 0
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: 100%
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }

    .ess-overall-nav .ess-overall-cta {
        text-align: center
    }

    .ess-tab .ess-tab-panel {
        width: auto;
        height: 100%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }

    .ess-page-header-panel .ess-page-header-element {
        justify-content: center;
    }
}

@media (max-width: 575px) {
    .ess-page-header-panel .ess-page-header-element {
        justify-content: center
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }

    .ess-page-header-panel .ess-page-header-element {
        justify-content: center;
    }
}

@media (max-width: 542px) {
    .ess-tab .ess-tab-panel {
        margin: 0
    }

    .ess-page-header-panel .ess-page-header-element {
        justify-content: center;
    }
}

@media (max-width: 490px) {
    .ess-tab-evoluation-wrap {
        padding: 0 1px
    }

    .ess-tab .ess-tab-panel {
        width: 100%;
        margin: 0
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%;
            margin-top: -5px;
            background-color: #fff
        }

    .ess-page-header-panel .ess-page-header-element {
        justify-content: center;
    }
}

@media (max-width: 459px) {
    .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
        width: 50%
    }

    .ess-primary-navigation .ess-logowrap {
        padding: 0 0 4px 0
    }

        .ess-primary-navigation .ess-logowrap .icon.ess-logo {
            width: 72px;
            height: 27px
        }

    .ess-primary-navigation .ess-menu {
        padding: 0 10px 0 0
    }

    .ess-page-header-panel .ess-page-header-element {
        justify-content: center;
    }
}

.ess-footer {
    text-align: center;
    padding: 50px 0 40px
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

.ess-topheader-wrap {
    background-color: #fff
}

.ess-header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 8px;
    border-bottom: 1px solid #d3d6da
}

.ess-primary-navigation {
    display: flex;
    align-items: center
}

    .ess-primary-navigation .ess-menu {
        padding: 20px 22px 10px 11px
    }

    .ess-primary-navigation .ess-logowrap {
        display: flex;
        align-items: center;
        border-left: 1px solid #666;
        padding: 0 0 4px 17px;
        margin-top: 4px
    }

.ess-content-header-panel {
    display: flex;
    align-items: center
}

    .ess-content-header-panel .ess-nav {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0 0 0 33px;
        justify-content: flex-end
    }

    .ess-content-header-panel .ess-nav-link {
        padding: 0;
        color: #7f7f7f
    }

    .ess-content-header-panel .font-size-smaller, .ess-content-header-panel .font-size-normal, .ess-content-header-panel .font-size-bigger {
        line-height: 12px;
        padding: 0 5px;
        color: #7f7f7f
    }

        .ess-content-header-panel .font-size-smaller a, .ess-content-header-panel .font-size-normal a, .ess-content-header-panel .font-size-bigger a {
            color: #7f7f7f
        }

        .ess-content-header-panel .font-size-smaller.active, .ess-content-header-panel .font-size-normal.active, .ess-content-header-panel .font-size-bigger.active {
            color: #000
        }

            .ess-content-header-panel .font-size-smaller.active a, .ess-content-header-panel .font-size-normal.active a, .ess-content-header-panel .font-size-bigger.active a {
                color: #000
            }

    .ess-content-header-panel .font-size-smaller {
        font-size: 15px
    }

    .ess-content-header-panel .font-size-normal {
        font-size: 18px
    }

    .ess-content-header-panel .font-size-bigger {
        font-size: 22px
    }

    .ess-content-header-panel .dropdown-toggle {
        font-size: 13px
    }

        .ess-content-header-panel .dropdown-toggle:after {
            border: none;
            background: url("../images/icons/select-arrow.svg") no-repeat center center;
            width: 19px;
            height: 19px;
            display: inline-block;
            vertical-align: inherit;
            background-size: cover;
            vertical-align: middle;
            margin-left: 10px;
            position: relative;
            bottom: 10px
        }

        .ess-content-header-panel .dropdown-toggle .ess-nav-link-user {
            padding-right: 15px
        }

    .ess-content-header-panel .mobile-menu .menu-settings {
        display: none
    }

.ess-nav-inbox {
    display: flex;
    margin: 0;
    padding: 0
}

.ess-nav-item-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: #8d8d8d;
    width: 100%
}

    .ess-nav-item-user .ess-userimg {
        width: 43px;
        height: 43px;
        display: block;
        border-radius: 100%
    }

        .ess-nav-item-user .ess-userimg img {
            border-radius: 100%;
            width: 100%;
            height: auto
        }

    .ess-nav-item-user .ess-nav-item-userimg {
        width: 43px
    }

    .ess-nav-item-user .ess-nav-item-userdata {
        width: calc( 100% - 43px );
        padding: 5px 9px 0 9px;
        margin-left: 8px
    }

        .ess-nav-item-user .ess-nav-item-userdata.show {
            background-color: #fff;
            position: relative;
            border-radius: 8px 8px 0 0;
            box-shadow: 0px -2px 12px -7px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-menu.show {
            background: #fff;
            transform: none !important;
            left: 0 !important;
            right: 0 !important;
            top: unset !important;
            border-radius: 0 0 10px 10px;
            border: 0;
            margin: 0 !important;
            min-width: 154px;
            box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-item {
            color: #737373;
            padding: 5px 10px;
            display: flex;
            align-items: center
        }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item .dropdown-icon {
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center
            }

            /*.ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus {
                color: #fff;
                text-decoration: none;
                background-color: #18baec
            }*/

                .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover .dropdown-icon .icon, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus .dropdown-icon .icon {
                    filter: brightness(300)
                }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:first-child, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:last-child {
                border-radius: 0
            }

        .ess-nav-item-user .ess-nav-item-userdata .ess-nav-item-userdata-line {
            margin: 6px 0
        }

    .ess-nav-item-user .ess-nav-link-hello {
        font-size: 18px;
        line-height: 1.1;
        display: block;
        color: #8d8d8d
    }

    .ess-nav-item-user .ess-nav-link {
        display: flex;
        align-items: flex-end
    }

.ess-nav-item {
    color: #7f7f7f;
    min-height: 50px;
    display: flex;
    align-items: center
}

    .ess-nav-item.ess-user-topbar {
        justify-content: flex-end;
        padding: 0
    }

    .ess-nav-item.ess-nav-date .font-size-label {
        font-size: 15px
    }

    .ess-nav-item.ess-nav-cta-box {
        align-items: flex-end;
        min-height: 51px;
        padding: 0;
        position: relative
    }

    .ess-nav-item.ess-kvis-icon {
        margin-top: 7px;
        padding: 0 27px;
        border-left: 1px solid #666
    }

.ess-nav-cta {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px
}

    .ess-nav-cta .ess-nav-cta-icon {
        display: block;
        line-height: 0
    }

    .ess-nav-cta .ess-nav-approve-qty {
        position: absolute;
        right: 10px;
        top: 0;
        background-color: #ff1d25;
        display: inline-block;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        line-height: 1.4;
        padding: 0 6px
    }

.ess .mainnavbar {
    position: absolute;
    width: 100%;
    top: 75px;
    z-index: 200;
    background: #f9f9f9;
    box-shadow: none
}

.ess .mainnavbar-close {
    position: absolute;
    top: -58px;
    left: 22px;
    background: #fff;
    padding: 10px
}

.ess .form-control:focus, .ess .ess-form-control:focus {
    box-shadow: unset
}

/*
.ess .select2-container--default .select2-selection--single {
    border-color: #9f9f9f;
    border-radius: 10px;
    line-height: 2;
    height: 30px;
    color: #7d7d7d
}

    .ess .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 2;
        color: #7d7d7d
    }

    .ess .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-width: 7px 5px 0 5px;
        left: 50%;
        margin-left: -7px;
        margin-top: -2px
    }

.ess .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 5px 7px 5px
}
*/
.ess .topnav-menu {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    box-shadow: 0 20px 10px 5px rgba(0,0,0,0.2);
    position: relative;
    padding: 0
}

    .ess .topnav-menu .topnav-menu-home-wrap {
        display: flex;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.1)
    }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-home {
            padding: 19px 20px 0
        }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-document .topnav-menu-list-inner {
            background-color: #f7f7f7
        }

    .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
        padding: 0
    }

    .ess .topnav-menu .topnav-menu-document {
        border-left: 2px solid #eaeaea;
        width: 186px
    }

    .ess .topnav-menu .topnav-menu-homelink, .ess .topnav-menu .topnav-menu-switch {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 16px
    }

    .ess .topnav-menu .topnav-menu-homelink-label {
        padding-top: 10px;
        font-size: 12px
    }

    .ess .topnav-menu .topnav-menu-headerlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: normal;
        padding: 17px 5%;
        border-bottom: 0;
        text-align: center
    }

        .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
            margin-top: 16px;
            color: #4B4B4B
        }

            .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link.topnav-menu-homelink {
                margin-top: 0
            }

    .ess .topnav-menu .topnav-menu-linklist {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
        border-top: 2px dotted #ccc
    }

        .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem {
            font-size: 12px;
            padding: 0;
            line-height: 1.3;
            border-bottom: 2px dotted #ccc
        }

            .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link {
                padding: 7px 5px 7px 10px;
                display: flex;
                justify-content: space-between
            }

                /*.ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link:hover {*/
                    /*background-color: #592f91;*/
                    /*background-color: #56cbf2;
                    color: #290460
                }*/

                .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link .topnav-menu-link-qty {
                    background-color: #ee4536;
                    padding: 0 3px;
                    text-align: center;
                    color: #fff;
                    border-radius: 20px;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 1.4;
                    padding: 0 3px;
                    min-width: 22px;
                    display: block
                }

    .ess .topnav-menu .topnav-menu-subheaderlink {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px 8px 15px
    }

    .ess .topnav-menu .topnav-menu-list-inner {
        margin: 0 3px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 60%
    }

    .ess .topnav-menu .topnav-menu-list2 {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%
    }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
            width: 25%
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner .topnav-menu-link-icon {
                display: flex;
                height: 48px
            }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink {
            background-color: #fff;
            margin: 0 10px 10px;
            height: calc(100% - 10px);
            justify-content: flex-start
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink:hover {
                background-color: transparent
            }

    .ess .topnav-menu .topnav-menu-list-inner .collapse, .ess .topnav-menu .topnav-menu-list-inner .collapsing, .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: block;
        height: 100%
    }

.ess-breadcrumb {
    padding: 7px 76px;
    margin: 0;
    font-size: 12px
}

    .ess-breadcrumb a {
        color: rgba(83,83,83,0.7) !important
    }

.mainnavbar-collapse.collapsing .slick-slider {
    visibility: hidden
}

.mainnavbar-collapse.collapse.show .slick-slider {
    visibility: visible
}

.topnav-slide-wrap {
    width: calc( 100% - 400px );
    margin: 20px auto
}

.topnav-slide .slick-slide {
    margin: 0
}

.topnav-slide .slick-prev, .topnav-slide .slick-next {
    color: #fff;
    width: 30px;
    height: 30px
}

.topnav-slide .slick-next {
    right: -25px
}

    .topnav-slide .slick-next::before {
        content: "\e900";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-prev {
    left: -40px
}

    .topnav-slide .slick-prev::before {
        content: "\e901";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-active {
    opacity: 1
}

@media (max-width: 1448px) {
    .ess-overall-nav .ess-overall-box-datagroup {
        width: auto;
        min-width: unset
    }
}

@media (max-width: 1140px) {
    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%
        }
}

@media (max-width: 1110px) {
    .ess .mainnavbar {
        top: 80px
    }

    .ess .mainnavbar-close {
        top: -64px;
        left: 23px
    }
}

@media (max-width: 1086px) {
    .ess-overall-nav .ess-overall-box {
        flex-direction: row;
        flex-wrap: nowrap
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        padding: 5px 20px
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: 135px;
        padding: 0;
        text-align: right
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: calc( 100% - 135px)
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        width: 100%;
        min-width: unset;
        max-width: unset
    }
}

@media (max-width: 1024px) {
    .ess .mainnavbar-close {
        top: -64px;
        left: 8px
    }

    .ess-dropdown-hover:hover > .dropdown-menu {
        transform: translate3d(0, 27px, 0px);
        position: absolute;
        top: 0
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ess .topnav-menu {
        padding: 18px 0 10px
    }

    .ess-content-header-panel .sp-user-topbar {
        flex-basis: unset;
        flex-grow: 0
    }

    .ess-row-wrap {
        padding-left: 5px;
        padding-right: 5px
    }

    .ess-header-wrap {
        padding: 8px 5px 17px
    }

    .ess-breadcrumb {
        padding: 6px 15px 7px
    }

    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 826px) {
    .ess .mainnavbar {
        top: 90px
    }

    .ess .mainnavbar-close {
        top: -67px;
        left: 8px
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 40%
    }

        .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 {
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 .topnav-menu-list2-inner {
                width: 50%
            }
}

@media (max-width: 767px) {
    .ess .mainnavbar {
        top: 52px
    }

    .ess .mainnavbar-close {
        top: -48px;
        left: 2px
    }

    .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
        min-height: unset
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: none;
        height: 0
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapsing {
        height: 0
    }

    .ess .topnav-menu {
        padding-left: 0;
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc( 100vh - 54px);
        padding-right: 0
    }

        .ess .topnav-menu .topnav-menu-home-wrap {
            flex-direction: column
        }

        .ess .topnav-menu .topnav-menu-list-inner {
            margin: 0 5px
        }

        .ess .topnav-menu .topnav-menu-linklist {
            margin: 0 15px 20px
        }

        .ess .topnav-menu .topnav-slide-wrap {
            margin-top: 0
        }

        .ess .topnav-menu .topnav-menu-box {
            border-top: 0;
            padding-left: 0;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink {
                border-bottom: 0;
                padding-left: 20px
            }

                .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink .topnav-menu-link {
                    margin-top: 0;
                    padding: 0 15px 15px
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-document {
                border-left: 0;
                border-top: 1px solid #eaeaea
            }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-home {
                border: 0;
                width: 100%;
                display: flex;
                justify-content: center
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
                    border: 0
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-list {
                margin: 0
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-list .topnav-menu-list-inner {
                    margin: 0
                }

        .ess .topnav-menu .topnav-menu-box2 {
            margin-top: 10px;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink {
                padding: 20px 5px
            }

                .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink .topnav-menu-link {
                    padding: 0 10px 0
                }

    .ess .topnav-menu-linklist {
        padding-left: 35px
    }

    .ess .mainnavbar-collapse .ess-header-wrap {
        padding: 10px 10px
    }

    .ess .topnav-slide-wrap {
        width: 100%
    }

    .ess-footer {
        margin-top: 0
    }

    .ess-top-header {
        display: none
    }

    .ess-primary-navigation {
        flex-basis: 40%;
        padding-top: 0
    }

        .ess-primary-navigation .ess-menu {
            padding: 0 20px 0 0
        }

    .ess-content-header-panel {
        margin-top: 0
    }

    .ess-content-header-panel {
        display: flex;
        justify-content: flex-end;
        width: 100%
    }

    .ess-content-header-panel {
        position: relative;
        flex-basis: 55%
    }

        .ess-content-header-panel .mobile-menu .menu-settings {
            display: flex;
            justify-content: flex-end
        }

        .ess-content-header-panel .ess-nav {
            position: absolute;
            z-index: 100;
            background-color: #fff;
            padding: 10px;
            display: none
        }

            .ess-content-header-panel .ess-nav .ess-nav-item {
                border: 0;
                width: 100%;
                order: 2;
                min-height: 35px
            }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-nav-cta-box {
                    width: 40%
                }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata {
                    display: block;
                    padding-left: 10px
                }

                    .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata .dropdown-toggle {
                        margin-left: 0
                    }

        .ess-content-header-panel .collapsing.ess-nav {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            right: 0;
            width: 240px;
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            top: 38px
        }

        .ess-content-header-panel .collapse.show.ess-nav {
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            position: absolute;
            flex-direction: column;
            display: flex;
            right: 0;
            width: 300px;
            top: 38px
        }

    .ess-header-wrap {
        padding: 5px 10px 0
    }

    .ess-breadcrumb {
        padding: 5px 10px
    }

    .ess-page-header-panel {
        padding-bottom: 5px
    }

        .ess-page-header-panel .ess-page-header {
            padding: 0 0 10px
        }

        .ess-page-header-panel .ess-page-header-element {
            padding: 0
        }

    .ess-doc-num-box {
        padding: 0
    }

    .ess-tab-section-content {
        padding: 0;
        margin-top: 10px;
    }

    .ess-overall-nav .ess-overall-box {
        width: 100%;
        padding: 5px 0
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: 100%
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }

    .ess-overall-nav .ess-overall-cta {
        text-align: center
    }

    .ess-tab .ess-tab-panel {
        width: auto;
        height: 100%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 575px) {
    .ess-page-header-panel .ess-page-header-element {
        justify-content: center
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }
}

@media (max-width: 542px) {
    .ess-tab .ess-tab-panel {
        margin: 0
    }
}

@media (max-width: 490px) {
    .ess-tab-evoluation-wrap {
        padding: 0 1px
    }

    .ess-tab .ess-tab-panel {
        width: 100%;
        margin: 0
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%;
            margin-top: -5px;
            background-color: #fff
        }
}

@media (max-width: 459px) {
    .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
        width: 50%
    }

    .ess-primary-navigation .ess-logowrap {
        padding: 0 0 4px 0
    }

        .ess-primary-navigation .ess-logowrap .icon.ess-logo {
            width: 72px;
            height: 27px
        }

    .ess-primary-navigation .ess-menu {
        padding: 0 10px 0 0
    }
}

.ess-footer {
    text-align: center;
    padding: 50px 0 40px
}

.ess {
    /*background: #fff url(../images/ess-bg.png)*/
}

    .ess .ess-form-group .ess-form-group-label {
        font-size: 16px;
        font-weight:bold;
    }

    .ess .ess-form-group .ess-form-control {
        border: 1px solid #9f9f9f;
        border-radius: 10px;
        font-size: 16px;
        color: #4b4b4b;
    }

    .ess .ess-form-group .ess-selectbox .select2-container {
        width: 100% !important
    }

    .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single {
        height: 38px
    }

        .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-size: 16px;
            line-height: 2.3
        }

        .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 38px
        }

    .ess .ess-form-group .ess-formgroup-calendar {
        display: flex;
        align-items: center
    }

        .ess .ess-form-group .ess-formgroup-calendar .btn-icon {
            margin: 0 0 0 5px
        }

    .ess .ess-document-action-radio {
        margin-right: 20px
    }

    .ess .ess-form-help {
        color: #8f8f8f;
        line-height: 1.3;
        padding-top: 5px;
        font-size: 14px
    }

    .ess .datepicker .datepicker-days .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-days .table-condensed th {
            width: 28px;
            height: 28px;
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-days .table-condensed td {
            width: 30px;
            height: 30px;
            font-size: 18px;
            margin: 5px
        }

        .ess .datepicker .datepicker-days .table-condensed thead tr:nth-child(2) {
            position: relative
        }

            .ess .datepicker .datepicker-days .table-condensed thead tr:nth-child(2):after {
                content: '';
                height: 1px;
                background: #d5d5d5;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -6px
            }

        .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1), .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1) {
            color: #ee1c24
        }

            .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1).old, .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1).new, .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1).old, .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1).new {
                color: #999
            }

    .ess .datepicker .datepicker-months .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-months .table-condensed th {
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-months .table-condensed td {
            font-size: 16px;
            margin: 5px
        }

            .ess .datepicker .datepicker-months .table-condensed td .month {
                width: 48px;
                height: 48px;
                line-height: 48px
            }

    .ess .datepicker .datepicker-centuries .table-condensed, .ess .datepicker .datepicker-decades .table-condensed, .ess .datepicker .datepicker-years .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-centuries .table-condensed th, .ess .datepicker .datepicker-decades .table-condensed th, .ess .datepicker .datepicker-years .table-condensed th {
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-centuries .table-condensed td, .ess .datepicker .datepicker-decades .table-condensed td, .ess .datepicker .datepicker-years .table-condensed td {
            font-size: 16px;
            margin: 5px
        }

            .ess .datepicker .datepicker-centuries .table-condensed td .century, .ess .datepicker .datepicker-centuries .table-condensed td .decade, .ess .datepicker .datepicker-centuries .table-condensed td .year, .ess .datepicker .datepicker-decades .table-condensed td .century, .ess .datepicker .datepicker-decades .table-condensed td .decade, .ess .datepicker .datepicker-decades .table-condensed td .year, .ess .datepicker .datepicker-years .table-condensed td .century, .ess .datepicker .datepicker-years .table-condensed td .decade, .ess .datepicker .datepicker-years .table-condensed td .year {
                width: 48px;
                height: 48px;
                line-height: 48px
            }

    /*.ess .datepicker table tr td.active.active, .ess .datepicker table tr td.active.disabled, .ess .datepicker table tr td.active.disabled.active, .ess .datepicker table tr td.active.disabled.disabled, .ess .datepicker table tr td.active.disabled:active, .ess .datepicker table tr td.active.disabled:hover, .ess .datepicker table tr td.active.disabled:hover.active, .ess .datepicker table tr td.active.disabled:hover.disabled, .ess .datepicker table tr td.active.disabled:hover:active, .ess .datepicker table tr td.active.disabled:hover:hover, .ess .datepicker table tr td.active.disabled:hover[disabled], .ess .datepicker table tr td.active.disabled[disabled], .ess .datepicker table tr td.active:active, .ess .datepicker table tr td.active:hover, .ess .datepicker table tr td.active:hover.active, .ess .datepicker table tr td.active:hover.disabled, .ess .datepicker table tr td.active:hover:active, .ess .datepicker table tr td.active:hover:hover, .ess .datepicker table tr td.active:hover[disabled], .ess .datepicker table tr td.active[disabled] {
        background: #39b54a;
        border-radius: 100%;
        color: #fff
    }

    .ess .datepicker table tr td span.active.active, .ess .datepicker table tr td span.active.disabled, .ess .datepicker table tr td span.active.disabled.active, .ess .datepicker table tr td span.active.disabled.disabled, .ess .datepicker table tr td span.active.disabled:active, .ess .datepicker table tr td span.active.disabled:hover, .ess .datepicker table tr td span.active.disabled:hover.active, .ess .datepicker table tr td span.active.disabled:hover.disabled, .ess .datepicker table tr td span.active.disabled:hover:active, .ess .datepicker table tr td span.active.disabled:hover:hover, .ess .datepicker table tr td span.active.disabled:hover[disabled], .ess .datepicker table tr td span.active.disabled[disabled], .ess .datepicker table tr td span.active:active, .ess .datepicker table tr td span.active:hover, .ess .datepicker table tr td span.active:hover.active, .ess .datepicker table tr td span.active:hover.disabled, .ess .datepicker table tr td span.active:hover:active, .ess .datepicker table tr td span.active:hover:hover, .ess .datepicker table tr td span.active:hover[disabled], .ess .datepicker table tr td span.active[disabled] {
        background: #39b54a;
        border-radius: 100%;
        color: #fff
    }*/

    .ess .datepicker table tr td.day.focused, .ess .datepicker table tr td.day:hover, .ess .datepicker table tr td span.focused, .ess .datepicker table tr td span:hover {
        border-radius: 100%
    }


.ess-page-header2 {
    font-size: 30px;
    padding: 20px 50px 7px
}

.ess-wrapper {
    padding: 11px 30px
}

.ess-wrapper-pa {
    padding: 0px 11px 0px 20px;
}

.ess-button-align-right {
    text-align: right;
}


.ess-tab-document-wrap .ess-badge {
    border-radius: 50px;
    padding: .25em .8em;
    position: absolute;
    right: 4px;
    top: -5px;
    font-size: 10px;
    font-weight: normal
}

.ess-note {
    color: #0884f4;
    display: flex;
    align-items: center;
    font-size: 14px
}

    .ess-note .icon {
        margin-right: 5px
    }

.ess-tab-content {
    background: #fbfbfb;
    border-top: 3px solid #fff;
    padding: 0 26px 25px
}

.ess-tab-content-pa {
    background: #fff;
    border-top: 3px solid #fff;
    padding: 30px 26px 25px
}



.ess-document-tab-content-search .ess-document-tab-content-filter {
    display: flex;
    padding-top: 2px
}

    .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data {
        width: 230px
    }

        .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container {
            width: 100% !important
        }

        .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container--default .select2-selection--single {
            width: 100%;
            height: 32px
        }

            .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 2.35
            }

    .ess-document-tab-content-search .ess-document-tab-content-filter .form-inline .ess-label {
        color: #363636;
        font-size: 16px;
        padding-right: 16px
    }

.ess-login-detail {
    padding-top: 16px
}

    .ess-login-detail .ess-login-as {
        color: #636363;
        font-size: 16px
    }

    .ess-login-detail .ess-document-total {
        text-align: right;
        color: #636363;
        font-size: 16px
    }

.ess-document-tab-filter-total {
    font-size: 11px;
    color: #006dc1;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.ess-document-tab-filter {
    padding-top: 19px
}

.ess-document-tab-filter-dropdown .ess-document-tab-filter-btn, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled):active, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled).active {
    border: 1px solid #c1c0c0;
    background-color: #faf9f9;
    color: #8d8d8d;
    padding: 0 12px
}

    .ess-document-tab-filter-dropdown .ess-document-tab-filter-btn .ess-document-tab-filter-btn-span, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled):active .ess-document-tab-filter-btn-span, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled).active .ess-document-tab-filter-btn-span {
        padding: 0 11px
    }

.ess-document-tab-filter-panel {
    display: flex
}

.ess-document-tab-filter-action-panel {
    margin-left: 5px
}

.ess-document-tab-filter-action {
    margin: 0 4px
}

.ess-document-tab-filter-action-item {
    display: inline-block;
    border: 1px solid #c1c0c0;
    background-color: #fff;
    border-radius: 6px;
    padding: 0 6px;
    line-height: 1.62
}

.ess .btn.show > .btn-secondary.dropdown-toggle:focus {
    background-color: #faf9f9;
    color: #8d8d8d;
    box-shadow: 0 0 0 1px rgba(130,138,145,0.5)
}

.ess .dropdown-menu {
    border-radius: 0 0 12px 12px;
    border: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)
}

    .ess .dropdown-menu a {
        color: #737373
    }

.ess .dropdown-item:hover, .ess .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #18baec
}

/*.ess-document-list {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-top: 15px;
}

    .ess-document-list .ess-document-list-item {
        display: flex;
        padding-top: 16px;
        padding-bottom: 25px;
        margin-bottom: 5px
    }

    .ess-document-list .ess-document-list-item-type-wrap {
        display: flex;
        min-width: 223px;
        padding-top: 63px
    }


    .ess-document-list .ess-document-list-label {
        display: flex;
        align-items: center
    }

        .ess-document-list .ess-document-list-label .icon {
            margin-right: 10px
        }

    .ess-document-list .ess-document-list-item-type-data {
        font-size: 18px;
        line-height: 1
    }

    .ess-document-list .ess-document-list-item-type-icon {
        padding-top: 9px
    }

    .ess-document-list .ess-document-list-item-detail-num {
        font-size: 30px;
        padding: 10px 0 11px
    }

    .ess-document-list .ess-document-list-item-detail-desc {
        font-size: 20px
    }

    .ess-document-list .ess-document-list-item-detail-wrap {
        width: calc( 60% - 224px );
        padding-top: 27px;
        padding-left: 2%;
        padding-right: 2%
    }

    .ess-document-list .ess-document-list-item-creator-wrap {
        width: 20%;
        border-left: 1px solid #e5e5e5;
        padding-top: 27px;
        padding-left: 2%;
        padding-right: 1%
    }

        .ess-document-list .ess-document-list-item-creator-wrap .ess-document-list-item-creator-num {
            font-size: 20px;
            padding: 10px 0 0px
        }

        .ess-document-list .ess-document-list-item-creator-wrap .ess-document-list-item-creator-name {
            font-size: 20px
        }

        .ess-document-list .ess-document-list-item-creator-wrap .ess-document-list-item-creator-position {
            font-size: 14px;
            padding-top: 2px
        }

    .ess-document-list .ess-document-list-item-status-wrap {
        width: 20%;
        border-left: 1px solid #e5e5e5;
        padding-top: 27px;
        padding-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status {
            display: flex;
            align-items: center;
            font-size: 30px;
            line-height: 1;
            padding-bottom: 12px;
            padding-top: 5px
        }

            .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status .icon {
                margin-right: 7px
            }

            .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status .ess-icon-caption {
                width: calc( 100% - 35px )
            }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp {
            display: flex;
            align-items: center;
            padding-top: 64px
        }

            .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp .icon {
                width: 13px;
                height: 16px;
                margin-right: 7px
            }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-complate {
            color: #39b54a
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-draft {
            color: #448ccb
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-pending-approve {
            color: #f7941d
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-cancelled {
            color: #ed1c24
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-wait {
            color: #a0410d
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-error {
            color: #9e0039
        }*/

/*.ess-tab-section-bar {
    display: flex;
    align-items: center;
    padding: 1px 29px;
    color: white;*/
    /*background-color: #3498DB;*/
/*}*/

.ess-tab-section-bar1 {
    display: flex;
    align-items: center;
    padding: 1px 29px;
    color: white;
    border-radius: 10px 10px 0 0;
}

.ess-tab-section-education-bar {
    display: flex;
    align-items: center;
    padding: 1px 29px;
    color: white;
    border-radius: 10px 10px 0 0;
}

.ess-tab-personal-bar {
    display: flex;
    align-items: center;
    padding: 1px 29px;
    color: white;
    height: 40%;
    border-radius: 10px 10px 0 0;
}

.ess-tab-personal-modal {
    display: flex;
    align-items: center;
    padding: 1px 29px;
    color: white;
    height: 40%;
    border-radius: 4px 4px 0 0;
}




.ess-personal-header {
    background-color: #3498DB;
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 24px;
}

.ess-tab-section-bar .icon {
    margin-right: 16px
}

.ess-tab-section-bar .ess-tab-section-bar-hdr {
    width: calc( 100% - 36px );
    font-size: 20px
}

.ess-tab-section-bar1 .ess-tab-section-bar-hdr {
    width: calc( 100% - 36px );
    font-size: 20px;
    padding: 6px;
}

ess-tab-section-education-bar .ess-tab-section-bar-hdr {
    width: calc( 100% - 36px );
    font-size: 20px;
    padding: 6px;
}

.ess-tab-section-bar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    /*background-color: #3498DB;*/
}

.ess-collapse-data-panel {
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    padding: 13px 20px 20px 20px;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
}

    .ess-collapse-data-panel .ess-document-tab-content-search {
        padding-top: 0
    }

.ess-sub-hdr {
    font-size: 20px;
    padding: 9px 0
}

.ess-report-summary {
    background: #fff;
    border: 1px solid #e8e7e7;
    border-radius: 10px;
    padding: 21px 0 23px;
    margin: 5px 0 16px
}

.ess-report-pa-quali {
    background: #fff;
    border: 1px solid #8C8B8B;
    border-radius: 10px 10px 0 0;
    padding: 21px 0 23px;
    margin: 5px 0 16px;
    text-align: center;
}

.tabcontent-pa {
    display: none;
}

.ess-report-summary-data {
    border-right: 1px solid #e8e7e7;
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.ess-report-summary-hdr {
    display: flex;
    align-items: center;
    justify-content: center
}

.ess-report-summary-label {
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    padding-top: 5px
}

.ess-report-summary-value {
    font-size: 48px;
    text-align: center;
    padding: 11px 0 4px
}

    .ess-report-summary-value.ess-report-summary-value-gery {
        color: #b7b7b7
    }

    .ess-report-summary-value.ess-report-summary-value-green {
        color: #39b54a
    }

.ess-report-summary-value-red {
    color: #ee4536
}

.ess-report-summary-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px
}

    .ess-report-summary-unit .icon {
        margin: 0 5px
    }

    .ess-report-summary-unit .ess-report-summary-unit-caption {
        font-size: 12px
    }
/*9/4/2020 3:25PM*/
/*.ess-table-style1.ess-report-table tbody {
    border: 1px solid #e3e0e0
}

    .ess-table-style1.ess-report-table tbody tr:nth-child(2n) {
        background-color: #fff
    }

.ess-table-style1.ess-report-table tr {
    border-bottom: 1px solid #999999
}

.ess-table-style1.ess-report-table td {
    padding: 15px 15px 15px;
    vertical-align: top;
    white-space: inherit;
    font-size: 15px
}

.ess-table-style1.ess-report-table .ess-report-date {
    font-size: 30px
}

.ess-table-style1.ess-report-table .ess-report-timetype {
    font-size: 20px
}

.ess-table-style1.ess-report-table .ess-report-clockin {
    font-size: 30px
}

.ess-table-style1.ess-report-table .ess-report-clockout {
    font-size: 30px
}

.ess-table-style1.ess-report-table .ess-report-status {
    color: #39b54a;
    padding-top: 31px;
    font-size: 20px
}

.ess-table-style1.ess-report-table .ess-report-clockicon {
    padding-top: 36px
}

.ess-table-style1.ess-report-table .ess-report-check {
    padding-top: 36px
}

.ess-table-style1.ess-report-table .ess-report-remark, .ess-table-style1.ess-report-table .ess-report-timetype {
    padding-top: 33px
}

.ess-table-style1.ess-report-table .ess-report-redflag {
    color: #ee4536
}

    .ess-table-style1.ess-report-table .ess-report-redflag .icon {
        filter: hue-rotate(180deg) saturate(300)
    }

.ess-table-style1.ess-report-table .ess-report-data {
    padding: 0
}

.ess-table-style1.ess-report-table.ess-report-table2 tr.ess-time-card-hdr {
    border: 0
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-time-card, .ess-table-style1.ess-report-table.ess-report-table2 .ess-time-stamp {
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px 11px 60px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockin, .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockout {
    font-size: 20px;
    padding-top: 33px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-data {
    border-left: 1px solid #999;
    padding-left: 40px
}

.ess-table-style1.ess-report-table.ess-report-table2 th.ess-report-data {
    padding-left: 55px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-date {
    padding-left: 60px
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-acccept {
    background: #fff;
}

.ess-table-style1.ess-report-table.ess-report-table2 .ess-report-off {
    background: #f9fafa
}

.ess-table-style1.ess-report-table .ess-report-table2-inside {
    margin: 21px 0 28px
}

    .ess-table-style1.ess-report-table .ess-report-table2-inside tbody, .ess-table-style1.ess-report-table .ess-report-table2-inside tr {
        border: 0;
        background-color: transparent !important
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside td {
        padding: 0 15px 2px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clocktime {
        font-size: 30px;
        width: 200px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockplace {
        padding-top: 12px;
        width: 250px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockstatus {
        padding-top: 12px;
        width: 300px;
        color: #39b54a
    }

.ess-table-style1.ess-report-table.ess-report-table-sum tbody {
    border: 0
}

    .ess-table-style1.ess-report-table.ess-report-table-sum tbody tr:last-child {
        border: 0
    }*/

/*.ess-leave-summary-box {
    border: 1px solid #e5e5e5;
    margin: 0 0 9px;
    background-color: #fff;
    padding-top: 14px
}

.ess-leave-summary-chart-box {
    padding-left: 4%;
    padding-right: 6%
}*/

/*.ess-report-summary-data-row {
    padding-top: 24px;
    padding-bottom: 24px
}*/

.ess-report-summary-data {
    padding-top: 0;
    border-left: 1px solid #e5e5e5;
    border-right: 0
}

.ess-report-summary-label {
    font-size: 20px
}

.ess-report-summary-value {
    font-size: 20px
}

.ess-table-container.ess-report-table-border-radius {
    border-radius: 10px;
    border: 1px solid #ecebeb;
    padding-bottom: 10px;
    background-color: #fff
}


.ess-search-box {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

    .ess-search-box .ess-form-label {
        font-size: 16px;
        padding: 0 20px
    }

    .ess-search-box .ess-form-search {
        width: 230px;
        position: relative;
        border-radius: 10px;
        border: 1px solid #aaa;
        margin-bottom: 0;
        height: 34px;
    }

        .ess-search-box .ess-form-search .form-control-search {
            border: 0;
            border-radius: 10px;
            padding: 0 .75rem;
            height: 32px
        }

        .ess-search-box .ess-form-search .btn-search {
            border: 0;
            line-height: 1;
            position: absolute;
            top: 0;
            right: 0
        }

/*.ess-btnicon {
    display: flex;
    align-items: center;
    font-size: 16px
}

    .ess-btnicon .icon {
        margin-right: 10px
    }

    .ess-btnicon.ess-btnicon-green {
        color: #009245
    }

    .ess-btnicon.ess-btnicon-right .icon {
        margin-right: 0;
        margin-left: 10px
    }*/

.ess-iconwrap {
    margin: 0 10px
}

.ess-uploader-container {
    text-align: center;
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    margin: 0 0 25px
}

.ess-summary-ot .ess-tab-document-wrap .ess-nav-link .ess-tab-link-label {
    text-align: center;
    padding: 5px 10px
}

.ess-summary-ot .ess-page-header2 {
    padding: 27px 50px 30px
}

.ess-summary-ot .ess-tab-document-wrap .ess-tab-panel {
    width: auto
}

.btn-ot-manual {
    font-size: 20px;
    color: #0884f4
}

.ess-tab-ot-content {
    padding-left: 0;
    padding-right: 0
}

    .ess-tab-ot-content .ess-document-tab-content-search {
        padding-left: 50px;
        padding-right: 26px
    }

.ess-table-container .ess-table-style1.ess-ot-request-tbl tbody {
    border: 0
}

.ess-table-container .ess-table-style1.ess-ot-request-tbl .ess-ot-request-tbl-tr:last-child {
    border: 0
}

.ess-table-container .ess-table-style1.ess-ot-request-tbl .ess-report-check {
    padding-top: 25px
}

.ess-table-container .ess-table-style1.ess-ot-request-tbl .ess-ot-request-data {
    font-size: 30px;
    vertical-align: middle;
    width: 100px;
    min-width: 100px
}

.ess-table-container .ess-table-style1.ess-ot-request-tbl .ess-ot-request-hdata {
    padding: 5px 15px 10px;
    width: 100px;
    min-width: 100px
}

    .ess-table-container .ess-table-style1.ess-ot-request-tbl .ess-ot-request-hdata:nth-child(even) {
        background: #1574fe
    }

.ess-table-container .ess-table-style1.ess-ot-request-tbl .ess-ot-request-data:nth-child(even) {
    background-color: #e9effe
}

.ess-table-container .ess-table-style1.ess-ot-request-tbl .ess-ot-request-hdata-label {
    padding-bottom: 10px
}

.ess-table-container .ess-table-style1.ess-ot-request-tbl .ess-ot-request-hdate {
    width: 170px;
    min-width: 170px;
    padding-left: 20px;
    line-height: 1.3
}

.ess-table-container .ess-table-style1.ess-ot-request-tbl .ess-ot-request-hdetail {
    width: 250px;
    min-width: inherit
}

.ess-table-container .ess-table-style1.ess-ot-request-tbl .ess-ot-request-watch, .ess-table-container .ess-table-style1.ess-ot-request-tbl .ess-ot-request-del {
    width: 55px;
    min-width: 55px
}

.ess-table-container .ess-table-style1.ess-ot-request-tbl .ess-ot-request-owner {
    width: 360px;
    min-width: 360px
}

.ess-ot-request-sum-tbl-wrap {
    background-color: #fbfbfb;
    padding: 0 20px 20px
}

.ess-ot-request-sum-tbl-wrap1 {
    background-color: #f6f6f6
}

    .ess-ot-request-sum-tbl-wrap1 .ess-table-style1.ess-report-table.ess-ot-request-sum-tbl tbody {
        border: 0
    }

        .ess-ot-request-sum-tbl-wrap1 .ess-table-style1.ess-report-table.ess-ot-request-sum-tbl tbody tr {
            background: transparent;
            border-bottom: 0
        }

            .ess-ot-request-sum-tbl-wrap1 .ess-table-style1.ess-report-table.ess-ot-request-sum-tbl tbody tr:nth-child(2n) {
                background-color: transparent
            }

    .ess-ot-request-sum-tbl-wrap1 .ess-table-style1.ess-report-table.ess-ot-request-sum-tbl .ess-ot-request-tbl-ftoot .ess-ot-request-totaldata-hdr {
        font-size: 20px;
        font-weight: bold;
        vertical-align: middle;
        margin: 10px
    }

    .ess-ot-request-sum-tbl-wrap1 .ess-table-style1.ess-report-table.ess-ot-request-sum-tbl .ess-ot-request-tbl-ftoot .ess-ot-request-data {
        padding-top: 10px;
        padding-bottom: 5px
    }

    .ess-ot-request-sum-tbl-wrap1 .ess-table-style1.ess-report-table.ess-ot-request-sum-tbl .ess-ot-request-totaldata {
        font-size: 30px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #c2c2c2
    }

.ess-ot-request-tbl-control {
    width: 100%
}

.ess-ot-request-sum-tbl-twrap {
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    margin: 0 20px 20px;
    padding-bottom: 7px;
    background: #fff
}

.ess-ot-request-sum-tbl-fwrap {
    border-radius: 10px;
    border: 1px solid #96bafc;
    background-color: #fff;
    margin: 33px 20px 40px
}

.ess-report-ot .ess-ot-request-sum-tbl-twrap {
    margin: 0 0 20px
}

.ess-report-ot .ess-page-header2 {
    padding: 20px 50px 30px
}

.ess-report-ot .ess-report-ot-wrapper {
    padding: 23px 0 17px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 14px
}

    .ess-report-ot .ess-report-ot-wrapper .ess-page-header2 {
        padding: 5px 40px 20px
    }

.ess-report-ot .ess-report-ot-employee {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    font-size: 30px;
    padding-left: 30px
}

.ess-report-ot .ess-report-ot-employee-id {
    padding: 0 20px 0 8px
}

.ess-report-ot .ess-report-ot-month {
    font-size: 30px;
    padding-left: 30px
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl td {
    padding-top: 12px;
    padding-bottom: 13px
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-table-header {
    border: 0
}

    .ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-table-header th {
        padding: 0 15px;
        white-space: normal
    }

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-table-header2 {
    border: 0
}

    .ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-table-header2 .ess-ot-request-hdata {
        color: #fff;
        font-size: 20px;
        text-align: center;
        padding: 9px 15px 13px;
        background-color: #177cff
    }

        .ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-table-header2 .ess-ot-request-hdata:nth-child(even) {
            background: #177cff
        }

        .ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-table-header2 .ess-ot-request-hdata.ess-ot-report-col-blue {
            background: #1574fe
        }

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-request-hdata2 {
    text-align: center;
    padding-top: 8px !important;
    line-height: unset
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-request-hdate {
    line-height: unset
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-request-hdata:nth-child(2n) {
    background-color: #177cff
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-report-col-blue {
    background-color: #e9effe
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-report-sep {
    border-left: 2px solid #023cff
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-syscal-data {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-syscal-input {
    font-size: 20px;
    color: #363636;
    height: 54px;
    margin-top: -13px
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-request-action {
    vertical-align: top;
    padding-top: 12px !important;
    line-height: 1;
    width: 100px;
    min-width: 100px
}

    .ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-request-action .checkboxmark {
        margin: 5px auto 0;
        right: 0;
        width: 20px;
        height: 20px
    }

        .ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-request-action .checkboxmark::after {
            left: 5px;
            top: 0px
        }

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-request-data {
    vertical-align: top;
    font-size: 20px
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-report-tr-hdr {
    border-bottom: 0 !important;
    border-top: 1px solid #c2c2c2
}

    .ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-report-tr-hdr td {
        padding-bottom: 0;
        padding-top: 0
    }

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-report-data {
    width: 100px;
    min-width: 100px;
    text-align: center
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-report-num {
    width: 70px;
    min-width: 70px
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-request-hdate {
    width: 260px;
    min-width: 260px;
    white-space: normal
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-report-clockin, .ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-report-ottime {
    width: 160px;
    min-width: 160px
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl .ess-ot-report-data-total {
    width: 300px;
    min-width: 300px;
    text-align: center
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl.ess-ot-request-sum-tbl td {
    vertical-align: middle
}

.ess-report-ot .ess-table-container .ess-table-style1.ess-ot-report-tbl.ess-ot-report-submit-tbl td {
    padding-top: 29px !important
}

.ess-report-ot .ess-ot-request-sum-tbl-wrap1 {
    background-color: #fff
}

.ess-report-ot .ess-ot-request-sum-tbl-fwrap {
    margin-top: 0;
    margin-bottom: 10px
}

.ess-report-ot .ess-report-ot-btn {
    background-color: #ff0000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 140px;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 16px 0 18px
}

    .ess-report-ot .ess-report-ot-btn.ess-report-ot-btn-holidaywork {
        background-color: #13a462
    }

    .ess-report-ot .ess-report-ot-btn.ess-report-ot-btn-daywork {
        background-color: #1574fe
    }

@media (max-width: 1024px) {
    .ess-report-ot .ess-report-ot-wrapper {
        padding: 23px 0 17px
    }

    .ess-report-ot .ess-ot-request-sum-tbl-twrap {
        margin-left: 20px;
        margin-right: 20px
    }
}

@media (max-width: 767px) {
    .ess-tab-ot-content .ess-document-tab-content-search {
        padding: 0 0 25px;
        margin: 0
    }

    .ess-document-tab-content-search .ess-document-tab-content-filter {
        display: block
    }

    .botton-ot-claim {
        margin-left: 0 !important;
        display: block;
        margin-top: 5px;
        margin-bottom: 10px
    }

    .ess-summary-ot .ess-page-header2 {
        padding: 7px 15px 10px
    }

    .ess-ot-request-sum-tbl-twrap {
        margin: 0 10px 20px
    }

    .ess-ot-request-sum-tbl-fwrap {
        margin: 33px 10px 40px
    }

    .ess-report-ot .ess-ot-request-sum-tbl-twrap {
        margin: 0 10px 20px
    }

    .ess-report-ot .ess-report-ot-employee {
        flex-wrap: wrap
    }

    .ess-report-ot .ess-page-header2 {
        padding-left: 0;
        padding-bottom: 0
    }

    .ess-report-ot .ess-report-ot-employee, .ess-report-ot .ess-report-ot-month {
        padding-left: 0
    }

    .ess-report-ot .ess-report-ot-wrapper .ess-page-header2 {
        padding-left: 15px;
        padding-right: 15px
    }
}


.ess-btn-l-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #c2c2c2;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 14px;
    font-size: .875rem
}

    .ess-btn-l-icon .icon {
        margin-right: 5px
    }

.ess-btn-downloadfile .icon {
    width: 22px;
    height: 22px
}

.ess-btn-downloadfile:hover, .ess-btn-downloadfile:visited {
    color: #279bde
}

.ess-tbl-attached-file td {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-size: .875rem
}


.attachment {
    display: flex;
    /*background-color: #e2e2e2;*/
    border: 1px #e1e1e1 solid;
    /*border-left: 1px #f1f1f1 solid;
    border-right: 1px #f1f1f1 solid;*/
    /*border-bottom: 1px #e1e1e1 solid;*/
    padding: 2px;
}

    .attachment:hover {
        /*color: #ffffff;*/
        background-color: #EBF0FC;
    }

    .attachment .attachment-icon {
        align-items: center;
        /*background-color: #eaeaea;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30px;
    }

    .attachment .attachment-detail {
        display: flex;
        width: 63%;
        flex-direction: column;
        justify-content: center;
        padding: 4px 4px;
    }

        .attachment .attachment-detail .detail-filename {
            color: #004bff;
        }

        .attachment .attachment-detail .detail-filetype {
            color: #8c8c8c;
        }

    .attachment .attachment-download {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .attachment .attachment-delete {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }

        .attachment .attachment-delete > a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: 1px solid #c2c2c2;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: #fff;
            font-size: 14px;
            font-size: .875rem;
            margin-left: 10px;
            margin-right: 10px;
        }

            .attachment .attachment-delete > a.delete {
                color: #ff3237;
            }

            .attachment .attachment-delete > a.recovery {
                color: #6f6f6f;
            }

    .attachment .attachment-download > a:hover {
        background-color: #e8e8e8;
    }

    .attachment .attachment-delete > a:hover {
        background-color: #e8e8e8;
    }



/*ADD code for OT Page By Natthawath */
.ess-create-ot-wrapper {
    background-color: #fbfbfb;
    border: 1px solid #e2e0e0;
    padding: 25px;
}

    .ess-create-ot-wrapper .ess-page-header2 {
        padding: 0 16px;
    }

    .ess-create-ot-wrapper .ess-create-ot-search .ess-detail-data {
        font-size: 18px;
        margin: 0 30px 0 15px;
    }

        .ess-create-ot-wrapper .ess-create-ot-search .ess-detail-data .select2-container--default .select2-selection--single {
            height: 44px;
            color: #363636;
        }

            .ess-create-ot-wrapper .ess-create-ot-search .ess-detail-data .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 42px;
            }

            .ess-create-ot-wrapper .ess-create-ot-search .ess-detail-data .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 2.3;
            }

    .ess-create-ot-wrapper .ess-create-ot-search .ess-label {
        font-size: 16px;
    }

    .ess-create-ot-wrapper .btn-secondary {
        background-color: #177cff;
        color: #fff;
        font-size: 16px;
        border-radius: 50px;
        border: 0;
        padding-left: 38px;
        padding-right: 38px;
        line-height: 1.4;
    }

.ess-create-ot-cal-row {
    padding-top: 26px;
    padding-bottom: 25px;
    border-top: 2px solid #d7d7d7;
}

    .ess-create-ot-cal-row .ess-page-header3 {
        margin-bottom: 0;
    }

.ess-create-ot-cal-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ess-create-ot-cal-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ess-create-ot-cal-total-label {
    font-size: 20px;
    margin: 0 20px;
}

.ess-create-ot-cal-total {
    font-size: 30px;
    color: #00a651;
}

.ess-create-ot-list {
    border: 1px solid #c2c2c2;
    padding: 21px 0 10px;
    border-radius: 10px;
    margin: 0 0 5px;
    background-color: #fff;
}

    .ess-create-ot-list .ess-create-ot-list-datetime {
        display: flex;
        justify-content: space-between;
    }

    .ess-create-ot-list .ess-create-ot-list-date {
        width: 150px;
    }

        .ess-create-ot-list .ess-create-ot-list-date .ess-form-control {
            width: 116px;
        }

    .ess-create-ot-list .ess-create-ot-list-time-field {
        width: calc( 100% - 180px );
    }

        .ess-create-ot-list .ess-create-ot-list-time-field.ess-form-group .ess-form-group-label {
            margin-bottom: 19px;
            font-weight: bold;
        }

    .ess-create-ot-list .ess-create-ot-list-time {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .ess-create-ot-list .ess-create-ot-list-timein {
        display: flex;
        align-items: center;
        /*padding-top: 4px;
        padding-bottom: 5px;*/
    }

    .ess-create-ot-list .ess-create-ot-list-time-fill {
        min-width: 70px;
    }

    .ess-create-ot-list .ess-create-ot-list-time-colon {
        width: 20px;
        text-align: center;
    }

    .ess-create-ot-list .ess-create-ot-list-time-icon {
        margin: 0 4%;
    }

    .ess-create-ot-list .select2-container {
        width: 100% !important;
    }

    .ess-create-ot-list .select2-container--default .select2-selection--single {
        font-size: 18px;
        height: 38px;
    }

        .ess-create-ot-list .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 38px;
        }

    .ess-create-ot-list .ess-create-ot-rate.ess-form-group {
        text-align: center;
        padding: 0;
    }

        .ess-create-ot-list .ess-create-ot-rate.ess-form-group .ess-create-ot-rate-value {
            font-size: 30px;
            color: #00a651;
        }

        .ess-create-ot-list .ess-create-ot-rate.ess-form-group .ess-create-ot-detail-value {
            font-size: 22px;
            color: lightseagreen;
        }

        .ess-create-ot-list .ess-create-ot-rate.ess-form-group .ess-form-group-label {
            margin-bottom: 18px;
            font-weight: bold;
        }

    .ess-create-ot-list .ess-form-group .ess-form-group-label {
        font-size: 20px;
        margin-bottom: 23px;
    }

    .ess-create-ot-list .ess-create-ot-list-del {
        display: flex;
        justify-content: center;
        align-items: center;
    }

@media (min-width: 1400px) and (max-width: 1579px) {
    .ess-create-ot-list .ess-create-ot-list-timein {
        width: 39%;
    }

    .ess-create-ot-list .ess-create-ot-list-time-fill {
        min-width: 45%;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .ess-create-leave-tool-wrap2 {
        padding: 0 0 17px;
    }

    .ess-create-leave-summary-tbl {
        min-width: 250px;
    }
}

@media (max-width: 991px) {
    .ess-create-leave-tool-wrap {
        padding: 0 5% 0;
    }

    .ess-create-leave-tool-wrap2 {
        padding: 0 2% 17px;
    }

    .ess-create-leave-tool-wrap3 {
        padding: 0 2% 30px;
    }

    .ess-create-leave-tool-wrap4 {
        padding: 0 2%;
    }

    .ess-create-leave-page .daterangepicker .drp-calendar {
        min-width: unset;
        width: 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .ess-create-leave-tool-wrap {
        padding: 0 2%;
        border-right: 0;
    }

    .ess-create-leave-tool-wrap {
        padding: 0;
    }

    .ess-create-leave-tool-wrap2 {
        padding: 0 0 17px;
    }

    .ess-create-leave-tool-wrap3 {
        padding: 0 0 30px;
    }

    .ess-create-leave-tool-wrap4 {
        padding: 0;
    }

    .ess-create-leave-tool-panel .ess-page-header2 {
        padding-right: 0;
    }

    .ess-create-ot-wrapper {
        padding-left: 2%;
        padding-right: 2%;
    }

    .ess-create-leave-page .daterangepicker {
        width: 97%;
    }

        .ess-create-leave-page .daterangepicker .drp-calendar .table-condensed {
            width: auto;
            border-spacing: 3px;
            margin: 0 auto;
        }

        .ess-create-leave-page .daterangepicker .calendar-table th,
        .ess-create-leave-page .daterangepicker .calendar-table td {
            font-size: 16px;
        }
}

@media (max-width: 600px) {
    .ess-create-leave-page .daterangepicker .drp-calendar {
        min-width: unset;
        width: 100%;
        max-width: unset;
    }

    .ess-create-leave-page .daterangepicker .calendar-table th,
    .ess-create-leave-page .daterangepicker .calendar-table td {
        font-size: 18px;
    }

    .ess-create-leave-page .daterangepicker .drp-calendar .table-condensed {
        width: auto;
        border-spacing: 10px;
        margin: 0 auto;
    }
}

@media (min-width: 576px) and (max-width: 644px) {
    .ess-create-ot-list .ess-create-ot-list-timein {
        width: 39%;
    }

    .ess-create-ot-list .ess-create-ot-list-time-fill {
        width: 50%;
        min-width: unset;
    }
}

@media (max-width: 563px) {
    .ess-create-leave-page .daterangepicker {
        width: 97%;
    }

        .ess-create-leave-page .daterangepicker .drp-calendar .table-condensed {
            width: auto;
            border-spacing: 10px;
            margin: 0 auto;
        }

        .ess-create-leave-page .daterangepicker .calendar-table th,
        .ess-create-leave-page .daterangepicker .calendar-table td {
            font-size: 16px;
        }

        .ess-create-leave-page .daterangepicker .drp-calendar {
            min-width: unset;
            max-width: unset;
        }

            .ess-create-leave-page .daterangepicker .drp-calendar.right::before {
                display: none;
            }
}

@media (max-width: 500px) {
    .ess-create-ot-wrapper .btn-secondary {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ess-create-ot-wrapper .ess-create-ot-search {
        flex-direction: column;
    }

        .ess-create-ot-wrapper .ess-create-ot-search .ess-detail-data {
            margin: 0 0 15px;
        }

    .ess-create-leave-page .daterangepicker .drp-calendar .table-condensed {
        border-spacing: 15px;
    }
}

@media (max-width: 413px) {
    .ess-create-ot-cal-box {
        display: block;
        width: 100%;
        text-align: center;
    }

    .ess-create-ot-list .ess-create-ot-list-datetime {
        flex-direction: column;
    }

    .ess-create-ot-list .ess-create-ot-list-date,
    .ess-create-ot-list .ess-create-ot-list-time-field {
        width: 100%;
    }

        .ess-create-ot-list .ess-create-ot-list-time-field.ess-form-group .ess-form-group-label {
            margin-bottom: 10px;
            font-weight: bold;
        }

    .ess-create-ot-list .ess-form-group .ess-form-group-label {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .ess-create-ot-list .ess-create-ot-list-date .ess-form-control {
        width: calc( 100% - 40px );
    }

    .ess-create-leave-page .daterangepicker .drp-calendar .table-condensed {
        border-spacing: 10px;
    }
}

@media (max-width: 375px) {
    .ess-leave-list-item {
        flex-direction: column;
    }

        .ess-leave-list-item .ess-leave-list-item-date {
            min-width: 100%;
        }

    .ess-create-leave-page .daterangepicker .drp-calendar .table-condensed {
        border-spacing: 2px;
    }
}

