
/*.ess-phone-dir-search {
}

.ess-phone-dir-result {
    background-color: #E1E2E1;
    border-radius: 10px;
    overflow: scroll;
}

.ess-text-group {
    display: inline-block;
    margin-bottom: 0.5rem;
}

    .ess-text-group label {
        font-weight: bold;
        margin-right: 5px;
        width: 30%;
    }

    .ess-text-group input {
        border-radius: 5px;
        background-color: white;
        width: 65%;
        box-shadow: none;
    }

        .ess-text-group input:hover {
            box-shadow: 5px 5px 5px 5px dimgray;
        }

        .ess-text-group input:focus {
            box-shadow: 5px 5px 5px 5px dimgray;
        }

    .ess-text-group select {
        border: none;
        text-align: end !important;
        background-color: transparent;
        width: fit-content;
    }

.ess-submit-group {
    display: inline-flex;
    text-align: center;
}

.ess-phone-directory-card {
    position: relative;
    padding: 10px;
    font-size: 10px;
    box-shadow: 5px 5px 5px #000000;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(30, 87, 250, 0.3) 0%, rgba(125, 185, 232, 0) 90%);
    background-repeat: repeat;
    border-radius: 10px;
}

    .ess-phone-directory-card:hover {
        background-color: grey;
    }

        .ess-phone-directory-card:hover span.alternative-name {
            color: white;
        }

    .ess-phone-directory-card i {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .ess-phone-directory-card label {
        font-weight: bold;
        font-size: 13px;
    }

    .ess-phone-directory-card span {
        font-weight: lighter;
        font-size: 12px;
        overflow-wrap: break-word;
        line-height: normal;
    }

        .ess-phone-directory-card span.alternative-name {
            color: dimgray;
        }


.ess-each-phone-card label {
    font-weight: bold;
}

.ess-each-phone-card label {
    font-weight: bold;
}

.ess-each-phone-card .personal-image {
    height: 150px;
    width: 150px;
    border-radius: 50%
}

.ess-each-phone-card .qrcode-image {
    width: 135px;
    height: 135px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.ess-each-phone-card .ess-infomation-card-header span {
    word-wrap: break-word;
}

.ess-each-phone-card .ess-infomation-card-detail span {
    word-wrap: break-word;
}*/

/*@media all and (max-width: 1500px) {
    .ess-phone-dir-result {
        max-height: 650px;
    }
}

@media all and (max-width: 1200px) {

    .ess-phone-dir-result {
        max-height: 900px;
    }
}
*/

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}*/

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .display .display-item {
        flex-grow: 1;
        padding: 15px;
    }

        .display .display-item > span {
            display: block;
            text-align: center;
            padding: 15px;
            font-size: 2em;
        }

.business-card,
.flippable-business-card {
    width: 550px;
    height: 270px;
    max-width: 100%;
    border-radius: 4px;
    margin: 0 auto;
}

.business-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #fff 0%,#fff 50%,#0982a7 50.5%,rgba(0,200,200, .6) 100%);
/*    color: rgba(0, 0, 0, 0.8);*/
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

    .business-card .profile {
        display: flex;
        flex-basis: 150px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 15px;

    }

        .business-card .profile .profile-image {
            background-position: center;
            background-size: cover;
            width: 120px;
            height: 120px;
            border-radius: 100%;
        }

        .business-card .profile .profile-title {
            padding-left: 15px;
            flex-direction: column;
            justify-content: space-around;
        }

        

    .business-card .info {
        display: flex;
        flex-grow: 1;
    }

        .business-card .info .info-contact {
            padding: 15px 0px 15px 25px;
            position: absolute;
        }

            .business-card .info .info-contact a {
                color: rgba(0, 0, 0, 0.8);
            }

            .business-card .info .info-contact i {
                font-size: 1.2em;
                width: 25px;
            }

        .business-card .info .info-bio {
            display: flex;
            flex-grow: 1;
            flex-basis: 50%;
            flex-direction: column;
        /*    justify-content: space-around;*/
            padding: 15px;
            text-align: center;
        }

.flippable-business-card {
    perspective: 1000px;
}

    .flippable-business-card .front,
    .flippable-business-card .back {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in-out;
        transform-style: preserve-3d;
        background-color: white;
        border-radius: 4px;
        overflow: hidden;
    }

    .flippable-business-card .front {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

        .flippable-business-card .front .front-top {
            height: 150px;
            background-image: url(https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=b0aa3fbba9c018e93499effa49dd8e83);
            background-size: cover;
            background-position: center;
            position: relative;
        }

            .flippable-business-card .front .front-top h2,
            .flippable-business-card .front .front-top h3 {
                display: block;
                padding: 15px;
                text-align: center;
                color: white;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), -1px -1px 1px rgba(0, 0, 0, 0.4);
            }

            .flippable-business-card .front .front-top .profile-image {
                position: absolute;
                height: 120px;
                width: 120px;
                bottom: 0;
                left: 50%;
                transform: translate(-50%) translateY(50%) rotate(45deg);
                border-radius: 4px;
                overflow: hidden;
                border: 4px solid white;
            }

                .flippable-business-card .front .front-top .profile-image:before {
                    content: "";
                    width: 140%;
                    height: 140%;
                    position: absolute;
                    transform: rotate(-45deg);
                    top: -20%;
                    left: -20%;
                    background-size: cover;
                    background-position: center;
                }

        .flippable-business-card .front .front-bottom {
            height: 150px;
            display: flex;
            color: rgba(255, 255, 255, 0.8);
            background-color: darkslategray;
        }

            .flippable-business-card .front .front-bottom > div {
                flex-grow: 1;
                flex-basis: 50%;
                padding-top: 30px;
                padding-bottom: 15px;
            }

                .flippable-business-card .front .front-bottom > div:first-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding-right: 40px;
                    padding-left: 15px;
                }

                    .flippable-business-card .front .front-bottom > div:first-child h2 {
                        font-size: 1.4em;
                    }

                .flippable-business-card .front .front-bottom > div:last-child {
                    display: flex;
                    justify-content: space-around;
                    padding-left: 40px;
                    padding-right: 15px;
                }

                    .flippable-business-card .front .front-bottom > div:last-child a {
                        color: rgba(0, 0, 0, 0.8);
                    }

                    .flippable-business-card .front .front-bottom > div:last-child i {
                        font-size: 1.2em;
                        width: 25px;
                    }

                    .flippable-business-card .front .front-bottom > div:last-child > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }

    .flippable-business-card .back {
        transform: rotateX(180deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        box-shadow: none;
        background-color: #f2f3f4;
        color: #004390;
    }

    .flippable-business-card:hover .back {
        transform: rotateX(360deg);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .flippable-business-card:hover .front {
        transform: rotateX(180deg);
        box-shadow: none;
    }

@media (max-width: 420px) {
    .business-card,
    .flippable-business-card {
        width: 330px;
        height: 270px;
        max-width: 100%;
        border-radius: 4px;
        margin: 0 auto;
    }

        .business-card .profile .profile-image {

            width: 80px;
            height: 80px;
            border-radius: 100%;
        }

        .business-card .info .info-contact {
            padding: 5px 0px 5px 15px;
            position: absolute;
            font-size:14px;
        }

}

.central-contact-card {
    border-radius: 15px;
    margin: 20px;
}

.central-contact-table {
    border: none;
    width: 90%;
    margin: 20px;
}

tr.paddingTop {
    border-bottom: 2px solid gray;
}

tr.paddingTop > td {
    padding-top: 5px;
}