* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}


.ess-header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 8px;
    border-bottom: 1px solid #d3d6da
}

.ess-primary-navigation {
    display: flex;
    align-items: center
}

    .ess-primary-navigation .ess-menu {
        padding: 20px 22px 10px 11px
    }

    .ess-primary-navigation .ess-logowrap {
        display: flex;
        align-items: center;
        border-left: 1px solid #666;
        padding: 0 0 4px 17px;
        margin-top: 4px
    }

.ess-content-header-panel {
    display: flex;
    align-items: center
}

    .ess-content-header-panel .ess-nav {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0 0 0 33px;
        justify-content: flex-end
    }

    .ess-content-header-panel .ess-nav-link {
        padding: 0;
        color: #7f7f7f
    }

    .ess-content-header-panel .font-size-smaller, .ess-content-header-panel .font-size-normal, .ess-content-header-panel .font-size-bigger {
        line-height: 12px;
        padding: 0 5px;
        color: #7f7f7f
    }

        .ess-content-header-panel .font-size-smaller a, .ess-content-header-panel .font-size-normal a, .ess-content-header-panel .font-size-bigger a {
            color: #7f7f7f
        }

        .ess-content-header-panel .font-size-smaller.active, .ess-content-header-panel .font-size-normal.active, .ess-content-header-panel .font-size-bigger.active {
            color: #000
        }

            .ess-content-header-panel .font-size-smaller.active a, .ess-content-header-panel .font-size-normal.active a, .ess-content-header-panel .font-size-bigger.active a {
                color: #000
            }

    .ess-content-header-panel .font-size-smaller {
        font-size: 15px
    }

    .ess-content-header-panel .font-size-normal {
        font-size: 18px
    }

    .ess-content-header-panel .font-size-bigger {
        font-size: 22px
    }

    .ess-content-header-panel .dropdown-toggle {
        font-size: 13px
    }

        .ess-content-header-panel .dropdown-toggle:after {
            border: none;
            background: url("../images/icons/select-arrow.svg") no-repeat center center;
            width: 19px;
            height: 19px;
            display: inline-block;
            vertical-align: inherit;
            background-size: cover;
            vertical-align: middle;
            margin-left: 10px;
            position: relative;
            bottom: 10px
        }

        .ess-content-header-panel .dropdown-toggle .ess-nav-link-user {
            padding-right: 15px
        }

    .ess-content-header-panel .mobile-menu .menu-settings {
        display: none
    }

.ess-nav-inbox {
    display: flex;
    margin: 0;
    padding: 0
}

.ess-nav-item-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: #8d8d8d;
    width: 100%
}

    .ess-nav-item-user .ess-userimg {
        width: 43px;
        height: 43px;
        display: block;
        border-radius: 100%
    }

        .ess-nav-item-user .ess-userimg img {
            border-radius: 100%;
            width: 100%;
            height: auto
        }

    .ess-nav-item-user .ess-nav-item-userimg {
        width: 43px
    }

    .ess-nav-item-user .ess-nav-item-userdata {
        width: calc( 100% - 43px );
        padding: 5px 9px 0 9px;
        margin-left: 8px
    }

        .ess-nav-item-user .ess-nav-item-userdata.show {
            background-color: #fff;
            position: relative;
            border-radius: 8px 8px 0 0;
            box-shadow: 0px -2px 12px -7px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-menu.show {
            background: #fff;
            transform: none !important;
            left: 0 !important;
            right: 0 !important;
            top: unset !important;
            border-radius: 0 0 10px 10px;
            border: 0;
            margin: 0 !important;
            min-width: 154px;
            box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-item {
            color: #737373;
            padding: 5px 10px;
            display: flex;
            align-items: center
        }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item .dropdown-icon {
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center
            }

            /*.ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus {
                color: #fff;
                text-decoration: none;
                background-color: #18baec
            }*/

                .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover .dropdown-icon .icon, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus .dropdown-icon .icon {
                    filter: brightness(300)
                }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:first-child, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:last-child {
                border-radius: 0
            }

        .ess-nav-item-user .ess-nav-item-userdata .ess-nav-item-userdata-line {
            margin: 6px 0
        }

    .ess-nav-item-user .ess-nav-link-hello {
        font-size: 18px;
        line-height: 1.1;
        display: block;
        color: #8d8d8d
    }

    .ess-nav-item-user .ess-nav-link {
        display: flex;
        align-items: flex-end
    }

.ess-nav-item {
    color: #7f7f7f;
    min-height: 50px;
    display: flex;
    align-items: center
}

    .ess-nav-item.ess-user-topbar {
        justify-content: flex-end;
        padding: 0
    }

    .ess-nav-item.ess-nav-date .font-size-label {
        font-size: 15px
    }

    .ess-nav-item.ess-nav-cta-box {
        align-items: flex-end;
        min-height: 51px;
        padding: 0;
        position: relative
    }

    .ess-nav-item.ess-kvis-icon {
        margin-top: 7px;
        padding: 0 27px;
        border-left: 1px solid #666
    }

.ess-nav-cta {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px
}

    .ess-nav-cta .ess-nav-cta-icon {
        display: block;
        line-height: 0
    }

    .ess-nav-cta .ess-nav-approve-qty {
        position: absolute;
        right: 10px;
        top: 0;
        background-color: #ff1d25;
        display: inline-block;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        line-height: 1.4;
        padding: 0 6px
    }

.ess .mainnavbar {
    position: absolute;
    width: 100%;
    top: 75px;
    z-index: 200;
    background: #f9f9f9;
    box-shadow: none
}

.ess .mainnavbar-close {
    position: absolute;
    top: -58px;
    left: 22px;
    background: #fff;
    padding: 10px
}

.ess .form-control:focus, .ess .ess-form-control:focus {
    box-shadow: unset
}

.ess .form-control, .ess .ess-form-control {
    border-radius: 0;
    font-size: 16px;
    font-family: kanit;
    color: #8d8d8d
}
/*
.ess .select2-container--default .select2-selection--single {
    border-color: #9f9f9f;
    border-radius: 10px;
    line-height: 2;
    height: 30px;
    color: #7d7d7d
}

    .ess .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 2;
        color: #7d7d7d
    }

    .ess .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-width: 7px 5px 0 5px;
        left: 50%;
        margin-left: -7px;
        margin-top: -2px
    }

.ess .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 5px 7px 5px
}*/

.ess .topnav-menu {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    box-shadow: 0 20px 10px 5px rgba(0,0,0,0.2);
    position: relative;
    padding: 0
}

    .ess .topnav-menu .topnav-menu-home-wrap {
        display: flex;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.1)
    }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-home {
            padding: 19px 20px 0
        }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-document .topnav-menu-list-inner {
            background-color: #f7f7f7
        }

    .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
        padding: 0
    }

    .ess .topnav-menu .topnav-menu-document {
        border-left: 2px solid #eaeaea;
        width: 186px
    }

    .ess .topnav-menu .topnav-menu-homelink, .ess .topnav-menu .topnav-menu-switch {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 16px
    }

    .ess .topnav-menu .topnav-menu-homelink-label {
        padding-top: 10px;
        font-size: 12px
    }

    .ess .topnav-menu .topnav-menu-headerlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: normal;
        padding: 17px 5%;
        border-bottom: 0;
        text-align: center
    }

        .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
            margin-top: 16px;
            color: #4B4B4B
        }

            .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link.topnav-menu-homelink {
                margin-top: 0
            }

    .ess .topnav-menu .topnav-menu-linklist {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
        border-top: 2px dotted #ccc
    }

        .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem {
            font-size: 12px;
            padding: 0;
            line-height: 1.3;
            border-bottom: 2px dotted #ccc
        }

            .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link {
                padding: 7px 5px 7px 10px;
                display: flex;
                justify-content: space-between
            }

                /*.ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link:hover {*/
                    /*background-color: #592f91;*/
                    /*background-color: #56cbf2;
                    color: #fcfcfc;
                }*/

                .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link .topnav-menu-link-qty {
                    background-color: #ee4536;
                    padding: 0 3px;
                    text-align: center;
                    color: #fff;
                    border-radius: 20px;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 1.4;
                    padding: 0 3px;
                    min-width: 22px;
                    display: block
                }

    .ess .topnav-menu .topnav-menu-subheaderlink {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px 8px 15px
    }

    .ess .topnav-menu .topnav-menu-list-inner {
        margin: 0 3px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 60%
    }

    .ess .topnav-menu .topnav-menu-list2 {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%
    }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
            width: 25%
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner .topnav-menu-link-icon {
                display: flex;
                height: 48px
            }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink {
            background-color: #fff;
            margin: 0 10px 10px;
            height: calc(100% - 10px);
            justify-content: flex-start
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink:hover {
                background-color: transparent
            }

    .ess .topnav-menu .topnav-menu-list-inner .collapse, .ess .topnav-menu .topnav-menu-list-inner .collapsing, .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: block;
        height: 100%
    }

.ess-breadcrumb {
    padding: 7px 76px;
    margin: 0;
    font-size: 12px
}

    .ess-breadcrumb a {
        color: rgba(83,83,83,0.7) !important
    }

.mainnavbar-collapse.collapsing .slick-slider {
    visibility: hidden
}

.mainnavbar-collapse.collapse.show .slick-slider {
    visibility: visible
}

.topnav-slide-wrap {
    width: calc( 100% - 400px );
    margin: 20px auto
}

.topnav-slide .slick-slide {
    margin: 0
}

.topnav-slide .slick-prev, .topnav-slide .slick-next {
    color: #fff;
    width: 30px;
    height: 30px
}

.topnav-slide .slick-next {
    right: -25px
}

    .topnav-slide .slick-next::before {
        content: "\e900";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-prev {
    left: -40px
}

    .topnav-slide .slick-prev::before {
        content: "\e901";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-active {
    opacity: 1
}

@media (max-width: 1448px) {
    .ess-overall-nav .ess-overall-box-datagroup {
        width: auto;
        min-width: unset
    }
}

@media (max-width: 1140px) {
    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%
        }
}

@media (max-width: 1110px) {
    .ess .mainnavbar {
        top: 80px
    }

    .ess .mainnavbar-close {
        top: -64px;
        left: 23px
    }
}

@media (max-width: 1086px) {
    .ess-overall-nav .ess-overall-box {
        flex-direction: row;
        flex-wrap: nowrap
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        padding: 5px 20px
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: 135px;
        padding: 0;
        text-align: right
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: calc( 100% - 135px)
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        width: 100%;
        min-width: unset;
        max-width: unset
    }
}

@media (max-width: 1024px) {
    .ess .mainnavbar-close {
        top: -64px;
        left: 8px
    }

    .ess-dropdown-hover:hover > .dropdown-menu {
        transform: translate3d(0, 27px, 0px);
        position: absolute;
        top: 0
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ess .topnav-menu {
        padding: 18px 0 10px
    }

    .ess-content-header-panel .sp-user-topbar {
        flex-basis: unset;
        flex-grow: 0
    }

    .ess-row-wrap {
        padding-left: 5px;
        padding-right: 5px
    }

    .ess-header-wrap {
        padding: 8px 5px 17px
    }

    .ess-breadcrumb {
        padding: 6px 15px 7px
    }

    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 826px) {
    .ess .mainnavbar {
        top: 90px
    }

    .ess .mainnavbar-close {
        top: -67px;
        left: 8px
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 40%
    }

        .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 {
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 .topnav-menu-list2-inner {
                width: 50%
            }
}

@media (max-width: 767px) {
    .ess .mainnavbar {
        top: 52px
    }

    .ess .mainnavbar-close {
        top: -48px;
        left: 2px
    }

    .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
        min-height: unset
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: none;
        height: 0
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapsing {
        height: 0
    }

    .ess .topnav-menu {
        padding-left: 0;
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc( 100vh - 54px);
        padding-right: 0
    }

        .ess .topnav-menu .topnav-menu-home-wrap {
            flex-direction: column
        }

        .ess .topnav-menu .topnav-menu-list-inner {
            margin: 0 5px
        }

        .ess .topnav-menu .topnav-menu-linklist {
            margin: 0 15px 20px
        }

        .ess .topnav-menu .topnav-slide-wrap {
            margin-top: 0
        }

        .ess .topnav-menu .topnav-menu-box {
            border-top: 0;
            padding-left: 0;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink {
                border-bottom: 0;
                padding-left: 20px
            }

                .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink .topnav-menu-link {
                    margin-top: 0;
                    padding: 0 15px 15px
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-document {
                border-left: 0;
                border-top: 1px solid #eaeaea
            }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-home {
                border: 0;
                width: 100%;
                display: flex;
                justify-content: center
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
                    border: 0
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-list {
                margin: 0
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-list .topnav-menu-list-inner {
                    margin: 0
                }

        .ess .topnav-menu .topnav-menu-box2 {
            margin-top: 10px;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink {
                padding: 20px 5px
            }

                .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink .topnav-menu-link {
                    padding: 0 10px 0
                }

    .ess .topnav-menu-linklist {
        padding-left: 35px
    }

    .ess .mainnavbar-collapse .ess-header-wrap {
        padding: 10px 10px
    }

    .ess .topnav-slide-wrap {
        width: 100%
    }

    .ess-footer {
        margin-top: 0
    }

    .ess-top-header {
        display: none
    }

    .ess-primary-navigation {
        flex-basis: 40%;
        padding-top: 0
    }

        .ess-primary-navigation .ess-menu {
            padding: 0 20px 0 0
        }

    .ess-content-header-panel {
        margin-top: 0
    }

    .ess-content-header-panel {
        display: flex;
        justify-content: flex-end;
        width: 100%
    }

    .ess-content-header-panel {
        position: relative;
        flex-basis: 55%
    }

        .ess-content-header-panel .mobile-menu .menu-settings {
            display: flex;
            justify-content: flex-end
        }

        .ess-content-header-panel .ess-nav {
            position: absolute;
            z-index: 100;
            background-color: #fff;
            padding: 10px;
            display: none
        }

            .ess-content-header-panel .ess-nav .ess-nav-item {
                border: 0;
                width: 100%;
                order: 2;
                min-height: 35px
            }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-nav-cta-box {
                    width: 40%
                }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata {
                    display: block;
                    padding-left: 10px
                }

                    .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata .dropdown-toggle {
                        margin-left: 0
                    }

        .ess-content-header-panel .collapsing.ess-nav {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            right: 0;
            width: 240px;
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            top: 38px
        }

        .ess-content-header-panel .collapse.show.ess-nav {
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            position: absolute;
            flex-direction: column;
            display: flex;
            right: 0;
            width: 300px;
            top: 38px
        }

    .ess-header-wrap {
        padding: 5px 10px 0
    }

    .ess-breadcrumb {
        padding: 5px 10px
    }

    .ess-page-header-panel {
        padding-bottom: 5px
    }

        .ess-page-header-panel .ess-page-header {
            padding: 0 0 10px
        }

        .ess-page-header-panel .ess-page-header-element {
            padding: 0
        }

    .ess-doc-num-box {
        padding: 0
    }

    .ess-tab-section-content {
        padding: 0
    }

    .ess-overall-nav .ess-overall-box {
        width: 100%;
        padding: 5px 0
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: 100%
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }

    .ess-overall-nav .ess-overall-cta {
        text-align: center
    }

    .ess-tab .ess-tab-panel {
        width: auto;
        height: 100%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 575px) {
    .ess-page-header-panel .ess-page-header-element {
        justify-content: center
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }
}

@media (max-width: 542px) {
    .ess-tab .ess-tab-panel {
        margin: 0
    }
}

@media (max-width: 490px) {
    .ess-tab-evoluation-wrap {
        padding: 0 1px
    }

    .ess-tab .ess-tab-panel {
        width: 100%;
        margin: 0
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%;
            margin-top: -5px;
            background-color: #fff
        }
}

@media (max-width: 459px) {
    .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
        width: 50%
    }

    .ess-primary-navigation .ess-logowrap {
        padding: 0 0 4px 0
    }

        .ess-primary-navigation .ess-logowrap .icon.ess-logo {
            width: 72px;
            height: 27px
        }

    .ess-primary-navigation .ess-menu {
        padding: 0 10px 0 0
    }
}

.ess-footer {
    text-align: center;
    padding: 50px 0 40px
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}

* {
    outline: 0
}

@media (min-width: 992px) {
    .modal-xl {
        max-width: 95%
    }
}

@media (min-width: 576px) {
    .modal-xl {
        max-width: 95%
    }
}


.ess-header-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 8px;
    border-bottom: 1px solid #d3d6da
}

.ess-primary-navigation {
    display: flex;
    align-items: center
}

    .ess-primary-navigation .ess-menu {
        padding: 20px 22px 10px 11px
    }

    .ess-primary-navigation .ess-logowrap {
        display: flex;
        align-items: center;
        border-left: 1px solid #666;
        padding: 0 0 4px 17px;
        margin-top: 4px
    }

.ess-content-header-panel {
    display: flex;
    align-items: center
}

    .ess-content-header-panel .ess-nav {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0 0 0 33px;
        justify-content: flex-end
    }

    .ess-content-header-panel .ess-nav-link {
        padding: 0;
        color: #7f7f7f
    }

    .ess-content-header-panel .font-size-smaller, .ess-content-header-panel .font-size-normal, .ess-content-header-panel .font-size-bigger {
        line-height: 12px;
        padding: 0 5px;
        color: #7f7f7f
    }

        .ess-content-header-panel .font-size-smaller a, .ess-content-header-panel .font-size-normal a, .ess-content-header-panel .font-size-bigger a {
            color: #7f7f7f
        }

        .ess-content-header-panel .font-size-smaller.active, .ess-content-header-panel .font-size-normal.active, .ess-content-header-panel .font-size-bigger.active {
            color: #000
        }

            .ess-content-header-panel .font-size-smaller.active a, .ess-content-header-panel .font-size-normal.active a, .ess-content-header-panel .font-size-bigger.active a {
                color: #000
            }

    .ess-content-header-panel .font-size-smaller {
        font-size: 15px
    }

    .ess-content-header-panel .font-size-normal {
        font-size: 18px
    }

    .ess-content-header-panel .font-size-bigger {
        font-size: 22px
    }

    .ess-content-header-panel .dropdown-toggle {
        font-size: 13px
    }

        .ess-content-header-panel .dropdown-toggle:after {
            border: none;
            background: url("../images/icons/select-arrow.svg") no-repeat center center;
            width: 19px;
            height: 19px;
            display: inline-block;
            vertical-align: inherit;
            background-size: cover;
            vertical-align: middle;
            margin-left: 10px;
            position: relative;
            bottom: 10px
        }

        .ess-content-header-panel .dropdown-toggle .ess-nav-link-user {
            padding-right: 15px
        }

    .ess-content-header-panel .mobile-menu .menu-settings {
        display: none
    }

.ess-nav-inbox {
    display: flex;
    margin: 0;
    padding: 0
}

.ess-nav-item-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: #8d8d8d;
    width: 100%
}

    .ess-nav-item-user .ess-userimg {
        width: 43px;
        height: 43px;
        display: block;
        border-radius: 100%
    }

        .ess-nav-item-user .ess-userimg img {
            border-radius: 100%;
            width: 100%;
            height: auto
        }

    .ess-nav-item-user .ess-nav-item-userimg {
        width: 43px
    }

    .ess-nav-item-user .ess-nav-item-userdata {
        width: calc( 100% - 43px );
        padding: 5px 9px 0 9px;
        margin-left: 8px
    }

        .ess-nav-item-user .ess-nav-item-userdata.show {
            background-color: #fff;
            position: relative;
            border-radius: 8px 8px 0 0;
            box-shadow: 0px -2px 12px -7px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-menu.show {
            background: #fff;
            transform: none !important;
            left: 0 !important;
            right: 0 !important;
            top: unset !important;
            border-radius: 0 0 10px 10px;
            border: 0;
            margin: 0 !important;
            min-width: 154px;
            box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75)
        }

        .ess-nav-item-user .ess-nav-item-userdata .dropdown-item {
            color: #737373;
            padding: 5px 10px;
            display: flex;
            align-items: center
        }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item .dropdown-icon {
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center
            }

            /*.ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus {
                color: #fff;
                text-decoration: none;
                background-color: #18baec
            }*/

                .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:hover .dropdown-icon .icon, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:focus .dropdown-icon .icon {
                    filter: brightness(300)
                }

            .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:first-child, .ess-nav-item-user .ess-nav-item-userdata .dropdown-item:last-child {
                border-radius: 0
            }

        .ess-nav-item-user .ess-nav-item-userdata .ess-nav-item-userdata-line {
            margin: 6px 0
        }

    .ess-nav-item-user .ess-nav-link-hello {
        font-size: 18px;
        line-height: 1.1;
        display: block;
        color: #8d8d8d
    }

    .ess-nav-item-user .ess-nav-link {
        display: flex;
        align-items: flex-end
    }

.ess-nav-item {
    color: #7f7f7f;
    min-height: 50px;
    display: flex;
    align-items: center
}

    .ess-nav-item.ess-user-topbar {
        justify-content: flex-end;
        padding: 0
    }

    .ess-nav-item.ess-nav-date .font-size-label {
        font-size: 15px
    }

    .ess-nav-item.ess-nav-cta-box {
        align-items: flex-end;
        min-height: 51px;
        padding: 0;
        position: relative
    }

    .ess-nav-item.ess-kvis-icon {
        margin-top: 7px;
        padding: 0 27px;
        border-left: 1px solid #666
    }

.ess-nav-cta {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px
}

    .ess-nav-cta .ess-nav-cta-icon {
        display: block;
        line-height: 0
    }

    .ess-nav-cta .ess-nav-approve-qty {
        position: absolute;
        right: 10px;
        top: 0;
        background-color: #ff1d25;
        display: inline-block;
        text-align: center;
        border-radius: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 10px;
        line-height: 1.4;
        padding: 0 6px
    }

.ess .mainnavbar {
    position: absolute;
    width: 100%;
    top: 75px;
    z-index: 200;
    background: #f9f9f9;
    box-shadow: none
}

.ess .mainnavbar-close {
    position: absolute;
    top: -58px;
    left: 22px;
    background: #fff;
    padding: 10px
}

.ess .form-control:focus, .ess .ess-form-control:focus {
    box-shadow: unset
}

.ess .form-control, .ess .ess-form-control {
    border-radius: 0;
    font-size: 16px;
    font-family: kanit;
    color: #8d8d8d
}
/*
.ess .select2-container--default .select2-selection--single {
    border-color: #9f9f9f;
    border-radius: 10px;
    line-height: 2;
    height: 30px;
    color: #7d7d7d
}

    .ess .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 2;
        color: #7d7d7d
    }

    .ess .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-width: 7px 5px 0 5px;
        left: 50%;
        margin-left: -7px;
        margin-top: -2px
    }

.ess .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 5px 7px 5px
}
*/
.ess .topnav-menu {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    box-shadow: 0 20px 10px 5px rgba(0,0,0,0.2);
    position: relative;
    padding: 0
}

    .ess .topnav-menu .topnav-menu-home-wrap {
        display: flex;
        background-color: #f7f7f7;
        box-shadow: 0 0 10px 3px rgba(0,0,0,0.1)
    }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-home {
            padding: 19px 20px 0
        }

        .ess .topnav-menu .topnav-menu-home-wrap .topnav-menu-document .topnav-menu-list-inner {
            background-color: #f7f7f7
        }

    .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
        padding: 0
    }

    .ess .topnav-menu .topnav-menu-document {
        border-left: 2px solid #eaeaea;
        width: 186px
    }

    .ess .topnav-menu .topnav-menu-homelink, .ess .topnav-menu .topnav-menu-switch {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 16px
    }

    .ess .topnav-menu .topnav-menu-homelink-label {
        padding-top: 10px;
        font-size: 12px
    }

    .ess .topnav-menu .topnav-menu-headerlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: normal;
        padding: 17px 5%;
        border-bottom: 0;
        text-align: center
    }

        .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
            margin-top: 16px;
            color: #4B4B4B
        }

            .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link.topnav-menu-homelink {
                margin-top: 0
            }

    .ess .topnav-menu .topnav-menu-linklist {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
        border-top: 2px dotted #ccc
    }

        .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem {
            font-size: 12px;
            padding: 0;
            line-height: 1.3;
            border-bottom: 2px dotted #ccc
        }

            .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link {
                padding: 7px 5px 7px 10px;
                display: flex;
                justify-content: space-between
            }

                /*.ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link:hover {*/
                    /*background-color: #592f91;*/
                    /*background-color: #56cbf2;
                    color: #290460
                }*/

                .ess .topnav-menu .topnav-menu-linklist .topnav-menu-linkitem .topnav-menu-link .topnav-menu-link-qty {
                    background-color: #ee4536;
                    padding: 0 3px;
                    text-align: center;
                    color: #fff;
                    border-radius: 20px;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 1.4;
                    padding: 0 3px;
                    min-width: 22px;
                    display: block
                }

    .ess .topnav-menu .topnav-menu-subheaderlink {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px 8px 15px
    }

    .ess .topnav-menu .topnav-menu-list-inner {
        margin: 0 3px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 60%
    }

    .ess .topnav-menu .topnav-menu-list2 {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%
    }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
            width: 25%
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner .topnav-menu-link-icon {
                display: flex;
                height: 48px
            }

        .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink {
            background-color: #fff;
            margin: 0 10px 10px;
            height: calc(100% - 10px);
            justify-content: flex-start
        }

            .ess .topnav-menu .topnav-menu-list2 .topnav-menu-headerlink:hover {
                background-color: transparent
            }

    .ess .topnav-menu .topnav-menu-list-inner .collapse, .ess .topnav-menu .topnav-menu-list-inner .collapsing, .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: block;
        height: 100%
    }

.ess-breadcrumb {
    padding: 7px 76px;
    margin: 0;
    font-size: 12px
}

    .ess-breadcrumb a {
        color: rgba(83,83,83,0.7) !important
    }

.mainnavbar-collapse.collapsing .slick-slider {
    visibility: hidden
}

.mainnavbar-collapse.collapse.show .slick-slider {
    visibility: visible
}

.topnav-slide-wrap {
    width: calc( 100% - 400px );
    margin: 20px auto
}

.topnav-slide .slick-slide {
    margin: 0
}

.topnav-slide .slick-prev, .topnav-slide .slick-next {
    color: #fff;
    width: 30px;
    height: 30px
}

.topnav-slide .slick-next {
    right: -25px
}

    .topnav-slide .slick-next::before {
        content: "\e900";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-prev {
    left: -40px
}

    .topnav-slide .slick-prev::before {
        content: "\e901";
        font-family: ess;
        font-size: 50px;
        color: #464646
    }

.topnav-slide .slick-active {
    opacity: 1
}

@media (max-width: 1448px) {
    .ess-overall-nav .ess-overall-box-datagroup {
        width: auto;
        min-width: unset
    }
}

@media (max-width: 1140px) {
    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%
        }
}

@media (max-width: 1110px) {
    .ess .mainnavbar {
        top: 80px
    }

    .ess .mainnavbar-close {
        top: -64px;
        left: 23px
    }
}

@media (max-width: 1086px) {
    .ess-overall-nav .ess-overall-box {
        flex-direction: row;
        flex-wrap: nowrap
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        padding: 5px 20px
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: 135px;
        padding: 0;
        text-align: right
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: calc( 100% - 135px)
    }

    .ess-overall-nav .ess-overall-box-datagroup {
        width: 100%;
        min-width: unset;
        max-width: unset
    }
}

@media (max-width: 1024px) {
    .ess .mainnavbar-close {
        top: -64px;
        left: 8px
    }

    .ess-dropdown-hover:hover > .dropdown-menu {
        transform: translate3d(0, 27px, 0px);
        position: absolute;
        top: 0
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ess .topnav-menu {
        padding: 18px 0 10px
    }

    .ess-content-header-panel .sp-user-topbar {
        flex-basis: unset;
        flex-grow: 0
    }

    .ess-row-wrap {
        padding-left: 5px;
        padding-right: 5px
    }

    .ess-header-wrap {
        padding: 8px 5px 17px
    }

    .ess-breadcrumb {
        padding: 6px 15px 7px
    }

    .ess-tab .ess-tab-panel {
        width: 23%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 826px) {
    .ess .mainnavbar {
        top: 90px
    }

    .ess .mainnavbar-close {
        top: -67px;
        left: 8px
    }

    .ess .topnav-menu .topnav-menu-box2 {
        width: 40%
    }

        .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 {
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-list2 .topnav-menu-list2-inner {
                width: 50%
            }
}

@media (max-width: 767px) {
    .ess .mainnavbar {
        top: 52px
    }

    .ess .mainnavbar-close {
        top: -48px;
        left: 2px
    }

    .ess .topnav-menu .topnav-menu-headerlink .topnav-menu-link {
        min-height: unset
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapse:not(.show) {
        display: none;
        height: 0
    }

    .ess .topnav-menu .topnav-menu-list-inner .collapsing {
        height: 0
    }

    .ess .topnav-menu {
        padding-left: 0;
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc( 100vh - 54px);
        padding-right: 0
    }

        .ess .topnav-menu .topnav-menu-home-wrap {
            flex-direction: column
        }

        .ess .topnav-menu .topnav-menu-list-inner {
            margin: 0 5px
        }

        .ess .topnav-menu .topnav-menu-linklist {
            margin: 0 15px 20px
        }

        .ess .topnav-menu .topnav-slide-wrap {
            margin-top: 0
        }

        .ess .topnav-menu .topnav-menu-box {
            border-top: 0;
            padding-left: 0;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink {
                border-bottom: 0;
                padding-left: 20px
            }

                .ess .topnav-menu .topnav-menu-box .topnav-menu-headerlink .topnav-menu-link {
                    margin-top: 0;
                    padding: 0 15px 15px
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-document {
                border-left: 0;
                border-top: 1px solid #eaeaea
            }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-home {
                border: 0;
                width: 100%;
                display: flex;
                justify-content: center
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-home .topnav-menu-headerlink {
                    border: 0
                }

            .ess .topnav-menu .topnav-menu-box.topnav-menu-list {
                margin: 0
            }

                .ess .topnav-menu .topnav-menu-box.topnav-menu-list .topnav-menu-list-inner {
                    margin: 0
                }

        .ess .topnav-menu .topnav-menu-box2 {
            margin-top: 10px;
            width: 100%
        }

            .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink {
                padding: 20px 5px
            }

                .ess .topnav-menu .topnav-menu-box2 .topnav-menu-headerlink .topnav-menu-link {
                    padding: 0 10px 0
                }

    .ess .topnav-menu-linklist {
        padding-left: 35px
    }

    .ess .mainnavbar-collapse .ess-header-wrap {
        padding: 10px 10px
    }

    .ess .topnav-slide-wrap {
        width: 100%
    }

    .ess-footer {
        margin-top: 0
    }

    .ess-top-header {
        display: none
    }

    .ess-primary-navigation {
        flex-basis: 40%;
        padding-top: 0
    }

        .ess-primary-navigation .ess-menu {
            padding: 0 20px 0 0
        }

    .ess-content-header-panel {
        margin-top: 0
    }

    .ess-content-header-panel {
        display: flex;
        justify-content: flex-end;
        width: 100%
    }

    .ess-content-header-panel {
        position: relative;
        flex-basis: 55%
    }

        .ess-content-header-panel .mobile-menu .menu-settings {
            display: flex;
            justify-content: flex-end
        }

        .ess-content-header-panel .ess-nav {
            position: absolute;
            z-index: 100;
            background-color: #fff;
            padding: 10px;
            display: none
        }

            .ess-content-header-panel .ess-nav .ess-nav-item {
                border: 0;
                width: 100%;
                order: 2;
                min-height: 35px
            }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-nav-cta-box {
                    width: 40%
                }

                .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata {
                    display: block;
                    padding-left: 10px
                }

                    .ess-content-header-panel .ess-nav .ess-nav-item.ess-user-topbar .ess-nav-item-userdata .dropdown-toggle {
                        margin-left: 0
                    }

        .ess-content-header-panel .collapsing.ess-nav {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            right: 0;
            width: 240px;
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            top: 38px
        }

        .ess-content-header-panel .collapse.show.ess-nav {
            box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
            position: absolute;
            flex-direction: column;
            display: flex;
            right: 0;
            width: 300px;
            top: 38px
        }

    .ess-header-wrap {
        padding: 5px 10px 0
    }

    .ess-breadcrumb {
        padding: 5px 10px
    }

    .ess-page-header-panel {
        padding-bottom: 5px
    }

        .ess-page-header-panel .ess-page-header {
            padding: 0 0 10px
        }

        .ess-page-header-panel .ess-page-header-element {
            padding: 0
        }

    .ess-doc-num-box {
        padding: 0
    }

    .ess-tab-section-content {
        padding: 0
    }

    .ess-overall-nav .ess-overall-box {
        width: 100%;
        padding: 5px 0
    }

    .ess-overall-nav .ess-overall-box-datagroup-wrap {
        width: 100%
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }

    .ess-overall-nav .ess-overall-cta {
        text-align: center
    }

    .ess-tab .ess-tab-panel {
        width: auto;
        height: 100%
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: auto;
            height: 100%
        }
}

@media (max-width: 575px) {
    .ess-page-header-panel .ess-page-header-element {
        justify-content: center
    }

    .ess-overall-nav .ess-overall-box-hdr {
        width: auto;
        white-space: nowrap
    }
}

@media (max-width: 542px) {
    .ess-tab .ess-tab-panel {
        margin: 0
    }
}

@media (max-width: 490px) {
    .ess-tab-evoluation-wrap {
        padding: 0 1px
    }

    .ess-tab .ess-tab-panel {
        width: 100%;
        margin: 0
    }

        .ess-tab .ess-tab-panel .ess-tab-link {
            width: 100%;
            margin-top: -5px;
            background-color: #fff
        }
}

@media (max-width: 459px) {
    .ess .topnav-menu .topnav-menu-list2 .topnav-menu-list2-inner {
        width: 50%
    }

    .ess-primary-navigation .ess-logowrap {
        padding: 0 0 4px 0
    }

        .ess-primary-navigation .ess-logowrap .icon.ess-logo {
            width: 72px;
            height: 27px
        }

    .ess-primary-navigation .ess-menu {
        padding: 0 10px 0 0
    }
}

.ess-footer {
    text-align: center;
    padding: 50px 0 40px
}

.ess {
    /*background: #fff url(../images/ess-bg.png)*/
}

    .ess .ess-form-group .ess-form-group-label {
        font-size: 16px
    }

    .ess .ess-form-group .ess-form-control {
        border: 1px solid #9f9f9f;
        border-radius: 10px;
        font-size: 16px;
        color: #4b4b4b
    }

    .ess .ess-form-group .ess-selectbox .select2-container {
        width: 100% !important
    }

    .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single {
        height: 38px
    }

        .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-size: 16px;
            line-height: 2.3
        }

        .ess .ess-form-group .ess-selectbox .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 38px
        }

    .ess .ess-form-group .ess-formgroup-calendar {
        display: flex;
        align-items: center
    }

        .ess .ess-form-group .ess-formgroup-calendar .btn-icon {
            margin: 0 0 0 5px
        }

    .ess .ess-document-action-radio {
        margin-right: 20px
    }

    .ess .ess-form-help {
        color: #8f8f8f;
        line-height: 1.3;
        padding-top: 5px;
        font-size: 14px
    }

    .ess .datepicker .datepicker-days .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-days .table-condensed th {
            width: 28px;
            height: 28px;
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-days .table-condensed td {
            width: 30px;
            height: 30px;
            font-size: 18px;
            margin: 5px
        }

        .ess .datepicker .datepicker-days .table-condensed thead tr:nth-child(2) {
            position: relative
        }

            .ess .datepicker .datepicker-days .table-condensed thead tr:nth-child(2):after {
                content: '';
                height: 1px;
                background: #d5d5d5;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -6px
            }

        .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1), .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1) {
            color: #ee1c24
        }

            .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1).old, .ess .datepicker .datepicker-days .table-condensed tr th.dow:nth-child(1).new, .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1).old, .ess .datepicker .datepicker-days .table-condensed tr td:nth-child(1).new {
                color: #999
            }

    .ess .datepicker .datepicker-months .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-months .table-condensed th {
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-months .table-condensed td {
            font-size: 16px;
            margin: 5px
        }

            .ess .datepicker .datepicker-months .table-condensed td .month {
                width: 48px;
                height: 48px;
                line-height: 48px
            }

    .ess .datepicker .datepicker-centuries .table-condensed, .ess .datepicker .datepicker-decades .table-condensed, .ess .datepicker .datepicker-years .table-condensed {
        border-collapse: separate;
        border-spacing: 14px
    }

        .ess .datepicker .datepicker-centuries .table-condensed th, .ess .datepicker .datepicker-decades .table-condensed th, .ess .datepicker .datepicker-years .table-condensed th {
            font-size: 16px;
            font-weight: normal
        }

        .ess .datepicker .datepicker-centuries .table-condensed td, .ess .datepicker .datepicker-decades .table-condensed td, .ess .datepicker .datepicker-years .table-condensed td {
            font-size: 16px;
            margin: 5px
        }

            .ess .datepicker .datepicker-centuries .table-condensed td .century, .ess .datepicker .datepicker-centuries .table-condensed td .decade, .ess .datepicker .datepicker-centuries .table-condensed td .year, .ess .datepicker .datepicker-decades .table-condensed td .century, .ess .datepicker .datepicker-decades .table-condensed td .decade, .ess .datepicker .datepicker-decades .table-condensed td .year, .ess .datepicker .datepicker-years .table-condensed td .century, .ess .datepicker .datepicker-years .table-condensed td .decade, .ess .datepicker .datepicker-years .table-condensed td .year {
                width: 48px;
                height: 48px;
                line-height: 48px
            }

/*    .ess .datepicker table tr td.active.active, .ess .datepicker table tr td.active.disabled, .ess .datepicker table tr td.active.disabled.active, .ess .datepicker table tr td.active.disabled.disabled, .ess .datepicker table tr td.active.disabled:active, .ess .datepicker table tr td.active.disabled:hover, .ess .datepicker table tr td.active.disabled:hover.active, .ess .datepicker table tr td.active.disabled:hover.disabled, .ess .datepicker table tr td.active.disabled:hover:active, .ess .datepicker table tr td.active.disabled:hover:hover, .ess .datepicker table tr td.active.disabled:hover[disabled], .ess .datepicker table tr td.active.disabled[disabled], .ess .datepicker table tr td.active:active, .ess .datepicker table tr td.active:hover, .ess .datepicker table tr td.active:hover.active, .ess .datepicker table tr td.active:hover.disabled, .ess .datepicker table tr td.active:hover:active, .ess .datepicker table tr td.active:hover:hover, .ess .datepicker table tr td.active:hover[disabled], .ess .datepicker table tr td.active[disabled] {
        background: #39b54a;
        border-radius: 100%;
        color: #fff
    }

    .ess .datepicker table tr td span.active.active, .ess .datepicker table tr td span.active.disabled, .ess .datepicker table tr td span.active.disabled.active, .ess .datepicker table tr td span.active.disabled.disabled, .ess .datepicker table tr td span.active.disabled:active, .ess .datepicker table tr td span.active.disabled:hover, .ess .datepicker table tr td span.active.disabled:hover.active, .ess .datepicker table tr td span.active.disabled:hover.disabled, .ess .datepicker table tr td span.active.disabled:hover:active, .ess .datepicker table tr td span.active.disabled:hover:hover, .ess .datepicker table tr td span.active.disabled:hover[disabled], .ess .datepicker table tr td span.active.disabled[disabled], .ess .datepicker table tr td span.active:active, .ess .datepicker table tr td span.active:hover, .ess .datepicker table tr td span.active:hover.active, .ess .datepicker table tr td span.active:hover.disabled, .ess .datepicker table tr td span.active:hover:active, .ess .datepicker table tr td span.active:hover:hover, .ess .datepicker table tr td span.active:hover[disabled], .ess .datepicker table tr td span.active[disabled] {
        background: #39b54a;
        border-radius: 100%;
        color: #fff
    }*/

    .ess .datepicker table tr td.day.focused, .ess .datepicker table tr td.day:hover, .ess .datepicker table tr td span.focused, .ess .datepicker table tr td span:hover {
        border-radius: 100%
    }

.ess-page-header2 {
    font-size: 30px;
    padding: 20px 50px 7px
}

.ess-wrapper {
    padding: 11px 30px
}

.ess-wrapper-pa {
    padding: 0px 11px 0px 20px;
}

.ess-button-align-right {
    text-align: right;
}

.ess-tab-document-wrap .ess-badge {
    border-radius: 50px;
    padding: .25em .8em;
    position: absolute;
    right: 4px;
    top: -5px;
    font-size: 10px;
    font-weight: normal
}

.ess-tab-document-wrap-pa .ess-badge {
    border-radius: 50px;
    padding: .25em .8em;
    position: absolute;
    right: 4px;
    top: -5px;
    font-size: 10px;
    font-weight: normal
}

.ess-note {
    color: #0884f4;
    display: flex;
    align-items: center;
    font-size: 14px
}

    .ess-note .icon {
        margin-right: 5px
    }



.ess-document-tab-content-search .ess-document-tab-content-filter {
    display: flex;
    padding-top: 2px
}

    .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data {
        width: 230px
    }

        .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container {
            width: 100% !important
        }

        .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container--default .select2-selection--single {
            width: 100%;
            height: 32px
        }

            .ess-document-tab-content-search .ess-document-tab-content-filter .ess-detail-data .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 2.35
            }

    .ess-document-tab-content-search .ess-document-tab-content-filter .form-inline .ess-label {
        color: #363636;
        font-size: 16px;
        padding-right: 16px
    }

.ess-login-detail {
    padding-top: 16px
}

    .ess-login-detail .ess-login-as {
        color: #636363;
        font-size: 16px
    }

    .ess-login-detail .ess-document-total {
        text-align: right;
        color: #636363;
        font-size: 16px
    }

.ess-document-tab-filter-total {
    font-size: 11px;
    color: #006dc1;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.ess-document-tab-filter {
    padding-top: 19px
}

.ess-document-tab-filter-dropdown .ess-document-tab-filter-btn, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled):active, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled).active {
    border: 1px solid #c1c0c0;
    background-color: #faf9f9;
    color: #8d8d8d;
    padding: 0 12px
}

    .ess-document-tab-filter-dropdown .ess-document-tab-filter-btn .ess-document-tab-filter-btn-span, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled):active .ess-document-tab-filter-btn-span, .ess-document-tab-filter-dropdown .btn-secondary:not(:disabled):not(.disabled).active .ess-document-tab-filter-btn-span {
        padding: 0 11px
    }

.ess-document-tab-filter-panel {
    display: flex
}

.ess-document-tab-filter-action-panel {
    margin-left: 5px
}

.ess-document-tab-filter-action {
    margin: 0 4px
}

.ess-document-tab-filter-action-item {
    display: inline-block;
    border: 1px solid #c1c0c0;
    background-color: #fff;
    border-radius: 6px;
    padding: 0 6px;
    line-height: 1.62
}

.ess .btn.show > .btn-secondary.dropdown-toggle:focus {
    background-color: #faf9f9;
    color: #8d8d8d;
    box-shadow: 0 0 0 1px rgba(130,138,145,0.5)
}

.ess .dropdown-menu {
    border-radius: 0 0 12px 12px;
    border: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)
}

    .ess .dropdown-menu a {
        color: #737373
    }

.ess .dropdown-item:hover, .ess .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #18baec
}

/*.ess-document-list {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin-top: 15px;
}

    .ess-document-list .ess-document-list-item {
        display: flex;
        padding-top: 16px;
        padding-bottom: 25px;
        margin-bottom: 5px
    }

    .ess-document-list .ess-document-list-item-type-wrap {
        display: flex;
        min-width: 223px;
        padding-top: 63px
    }

    .ess-document-list .ess-document-list-label {
        display: flex;
        align-items: center
    }

        .ess-document-list .ess-document-list-label .icon {
            margin-right: 10px
        }

    .ess-document-list .ess-document-list-item-type-data {
        font-size: 18px;
        line-height: 1
    }

    .ess-document-list .ess-document-list-item-type-icon {
        padding-top: 9px
    }

    .ess-document-list .ess-document-list-item-detail-num {
        font-size: 30px;
        padding: 10px 0 11px
    }

    .ess-document-list .ess-document-list-item-detail-desc {
        font-size: 20px
    }

    .ess-document-list .ess-document-list-item-detail-wrap {
        width: calc( 60% - 224px );
        padding-top: 27px;
        padding-left: 2%;
        padding-right: 2%
    }

    .ess-document-list .ess-document-list-item-creator-wrap {
        width: 20%;
        border-left: 1px solid #e5e5e5;
        padding-top: 27px;
        padding-left: 2%;
        padding-right: 1%
    }

        .ess-document-list .ess-document-list-item-creator-wrap .ess-document-list-item-creator-num {
            font-size: 20px;
            padding: 10px 0 0px
        }

        .ess-document-list .ess-document-list-item-creator-wrap .ess-document-list-item-creator-name {
            font-size: 20px
        }

        .ess-document-list .ess-document-list-item-creator-wrap .ess-document-list-item-creator-position {
            font-size: 14px;
            padding-top: 2px
        }

    .ess-document-list .ess-document-list-item-status-wrap {
        width: 20%;
        border-left: 1px solid #e5e5e5;
        padding-top: 27px;
        padding-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status {
            display: flex;
            align-items: center;
            font-size: 30px;
            line-height: 1;
            padding-bottom: 12px;
            padding-top: 5px
        }

            .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status .icon {
                margin-right: 7px
            }

            .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status .ess-icon-caption {
                width: calc( 100% - 35px )
            }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp {
            display: flex;
            align-items: center;
            padding-top: 64px
        }

            .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp .icon {
                width: 13px;
                height: 16px;
                margin-right: 7px
            }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-complate {
            color: #39b54a
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-draft {
            color: #448ccb
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-pending-approve {
            color: #f7941d
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-cancelled {
            color: #ed1c24
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-wait {
            color: #a0410d
        }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-error {
            color: #9e0039
        }*/

.ess-tab-section-bar {
    display: flex;
    align-items: center;
    padding: 14px 29px
}

    .ess-tab-section-bar .icon {
        margin-right: 16px
    }

    .ess-tab-section-bar .ess-tab-section-bar-hdr {
        width: calc( 100% - 36px );
        font-size: 30px
    }

.ess-tab-section-bar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    text-align: right
}

.ess-collapse-data-panel {
    border-top: 1px solid #c2c2c2;
    padding: 13px 20px 20px 20px
}

    .ess-collapse-data-panel .ess-document-tab-content-search {
        padding-top: 0
    }

.ess-sub-hdr {
    font-size: 20px;
    padding: 9px 0
}

.ess-report-summary {
    background: #fff;
    border: 1px solid #e8e7e7;
    border-radius: 10px;
    padding: 21px 0 23px;
    margin: 5px 0 16px
}

.ess-report-pa-quali {
    background: #fff;
    border: 1px solid #8C8B8B;
    border-radius: 10px 10px 0 0;
    padding: 21px 0 23px;
    margin: 5px 0 16px;
    text-align: center;
}

.tabcontent-pa {
    display: none;
}

.ess-report-summary-data {
    border-right: 1px solid #e8e7e7;
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.ess-report-summary-hdr {
    display: flex;
    align-items: center;
    justify-content: center
}

.ess-report-summary-label {
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    padding-top: 5px
}

.ess-report-summary-value {
    font-size: 48px;
    text-align: center;
    padding: 11px 0 4px
}

    .ess-report-summary-value.ess-report-summary-value-gery {
        color: #b7b7b7
    }

    .ess-report-summary-value.ess-report-summary-value-green {
        color: #39b54a
    }

.ess-report-summary-value-red {
    color: #ee4536
}

.ess-report-summary-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px
}

    .ess-report-summary-unit .icon {
        margin: 0 5px
    }

    .ess-report-summary-unit .ess-report-summary-unit-caption {
        font-size: 12px
    }

/*.ess-report-summary-data-row {
    padding-top: 24px;
    padding-bottom: 24px
}*/

.ess-report-summary-data {
    padding-top: 0;
    border-left: 1px solid #e5e5e5;
    border-right: 0
}

.ess-report-summary-label {
    font-size: 20px
}

.ess-report-summary-value {
    font-size: 20px
}

.ess-table-container.ess-report-table-border-radius {
    border-radius: 10px;
    border: 1px solid #ecebeb;
    padding-bottom: 10px;
    background-color: #fff
}

.ess-search-box {
    display: flex;
    align-items: center
}

    .ess-search-box .ess-form-label {
        font-size: 16px;
        padding: 0 20px
    }

    .ess-search-box .ess-form-search {
        width: 230px;
        position: relative;
        border-radius: 10px;
        border: 1px solid #aaa;
        margin-bottom: 0;
        height: 34px
    }

        .ess-search-box .ess-form-search .form-control-search {
            border: 0;
            border-radius: 10px;
            padding: 0 .75rem;
            height: 32px
        }

        .ess-search-box .ess-form-search .btn-search {
            border: 0;
            line-height: 1;
            position: absolute;
            top: 0;
            right: 0
        }

.ess-iconwrap {
    margin: 0 10px
}

.ess-uploader-container {
    text-align: center;
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    margin: 0 0 25px
}

@media (max-width: 1024px) {
    .ess-wrapper {
        padding: 11px 15px
    }
    .ess-wrapper-pa {
        padding: 11px 15px
    }


    .ess-document-list .ess-document-list-item {
        flex-wrap: wrap
    }

    .ess-document-list .ess-document-list-item-type-wrap {
        width: 100%;
        padding-top: 0;
        justify-content: space-between
    }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-type {
            margin: 0;
            display: flex;
            align-items: center
        }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-doctype-wrap {
            margin: 18px
        }

        .ess-document-list .ess-document-list-item-type-wrap .ess-document-list-item-num-wrap {
            margin: 18px 5px
        }

    .ess-document-list .ess-document-list-item-detail-wrap {
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
        margin-bottom: 20px
    }

    .ess-document-list .ess-document-list-item-creator-wrap {
        width: 50%;
        border-left: 0
    }

    .ess-document-list .ess-document-list-item-status-wrap {
        width: 50%;
        padding-left: 3%
    }

        .ess-document-list .ess-document-list-item-status-wrap .ess-document-list-item-status-timestamp {
            padding-top: 30px
        }

    .ess-tab-document-wrap .ess-nav-link {
        padding: 10px 0;
        min-width: unset
    }

    .ess-tab-document-wrap .ess-tab-panel {
        width: 25%
    }

    .ess-tab-document-wrap-pa .ess-nav-link {
        padding: 10px 0;
        min-width: unset
    }

    .ess-tab-document-wrap-pa .ess-tab-panel {
        width: 25%
    }
}

@media (max-width: 767px) {
    .ess-wrapper {
        padding: 10px 5px
    }

    .ess-wrapper-pa {
        padding: 10px 5px
    }

    /*.ess-leave-summary .ess-tab-content {
        padding: 0 10px 25px
    }*/

    .ess-document-list .ess-document-list-item-creator-wrap {
        width: 100%;
        padding-top: 5px
    }

    .ess-document-list .ess-document-list-item-status-wrap {
        width: 100%;
        border-left: 0;
        border-top: 1px solid #e5e5e5;
        margin-top: 20px;
        padding-top: 20px
    }

    .ess-tab-document-wrap .ess-nav-link {
        margin-right: 0
    }

    .ess-tab-document-wrap-pa .ess-nav-link {
        margin-right: 0
    }

    .ess-login-detail .ess-document-total {
        padding-top: 10px
    }

    .ess-report-summary-hdr {
        align-items: flex-start;
        padding-top: 31px
    }

    /*.ess-leave-summary-box .ess-report-summary-data:nth-child(odd) {
        border: 0
    }*/

    .ess-table-style1.ess-report-table .ess-report-date, .ess-table-style1.ess-report-table .ess-report-clockin, .ess-table-style1.ess-report-table .ess-report-clockout {
        font-size: 20px
    }

    .ess-table-style1.ess-report-table .ess-report-remark, .ess-table-style1.ess-report-table .ess-report-timetype {
        padding-top: 21px
    }

    .ess-table-style1.ess-report-table .ess-report-clockicon {
        padding-top: 25px
    }

    .ess-report-summary-data:nth-child(odd) {
        border: 0
    }

    .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-date {
        padding-left: 12px
    }

    .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockin, .ess-table-style1.ess-report-table.ess-report-table2 .ess-report-clockout {
        padding-top: 21px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clocktime {
        font-size: 20px
    }

    .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockstatus, .ess-table-style1.ess-report-table .ess-report-table2-inside .ess-report-clockplace {
        padding-top: 0
    }

    .ess-table-style1.ess-report-table .ess-report-status {
        padding-top: 21px
    }

    .ess-table-style1.ess-report-table .ess-report-check {
        padding-top: 26px;
        padding-bottom: 0
    }
}

@media (max-width: 670px) {
    .ess-tab-document-wrap {
        flex-direction: column
    }

        .ess-tab-document-wrap .ess-nav-link.active {
            border-color: #d6d7d8
        }

            .ess-tab-document-wrap .ess-nav-link.active::after {
                background-color: transparent
            }

        .ess-tab-document-wrap .ess-tab-panel {
            width: 100%
        }
}

@media (max-width: 670px) {
    .ess-tab-document-wrap-pa {
        flex-direction: column
    }

        .ess-tab-document-wrap-pa .ess-nav-link.active {
            border-color: #d6d7d8
        }

            .ess-tab-document-wrap-pa .ess-nav-link.active::after {
                background-color: transparent
            }

        .ess-tab-document-wrap-pa .ess-tab-panel {
            width: 100%
        }
}

.ess-document-info .ess-page-header2 {
    padding: 7px 50px 3px
}

.ess-document-info .ess-report-summary-data:first-child {
    border-left: 0
}

.ess-document-info .ess-collapse-wrap {
    border: 0
}

.ess-document-info .ess-showhide-detail-button .ess-tab-section-bar {
    border-radius: 10px 10px 0 0;
    padding: 18px 29px 13px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #c2c2c2
}

.ess-document-info .ess-document-info-summary {
    padding-bottom: 25px
}

.ess-document-info .ess-milestone-nav {
    position: relative
}

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box {
        background: #fff;
        border: 1px solid #c2c2c2;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 20px;
        color: rgba(75,75,75,0.6);
        text-align: center;
        display: inline-block;
        width: 300px
    }

        .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box .ess-milestone-step-label-small {
            font-weight: bold;
            font-size: 14px;
            line-height: 1.7
        }

        .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step1 {
            margin-left: 15px
        }

        .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step2 {
            margin-left: calc( 50% - 320px )
        }

        .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step3 {
            margin-left: calc( 75% - 320px )
        }

        .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step4 {
            margin-left: calc( 100% - 320px )
        }

.ess-document-info-wrapper {
    background-color: #fbfbfb;
    border-bottom: 1px solid #e2e0e0;
    border: 1px solid #e2e0e0;
    margin-top: 10px
}

.ess-document-info-sub {
    font-size: 30px;
    border-top: 2px solid #c2c2c2;
    margin: 7px 0 0;
    padding: 28px 45px 0
}

.ess-document-info-collapse-inner {
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2
}

/*.ess-report-summary-data-row {
    padding-top: 24px;
    padding-bottom: 24px
}
*/
.ess-document-info-summary {
    /*padding-top: 32px;*/
    padding-top: 15px;
    border-right: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column
}

.ess-document-info-address {
    /*padding-top: 32px;*/
    padding-top: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.ess-document-info-summary:last-child {
    border: 0
}

.ess-document-info-summary.ess-document-info-summary-icon {
    flex-direction: row;
    /*justify-content: center*/
}

.ess-document-info-summary .ess-document-info-summary-label {
    line-height: 1.3;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.ess-document-info-summary .ess-document-info-summary-value {
    line-height: 1.3;
    font-size: 16px
}

.ess-document-info-summary .ess-document-info-summary-ibox {
    margin-right: 5px
}

.ess-document-info-detail {
    padding: 10px 30px;
    margin-top: 50px
}

.ess-document-step-row {
    margin: 0;
    padding: 10px 5px;
    border-bottom: 1px solid #c2c2c2
}

    .ess-document-step-row .ess-document-step-col {
        display: flex;
        align-items: center
    }

.ess-collapse-data-panel > .ess-document-step-row:last-child {
    border-bottom: 0
}

.ess-document-stake {
    display: flex;
    align-content: center
}

.ess-document-stake-id {
    width: 120px
}

.ess-document-stake-name {
    width: 400px;
    padding-right: 10px
}

.ess-document-stake-name-actioninstead {
    width: 400px;
    padding-right: 10px;
    color: gray;
}

.ess-document-stake-position {
    width: calc( 100% - 370px )
}

.ess-document-timestamp {
    display: flex;
    align-items: center
}

    .ess-document-timestamp .icon {
        margin-right: 5px
    }

.ess-document-info-detail .ess-collapse-data-panel {
    padding: 0
}

.ess-document-step {
    display: flex;
    align-items: center
}

    .ess-document-step .ess-document-step-icon {
        width: 50px
    }

    .ess-document-step .ess-document-step-name {
        width: calc( 100% - 25px )
    }

    .ess-document-step .icon-up {
        width: 18px;
        height: 18px
    }

.ess-document-step-name-bdr {
    background-color: #fff;
    border: 1px solid #dedede;
    width: 220px;
    height: 40px;
    border-radius: 50px;
    /*font-size: 20px;*/
    line-height: 1.2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}

.ess-document-step-tbl {
    width: 100%;
    border-bottom: 1px solid #c2c2c2
}

    .ess-document-step-tbl tr {
        background-color: #f4f3f3
    }

        .ess-document-step-tbl tr:nth-child(even) {
            background-color: #fbfafa
        }

        .ess-document-step-tbl tr.active .ess-document-step-tbl-bullet .icon-dot {
            filter: brightness(200%) sepia(100%) hue-rotate(90deg) saturate(5)
        }

    .ess-document-step-tbl td {
        padding: 10px 0;
        font-size: 20px;
        color: rgba(75,75,75,0.8);
        vertical-align: top
    }

    .ess-document-step-tbl .ess-document-step-tbl-bullet {
        width: 210px;
        text-align: right;
        padding-right: 13px;
        position: relative
    }

        .ess-document-step-tbl .ess-document-step-tbl-bullet:before {
            content: '';
            width: 1px;
            height: 100%;
            background-color: #707070;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20px;
            z-index: 0
        }

        .ess-document-step-tbl .ess-document-step-tbl-bullet .icon-dot {
            width: 16px;
            height: 16px;
            position: relative;
            filter: brightness(250%);
            margin-top: 8px
        }

    .ess-document-step-tbl .ess-document-stake-position {
        width: auto
    }

    .ess-document-step-tbl .ess-document-stake-td {
        width: calc( 100% - 570px )
    }

.ess-document-step-tbl-step {
    width: 130px
}

.ess-document-stake-timestamp {
    width: 250px
}

.ess-document-stake-td {
    width: 340px
}

.ess-collapse-data-conclusion {
    font-weight: bold
}



@media (min-width: 1301px) and (max-width: 1440px) {
    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step1 {
        margin-left: -10px
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step2 {
        margin-left: calc( 50% - 300px )
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step3 {
        margin-left: calc( 75% - 300px )
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step4 {
        margin-left: calc( 100% - 300px )
    }
}

@media (min-width: 1201px) and (max-width: 1300px) {
    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step1 {
        margin-left: -23px
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step2 {
        margin-left: calc( 50% - 277px )
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step3 {
        margin-left: calc( 75% - 277px )
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step4 {
        margin-left: calc( 100% - 277px )
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step1 {
        margin-left: 0
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step2 {
        margin-left: calc( 50% - 240px )
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step3 {
        margin-left: calc( 75% - 240px )
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step4 {
        margin-left: calc( 100% - 300px )
    }
}

@media (min-width: 992px) {
    .ess-document-info-summary.col-lg-1 {
        flex: 0 0 14.28% !important;
        max-width: 14.28% !important
    }

    .ess-document-info-summary.col-lg-3 {
        flex: 0 0 28.56% !important;
        max-width: 28.56% !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ess-report-summary-data-row {
        justify-content: center
    }

    .ess-document-info-summary:nth-child(3) {
        border-right: 0
    }

    .ess-document-info .ess-document-info-summary {
        padding-bottom: 15px
    }

    .ess-document-info-summary-row .ess-document-info-summary:first-child {
        border-right: 0
    }

    .ess-document-info-detail {
        margin-top: 0
    }

    .ess-document-step-row .ess-document-step-col {
        justify-content: flex-end
    }

    .ess-document-stake-name {
        width: auto
    }

    .ess-document-stake-name-actioninstead {
        width: auto;
    }

    .ess-document-step-col.ess-document-stake {
        justify-content: flex-start;
        padding-left: 40px;
        margin-top: 10px
    }

    .ess-document-step-tbl .ess-document-stake-timestamp {
        display: flex;
        flex-direction: column;
        width: 120px
    }

    .ess-document-step-tbl .ess-document-step-tbl-step {
        width: 80px
    }

    .ess-document-step-tbl .ess-document-step-tbl-bullet {
        width: 50px
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step1 {
        margin-left: 0
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step2 {
        margin-left: calc( 50% - 240px )
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step3 {
        margin-left: calc( 75% - 240px )
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step4 {
        margin-left: calc( 100% - 300px )
    }
}

@media (max-width: 767px) {
    .ess-document-info .ess-document-info-collapse {
        overflow-x: auto
    }

    .ess-document-info .ess-page-header2 {
        padding: 7px 15px 3px
    }

    .ess-milestone .ess-milestone-step .ess-milestone-step-label {
        font-size: 15px;
        line-height: 1.2
    }

    .ess-milestone .ess-milestone-step .ess-milestone-step-label-box {
        padding: 10px 5px
    }

    .ess-report-summary-data-row {
        justify-content: center
    }

    .ess-document-step-row {
        flex-wrap: nowrap;
        min-width: 768px;
        overflow: hidden
    }

    .ess-document-info-detail {
        padding: 10px 5px;
        margin-top: 20px
    }

        .ess-document-info-detail .ess-collapse-data-panel {
            width: 768px
        }

    .ess-document-info-substatus {
        width: 768px
    }

    .ess-document-step-tbl .ess-document-step-tbl-bullet {
        width: 50px
    }

    .ess-document-step-tbl .ess-document-stake-timestamp {
        width: 200px
    }

    .ess-document-step-tbl .ess-document-step-tbl-step {
        width: 100px
    }

    .ess-document-step-tbl .ess-document-stake-td {
        width: auto
    }

    .ess-document-info-collapse-inner {
        border-right: 0;
        border-left: 0
    }

    .ess-document-info .ess-showhide-detail-button .ess-tab-section-bar {
        padding: 18px 10px 13px
    }

    .ess-document-info-sub {
        padding: 28px 20px 0
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step1 {
        margin-left: 0
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step2 {
        margin-left: calc( 50% - 240px )
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step3 {
        margin-left: calc( 75% - 240px )
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step4 {
        margin-left: calc( 100% - 300px )
    }
}

@media (max-width: 575px) {
    .ess-document-info .ess-document-info-collapse {
        overflow-x: auto
    }

    .ess-document-info .ess-page-header2 {
        padding: 7px 15px 3px
    }

    .ess-document-info .ess-document-info-summary {
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid #c2c2c2;
        padding-top: 10px;
        padding-bottom: 10px
    }

        .ess-document-info .ess-document-info-summary:last-child {
            border-bottom: 0
        }

        .ess-document-info .ess-document-info-summary.ess-document-info-summary-icon {
            justify-content: flex-start
        }

    .ess-milestone {
        padding-top: 0
    }

    .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box {
        width: 100%
    }

        .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step1, .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step2, .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step3, .ess-document-info .ess-milestone-nav .ess-milestone-step-label-box.ess-milestone-step-label-box-step4 {
            margin-left: auto;
            margin-right: auto
        }
}

.ess-document-info-edit-panel {
    background: #fff;
    border: 1px solid #e9e9e9;
    padding: 30px 25px;
    margin-bottom: 10px
}

.ess-document-attachment-edit-panel {
    background: #fff;
    border: 1px solid #e9e9e9;
    margin-bottom: 10px
}

.ess-document-showattachment-edit-panel {
    background: #fff;
    border: 1px solid #e8e7e7;
}

.ess-document-comment-edit-panel {
    background: #fff;
    border: 1px solid #e9e9e9;
    margin-bottom: 10px
}

.ess-document-flow-edit-panel {
    background: #fff;
    border: 1px solid #e9e9e9;
    margin-bottom: 10px
}

.document-item-bg-change-event:hover {
    background-color: rgba(210,255,250,0.5);
}
