﻿
body {
}

.row {
    width:unset;
    margin-left:-15px;
    margin-right:-15px;
}
.-col_centered {
    float: none;
    margin: 0 auto;
}

.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.form-control:focus {
    box-shadow:none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .btn.btn-theme {
        background: #289efe;
    }
}

.btn.btn-theme {
    background-color: var(--main-color) !important;
    color:white;
}
.btn-danger {
    background-color: #e1464e;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgb(248, 248, 248);
}

.has-success .form-control ,.has-success .form-control:focus{
    border-color: #56bd5b;
    border-width: 2px;
}
.has-error .form-control ,.has-error .form-control:focus{
    border-color: #EC403B;
    border-width: 2px;
}
