﻿
@font-face {
    font-family: 'latoblack';
    src: url('lato-black-webfont.woff'),format('woff')url('fonts/lato-black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoblack_italic';
    src: url('fonts/lato-blackitalic-webfont.woff') format('woff'), url('lato-blackitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.woff') format('woff'), url('lato-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold_italic';
    src: url('fonts/lato-bolditalic-webfont.woff') format('woff'), url('lato-bolditalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latohairline';
    src: url('fonts/lato-hairline-webfont.woff') format('woff'), url('lato-hairline-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latohairline_italic';
    src: url('fonts/lato-hairlineitalic-webfont.woff') format('woff'), url('lato-hairlineitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoitalic';
    src: url('fonts/lato-italic-webfont.woff') format('woff'), url('lato-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('fonts/lato-light-webfont.woff') format('woff'), url('lato-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight_italic';
    src: url('fonts/lato-lightitalic-webfont.woff') format('woff'), url('lato-lightitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.woff') format('woff'), url('lato-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: kanit_l;
    src: url(fonts/Kanit-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: kanit_r;
    src: url(fonts/Kanit-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: kanit_b;
    src: url(fonts/Kanit-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: kanit_r;
    src: url(fonts/Kanit-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

:root {
    --main-color: #289efe;
    --positive-color: #06c358;
    --alert-color: #f7b422;
    --negative-color: #e34c4c;
    --additional-purple-color: #8d6cd1;
    --additional-pink-color: #eb61a5;
}

body {
    background: 0 0;
    width: 100%;
    position: absolute;
}

.wrapper, body {
    height: 100%;
}

body, figure, form, li, ul {
    margin: 0;
}

html, div, span, input, select, textarea, p, a, li, button, * {
    font-family: latoregular,kanit_l;
}

h1, h2, h3, h4, h5, h6 {
    font-family: latobold,kanit_r;
}

.em-font, .em-font-15 {
    font-family: latobold,kanit_r;
}


.container-white {
    background-color: white;
}

.bg-main-color {
    background: var(--main-color);
}

.text-main-color {
    color: var(--main-color);
}

.padding-5px {
    padding: 5px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0; /* Avoid resizing beyond table width */
}

/*Menu*/
.mainNav .navBlock .navProfile, .mainNav .navBlock .nav_b2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    top: 0;
    height: inherit;
    z-index: -1;
    -webkit-transition: ease all .2s;
    transition: ease all .2s;
}

@media only screen and (min-width: 992px) {
    .mainBlock-hide {
        padding-left: 100px;
    }
}
/*dialog*/
.d-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 71;
    width: 100%;
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

    .d-modal > .d-modal-md, .d-modal > .d-modal-sm, .d-modal > .d-modal-xs {
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        border-radius: 15px;
        background: white;
        margin: auto;
        z-index: 73;
        overflow: hidden;
        height: 100%;
    }

    .d-modal > .d-modal-md {
        max-width: 1240px;
        width: 80%
    }

    .d-modal > .d-modal-sm {
        max-width: 700px;
        width: 90%;
    }

    .d-modal > .d-modal-xs {
        max-width: 320px;
        width: 100%;
    }

@media(max-width:1340px) {

    .d-modal > .d-modal-md,
    .d-modal > .d-modal-sm {
        width: 90%;
    }

    .d-modal > .d-modal-xs {
        width: 100%;
    }
}

@media(max-width:765px) {
    .d-modal > .d-modal-md,
    .d-modal > .d-modal-sm,
    .d-modal > .d-modal-xs {
        width: 100%;
        height: 100%;
        padding-top: 0;
    }
}

.d-modal-header, .d-modal-body, .d-modal-footer {
    padding: 20px
}

.d-modal-body {
    max-height: 100%;
    overflow-y: auto;
}

.background-filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 70;
    width: 100%;
    height: 100%;
    background: rgba(37, 33, 33, 0.18);
    text-align: center;
}
/*------------  input progress box coponent --------------------*/
.in-progress-box {
    display: block;
    padding-top: 2rem;
}



.in-progress-tb > table th, .in-progress-tb table td {
    color: #fff;
    line-height: 25px !important;
}



.in-progress-tb {
    display: block;
    padding: 0px;
    margin: 0px;
    border: 1px solid #ccc;
}

.in-progress-tb-top {
    display: block;
    padding: 0px;
    background-image: url('../../images/background/in-progress-top-bg.jpg');
    background-size: cover;
    background-position-x: right;
}

    .in-progress-tb-top > label {
        display: block;
        float: left;
        padding: 10px 15px;
        font-size: 24px;
        margin: 0px;
    }

    .in-progress-tb-top > .inprogress-search {
        display: block;
        padding: 8px 20px;
        background: rgba(65, 88, 106, 0.67);
    }



.in-progress-tb-body > table.table > thead > tr {
    background-color: #172f4b;
    color: #FFF;
    /*height: 67px !important;*/
}

    .in-progress-tb-body > table.table > thead > tr > th {
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

.in-progress-tb-body > table.table > tbody > tr > td {
    font-size: 17px;
}

@media only screen and (max-width: 799px) {
    .in-progress-tb-body > table.table > thead > tr > th:first-child {
        width: 40%;
    }

    .in-progress-tb-body > table.table .hide-mobile {
        display: none;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(5) {
        width: 45%;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(6) {
        width: 30%;
    }

    .in-progress-tb-top > .inprogress-search {
        width: 100%;
    }

    .in-progress-tb-body > table.table > tbody > tr > td {
        font-size: 13px;
    }
}



@media only screen and (min-width: 800px) {
    .in-progress-tb-body > table.table > thead > tr > th:first-child {
        width: 15%;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(2) {
        width: 30%;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(3) {
        width: 10%;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(4) {
        width: 10%;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(5) {
        width: 25%;
    }

    .in-progress-tb-body > table.table > thead > tr > th:nth-child(6) {
        width: 10%;
    }

    .in-progress-tb-top > .inprogress-search {
        width: 400px;
        float: right;
    }

    .in-progress-tb-top > label {
        float: left;
    }
}


.in-progress-tb-body > table.table > tbody > tr {
    background-color: #41586a;
    color: #FFF;
}


.in-progress-tb-bottom {
    background-color: #172f4b;
}
/*Pagination*/
.page-item.active .page-link {
    color: #fff;
    background-color: var(--main-color);
}

.mainNav .navBlock .col-md-11, .mainNav .navBlock .col-xs-11 {
    padding: 0;
}

.shadow-button {
    width: unset;
    border: 1px solid #ccc;
    padding: 0px 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px #aaa;
}

md-autocomplete.autocomplete-form-control {
    border: 1px solid #a6a9ae;
}

    md-autocomplete.autocomplete-form-control:focus-within {
        border: 1px solid #66afe9;
    }

.row {
    width: unset;
    margin-left: -15px;
}




/* textbox with icon on left */
.inner-addon {
    position: relative;
}

    .inner-addon i {
        position: absolute;
        padding: 10px;
        pointer-events: none;
        color: #ccc;
    }

    .inner-addon > input {
        border-radius: 10px;
    }

.left-addon i {
    left: 0px;
}

.right-addon i {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}



@media only screen and (max-width: 992px) {

    .box-content {
        padding: 2rem;
        padding-top: 0px;
    }
   
}


/* table ---------------------------------------------- */

table > thead > tr > th {
    text-align: center;
    vertical-align: middle;
}

table.table > thead > tr > th {
    vertical-align: middle;
}



/* content เล็ก ๆ น้อย ๆ  ---------------------------------------------- */

.tagitem_travel {
    background-color: var(--main-color);
    color: #fff;
    padding: 5px 10px;
}

/* Button  ---------------------------------------------- */

button.btn {
    padding: 7px 15px;
    margin-left: 5px;
    margin-right: 5px;
}
@media only screen and (max-width: 992px) {
    button.btn {
        margin-bottom: 5px !important;
    }
}




/* Vendor one time radio button  ---------------------------------------------- */

div.ess-btn-radio input[type=radio] {
    /*opacity: 0;*/
    display: none;
}

div.ess-btn-radio .active {
    background-color: #289efe !important;
    color: white !important;
    font-weight: bold;
    transition: 0.2s background-color;
}

    div.ess-btn-radio .active:hover {
        background-color: #71befc !important;
        color: #fff !important;
    }

div.ess-btn-radio > label {
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.2s background-color;
}

div.ess-btn-radio > label:hover {
    background-color: rgba(40,158,254,.1) !important;
}
div.ui-select-container span.btn-default {
    background-color:white !important;
}

div.ui-select-container[disabled] span.btn-default {
    background-color: #eee !important;
}


.range_inputs > button {
}

div.bar_title, div.bar_bottom-status {
    background-color: var(--main-color) !important;
}

div.forsearch {
    color: white !important;
    background-color: var(--main-color) !important;
    transition: 0.2s background-color, 0.2s color
}

.bar_searchactive, .search_block input, .contentHead .bar_right:hover, div.forsearch_active {
    color: var(--main-color) !important;
    background-color: #fff !important;
}

ul.confirm-request-approve-action {
    padding-left: 25px;
}
    ul.confirm-request-approve-action > li {
        font-size: 18px;
        list-style: circle
    }


ul.list-decimal {
    padding-left: 15px;
}
    ul.list-decimal > li {
        list-style: decimal;
    }



ul.worning-list-msg > li {
    font-size: 18px;
}

.nav-tabs > li {
    background-color: #fafafa;
}