﻿body, .container-fluid, .mainBlock {
    background-color: #fefefe;
    background-image: url('../images/background/bg.jpg');
}

#loading {
    display: none;
}
    #loading.show {
        display: flex;
    }

.page-ssc {
    padding: 3rem 2rem;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0px 0px 5px 0px #ccc;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.attachment-box, .comment-pagae {
    display: block;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-top: 20px;
    padding: 0px;
}

.comment-pagae {
    padding: 20px;
    padding-top: 5px;
}



.page-titile {
    height: 120px;
    background: #4edc8b;
    text-align: center;
    padding-top: 35px;
    border-bottom: solid 2px #75b194;
    margin-bottom: 4rem;
}

.warning-text {
    color: #fb4848;
}

.day-count {
    font-size: 20px;
    color: #717171;
}

.margin-0 {
    margin-bottom: 0px !important;
}

.page-titile .main-t {
    color: white;
    font-size: 31px;
    font-family: fantasy;
}

.progress-container {
    padding: 0.5rem;
    height: 80px;
    margin-bottom: 3rem;
    background: #f9f9f9;
}

    .progress-container span {
        font-size: 16px;
        color: #929292;
        font-family: inherit;
    }

.title-1 {
    font-size: 32px;
    color: #555;
    margin-bottom: 3rem;
}

.title-2 {
    font-size: 25px;
    color: #555;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 7px;
}

.under-line {
    text-decoration: underline;
}

.information-set {
    margin-bottom: 1.5rem;
}

.width-limit {
    width: 300px;
    text-align: left;
}

.width-limit-2 {
    width: 200px;
    text-align: left;
}


.ag-flex-column.date-picker {
    margin-right: 2.5rem;
    border: solid 1px #289efe;
    background: #e8f6ff;
}

    .date-picker input {
        border: none;
        text-align: center;
        font-size: 20px;
        color: #8a8a8a;
        padding: 7px 10px;
        text-align: center;
    }

    .date-picker span {
        font-size: 16px;
        color: #289efe;
        border-bottom: 1px solid #d2edff;
        padding: 7px;
    }

.input-text input {
    height: 72px;
    border: solid 1px #c9c9c9;
    padding: 1rem;
    font-size: 20px;
    width: 513px;
}

.input-text-in-line span {
    font-size: 20px;
    color: #717171;
}

.input-text-in-line input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #bbbbbb;
    text-align: center;
    width: 70px;
    font-size: 20px;
    margin: 0px 25px;
}

    .input-text-in-line input.large {
        width: 100px;
    }

.information-set.input-radio span {
    font-size: 17px;
    color: #717171;
}



/*Dialog add choose*/

/*Dialog add choose*/



/*Dialog select*/
.select-dialog-text-display {
}

.select-dialog span {
    font-size: 17px;
    color: #bdbdbd;
}

.select-dialog {
    cursor: pointer;
    width: 200px;
    border: dotted #dedede;
    background: #e1eeff;
}

    .select-dialog:hover {
        border: dotted #020202;
    }

.select-dialog-model {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0000005c;
    z-index: 100;
}

    .select-dialog-model .btn-close {
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        background: #e62d2d;
        position: absolute;
        font-size: 27px;
        color: white;
        padding: 3px 1px 1px 11px;
    }

.select-dialog-model-body {
    width: 400px;
    background: white;
    height: 400px;
    border: solid 1px #ababab;
}

    .select-dialog-model-body .title {
        background: #80b7ff;
        height: 40px;
        padding: 7px 1px 1px 20px;
        position: relative;
    }

        .select-dialog-model-body .title span {
            color: white;
            font-size: 20px;
        }

    .select-dialog-model-body .filter {
        width: 100%;
        height: 37px;
        padding: 1px 1px 1px 14px;
    }

    .select-dialog-model-body .content-list {
        height: 288px;
        overflow-y: scroll;
    }

        .select-dialog-model-body .content-list .item {
            height: 35px;
            cursor: pointer;
            padding: 10px 1px 1px 15px;
        }

            .select-dialog-model-body .content-list .item:hover {
                background: #3181ca;
                color: white;
            }

    .select-dialog-model-body .check-box {
        background: #cfedff;
        height: 30px;
        padding: 5px 1px 1px 15px;
    }

.block-user-select {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
/*Dialog select*/


md-radio-button {
    font-size: 18px;
    margin-right: 10px;
}


.information-set > label {
    font-size: 18px;
    margin-bottom: 5px;
}

.information-set > textarea {
    height: 80px;
    font-size: 18px;
}


.exchange-rate-panel {
    margin-bottom: 2rem;
}

    .exchange-rate-panel .waring-exchange-rate {
        font-size: 18px;
        color: #ff5a5a;
        margin-left: 20px;
    }

    .exchange-rate-panel .remove-btn {
        display: block;
        height: unset;
        width: 40px;
        padding: 6px 0px;
        color: #fff;
        background: #ff5a5a;
        font-family: cursive;
        cursor: pointer;
        border: 1px solid #ffefef;
        transition: 0.2s color, 0.2s background-color;
        margin-left: auto;
        margin-right: auto;
    }

        .exchange-rate-panel .remove-btn:hover {
            background: #ff7575;
            color: #fff;
        }

    .exchange-rate-panel .title {
        font-size: 20px;
        color: #717171;
        margin-bottom: 1rem;
    }

    .exchange-rate-panel .details {
        padding-left: 1rem;
        font-size: 20px;
        color: #717171;
    }

    .exchange-rate-panel .no-exchange-rate {
        margin-bottom: 1rem;
        font-size: 18px;
        color: #bbb;
    }

    .exchange-rate-panel .input-text-in-line {
        padding-left: 1rem;
    }

        .exchange-rate-panel .input-text-in-line > * {
            margin-bottom: 1rem;
        }

    .exchange-rate-panel .add-btn {
        display: block;
        width: 250px;
        padding: 7px 15px;
        text-align: center;
        background-color: #fafafa;
        color: #555;
        font-size: 18px;
        border: 1px solid #ddd;
        cursor: pointer;
        transition: 0.2s background-color;
    }

        .exchange-rate-panel .add-btn:hover {
            background-color: #eee;
        }

        .exchange-rate-panel .add-btn > i {
            margin-right: 5px;
        }








.input-group {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
}

    .input-group > div {
        display: table-cell;
        border: 1px solid #ddd;
        vertical-align: middle; /* needed for Safari */
    }

.input-group-icon {
    background: #eee;
    color: #777;
    padding: 0 12px
}

.input-group-area {
    width: 100%;
}

.input-group input {
    border: 0;
    display: block;
    width: 100%;
    padding: 8px;
}

.select-item-value {
    padding: 7px;
    display: block;
    text-align: center;
    width: 100%;
}


input:disabled, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fafafa;
}