﻿<div ng-controller="SettingController" ng-init="init()">

    <!-- Start breadcrumb -->
    <div class="breadcrumb-container ess-breadcrumb-container" ng-controller="RequestViewerController">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ess-breadcrumb">
                <li class="breadcrumb-item ess-breadcrumb-item"><a id="CORE_1403_btnGoBackToHome" ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
                <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION'].GENERAL_SETTING}}</li>
            </ol>
        </nav>
    </div>
    <!-- End breadcrumb -->
    <!-- Start Header -->
    <div class="ess-page-header-panel row ess-row-wrap">
        <div class="col-12 ess-page-header">
            <i class="icon icon-setting-wh"></i>
            <h1 class="ess-page-header1">{{Text['APPLICATION'].GENERAL_SETTING}}</h1>
        </div>
    </div>
    <div class="ess-headersub-1"></div>
    <div class="ess-headersub-2"></div>
    <!-- End Header -->

    <div class="ess-wrapper">
        <div class="ess-inner-wrapper" style="min-height:400px;">

            <blockquote class="mt-4">
                <div class="row col-12" style="align-items:center;">
                    <label class="span_name">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        {{Text[Textcategory].LANGUAGE }}
                    </label>
                </div>
                

                <div style=" display: flex; margin-left: 20px; margin-top: 20px;">
                    <div style="position: relative; width: 250px;  height: 50px; overflow: hidden; ">
                        <select id="CORE_1403_ddlLanguage" class="form-control" ng-change="languageChange()" ng-model="oLanguageSelected" title="{{Text[Textcategory].LANGUAGE }}" style="width:200px;">
                            <option value="EN" id="CORE_1403_ddlLanguageListEN">{{Text[Textcategory].LANGUAGEEN}}</option>
                            <option value="TH" id="CORE_1403_ddlLanguageListTH">{{Text[Textcategory].LANGUAGETH}}</option>
                        </select>
                    </div>
                </div>
            </blockquote>
            <blockquote>
                <!--<div class="row col-12" style="align-items:center;">
                    <label class="span_name" style="position: relative;">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        {{Text[Textcategory].MAIL}}
                        <i style="position: absolute; top: 4px; right: -30px;" ng-if="status.settingL">
                            <md-progress-circular class="md-hue-2" md-diameter="20px"></md-progress-circular>
                        </i>

                    </label>
                </div>-->
                <!--<div style="display: flex; margin-left: 20px;">
                    <md-switch class="md-primary" ng-model="isReceive" ng-change="emailStatusChange()" ng-disabled="status.settingL" id="CORE_1403_swtReceiveMail">

                        <span ng-if="isReceive" ng-class="{'disable_item':status.settingL }">&nbsp;{{Text[Textcategory].MAILYES}}</span>
                        <span ng-if="!isReceive" ng-class="{'disable_item':status.settingL }">&nbsp;{{Text[Textcategory].MAILNO}}</span>
                        <md-tooltip md-direction="bottom" class="em-font-15">
                            {{Text[Textcategory].MAIL}}
                        </md-tooltip>
                    </md-switch>
                </div>-->
            </blockquote>

        </div>
    </div>

</div>

<style>

    .disable_item {
        color: #afafaf !important;
    }
</style>