﻿<div id="main-content">
    <div class="page-body">
        <div class="ess-wrapper">
            <div class="container-fluid">
                <div id="AnnouncementContent" class="row page" ng-controller="AnnouncementController" ng-init="init()">
                    <div class="col-sm-12">
                        <div id="ann_carousel" class="carousel slide" data-ride="carousel" data-interval="true">
                            <div class="carousel-inner">
                                <div class="carousel-item {{currentAnnID == Ann.ID ? 'active' : ''}}" ng-repeat="Ann in announcements">
                                    <img ng-src="{{RootPath}}{{Ann.Image}}" onerror="this.src = './images/default1500x500.jpg'" class="img-fluid" alt="Responsive image">
                                    <div class="carousel-overlay scrollbar scrollbar-default" style="height:93%;overflow:auto;z-index:1">
                                        <div class="carousel-caption">
                                            <div ng-show="CurrentLanguage=='TH'">
                                                <h2 class="text-left"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;&nbsp;{{Ann.Name==''?Ann.NameEN:Ann.Name}}</h2>
                                                <div class="text-left" ng-bind-html="renderHtml(Ann.Content==''?Ann.ContentEN:Ann.Content,'')"></div>
                                            </div>
                                            <div ng-show="CurrentLanguage=='EN'">
                                                <h2 class="text-left"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;&nbsp;{{Ann.NameEN==''?Ann.Name:Ann.NameEN}}</h2>
                                                <div class="text-left" ng-bind-html="renderHtml(Ann.ContentEN==''?Ann.Content:Ann.ContentEN,'')"></div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6 accept">
                                                    <div class="text-left" ng-if="Ann.Acceptable && !isAcceptedAnnounceByEmployeeID" style="padding-right:20px;">
                                                        <a class="btn btn-info" ng-click="acceptAnnouncementTakeActionFromUI(Ann.ID,'ACCEPTED',announcementIndexOnMainpage)" nohref role="button">
                                                            {{Text['ACTION'].ACCEPT}}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 accept">
                                                    <!--<div class="text-right" ng-show="Ann.Content.length > 900" style="padding-right:20px;">
                                                        <a class="btn btn-secondary" style="color:#ffffff;font-weight:bold" href="" ng-click="showDetailAnnouncements(Ann.ID)">{{Text['SYSTEM'].READMORE}}</a>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--กรณีที่ยังไม่มีประกาศใน db-->
                                <div ng-if="announcements.length==0">
                                    <img ng-src="./images/default1500x500.jpg" onerror="this.src = './images/default1500x500.jpg'" class="img-fluid" alt="Responsive image">
                                    <div class="carousel-overlay scrollbar scrollbar-default" style="height:93%;width:100%;overflow:auto;z-index:1">
                                        <div class="carousel-caption">
                                            <h2 class="text-left"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;&nbsp;{{Text['ANNOUNCEMENT'].ANNOUNCEMENT}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-panel">
                                <ol class="carousel-indicators">
                                    <li data-target="#ann_carousel" data-slide-to="{{$index}}" class="{{currentAnnID == Ann.ID ? 'active' : ''}}" ng-repeat="Ann in announcements">
                                        <a class="page-link" href="" ng-click="setDataAnnouncementOnUI(Ann.ID)"></a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="TMContent" ng-controller="PersonalWorkScheduleContentController">
                    <div id="ClockINOUT" class="row custom-page">
                        <div class="col-12" style="height: 75px !important;">

                        </div>
                    </div>
                </div>
                <br />

                <div class="modal" id="AcceptedAnnounceModal" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" style="z-index:15">
                            <div class="modal-header">
                                <h3 class="modal-title justify-content-center">
                                    {{Text['SYSTEM'].WARNING}}
                                </h3>
                            </div>
                            <div style="margin:5px">  </div>
                            <div class="modal-body justify-content-center">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="#28a745">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                                &nbsp;{{Text['ANNOUNCEMENT'].ACCEPTED}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div style="position:fixed; bottom:0px; z-index:1;">
        <div ng-include="'views/common/PollVote.html'"></div>
    </div>-->
</div>
