﻿<md-dialog aria-label="select KPI dialog" >
    <form ng-cloak>
        <md-dialog-content>
           
            <div class="md-dialog-content">
                <h2 class="md-title ">{{params.name}}</h2>
                <md-input-container class="md-block">
                  
                    <textarea ng-model="inputValue" placeholder="" md-maxlength="params.maxlength" rows="3" md-select-on-focus></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="save(inputValue)">
                SAVE
            </md-button>
            <md-button ng-click="cancel()">
                CANCEL
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>