﻿

.announce-containner {
    display: block;
    padding-left: 2%;
    padding-right: 3%;
}


.announce-card {
    display: block;
    position: relative;
    /*border: 1px solid #ccc;*/
    box-shadow: 0px 0px 5px 0px #ccc;
    margin: 1%;
    transition: 0.2s box-shadow;
}
    .announce-card, .announce-card * {
        cursor: pointer;
    }

        .announce-card:hover {
            box-shadow: 0px 0px 15px 0px #ccc;
        }


    .announce-card.hor {
        float: left;
        width: 31.333333%;
    }

        .announce-card.hor .announce-card-img {
            display: block;
            position: relative;
            width: 100%;
            height: 250px;
            background-position: center;
            background-size: cover;
        }

            .announce-card.hor .announce-card-img > .announce-new {
                display: block;
                position: absolute;
                top: 15px;
                left: 0px;
                padding: 5px;
                padding-right: 30px;
                background-color: rgba(255, 0, 0, 0.7);
                color: #fff;
                font-weight: bold;
            }

        .announce-card.hor .announce-card-body {
            display: block;
            width: 100%;
            padding: 15px;
            margin: 0px;
        }

            .announce-card.hor .announce-card-body > label {
                display: block;
                width: 100%;
                margin: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        .announce-card.hor label.announce-card-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0px;
        }

        .announce-card.hor label.announce-card-date {
            color: #888
        }

@media screen and (max-width: 1200px) {

    .announce-card.hor {
        width: 48%;
    }
}

@media screen and (max-width: 800px) {

    .announce-card.hor {
        width: 100%;
    }
}



.announce-card.ver {
    width: 100%;
}


div.announce-dialog-bg {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;  
    width: 100%;
    overflow-y: auto;
    background-color: rgba(50,50,50,0.8);
}

div.announce-dialog {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border: 2px solid #fafafa;
    background-color: #fafafa;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

div.announce-dialog-header {
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    div.announce-dialog-header > i {
        font-size: 30px;
        top: 15px;
        right: 25px;
        position: absolute;
        color: #FFF;
        cursor: pointer;
        text-shadow: 2px 2px 8px #555;
    }

div.announce-dialog-title {
    padding: 20px;
    margin-top: 20px;
}

    div.announce-dialog-title > .subject {
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 15px;
    }
    div.announce-dialog-title > .date {
        text-align: center;
        font-size: 1rem;
    }
        div.announce-dialog-title > .date > i {
            font-style: normal;
            color: #bbb;
            margin-left: 10px;
            margin-right: 10px;
        }
div.announce-dialog-body {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 1.2rem;
}


@media screen and (max-width: 1200px) {

    div.announce-dialog {
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0px;
    }
    div.announce-dialog-header {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

}





.test-code {
    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fffce4;
}

    .test-code > label {
        display: block;
        width: 100%;
        margin: 10px;
        font-weight: normal;
        color: #aaa;
    }

        .test-code > label > b {
            color: #333;
        }