﻿
div.doc-box-container {
    padding-right: 30px;
    background-color: #fff;
    padding-top: 20px;
}

div.doc-box-title {
    display: block;
    margin-bottom: 15px;
}

    div.doc-box-title > label {
        float: left;
        font-size: 24px;
        font-weight: bold;
    }

    div.doc-box-title > div.doc-box-search {
        display: block;
        float: right;
        width: 300px;
    }





div.box-content-item > div.box-content-top > .-tab-org {
    background-color: #fff8e9 !important;
    color: #F7B422 !important;
}

div.box-content-item > div.box-content-top > .-tab-green {
    background-color: #f0fef0 !important;
    color: #56BD5B !important;
}

div.box-content-item > div.box-content-top > .-tab-red {
    background-color: #fff0f1 !important;
    color: #E1464E !important;
}

div.box-content-item > div.box-content-top > .-tab-grey {
    background-color: #fafafa !important;
    color: #d1d3d5 !important;
}


div.box-content-item > div.box-content-top > .-tab-blue {
    background-color: #e5f2fc !important;
    color: #289efe !important;
}


div.box-content-item {
    display: block;
    position: relative;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 5px 0px #ccc;
    margin-bottom: 20px;
    color: #333;
    padding-left: 5px;
    cursor: pointer;
}

    /* left bar */
    div.box-content-item > div.box-content-left-statu-bar {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 5px;
        bottom: 0px;
        background-color: red;
        cursor: pointer;
    }

        div.box-content-item > div.box-content-left-statu-bar.-tab-org {
            background-color: #F7B422 !important;
        }

        div.box-content-item > div.box-content-left-statu-bar.-tab-green {
            background-color: #56BD5B !important;
        }

        div.box-content-item > div.box-content-left-statu-bar.-tab-red {
            background-color: #E1464E !important;
        }

        div.box-content-item > div.box-content-left-statu-bar.-tab-grey {
            background-color: #d1d3d5 !important;
        }


        div.box-content-item > div.box-content-left-statu-bar.-tab-blue {
            background-color: #289efe !important;
        }


    div.box-content-item:last-child {
        margin-bottom: unset;
    }

    div.box-content-item > div.box-content-top, div.box-content-item > div.box-content-detail {
        display: block;
        padding: 15px;
        cursor: pointer;
    }

        div.box-content-item > div.box-content-top > div, div.box-content-item > div.box-content-top > span {
            display: inline-block;
            float: left;
            margin-right: 15px;
            cursor: pointer;
        }

            div.box-content-item > div.box-content-top > span.no {
                padding: 5px 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            div.box-content-item > div.box-content-top > div.request-no {
                color: var(--main-color);
                font-weight: bold;
                padding: 5px 10px;
            }

            div.box-content-item > div.box-content-top > div.status {
                padding: 5px 13px;
                border-radius: 10px;
                font-weight: bold;
                color: #fff;
            }

div.masspost-content-status {
    padding: 5px 13px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #f5e8f2;
    color: #b16fa3;
}

div.box-content-item > div.box-content-top > div.update-date {
    float: right;
    color: #888;
    margin-right: 0px;
}


div.box-content-item > div.box-content-detail {
    padding-top: 0px;
    cursor: pointer;
}

    div.box-content-item > div.box-content-detail > div:not(:last-child) {
        margin-bottom: 5px;
    }

    div.box-content-item > div.box-content-detail > div.position {
        font-weight: bold;
    }

    div.box-content-item > div.box-content-detail > div.detail {
        margin-top: 10px;
        color: #555;
    }


/*--------------------------------------------------*/
/*  plant-estimate start --------------------------- */

/*.plant-estimate {
    border: 1px solid #ccc;
    padding-left: 1px;
}

.plant-estimate-res {
    padding: 20px;
}

.plant-estimate-add {
    margin-bottom: 15px;
    padding: 20px;
    background-color: #fafafa;
}

    .plant-estimate-add .selection-box {
        position: relative;
        border: solid 1px lightgray;
        border-radius: 3px;
    }

    .plant-estimate-add .selection-box, .plant-estimate-add button, .plant-estimate-add label {
        display: inline-block;
    }

    .plant-estimate-add label {
        margin-right: 10px;
        padding-top: 8px;
        font-size: 20px;
    }

md-autocomplete.autocomplete-form-control {
    border: unset;
    box-shadow: unset;
    -webkit-tap-highlight-color: unset;
}

@media screen and (max-width:767px) {
    .plant-estimate-add label {
        display: block !important;
    }


        .plant-estimate-add label.title {
            display: block;
        }

        .plant-estimate-add label.value {
            display: block;
            text-align: right;
            color: #289efe;
        }
}

.plat-res-item {
    display: block;
    margin: 10px;
    border: 1px solid #ccc;
}

.-xs_sm-onl {
    padding: 0px;
}

.head-box {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}*/



/*  plant-estimate end --------------------------- */
/*--------------------------------------------------*/