﻿
.dx-modal {
    display: block;
    position: fixed;
    z-index: 71;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(50,50,50,0.3);
    overflow-y: auto;
    padding-top: 3%;
    padding-bottom: 2%;
}

    .dx-modal > i {
        display: none;
        position: fixed;
        right: 5%;
        font-size: 30px;
        color: #fff;
        top: 50%;
        background-color: orange;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px #555;
        border: 2px solid #fff;
        cursor: pointer;
        transition: 0.2s opacity;
        opacity: 0.7;
    }

        .dx-modal > i.show {
            display: block;
        }

        .dx-modal > i:hover {
            opacity: 1;
        }

.dx-modal-dialog {
    display: flex;
    flex-flow: column;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    box-shadow: 0px 0px 10px 0px #848484;
    margin: auto;

}

    .dx-modal-dialog > .header {
        display: block;
        width: 100%;
        padding: 15px;
        padding-bottom: 7px;
        border-bottom: 1px solid #efefef;
    }

        .dx-modal-dialog > .header:after {
            display: flex;
            content: "";
            clear: both;
        }

        .dx-modal-dialog > .header > label {
            float: left;
            font-size: 1.2rem;
        }

        .dx-modal-dialog > .header > div.btn-group {
            float: right;
            margin-top: -7px;
        }

            .dx-modal-dialog > .header > div.btn-group > button {
                margin-left: 10px;
                background-color: #fff;
                border: 1px solid #eee;
                font-size: 1rem;
                color: #aaa;
                transition: 0.2s color, 0.2s background-color;
                padding: 6px 25px;
            }

                .dx-modal-dialog > .header > div.btn-group > button:hover {
                    color: #555;
                }

                .dx-modal-dialog > .header > div.btn-group > button.save {
                    background-color: #08b2f0;
                    color: #fff;
                }

                .dx-modal-dialog > .header > div.btn-group > button.save:hover {
                    background-color: #206d89;
                }

    .dx-modal-dialog > .body {
        display: block;
        width: 100%;
        padding: 15px;
        border-top: 1px solid #eee;
    }
