﻿

<div class="datepicker-height-set none-block" style="max-width: 250px; position: relative;">
    <i class="icon icon-calendar"  ng-click="cancle()"
       style="z-index:3;pointer-events: none; position: absolute; right: 8px;top: 8px;font-size: 20px;"></i>
    <input class="form-control g-datepicker" type="text" ng-model="showText" ng-click="onClickInput()" readonly />
</div>


<div class="datepicker-g" ng-class="{ show:isShow===true }">
    <div class="datepicker-g-dialog">
        <div class="title">
            {{title}}
            <i class="fal fa-times"></i>
        </div>
        <div class="body">

            <input type="text" class="form-control day" ng-model="data.day" placeholder="{{text['ACCUMMULATEOFFSETUNIT'].DD}}" />
            <select class="form-control month" ng-model="data.month" >
                <option value="{{m.value}}" ng-repeat="m in months">{{m.text}}</option>
            </select>
            <input type="text" class="form-control year" ng-model="data.year" placeholder="{{text['ACCUMMULATEOFFSETUNIT'].YY}}" />

            <label class="error" ng-if="errMessage !== ''">
                {{errMessage}}
            </label>
        </div>
        <div class="footer">
            <button ng-click="cancle()">{{text['ACTION'].CANCEL}}</button>
            <button class="ok" ng-click="ok()">{{text['SYSTEM'].BUTTON_OK}}</button>
        </div>
    </div>
</div>