﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>

<div class="ess-wrapper" ng-controller="AddressViewerController">
    <div class="ess-inner-wrapper">
        <div class="ess-document-info-wrapper" ng-repeat="AddrNew in PersonalAddrNew">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{ADDRESSTYPE[AddrType]}}</div>
            </div>
            <div class="ess-personal-info-edit-panel" ng-repeat="PersonalAddr in PersonalAddr">
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration|filter: { FieldName: 'AddressNo' }" ng-if="item.FieldName=='AddressNo' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text[PATextcategory].NO}}</span></div>
                        <div class="ess-personal-info-data" ng-if="item.FieldName == 'AddressNo'">
                            <div ng-show="PersonalAddr.AddressNo != AddrNew.AddressNo"><span class="red_text"><strike>{{PersonalAddr.AddressNo}}</strike></span></div>
                            <div ng-show="PersonalAddr.AddressNo != AddrNew.AddressNo"><span class="blue_text">{{AddrNew.AddressNo}}</span></div>
                            <div ng-show="PersonalAddr.AddressNo == AddrNew.AddressNo">{{AddrNew.AddressNo}}</div>
                            <div ng-show="!AddrNew.AddressNo">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Building' }" ng-if="item.FieldName=='Building' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text[PATextcategory].BUILDING}}</span></div>
                        <div class="ess-personal-info-data" ng-if="item.FieldName == 'Building'">
                            <div ng-show="PersonalAddr.Building != AddrNew.Building"><span class="red_text"><strike>{{PersonalAddr.Building}}</strike></span></div>
                            <div ng-show="PersonalAddr.Building != AddrNew.Building"><span class="blue_text">{{AddrNew.Building}}</span></div>
                            <div ng-show="PersonalAddr.Building == AddrNew.Building">{{AddrNew.Building}}</div>
                            <div ng-show="!AddrNew.Building">-</div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Moo' }" ng-if="item.FieldName=='Moo' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text[PATextcategory].MOO}}</span></div>
                        <div class="ess-personal-info-data" ng-if="item.FieldName == 'Moo'">
                            <div ng-show="PersonalAddr.Moo != AddrNew.Moo && PersonalAddr.Moo!='0'"><span class="red_text"><strike>{{PersonalAddr.Moo}}</strike></span></div>
                            <div ng-show="PersonalAddr.Moo != AddrNew.Moo"><span class="blue_text">{{AddrNew.Moo}}</span></div>
                            <div ng-show="PersonalAddr.Moo == AddrNew.Moo && PersonalAddr.Moo!='0'">{{AddrNew.Moo}}</div>
                            <div ng-show="!AddrNew.Moo||AddrNew.Moo=='0'">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Soi' }" ng-if="item.FieldName=='Soi' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text[PATextcategory].SOI}}</span></div>
                        <div class="ess-personal-info-data" ng-if="item.FieldName == 'Soi'">
                            <div ng-show="PersonalAddr.Soi != AddrNew.Soi"><span class="red_text"><strike>{{PersonalAddr.Soi}}</strike></span></div>
                            <div ng-show="PersonalAddr.Soi != AddrNew.Soi"><span class="blue_text">{{AddrNew.Soi}}</span></div>
                            <div ng-show="PersonalAddr.Soi == AddrNew.Soi">{{AddrNew.Soi}}</div>
                            <div ng-show="!AddrNew.Soi">-</div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0">
              
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Street' }" ng-if="item.FieldName=='Street' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text[PATextcategory].STREET}}</span></div>
                        <div class="ess-personal-info-data" ng-if="item.FieldName == 'Street'">
                            <div ng-show="PersonalAddr.Street != AddrNew.Street"><span class="red_text"><strike>{{PersonalAddr.Street}}</strike></span></div>
                            <div ng-show="PersonalAddr.Street != AddrNew.Street"><span class="blue_text">{{AddrNew.Street}}</span></div>
                            <div ng-show="PersonalAddr.Street == AddrNew.Street">{{AddrNew.Street}}</div>
                            <div ng-show="!AddrNew.Street">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration|filter: { FieldName: 'SubDistrict' }" ng-if="item.FieldName=='SubDistrict' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text[PATextcategory].SUBDISTRICT}}</span></div>
                        <div class="ess-personal-info-data" ng-if="item.FieldName == 'SubDistrict'">
                            <div ng-show="PersonalAddr.Subdistrict != AddrNew.Subdistrict"><span class="red_text"><strike>{{SubDistrictText_OLD}}</strike></span></div>
                            <div ng-show="PersonalAddr.Subdistrict != AddrNew.Subdistrict"><span class="blue_text">{{SubDistrictText}}</span></div>
                            <div ng-show="PersonalAddr.Subdistrict == AddrNew.Subdistrict">{{SubDistrictText}}</div>
                            <div ng-show="!AddrNew.Subdistrict">-</div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration|filter: { FieldName: 'District' }" ng-if="item.FieldName=='District' && item.IsVisible">                       
                        <div class=""><span class="ess-personal-info-label">{{Text[PATextcategory].DISTRICT}}</span></div>
                        <div class="ess-personal-info-data" ng-if="item.FieldName == 'District'">
                            <div ng-show="PersonalAddr.District != AddrNew.District"><span class="red_text"><strike>{{DistrictText_OLD}}</strike></span></div>
                            <div ng-show="PersonalAddr.District != AddrNew.District"><span class="blue_text">{{DistrictText}}</span></div>
                            <div ng-show="PersonalAddr.District == AddrNew.District">{{DistrictText}}</div>
                            <div ng-show="!AddrNew.District">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Province' }" ng-if="item.FieldName=='Province' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text[PATextcategory].PROVINCE}}</span></div>
                        <div class="ess-personal-info-data" ng-if="item.FieldName == 'Province'">
                            <div ng-show="PersonalAddr.Province != AddrNew.Province"><span class="red_text"><strike>{{ProvinceText_OLD}}</strike></span></div>
                            <div ng-show="PersonalAddr.Province != AddrNew.Province"><span class="blue_text">{{ProvinceText}}</span></div>
                            <div ng-show="PersonalAddr.Province == AddrNew.Province">{{ProvinceText}}</div>
                            <div ng-show="!AddrNew.Province">-</div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Country' }" ng-if="item.FieldName=='Country' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text[PATextcategory].COUNTRY}}</span></div>
                        <div class="ess-personal-info-data" ng-if="item.FieldName == 'Country'">
                            <div ng-show="PersonalAddr.Country != AddrNew.Country"><span class="red_text"><strike>{{CountryNameTextOLD}}</strike></span></div>
                            <div ng-show="PersonalAddr.Country != AddrNew.Country"><span class="blue_text">{{CountryNameText}}</span></div>
                            <div ng-show="PersonalAddr.Country == AddrNew.Country">{{CountryNameText}}</div>
                            <div ng-show="!AddrNew.Country">-</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Postcode' }" ng-if="item.FieldName=='Postcode' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text[PATextcategory].POSTCODE}}</span></div>
                        <div class="ess-personal-info-data" ng-if="item.FieldName == 'Postcode'">
                            <div ng-show="PersonalAddr.Postcode != AddrNew.Postcode"><span class="red_text"><strike>{{PersonalAddr.Postcode}}</strike></span></div>
                            <div ng-show="PersonalAddr.Postcode != AddrNew.Postcode"><span class="blue_text">{{AddrNew.Postcode}}</span></div>
                            <div ng-show="PersonalAddr.Postcode == AddrNew.Postcode">{{AddrNew.Postcode}}</div>
                            <div ng-show="!AddrNew.Postcode">-</div>
                        </div>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration|filter: { FieldName: 'Telephone' }" ng-if="item.FieldName=='Telephone' && item.IsVisible">
                        <div class=""><span class="ess-personal-info-label">{{Text[PATextcategory].TELEPHONE}}</span></div>
                        <div class="ess-personal-info-data" ng-if="item.FieldName == 'Telephone'">
                            <div ng-show="PersonalAddr.Telephone != AddrNew.Telephone"><span class="red_text"><strike>{{PersonalAddr.Telephone}}</strike></span></div>
                            <div ng-show="PersonalAddr.Telephone != AddrNew.Telephone"><span class="blue_text">{{AddrNew.Telephone}}</span></div>
                            <div ng-show="PersonalAddr.Telephone == AddrNew.Telephone">{{AddrNew.Telephone}}</div>
                            <div ng-show="!AddrNew.Telephone">-</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








