﻿
<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div ng-controller="AnnouncementDeleteEditorController" class="annoucement-ctrl">

    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <div class="ess-wrapper">
            <div class="ess-inner-wrapper">
                <div class="ess-tab-section-bar1">
                    <div class="ess-personal-info-sub-hdr">{{Text['ANNOUNCEMENT'].ANNOUNCEMENTDETAILS}}</div>
                </div>
                <div class="row ess-document-info-edit-panel">
                    <div class="col-xs-12 col-lg-4">
                        <div class="row" style="margin-bottom: 1rem;">
                            <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].NAME}}</label>
                            <div class="col-sm-6 col-md-8 col-lg-12 ">
                                <span class="blue_text">{{document.Additional.Name}}</span>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 1rem;">
                            <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].BEGINDATE}}</label>
                            <div class="col-sm-6 col-md-8 col-lg-12 ">
                                <span class="blue_text">{{document.Additional.BeginDate|date:'dd/MM/yyyy'}}</span>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 1rem;">
                            <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].ENDDATE}}</label>
                            <div class="col-sm-6 col-md-8 col-lg-12 ">
                                <span class="blue_text">{{document.Additional.EndDate |date:'dd/MM/yyyy'}}</span>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 1rem;">
                            <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].PRIORITY}}</label>
                            <div class="col-sm-6 col-md-8 col-lg-12 ">
                                <span class="blue_text">{{document.Additional.Priority}}</span>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 1rem;">
                            <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].ACCEPTABLE}}</label>
                         
                            <div class="col-sm-6 col-md-8 col-lg-12" ng-if="document.Additional.Acceptable">
                                <label class="container">
                                    <input type="checkbox" ame="check" id="PA_630_chkAcceptable"  checked disabled />
                                    <span class="announceCheckmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-6 col-md-8 col-lg-12" ng-if="!document.Additional.Acceptable">
                                <label class="container" disabled>
                                    <input type="checkbox" ame="check" id="PA_630_chkAcceptable" disabled />
                                    <span class="announceCheckmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-8">
                        <div class="row" style="margin-bottom: 1rem;">
                            <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].ANNOUNCEMENTDATA}}</label>
                            <div class="col-sm-8 col-md-10 col-lg-12 ">
                                <span class="blue_text" ng-bind-html="document.Additional.Content"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 1rem;">
                            <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].IMAGE}}</label>
                            <div class="col-sm-8 col-md-10 col-lg-12" style="height:30px;">
                                <span class="blue_text">{{announcement.Image}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<style>
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .announceCheckmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .announceCheckmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .announceCheckmark {
        background-color: #808080;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .announceCheckmark::after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .announceCheckmark::after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .announceCheckmark::after {
        left: 10px;
        top: 5px;
        width: 5px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
