﻿

<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>


<div ng-controller="AnnouncementEditorController" class="annoucement-ctrl">

    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text['ANNOUNCEMENT'].ANNOUNCEMENTDETAILS}}</div>
            </div>
            <div class="row ess-document-info-edit-panel">
                <div class="col-xs-12 col-lg-4">
                    <div class="row" style="margin-bottom: 1rem;">
                        <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].NAME}}</label>
                        <div class="col-sm-6 col-md-8 col-lg-12 ">
                            <input id="PA_906_txtName" value="{{ document.Additional.Name }}" ng-model="document.Additional.Name" ng-trim="false" required class="form-control ess-form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" aria-invalid="true" />
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1rem;">
                        <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].NAMEEN}}</label>
                        <div class="col-sm-6 col-md-8 col-lg-12 ">
                            <input id="PA_906_txtName" value="{{ document.Additional.NameEN }}" ng-model="document.Additional.NameEN" ng-trim="false" required class="form-control ess-form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" aria-invalid="true" />
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1rem;">
                        <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].BEGINDATE}}</label>
                        <div class="col-sm-6 col-md-8 col-lg-12 ">
                            <div style="position: relative; height: 50px; overflow: hidden;">
                                <input id="PA_906_txtBeginDate" maxlength="10" ng-model="document.Additional.BeginDate" value="{{getDateFormat(document.Additional.BeginDate)}}" ng-change="checkMaxDate()" type="text" class="form-control" name="start" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1rem;">
                        <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].ENDDATE}}</label>
                        <div class="col-sm-6 col-md-8 col-lg-12 ">
                            <div style="position: relative; height: 50px; overflow: hidden;">
                                <input id="PA_906_txtEndDate" maxlength="10" ng-model="document.Additional.EndDate" value="{{getDateFormat(document.Additional.EndDate)}}" ng-change="checkMaxDate()" ng-disabled="status.isView" type="text" class="form-control" name="start" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1rem;">
                        <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].PRIORITY}}</label>
                        <div class="col-sm-6 col-md-8 col-lg-12 ">
                            <input id="PA_906_txtPriority" value="{{ document.Additional.Priority }}" ng-model="document.Additional.Priority" ng-trim="false" required class="form-control ess-form-control ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15" style="font-size: 15px !important;" type="text" aria-invalid="true">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1rem;">
                        <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].ACCEPTABLE}}</label>
                        <div class="col-sm-6 col-md-8 col-lg-12 ">
                            <label class="container">
                                <input id="PA_906_chkAcceptable" type="checkbox" ame="check" value="{{ document.Additional.Acceptable }}" ng-model="document.Additional.Acceptable" />
                                <span class="announceCheckmark"></span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-lg-8">
                    <ul class="nav nav-tabs ess-tab-document-wrap" id="essAnnounce" role="tablist">
                        <li class="nav-item ess-tab-panel">
                            <a class="nav-link ess-nav-link active" id="essContentTH-tab" data-toggle="tab" data-target="#essContentTH" href="" role="tab" aria-controls="essContentTH" aria-selected="true">
                                <div class="ess-tab-link-icon"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                                <span style="text-align:left">{{Text['ANNOUNCEMENT'].ANNOUNCEMENTDATA}}</span>
                            </a>
                        </li>
                        <li class="nav-item ess-tab-panel">
                            <a class="nav-link ess-nav-link" id="essContentEN-tab" data-toggle="tab" data-target="#essContentEN" href="" role="tab" aria-controls="essContentEN" aria-selected="false">
                                <div class="ess-tab-link-icon"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                                <span style="text-align:left">{{Text['ANNOUNCEMENT'].ANNOUNCEMENTDATAEN}}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="tab-content ess-tab-content border-2">
                            <div class="tab-pane fade show active ess-tab-pane" id="essContentTH" role="tabpanel" aria-labelledby="essContentTH-tab">
                                <div style=" margin-top: 2rem;">
                                    <div class="col-sm-8 col-md-10 col-lg-12 ">
                                        <div ckeditor="options" ng-model="HtmlEditor" value="{{ document.Additional.Content}}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show ess-tab-pane" id="essContentEN" role="tabpanel" aria-labelledby="essContentEN-tab">
                                <div style=" margin-top: 2rem;">
                                    <div class="col-sm-8 col-md-10 col-lg-12 ">
                                        <div ckeditor="options" ng-model="HtmlEditorEN" value="{{ document.Additional.ContentEN}}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1rem;">
                        <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text['ANNOUNCEMENT'].UPLOAD}} <span style="color:gray;">({{Text['SYSTEM'].SUGGESTED}} : {{Text['ANNOUNCEMENT'].SUGGESTED_SIZE}})</span> </label>
                        <div class="col-sm-8 col-md-10 col-lg-12" style="height:30px;">
                            <span>{{document.Additional.Image}}</span><br ng-if="document.Additional.Image" />
                            <input id="OM_906_imgAnnounceCover" style="position:absolute; width: fit-content;height: 100%;z-index: 3;opacity: 50;" type="file"  ng-model="formInput.file" on-after-validate="onAfterValidateAnnouncementFunc" base-sixty-four-input>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>


<style>
    /* The container */

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .announceCheckmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .announceCheckmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .announceCheckmark {
        background-color: #00c379;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .announceCheckmark::after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .announceCheckmark::after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .announceCheckmark::after {
        left: 10px;
        top: 5px;
        width: 5px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    [contentEditable=true]:empty:not(:focus):before {
        content: attr(data-ph)
    }
</style>
