﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="CommunicationDataEditorController">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{ Text[PATextcategory].ContactData }}</div>
            </div>
            <form name="validateForm" novalidate>
                <div class="ess-personal-info-edit-panel">
                    <div class="row mx-0">
                        <div class="row mx-0">
                            <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'MobilePhone'}" ng-show="item.IsVisible && item.FieldName=='MobilePhone'">
                                <div class="">
                                    <span class="ess-personal-info-label">{{Text[CONTACTcategory].TELEPHONE_MOBILE}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.MobilePhone.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    <!--<span class="ess-required-filed" ng-show="validateForm.MobilePhone.$error.pattern">{{Text['SYSTEM'].PATTERN_PHONE}}</span>-->
                                </div>
                                <input id="PA_603_txtMobilePhone" ng-disabled="!item.IsEditable" class="form-control" type="text" value="{{ document.Additional.ContDataNew.MobilePhone|tel }}" ng-model="document.Additional.ContDataNew.MobilePhone" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" autocomplete="off" phone-input maxlength="12" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'HomePhone'}" ng-show="item.IsVisible && item.FieldName=='HomePhone'">
                                <div class="">
                                    <span class="ess-personal-info-label">{{Text[CONTACTcategory].TELEPHONE_HOME}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.HomePhone.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    <!--<span class="ess-required-filed" ng-show="validateForm.HomePhone.$error.pattern">{{Text['SYSTEM'].PATTERN_HOMEPHONE}}</span>-->
                                </div>
                                <input id="PA_603_txtHomePhone" ng-disabled="!item.IsEditable" class="form-control" type="text" value="{{ document.Additional.ContDataNew.HomePhone|tel }}" ng-model="document.Additional.ContDataNew.HomePhone" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" autocomplete="off" phone-input maxlength="11" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'WorkPlace'}" ng-show="item.IsVisible && item.FieldName=='WorkPlace'">
                                <div class="">
                                    <span class="ess-personal-info-label">{{Text[CONTACTcategory].TELEPHONE_OFFICE}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.WorkPlace.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    <!--<span class="ess-required-filed" ng-show="validateForm.WorkPlace.$error.pattern">{{Text['SYSTEM'].PATTERN_HOMEPHONE}}</span>-->
                                </div>
                                <input id="PA_603_txtWorkPlace" ng-disabled="!item.IsEditable" class="form-control" type="text" value="{{ document.Additional.ContDataNew.WorkPlace|tel }}" ng-model="document.Additional.ContDataNew.WorkPlace" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" autocomplete="off" phone-input maxlength="11" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'Email'}" ng-show="item.IsVisible && item.FieldName=='Email'">
                                <div class="">
                                    <span class="ess-personal-info-label">{{Text[CONTACTcategory].EMAIL}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.Email.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.Email.$error.pattern">{{Text['SYSTEM'].PATTERN_EMAIL}}</span>
                                </div>
                                <input id="PA_603_txtEmail" ng-disabled="!item.IsEditable" class="form-control" type="text" value="{{document.Additional.ContDataNew.Email}}" ng-model="document.Additional.ContDataNew.Email" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" autocomplete="off" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'PrivateEmail'}" ng-show="item.IsVisible && item.FieldName=='PrivateEmail'">
                                <div class="">
                                    <span class="ess-personal-info-label">{{Text[CONTACTcategory].PRIVATEMAIL}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.PrivateEmail.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.PrivateEmail.$error.pattern">{{Text['SYSTEM'].PATTERN_EMAIL}}</span>
                                </div>
                                <input id="PA_603_txtPrivateEmail" ng-disabled="!item.IsEditable" class="form-control" type="text" value="{{document.Additional.ContDataNew.PrivateEmail}}" ng-model="document.Additional.ContDataNew.PrivateEmail" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" autocomplete="off" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'LineID'}" ng-show="item.IsVisible && item.FieldName=='LineID'">
                                <div class="">
                                    <span class="ess-personal-info-label">{{Text[CONTACTcategory].LINE}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.LineID.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                </div>
                                <input id="PA_603_txtLineID" ng-disabled="!item.IsEditable" class="form-control" type="text" value="{{ document.Additional.ContDataNew.LineID }}" ng-model="document.Additional.ContDataNew.LineID" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" autocomplete="off" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'PersonOfEmergency'}" ng-show="item.IsVisible && item.FieldName=='PersonOfEmergency'">
                                <div class="">
                                    <span class="ess-personal-info-label">{{Text[CONTACTcategory].PERSONOFEMERGENCY}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.PersonOfEmergency.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                </div>
                                <input id="PA_603_txtPersonOfEmergency" ng-disabled="!item.IsEditable" class="form-control" type="text" value="{{ document.Additional.ContDataNew.PersonOfEmergency }}" ng-model="document.Additional.ContDataNew.PersonOfEmergency" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" autocomplete="off" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'PhoneOfEmergency'}" ng-show="item.IsVisible && item.FieldName=='PhoneOfEmergency'">
                                <div class="">
                                    <span class="ess-personal-info-label">{{Text[CONTACTcategory].PHONEOFEMERGENCY}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.PhoneOfEmergency.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    <!--<span class="ess-required-filed" ng-show="validateForm.PhoneOfEmergency.$error.pattern">{{Text['SYSTEM'].PATTERN_PHONE}}</span>-->
                                </div>
                                <input id="PA_603_txtPhoneOfEmergency" ng-disabled="!item.IsEditable" class="form-control" type="text" value="{{ document.Additional.ContDataNew.PhoneOfEmergency|tel }}" data-ng-model="document.Additional.ContDataNew.PhoneOfEmergency" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" autocomplete="off" phone-input maxlength="12" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'PrimaryWebsite'}" ng-show="item.IsVisible && item.FieldName=='PrimaryWebsite'">
                                <div class="">
                                    <span class="ess-personal-info-label">{{Text[CONTACTcategory].PRIMARYWEBSITE}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.PrimaryWebsite.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                </div>
                                <input id="PA_603_txtPrimaryWebsite" ng-disabled="!item.IsEditable" ng-change="isURLx(document.Additional.ContDataNew.PrimaryWebsite)" class="form-control" type="text" value="{{ document.Additional.ContDataNew.PrimaryWebsite }}" data-ng-model="document.Additional.ContDataNew.PrimaryWebsite" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" autocomplete="off" />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in CommuConfig|filter:{FieldName:'SecondaryWebsite'}" ng-show="item.IsVisible && item.FieldName=='SecondaryWebsite'">
                                <div class="">
                                    <span class="ess-personal-info-label">{{Text[CONTACTcategory].SECONDARYWEBSITE}}</span>
                                    <span class="ess-required-filed" ng-show="validateForm.SecondaryWebsite.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                </div>
                                <input id="PA_603_txtSecondaryWebsite" ng-disabled="!item.IsEditable" ng-change="isURLx(document.Additional.ContDataNew.SecondaryWebsite)" class="form-control" type="text" value="{{ document.Additional.ContDataNew.SecondaryWebsite}}" data-ng-model="document.Additional.ContDataNew.SecondaryWebsite" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
