﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="ConfidentialAssessmentViewer">
            <div class="ess-tab-section-education-bar">
                <div class="ess-personal-info-sub-hdr">{{Text['PA_EDUCATION_MANAGEMENT'].EDUCATION}}</div>
            </div>

            <div class="ess-personal-info-edit-panel">
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BeginDate'}" ng-show="item.FieldName=='BeginDate' && item.CategoryName=='Education' && item.IsVisible">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].BEGIN_DATE}}</span>
                            <span class="ess-required-filed" ng-show="item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                        </div>



                        <div style="position: relative; height: auto; overflow: hidden;">
                            <p>{{getDateFormat(EducationData.BeginDate)}}</p>
                          
                        </div>



                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].END_DATE}}</span>
                        </div>

                        <div style="position: relative; height: auto; overflow: hidden;">
                            <p>{{getDateFormat(EducationData.EndDate)}}</p>
                         
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].EDUCATION_LEVEL}}</span>
                        </div>
                        <p>{{EducationLabelText.DLL_DATA}}</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].CERTIFICATE}}</span>
                        </div>
                        <p>{{CertificateLabelText.DLL_DATA}}</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].MAJOR}}</span>
                        </div>
                        <p>{{Branch1LabelText.DLL_DATA}}</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].MINOR}}</span>
                        </div>
                        <p>{{Branch2LabelText.DLL_DATA}}</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].INSTITUTION}}</span>
                        </div>
                        <p>{{InstituteLabelText.DLL_DATA}}</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].COUNTRY}}</span>
                        </div>
                        <p>{{CountryLabelText.DLL_DATA}}</p>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].HONOR}}</span>
                        </div>
                        <p>{{HonorLabelText.DLL_DATA}}</p>
                    </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].GRADE}}</span>
                            </div>
                            <p>{{EducationData.Grade}}</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
