﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="ConfidentialAssessmentEditor" ng-init="init();">
            <div>
                <a href="" class="ess-btn-showhide-detail" data-toggle="collapse"
                   data-target="#AddressDetails" role="button" aria-expanded="true"
                   aria-controls="AddressDetails">
                    <div class="col-12 ess-tab-section-education-bar">
                        <div class="ess-tab-section-bar-hdr">
                            {{Text['APPGROUP'].TabConfidentialAssessment}}
                        </div>
                        <div class="flex text-right">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
                <div class="collapse show body-detail mb-2" id="AddressDetails">
                    <div class="row mt-3">
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="p">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].Number}}</span>
                                </div>
                                <div class="">
                                    <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].AssessmentYear}}</span>
                                </div>
                                <div class="">
                                    <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="p">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].StartDate}}</span>
                                </div>
                                <div style="position: relative; height: auto; overflow: hidden;">
                                    <input maxlength="10" ng-model="EducationData.StartDate" value="{{getDateFormat(EducationData.EndDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                    <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].EndDate}}</span>
                                </div>
                                <div style="position: relative; height: auto; overflow: hidden;">
                                    <input maxlength="10" ng-model="EducationData.StartDate" value="{{getDateFormat(EducationData.EndDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                    <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="p">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].AssessmentScore}}</span>
                                </div>
                                <div class="">
                                    <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].GroupAverage}}</span>
                                </div>
                                <div class="">
                                    <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="p">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].SalaryIncreasePercentage}}</span>
                                </div>
                                <div class="">
                                    <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].Total}}</span>
                                </div>
                                <div class="">
                                    <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="p">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].SalaryIncrease}}</span>
                                </div>
                                <div class="">
                                    <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <div class="">
                                    <span class="font-weight-bold">{{Text['PA_PERSONAL'].PrizeMoney}}</span>
                                </div>
                                <div class="">
                                    <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
