﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div ng-controller="CVErrorEditorController">

    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text[PATextcategory].REMARK}}</div>
            </div>
            <div class="ess-personal-info-edit-panel">
                <div class="row mx-0">
                    <div class="col-lg-12">
                        <textarea rows="8" class="form-control" ng-model="document.Additional.Remark" ng-if="isEditor"></textarea>
                    </div>
                </div>
            </div>


            <!--<div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
                <div class="row justify-content-center ">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <label style="font-size:18px;font:bold">{{Text[PATextcategory].REMARK}}</label>
                        <span><textarea rows="8" class="form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" ng-model="document.Additional.Remark" ng-if="isEditor" aria-invalid="false" style=""></textarea></span>

                        <md-input-container class="md-block">
                    <label style="font-size: 18px">{{Text[PATextcategory].REMARK}}</label>
                    <textarea ng-model="document.Additional.Remark" name="Remark" rows="5" md-select-on-focus required></textarea>
                    <div ng-messages="main_form.Remark.$error">
                        <div ng-message="required" style="font-size: 18px">{{Text[PATextcategory].Required_Remark}}</div>
                    </div>
                </md-input-container>
                    </div>
                </div>
            </div>-->
        </div>
    </div>

</div>
