﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
<form name="validateForm" novalidate>
    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">
            <div ng-controller="DocumentDataEditorController">
                <div class="ess-tab-section-bar1">
                    <div ng-show="IsNewData" class="ess-personal-info-sub-hdr">{{Text['APPLICATION'].PA_INFO_DOCUMENT}}</div>
                    <div ng-show="!IsNewData" class="ess-personal-info-sub-hdr">{{Text['DOCUMENTINFO'].EDIT}} - {{DocumentTypeText}}</div>
                </div>
                <div class="ess-personal-info-edit-panel p-1">
                    <div class="row">
                        <div class="col-12" style="margin-left:20px;margin-top:10px;">
                            <div class="row mx-0">
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['BOXCONTENT'].DOC_TYPE}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_611_txtDocumentType" value="{{document.Additional.DocumentData.DocumentType}}" ng-disabled="!IsNewData"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" aria-invalid="true" autocomplete="off">
                                        <select id="PA_611_ddlDocumentType" class="form-control ess-form-control" ng-disabled="!IsNewData" ng-model="document.Additional.DocumentData.DocumentType">
                                            <option value="">-</option>
                                            <option value="{{item.DocumentKey}}" ng-repeat="item in DocumentTypeList">{{item.Description}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;"></div>
                            </div>
                            <div class="row mx-0" ng-if="document.Additional.DocumentData.DocumentType=='01'">
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'LicenseID' }" ng-show="item.FieldName=='LicenseID' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].LicenseID}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.LicenseID.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_611_txtLicenseID" class="form-control ess-form-control" ng-disabled="!item.IsEditable" type="text" value="{{ document.Additional.DocumentData.DocumentNo}}" ng-model="document.Additional.DocumentData.DocumentNo" ng-trim="false" autocomplete="off" name="LicenseID" ng-required="{{item.IsRequired}}" maxlength="20" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'LicenceIssueDate' }" ng-show="item.FieldName=='LicenceIssueDate' && item.IsVisible">
                                    <div class=""><span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].LicenceIssueDate}}</span></div>
                                    <div class="ess-personal-info-data">
                                        <div style="position: relative; height: 50px; overflow: hidden;">
                                            <input id="PA_611_txtLicenceIssueDate" ng-disabled="!item.IsEditable" class="form-control" maxlength="10" value="{{getDateFormate(document.Additional.DocumentData.IssueDate)}}" ng-model="document.Additional.DocumentData.IssueDate" ng-change="SetBetweenDate('START',this.document.Additional.DocumentData.IssueDate,this.document.Additional.DocumentData.ExpiredDate)" type="text" my-date-picker>
                                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'LicenceExpiredDate' }" ng-show="item.FieldName=='LicenceExpiredDate' && item.IsVisible">
                                    <div class=""><span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].LicenceExpiredDate}}</span></div>
                                    <div class="ess-personal-info-data">
                                        <div style="position: relative; height: 50px; overflow: hidden;">
                                            <input id="PA_611_txtLicenceExpiredDate" ng-disabled="!item.IsEditable" class="form-control" maxlength="10" value="{{getDateFormate(document.Additional.DocumentData.ExpiredDate)}}" ng-change="SetBetweenDate('END',this.document.Additional.DocumentData.IssueDate,this.document.Additional.DocumentData.ExpiredDate)" ng-model="document.Additional.DocumentData.ExpiredDate" type="text" my-date-picker>
                                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0" ng-if="document.Additional.DocumentData.DocumentType=='02'">
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'PassportNo' }" ng-show="item.FieldName=='PassportNo' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].PassportNo}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.PassportNo.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_611_txtPassportNo" class="form-control ess-form-control" ng-disabled="!item.IsEditable" type="text" value="{{ document.Additional.DocumentData.DocumentNo}}" ng-model="document.Additional.DocumentData.DocumentNo" ng-trim="false" autocomplete="off" name="PassportNo" ng-required="{{item.IsRequired}}" maxlength="20" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'PassportExpiredDate' }" ng-show="item.FieldName=='PassportExpiredDate' && item.IsVisible">
                                    <div class=""><span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].PassportExpiredDate}}</span></div>
                                    <div class="ess-personal-info-data">
                                        <div style="position: relative; height: 50px; overflow: hidden;">
                                            <input id="PA_611_txtPassportExpiredDate" ng-disabled="!item.IsEditable" class="form-control" maxlength="10" value="{{getDateFormate(document.Additional.DocumentData.ExpiredDate)}}" ng-model="document.Additional.DocumentData.ExpiredDate" type="text" my-date-picker>
                                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0" ng-if="document.Additional.DocumentData.DocumentType=='03'">
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'WorkpermitNo' }" ng-show="item.FieldName=='WorkpermitNo' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].WorkpermitNo}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.WorkpermitNo.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_611_txtPassportNo" class="form-control ess-form-control" ng-disabled="!item.IsEditable" type="text" value="{{ document.Additional.DocumentData.DocumentNo}}" ng-model="document.Additional.DocumentData.DocumentNo" ng-trim="false" autocomplete="off" name="WorkpermitNo" ng-required="{{item.IsRequired}}" maxlength="20" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'WorkpermitExpiredDate' }" ng-show="item.FieldName=='WorkpermitExpiredDate' && item.IsVisible">
                                    <div class=""><span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].WorkpermitExpiredDate}}</span></div>
                                    <div class="ess-personal-info-data">
                                        <div style="position: relative; height: 50px; overflow: hidden;">
                                            <input id="PA_611_txtWorkpermitExpiredDate" ng-disabled="!item.IsEditable" class="form-control" maxlength="10" value="{{getDateFormate(document.Additional.DocumentData.ExpiredDate)}}" ng-model="document.Additional.DocumentData.ExpiredDate" type="text" my-date-picker>
                                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0" ng-if="document.Additional.DocumentData.DocumentType=='51'">
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'VisaNonBNo' }" ng-show="item.FieldName=='VisaNonBNo' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].VisaNonBNo}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.VisaNonBNo.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_611_txtVisaNonBNo" class="form-control ess-form-control" ng-disabled="!item.IsEditable" type="text" value="{{ document.Additional.DocumentData.DocumentNo}}" ng-model="document.Additional.DocumentData.DocumentNo" ng-trim="false" autocomplete="off" name="VisaNonBNo" ng-required="{{item.IsRequired}}" maxlength="20" />
                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'VisaNonBExpiredDate' }" ng-show="item.FieldName=='VisaNonBExpiredDate' && item.IsVisible">
                                    <div class=""><span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].VisaNonBExpiredDate}}</span></div>
                                    <div class="ess-personal-info-data">
                                        <div style="position: relative; height: 50px; overflow: hidden;">
                                            <input id="PA_611_txtVisaNonBExpireDate" ng-disabled="!item.IsEditable" class="form-control" maxlength="10" value="{{getDateFormate(document.Additional.DocumentData.ExpiredDate)}}" ng-model="document.Additional.DocumentData.ExpiredDate" type="text" my-date-picker>
                                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in DocumentConfig|filter: { FieldName: 'VisaNonBNoOfEntry' }" ng-show="item.FieldName=='VisaNonBNoOfEntry' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text['DOCUMENTINFO'].VisaNonBNoOfEntry}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.VisaNonBNoOfEntry.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_611_txtValidityOfEntry" value="{{document.Additional.DocumentData.ValidityOfEntry}}" ng-disabled="!item.IsEditable"
                                               class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                               style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 150px; font-size: 15px; cursor: pointer;" type="text" aria-invalid="true" autocomplete="off">
                                        <select id="PA_607_ddlCountry" class="form-control ess-form-control" ng-disabled="!item.IsEditable" ng-model="document.Additional.DocumentData.ValidityOfEntry" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                            <option value="">-</option>
                                            <!--<option value="M">Multiple Entries</option>
                                            <option value="B">Non-immigrant B</option>-->
                                            <option value="{{item.ValidityTypeKey}}" ng-repeat="item in ValidityTypeList">{{item.Description}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</form>