﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="EducationTrainingEditorController" ng-init="init();">
            <div class="ess-tab-section-education-bar">
                <div class="ess-personal-info-sub-hdr">{{Text['PA_EDUCATION_MANAGEMENT'].WORKHISTORY}}</div>
            </div>

            <div class="ess-personal-info-edit-panel">
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;" >
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].WorkhisBeginDate}}</span>
                        </div>



                        <div style="position: relative; height: auto; overflow: hidden;">
                            <p>{{getDateFormat(document.Additional.Trainning.BeginDate)}}</p>
                          
                        </div>



                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].WorkhisEndDate}}</span>
                        </div>

                        <div style="position: relative; height: auto; overflow: hidden;">
                            <p>{{getDateFormat(document.Additional.Trainning.EndDate)}}</p>
                         
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].COURSE}}</span>
                        </div>
                        <p>{{document.Additional.Trainning.CourseName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
