﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="EducationAcademicWorkMemberEditorController" ng-init="init();">
            <div align="center" class="row ess-document-tab-content-search justify-content-center">
                <div align="right" style="margin-top:8px;" class="col-md-4">
                    <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].ACADEMICWORKTYPE}}</span>
                </div>
                <div align="left" class="form-group col-md-4">
                    <select id="PA_2201_txtBandValue" class="form-control ess-form-control" ng-model="document.Additional.Academicworkmember.SubtypeValue" ng-disabled="isSubType">
                        <option value="">All</option>
                        <option value="{{item.DLL_VALUE}}" ng-repeat="item in SubTypeList">{{item.DLL_DATA}}</option>
                    </select>
                </div>
                <div align="right" class="col-md-4">
                   
                </div>
            </div>
            <div class="ess-tab-section-education-bar">
                <div class="ess-personal-info-sub-hdr">{{Text['PA_EDUCATION_MANAGEMENT'].ACADEMICWORKMEMBER}}</div>
            </div>
            <div class="ess-personal-info-edit-panel">
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BeginDate'}" ng-show="item.FieldName=='BeginDate' && item.CategoryName=='Education' && item.IsVisible">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].WorkhisBeginDate}}</span>
                            <span class="ess-required-filed" ng-show="item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                        </div>
                        <div style="position: relative; height: auto; overflow: hidden;">
                            <input id="TM_1701_txtBeginDate" maxlength="10" ng-model="document.Additional.Academicworkmember.BeginDate" value="{{getDateFormat(document.Additional.Academicworkmember.BeginDate)}}" type="text" ng-required="{{item.IsRequired}}" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].WorkhisEndDate}}</span>
                        </div>
                        <div style="position: relative; height: auto; overflow: hidden;">
                            <input id="PA_2201_txtEndDate" maxlength="10" ng-model="document.Additional.Academicworkmember.EndDate" value="{{getDateFormat(document.Additional.Academicworkmember.EndDate)}}" type="text" ng-required="{{item.IsRequired}}"  class="form-control" name="start" setMonthDatePicker="10" ng-disabled="isSubType" my-date-picker />
                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].TITLE}}</span>
                        </div>
                        <select id="PA_2201_txtEducationLevelValue" class="form-control ess-form-control" ng-model="document.Additional.Academicworkmember.PAReID">
                            <option value="">-</option>
                            <option value="{{item.DLL_VALUE}}" ng-repeat="item in pareList">{{item.DLL_DATA}}</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].USERROLE}}</span>
                        </div>
                        <select id="PA_2201_txtBandValue" class="form-control ess-form-control" ng-model="document.Additional.Academicworkmember.RoleValue">
                            <option value="">-</option>
                            <option value="{{item.DLL_VALUE}}" ng-repeat="item in UserroleList">{{item.DLL_DATA}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
