﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <h2 class="text-center" style="color:red"><b>{{Text['PA_EDUCATION_MANAGEMENT'].TRAININGDELETE_REQUEST}}</b></h2>
    </div>
</div>
<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="EducationTrainingDeleteEditorController" ng-init="init();">
            <div class="ess-tab-section-education-bar">
                <div class="ess-personal-info-sub-hdr">{{Text['PA_EDUCATION_MANAGEMENT'].WORKHISTORY}}</div>
            </div>

            <div class="ess-personal-info-edit-panel">
                <div class="row mx-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BeginDate'}" ng-show="item.FieldName=='BeginDate' && item.CategoryName=='Education' && item.IsVisible">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].WorkhisBeginDate}}</span>
                            <span class="ess-required-filed" ng-show="item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                        </div>
                        <div style="position: relative; height: auto; overflow: hidden;">
                            <input id="TM_1701_txtBeginDate" maxlength="10" ng-model="document.Additional.Trainning.BeginDate" value="{{getDateFormat(document.Additional.Trainning.BeginDate)}}" type="text" ng-required="{{item.IsRequired}}" class="form-control" name="start" setMonthDatePicker="10" ng-disabled="isNotAllowEdit" my-date-picker />
                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                        </div>



                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].WorkhisEndDate}}</span>
                        </div>

                        <div style="position: relative; height: auto; overflow: hidden;">
                            <input id="PA_2201_txtEndDate" maxlength="10" ng-model="document.Additional.Trainning.EndDate" value="{{getDateFormat(document.Additional.Trainning.EndDate)}}" type="text" ng-required="{{item.IsRequired}}" class="form-control" name="start" setMonthDatePicker="10" ng-disabled="isNotAllowEdit" my-date-picker />
                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                        </div>

                       
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                        <div class="">
                            <span class="ess-personal-info-label">{{Text['PA_EDUCATION_MANAGEMENT'].COURSE}}</span>
                        </div>
                        ​<textarea id="PA_2205_txtCourseNameTH" ng-model="document.Additional.Trainning.CourseName" class="form-control"  rows="10" cols="70" ng-trim="false" ng-disabled="isNotAllowEdit" autocomplete="off"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
