﻿<div ng-controller="FamilyDataDeleteViewerController">
    <div class="wrapper longPage travel_Ex_Man_41322 d-clame paper ">
        <div class="bar_bottom">
            <!-- bar_bottom-expandlist -->
            <div class="bar_bottomlist">
                <div class="bar-content">
                    <div class="row bar_title">
                        <div class="col-md-12">
                            <div class="bar_left bar_left_single_line">
                                <div class="bar_left-title ng-binding">
                                    {{Text[Textcategory].FAMILY}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ag-flex-row ag-align-center" style="    padding-top: 1rem; padding-bottom: 1rem;">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FAMILYMEMBER}}
                                    </span>
                                </div>
                                <div class="col-sm-7 breakword-100px em-font-15">
                                    {{FAMILYMEMBER[FamilyData.FamilyMember]}}
                                </div>
                            </div>
                            <div class="row" ng-if="FamilyData.FamilyMember == '2'">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].CHILDNO}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.ChildNo | number:"0"}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].TITLENAME}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{TITLENAME[FamilyData.TitleName]}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].NAME}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.Name}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].SURNAME}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.Surname}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHDATE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{ (FamilyData.BirthDate | date:"dd/MM/yyyy")}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].BIRTHPLACE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.BirthPlace}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].COUNTRYBIRTH}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{COUNTRY[FamilyData.CityOfBirth]}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].NATIONALITY}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{NATIONALITY[FamilyData.Nationality]}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].DEADSTATUS}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">
                                        <div ng-if="FamilyData.Dead == ''">{{Text[Textcategory].DEADSTATUS0}}</div>
                                        <div ng-if="FamilyData.Dead == 'X'">{{Text[Textcategory].DEADSTATUS1}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="FamilyData.Dead == 'X'">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].DEADDATE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{ (FamilyData.BeginDate | date:"dd/MM/yyyy")}}</div>
                                </div>
                            </div>
                            <div class="row" ng-if="FamilyData.FamilyMember == '11'">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FATHERID}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.FatherID}}</div>
                                </div>
                            </div>
                            <div class="row" ng-if="FamilyData.FamilyMember == '12'">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].MOTHERID}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.MotherID}}</div>
                                </div>
                            </div>
                            <div class="row" ng-if="FamilyData.FamilyMember == '1'">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].SPOUSEID}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.SpouseID}}</div>
                                </div>
                            </div>
                            <div class="row" ng-if="FamilyData.FamilyMember == '1'">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].FATHERSPOUSEID}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.FatherSpouseID}}</div>
                                </div>
                            </div>
                            <div class="row" ng-if="FamilyData.FamilyMember == '1'">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].MOTHERSPOUSEID}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.MotherSpouseID}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].ADDRESSNO}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.Address}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].STREET}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.Street}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].DISTRICT}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.District}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].PROVINCE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.City}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].POSTCODE}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.Postcode}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].COUNTRY}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{COUNTRY[FamilyData.Country]}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <span class="span_name">
                                        {{Text[Textcategory].TELEPHONENO}}
                                    </span>
                                </div>
                                <div class="col-sm-7">
                                    <div class="breakword-100px em-font-15">{{FamilyData.TelephoneNo}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- bar_bottomlist -->
                </div>
                <div class="-pad10"></div>
            </div>
        </div>
    </div>
    <style>
        .add-padding {
            padding-left: 35px !important;
        }

        .mainBlock .contentBody .contentBodyin {
            padding-top: 1.5rem;
            margin-top: 25px;
        }
    </style>
</div>