﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="PersonalImportantDocumentEditor" ng-init="init();">
            <div>
                <a href="" class="ess-btn-showhide-detail" data-toggle="collapse"
                   data-target="#AddressDetails" role="button" aria-expanded="true"
                   aria-controls="AddressDetails">
                    <div class="col-12 ess-tab-section-education-bar">
                        <div class="ess-tab-section-bar-hdr">
                            {{Text['APPGROUP'].TabSecretSize}}
                        </div>
                        <div class="flex text-right">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
                <div class="collapse show body-detail mb-2" id="AddressDetails">
                    <div class="row mt-3">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].StartDate}}</span>
                            </div>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input maxlength="10" [(ngModel)]="getDateFormat(document.Additional.Personal.startDate)" value="{{getDateFormat(document.Additional.Personal.startDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].EndDate}}</span>
                            </div>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input maxlength="10" [(ngModel)]="getDateFormat(document.Additional.Personal.endDate)" value="{{getDateFormat(document.Additional.Personal.endDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].DocNo}}</span>
                            </div>
                            <div class="">
                                <input ng-model="document.Additional.Personal.documentId" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">xxx</span>
                            </div>
                            <div class="">
                                <input ng-model="document.Additional.Personal.issuingAuthority" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">xxx</span>
                            </div>
                            <div class="">
                                <input ng-model="document.Additional.Personal.placeOfIssue" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">xxx</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="document.Additional.Personal.countryOfIssueValue">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in CountryList">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">xxx</span>
                            </div>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input maxlength="10" [(ngModel)]="getDateFormat(document.Additional.Personal.dateOfIssue)" value="{{getDateFormat(document.Additional.Personal.dateOfIssue)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">xxx</span>
                            </div>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input maxlength="10" [(ngModel)]="getDateFormat(document.Additional.Personal.effectiveDate)" value="{{getDateFormat(document.Additional.Personal.effectiveDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['SYSTEM'].REMARK}}</span>
                            </div>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input maxlength="10" [(ngModel)]="getDateFormat(document.Additional.Personal.expireDate)" value="{{getDateFormat(document.Additional.Personal.expireDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
