﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper">
        <div ng-controller="PersonalFamilyEditor" ng-init="init();">
            <div>
                <a href="" class="ess-btn-showhide-detail" data-toggle="collapse"
                   data-target="#AddressDetails" role="button" aria-expanded="true"
                   aria-controls="AddressDetails">
                    <div class="col-12 ess-tab-section-education-bar">
                        <div class="ess-tab-section-bar-hdr">
                            {{Text['APPLICATION'].PA_INFO_FAMILY}}
                        </div>
                        <div class="flex text-right">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
                <div class="collapse show body-detail mb-2" id="AddressDetails">
                    <div class="row mt-3">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].StartDate}}</span>
                            </div>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input maxlength="10" [(ngModel)]="getDateFormat(document.Additional.Personal.startDate)" value="{{getDateFormat(document.Additional.Personal.startDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].EndDate}}</span>
                            </div>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input maxlength="10" [(ngModel)]="getDateFormat(document.Additional.Personal.EndDate)" value="{{getDateFormat(document.Additional.Personal.EndDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_INFO'].PREFIX_INFO}}</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="document.Additional.Personal.inameTextTH">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in XXX">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_INFO'].FNAME}}</span>
                            </div>
                            <div class="">
                                <input ng-model="document.Additional.Personal.fname" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_INFO'].LNAME}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_INFO'].SEX}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control disableInput" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].DateOfBirth}}</span>
                            </div>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input maxlength="10" ng-model="EducationData.EndDate" value="{{getDateFormat(EducationData.EndDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_INFO'].CountryOfBirth}}</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="EducationData.EducationLevelCode" ng-change="EducationMainMajor()">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in EducationLevelList">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_INFO'].Domicile}}</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="EducationData.EducationLevelCode" ng-change="EducationMainMajor()">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in EducationLevelList">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_INFO'].Nationality}}</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="EducationData.EducationLevelCode" ng-change="EducationMainMajor()">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in EducationLevelList">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Telephone}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].IDCard}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">                                
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].ForeignerID}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['SYSTEM'].STATUS}}</span>
                            </div>
                            <div class="form-inline">
                                <input ng-model="EducationData.Grade" class="form-control w-auto mr-2" type="radio" ng-trim="false" autocomplete="off" />
                                <span>{{Text['PA_PERSONAL'].live}}</span>
                                <input ng-model="EducationData.Grade" class="form-control w-auto mr-2 ml-4" type="radio" ng-trim="false" autocomplete="off" />
                                <span>{{Text['PA_PERSONAL'].live}}</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].DateOfDeath}}</span>
                            </div>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input maxlength="10" ng-model="EducationData.EndDate" value="{{getDateFormat(EducationData.EndDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_INFO'].MARITAL_STATUS}}</span>
                            </div>
                            <div class="form-inline">
                                <input ng-model="EducationData.Grade" class="form-control w-auto mr-2" type="radio" ng-trim="false" autocomplete="off" />
                                <span>{{Text['PA_PERSONAL'].live}}</span>
                                <input ng-model="EducationData.Grade" class="form-control w-auto mr-2 ml-4" type="radio" ng-trim="false" autocomplete="off" />
                                <span>{{Text['PA_PERSONAL'].live}}</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].MarriageDate}}</span>
                            </div>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input maxlength="10" ng-model="EducationData.EndDate" value="{{getDateFormat(EducationData.EndDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].DivorceDate}}</span>
                            </div>
                            <div style="position: relative; height: auto; overflow: hidden;">
                                <input maxlength="10" ng-model="EducationData.EndDate" value="{{getDateFormat(EducationData.EndDate)}}" type="text" ng-required="{{item.IsRequired}}" ng-disabled="isNewUnit" class="form-control" name="start" setMonthDatePicker="10" my-date-picker />
                                <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <a href="" class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#PrefigDetails" role="button" aria-expanded="true" aria-controls="PrefigDetails">
                    <div class="col-12 ess-tab-section-education-bar">
                        <div class="ess-tab-section-bar-hdr">
                            {{Text['PA_PERSONAL'].HouseReg}}
                        </div>
                        <div class="flex text-right">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
                <div class="collapse show body-detail mb-2" id="PrefigDetails">
                    <div class="row mt-3">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].HouseNumber}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Building}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Moo}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Soi}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Road}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Moo}}</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="EducationData.EducationLevelCode" ng-change="EducationMainMajor()">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in EducationLevelList">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Province}}</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="EducationData.EducationLevelCode" ng-change="EducationMainMajor()">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in EducationLevelList">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].District}}</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="EducationData.EducationLevelCode" ng-change="EducationMainMajor()">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in EducationLevelList">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_INFO'].CountryOfBirth}}</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="EducationData.EducationLevelCode" ng-change="EducationMainMajor()">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in EducationLevelList">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].ZipCode}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <a href="" class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#ENNameDetails" role="button" aria-expanded="true" aria-controls="ENNameDetails">
                    <div class="col-12 ess-tab-section-education-bar">
                        <div class="ess-tab-section-bar-hdr">
                            {{Text['PA_PERSONAL'].HouseCurrent}}
                        </div>
                        <div class="flex text-right">
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
                <div class="collapse show body-detail mb-2" id="ENNameDetails">
                    <div class="row mt-3">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].HouseNumber}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Building}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Moo}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Soi}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Road}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Moo}}</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="EducationData.EducationLevelCode" ng-change="EducationMainMajor()">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in EducationLevelList">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].Province}}</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="EducationData.EducationLevelCode" ng-change="EducationMainMajor()">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in EducationLevelList">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].District}}</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="EducationData.EducationLevelCode" ng-change="EducationMainMajor()">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in EducationLevelList">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_INFO'].CountryOfBirth}}</span>
                            </div>
                            <select class="form-control ess-form-control" ng-model="EducationData.EducationLevelCode" ng-change="EducationMainMajor()">
                                <option value="">-</option>
                                <option value="{{item.DLL_VALUE}}" ng-repeat="item in EducationLevelList">{{item.DLL_DATA}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-4 col-md-4 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:20px;">
                            <div class="">
                                <span class="ess-personal-info-label">{{Text['PA_PERSONAL'].ZipCode}}</span>
                            </div>
                            <div class="">
                                <input ng-model="EducationData.Grade" class="form-control" type="text" ng-trim="false" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
