﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>
<div ng-if="document.HasError && content.isShowError" ng-include="'views/common/partials/document_error.html?t='+runtime"></div>

<div class="ess-wrapper">
    <form name="validateForm" novalidate>
        <div class="ess-personal-info-edit-panel" ng-controller="PersonalDataEditorController">
            <div class="row ess-personal-info-general">
                <div class="col-12">
                    <div class="ess-showhide-detail-button">
                        <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#essPersonalContent" href="" role="button" aria-expanded="true" aria-controls="essPersonalContent-label">
                            <div class="ess-tab-section-bar1">
                                <div class="ess-tab-section-bar-hdr">{{Text['HRPAPERSONALDATA'].PERSONALDATA}}</div>
                                <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 ess-personal-info-general ess-personal-info-general-frame" style="padding-top:20px">
                        <div class="collapse show" id="essPersonalContent">
                            <div class="row mx-0">
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'TitleID'}" ng-show="item.FieldName=='TitleID' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].TITLE}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.TitleID.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtTitle" ng-disabled="!item.IsEditable" value="{{TitleNameText}}" ng-model="document.Additional.PersonalData.TitleID"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                                   autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                            <select id="PA_601_ddlTitle" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.TitleID" ng-change="getDisplayNameFormat(document.Additional.PersonalData.TitleID,document.Additional.PersonalData.TitleIDEn,document.Additional.PersonalData.Prefix,document.Additional.PersonalData.MilitaryTitle,document.Additional.PersonalData.SecondTitle,document.Additional.PersonalData.AcademicTitle, document.Additional.PersonalData.MedicalTitle)" placeholder="">
                                                <option value="">-</option>
                                                <option value="{{ti.Key}}" ng-repeat="ti in Title">{{ti.Description}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'TitleIDEn'}" ng-show="item.FieldName=='TitleIDEn' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].TITLEEN}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.TitleIDEn.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtTitleEn" ng-disabled="!item.IsEditable" value="{{TitleNameEnText}}" ng-model="document.Additional.PersonalData.TitleIDEn"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                                   autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                            <select id="PA_601_ddlTitle" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.TitleIDEn" ng-change="getDisplayNameFormat(document.Additional.PersonalData.TitleID,document.Additional.PersonalData.TitleIDEn,document.Additional.PersonalData.Prefix,document.Additional.PersonalData.MilitaryTitle,document.Additional.PersonalData.SecondTitle,document.Additional.PersonalData.AcademicTitle, document.Additional.PersonalData.MedicalTitle)" placeholder="">
                                                <option value="">-</option>
                                                <option value="{{ti.Key}}" ng-repeat="ti in TitleEN">{{ti.Description}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'PrefixName'}" ng-show="item.FieldName=='PrefixName' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].PREFIXNAME}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.PrefixName.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtPrefix" ng-disabled="!item.IsEditable" value="{{PrefixNameText}}" ng-model="document.Additional.PersonalData.Prefix"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                                   autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">

                                            <select id="PA_601_ddlPrefix" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.Prefix" ng-change="getDisplayNameFormat(document.Additional.PersonalData.TitleID,document.Additional.PersonalData.TitleIDEn,document.Additional.PersonalData.Prefix,document.Additional.PersonalData.MilitaryTitle,document.Additional.PersonalData.SecondTitle,document.Additional.PersonalData.AcademicTitle, document.Additional.PersonalData.MedicalTitle)" placeholder="">
                                                <option value="">-</option>
                                                <option value="{{pe.Key}}" ng-repeat="pe in Prefix">{{pe.Description}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'SecondTitle'}" ng-show="item.FieldName=='SecondTitle' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].SECONDTITLE}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.SecondTitle.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtSecondTitle" ng-disabled="!item.IsEditable" value="{{SecondTitleText}}" ng-model="document.Additional.PersonalData.SecondTitle"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                                   autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">

                                            <select id="PA_601_ddlSecondTitle" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.SecondTitle" ng-change="getDisplayNameFormat(document.Additional.PersonalData.TitleID,document.Additional.PersonalData.TitleIDEn,document.Additional.PersonalData.Prefix,document.Additional.PersonalData.MilitaryTitle,document.Additional.PersonalData.SecondTitle,document.Additional.PersonalData.AcademicTitle, document.Additional.PersonalData.MedicalTitle)" placeholder="">
                                                <option value="">-</option>
                                                <option value="{{se.Key}}" ng-repeat="se in SecondTitle">{{se.Description}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'MilitaryTitle'}" ng-show="item.FieldName=='MilitaryTitle' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].MILITARYTITLE}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.MilitaryTitle.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtMilitaryTitle" ng-disabled="!item.IsEditable" value="{{MilitaryTitleText}}" ng-model="document.Additional.PersonalData.MilitaryTitle"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                                   autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                            <select id="PA_601_ddlMilitaryTitle" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.MilitaryTitle" ng-change="getDisplayNameFormat(document.Additional.PersonalData.TitleID,document.Additional.PersonalData.TitleIDEn,document.Additional.PersonalData.Prefix,document.Additional.PersonalData.MilitaryTitle,document.Additional.PersonalData.SecondTitle,document.Additional.PersonalData.AcademicTitle, document.Additional.PersonalData.MedicalTitle)" placeholder="">
                                                <option value="">-</option>
                                                <option value="{{mi.Key}}" ng-repeat="mi in MilitaryTitle">{{mi.Description}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'AcademicTitle'}" ng-show="item.FieldName=='AcademicTitle' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].ACADEMICTITLE}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.AcademicTitle.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtAcademicTitle" ng-disabled="!item.IsEditable" value="{{AcademicTitleText}}" ng-model="document.Additional.PersonalData.AcademicTitle"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                                   autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                            <select id="PA_601_ddlAcademicTitle" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.AcademicTitle" ng-change="getDisplayNameFormat(document.Additional.PersonalData.TitleID,document.Additional.PersonalData.TitleIDEn,document.Additional.PersonalData.Prefix,document.Additional.PersonalData.MilitaryTitle,document.Additional.PersonalData.SecondTitle,document.Additional.PersonalData.AcademicTitle, document.Additional.PersonalData.MedicalTitle)" placeholder="">

                                                <option value="">-</option>
                                                <option value="{{ac.Key}}" ng-repeat="ac in AcademicTitle">{{ac.Description}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'MedicalTitle'}" ng-show="item.FieldName=='MedicalTitle' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].MEDICALTITLE}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.MedicalTitle.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtMedicalTitle" ng-disabled="!item.IsEditable" value="{{MedicalTitleText}}" ng-model="document.Additional.PersonalData.MedicalTitle"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                                   autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                            <select id="PA_601_ddlMedicalTitle" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.MedicalTitle" ng-change="getDisplayNameFormat(document.Additional.PersonalData.TitleID,document.Additional.PersonalData.TitleIDEn,document.Additional.PersonalData.Prefix,document.Additional.PersonalData.MilitaryTitle,document.Additional.PersonalData.SecondTitle,document.Additional.PersonalData.AcademicTitle, document.Additional.PersonalData.MedicalTitle)" placeholder="" tabl>
                                                <option value="">-</option>
                                                <option value="{{me.Key}}" ng-repeat="me in MedicalTitle">{{me.Description}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'FirstName'}" ng-show="item.FieldName=='FirstName' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].FIRSTNAME}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.FirstName.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_601_txtFirstName" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" ng-change="getDisplayNameFormat(document.Additional.PersonalData.TitleID,document.Additional.PersonalData.TitleIDEn,document.Additional.PersonalData.Prefix,document.Additional.PersonalData.MilitaryTitle,document.Additional.PersonalData.SecondTitle,document.Additional.PersonalData.AcademicTitle, document.Additional.PersonalData.MedicalTitle)"
                                               value="{{ document.Additional.PersonalData.FirstName }}" ng-model="document.Additional.PersonalData.FirstName" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'LastName'}" ng-show="item.FieldName=='LastName' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].LASTNAME}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.LastName.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_601_txtLastName" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" ng-change="getDisplayNameFormat(document.Additional.PersonalData.TitleID,document.Additional.PersonalData.TitleIDEn,document.Additional.PersonalData.Prefix,document.Additional.PersonalData.MilitaryTitle,document.Additional.PersonalData.SecondTitle,document.Additional.PersonalData.AcademicTitle, document.Additional.PersonalData.MedicalTitle)"
                                               value="{{ document.Additional.PersonalData.LastName }}" ng-model="document.Additional.PersonalData.LastName" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'NameFormat'}" ng-show="item.FieldName=='NameFormat' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].NAMEFORMAT}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.FullName.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_601_txtFullName" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control"
                                               value="{{ document.Additional.PersonalData.FullName }}" ng-model="document.Additional.PersonalData.FullName" ng-trim="false" name="FullName" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'FirstNameEn'}" ng-show="item.FieldName=='FirstNameEn' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].FIRSTNAMEEN}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.FirstNameEn.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_601_txtFirstNameEn" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" ng-change="getDisplayNameFormat(document.Additional.PersonalData.TitleID,document.Additional.PersonalData.TitleIDEn,'','','','', '')"
                                               value="{{ document.Additional.PersonalData.FirstNameEn }}" ng-model="document.Additional.PersonalData.FirstNameEn" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'LastNameEn'}" ng-show="item.FieldName=='LastNameEn' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].LASTNAMEEN}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.LastNameEn.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_601_txtLastNameEn" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" ng-change="getDisplayNameFormat(document.Additional.PersonalData.TitleID,document.Additional.PersonalData.TitleIDEn,'','','','', '')"
                                               value="{{ document.Additional.PersonalData.LastNameEn }}" ng-model="document.Additional.PersonalData.LastNameEn" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'NameFormatEn'}" ng-show="item.FieldName=='NameFormatEn' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].NAMEFORMATEN}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.NameFormatEn.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_601_txtNameFormatEn" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control"
                                               value="{{document.Additional.PersonalData.FullNameEN}}" ng-model="document.Additional.PersonalData.FullNameEN" ng-trim="false" name="NameFormatEn" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'NickName'}" ng-show="item.FieldName=='NickName' && item.CategoryName=='PersonalData' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].NICKNAME}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.NickName.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_601_txtNickName" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control" value="{{ document.Additional.PersonalData.NickName }}" ng-model="document.Additional.PersonalData.NickName" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BirthDate'}" ng-show="item.FieldName=='BirthDate' && item.CategoryName=='PersonalDataAdditional' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].BIRTHDATE}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.BirthDate.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_601_txtBirthDate" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control"
                                               value="{{ BirthDateText }}" ng-model="BirthDateText" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'Gender'}" ng-show="item.FieldName=='Gender' && item.CategoryName=='PersonalDataAdditional' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].GENDER}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Gender.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtGender" ng-disabled="!item.IsEditable" value="{{GenderText}}" ng-model="document.Additional.PersonalData.Gender"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                                   autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                            <select id="PA_601_ddlGender" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.Gender" placeholder="">

                                                <option value="">-</option>
                                                <option value="{{item.Key}}" ng-repeat="item in Gender">{{item.Description}}</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BirthPlace'}" ng-show="item.FieldName=='BirthPlace' && item.CategoryName=='PersonalDataAdditional' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].BIRTHPLACE}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.BirthPlace.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtBirthPlace" ng-disabled="!item.IsEditable" value="{{BirthPlaceText}}" ng-model="document.Additional.PersonalData.BirthPlace"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="text-align:left; position: absolute; top: 0; z-index: 1; width: 120px; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                                   autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                            <select id="PA_601_ddlBirthPlace" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.BirthPlace" placeholder="">

                                                <option value="">-</option>
                                                <option value="{{po.ProvinceCode}}" ng-repeat="po in Province">{{po.ProvinceName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'Nationality'}" ng-show="item.FieldName=='Nationality' && item.CategoryName=='PersonalDataAdditional' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].NATIONALITY}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Nationality.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtNationality" ng-disabled="!item.IsEditable" value="{{NationalityText}}" ng-model="document.Additional.PersonalData.Nationality"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="text-align:left; position: absolute; top: 0; z-index: 1; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                                   autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">

                                            <select id="PA_601_ddlNationality" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.Nationality" placeholder="">

                                                <option value="">-</option>
                                                <option value="{{items.NationalityKey}}" ng-repeat="items in Nationality">{{items.NationalityName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BirthCity'}" ng-show="item.FieldName=='BirthCity' && item.CategoryName=='PersonalDataAdditional' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].BIRTHCITY}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.BirthCity.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtBirthCity" ng-disabled="!item.IsEditable" value="{{BirthCityText}}" ng-model="document.Additional.PersonalData.BirthCity"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="opacity: 0;text-align:left; position: absolute; top: 0; z-index: 1; width: 270px; font-size: 15px; cursor: pointer;" type="text" required=""
                                                   aria-invalid="true" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">

                                            <select id="PA_601_ddlBirthCity" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.BirthCity" placeholder="">

                                                <option value="">-</option>
                                                <option value="{{item.CountryCode}}" ng-repeat="item in Country">{{item.CountryName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'MaritalStatus'}" ng-show="item.FieldName=='MaritalStatus' && item.CategoryName=='PersonalDataAdditional' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].MARITALSTATUS}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.MaritalStatus.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtMaritalStatus" ng-disabled="!item.IsEditable" value="{{MaritalStatusText}}" ng-model="document.Additional.PersonalData.MaritalStatus"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="text-align:left; position: absolute; top: 0; z-index: 1; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                                   autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">
                                            <select id="PA_601_ddlMaritalStatus" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.MaritalStatus" placeholder="">

                                                <option value="">-</option>
                                                <option value="{{items.Key}}" ng-repeat="items in MaritalStatus">{{items.Description}}</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'Religion'}" ng-show="item.FieldName=='Religion' && item.CategoryName=='PersonalDataAdditional' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].RELIGION}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.Religion.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div class="ess-selectbox">
                                            <input id="PA_601_txtReligion" ng-disabled="!item.IsEditable" value="{{ReligionText}}" ng-model="document.Additional.PersonalData.Religion"
                                                   class="form-control  ng-pristine ng-untouched ng-invalid ng-invalid-required em-font-15"
                                                   style="text-align:left; position: absolute; top: 0; z-index: 1; font-size: 15px; cursor: pointer;opacity: 0;" type="text"
                                                   autocomplete="off" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="">

                                            <select id="PA_601_ddlReligion" class="form-control ess-form-control" ng-disabled="!item.IsEditable"
                                                    ng-model="document.Additional.PersonalData.Religion" placeholder="">

                                                <option value="">-</option>
                                                <option value="{{items.Key}}" ng-repeat="items in Religion">{{items.Description}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BloodType'}" ng-show="item.FieldName=='BloodType' && item.CategoryName=='PersonalDataAdditional' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].BLOODTYPE}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.BloodType.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_601_txtBloodType" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control"
                                               value="{{ document.Additional.PersonalData.BloodType }}" ng-model="document.Additional.PersonalData.BloodType" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'IDCardNo'}" ng-show="item.FieldName=='IDCardNo' && item.CategoryName=='PersonalDataAdditional' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].IDCARD}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.IDCardNo.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_601_txtIDCard" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control"
                                               value="{{ document.Additional.PersonalData.IDCard }}" ng-model="document.Additional.PersonalData.IDCard" ng-trim="false" name="{{item.FieldName}}" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-12 " style="margin-top:20px;">
                    <div class="ess-showhide-detail-button">
                        <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#essLicenceContent" href="" role="button" aria-expanded="true" aria-controls="essLicenceContent-label">
                            <div class="ess-tab-section-bar1">
                                <div class="ess-tab-section-bar-hdr">{{Text['HRPAPERSONALDATA'].LICENCEDATA}}</div>
                                <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 ess-personal-info-general ess-personal-info-general-frame" style="padding-top:20px">
                        <div class="collapse show" id="essLicenceContent">
                            <div class="row mx-0">
                                <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'LicenseID'}" ng-show="item.FieldName=='LicenseID' && item.CategoryName=='PersonalDataAdditional' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].LICENCENO}}</span>
                                        <span class="ess-required-filed" ng-show="validateForm.LicenseID.$error.required && item.IsRequired">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <input id="PA_601_txtLicenseID" ng-disabled="!item.IsEditable" type="text" class="form-control ess-form-control"
                                               value="{{ document.Additional.PersonalData.LicenseID }}" autocomplete="off" ng-model="document.Additional.PersonalData.LicenseID"
                                               ng-trim="false" name="LicenseID" ng-required="{{item.IsRequired}}" ng-pattern="" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration |filter: { FieldName: 'LicenceIssueDate' }" ng-if="item.FieldName=='LicenceIssueDate' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].LICENCEISSUEDATE}}</span>
                                        <span class="ess-required-filed" ng-if="item.IsRequired && document.Additional.PersonalData.LicenceIssueDate==''">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div style="position: relative; height: 50px; overflow: hidden;">
                                            <input id="PA_601_txtLicenceIssueDate" ng-disabled="!item.IsEditable" class="form-control" maxlength="10" ng-change="SetDate()" value="{{getDateFormate(document.Additional.PersonalData.LicenceIssueDate)}}" ng-model="document.Additional.PersonalData.LicenceIssueDate" autocomplete="off" type="text" my-date-picker>
                                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration |filter: { FieldName: 'LicenceExpiredDate' }" ng-if="item.FieldName=='LicenceExpiredDate' && item.IsVisible">
                                    <div class="">
                                        <span class="ess-personal-info-label">{{Text[Textcategory].LICENCEEXPIREDDATE}}</span>
                                        <span class="ess-required-filed" ng-if="item.IsRequired && document.Additional.PersonalData.LicenceExpiredDate==''">{{Text['SYSTEM'].REQUIRED_FIELD}}</span>
                                    </div>
                                    <div class="ess-personal-info-data">
                                        <div style="position: relative; height: 50px; overflow: hidden;">
                                            <input id="PA_601_txtLicenceExpiredDate" ng-disabled="!item.IsEditable" class="form-control" maxlength="10" ng-change="SetDate()" value="{{getDateFormate(document.Additional.PersonalData.LicenceExpiredDate)}}" ng-model="document.Additional.PersonalData.LicenceExpiredDate" type="text" autocomplete="off" my-date-picker>
                                            <i class="fa fa-calendar" style=" z-index: 3; pointer-events: none; position: absolute; top: 8px; right: 10px; font-size: 20px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </form>

</div>