﻿<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>

<div class="ess-wrapper">
    <div class="ess-inner-wrapper" ng-controller="PersonalDataViewerController">
        <div class="col-12 ">
            <div class="ess-showhide-detail-button">
                <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#essPersonalContent" href="" role="button" aria-expanded="true" aria-controls="essPersonalContent-label">
                    <div class="ess-tab-section-bar1">
                        <div class="ess-tab-section-bar-hdr">{{Text['HRPAPERSONALDATA'].PERSONALDATA}}</div>
                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="collapse show" id="essPersonalContent">
                <div class="ess-personal-info-edit-panel">
                    <div class="row ess-personal-info-general">
                        <div class="row">
                            <div class="col-12">
                                <div class="row mx-0">
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'TitleID'}" ng-show="item.FieldName=='TitleID' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].TITLE}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.TitleID!=PersonalData_OLD.TitleID"><span class="red_text"><strike>{{TitleNameText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.TitleID!=PersonalData_OLD.TitleID"><span class="blue_text">{{TitleNameText}}</span></div>
                                            <div ng-show="PersonalData.TitleID==PersonalData_OLD.TitleID">{{TitleNameText}}</div>
                                            <div ng-show="!PersonalData.TitleID">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'TitleIDEn'}" ng-show="item.FieldName=='TitleIDEn' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].TITLEEN}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.TitleIDEn!=PersonalData_OLD.TitleIDEn"><span class="red_text"><strike>{{TitleNameEnText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.TitleIDEn!=PersonalData_OLD.TitleIDEn"><span class="blue_text">{{TitleNameEnText}}</span></div>
                                            <div ng-show="PersonalData.TitleIDEn==PersonalData_OLD.TitleIDEn">{{TitleNameEnText}}</div>
                                            <div ng-show="!PersonalData.TitleIDEn">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'PrefixName'}" ng-show="item.FieldName=='PrefixName' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].PREFIXNAME}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.Prefix!=PersonalData_OLD.Prefix"><span class="red_text"><strike>{{PrefixNameText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.Prefix!=PersonalData_OLD.Prefix"><span class="blue_text">{{PrefixNameText}}</span></div>
                                            <div ng-show="PersonalData.Prefix==PersonalData_OLD.Prefix">{{PrefixNameText}}</div>
                                            <div ng-show="!PersonalData.Prefix">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'SecondTitle'}" ng-show="item.FieldName=='SecondTitle' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].SECONDTITLE}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.SecondTitle!=PersonalData_OLD.SecondTitle"><span class="red_text"><strike>{{SecondTitleText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.SecondTitle!=PersonalData_OLD.SecondTitle"><span class="blue_text">{{SecondTitleText}}</span></div>
                                            <div ng-show="PersonalData.SecondTitle==PersonalData_OLD.SecondTitle">{{SecondTitleText}}</div>
                                            <div ng-show="!PersonalData.SecondTitle">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'MilitaryTitle'}" ng-show="item.FieldName=='MilitaryTitle' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].MILITARYTITLE}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.MilitaryTitle!=PersonalData_OLD.MilitaryTitle"><span class="red_text"><strike>{{MilitaryTitleText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.MilitaryTitle!=PersonalData_OLD.MilitaryTitle"><span class="blue_text">{{MilitaryTitleText}}</span></div>
                                            <div ng-show="PersonalData.MilitaryTitle==PersonalData_OLD.MilitaryTitle">{{MilitaryTitleText}}</div>
                                            <div ng-show="!PersonalData.MilitaryTitle">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'AcademicTitle'}" ng-show="item.FieldName=='AcademicTitle' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].ACADEMICTITLE}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.AcademicTitle!=PersonalData_OLD.AcademicTitle"><span class="red_text"><strike>{{AcademicTitleText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.AcademicTitle!=PersonalData_OLD.AcademicTitle"><span class="blue_text">{{AcademicTitleText}}</span></div>
                                            <div ng-show="PersonalData.AcademicTitle==PersonalData_OLD.AcademicTitle">{{AcademicTitleText}}</div>
                                            <div ng-show="!PersonalData.AcademicTitle">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'MedicalTitle'}" ng-show="item.FieldName=='MedicalTitle' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].MEDICALTITLE}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.MedicalTitle!=PersonalData_OLD.MedicalTitle"><span class="red_text"><strike>{{MedicalTitleText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.MedicalTitle!=PersonalData_OLD.MedicalTitle"><span class="blue_text">{{MedicalTitleText}}</span></div>
                                            <div ng-show="PersonalData.MedicalTitle==PersonalData_OLD.MedicalTitle">{{MedicalTitleText}}</div>
                                            <div ng-show="!PersonalData.MedicalTitle">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'FirstName'}" ng-show="item.FieldName=='FirstName' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].FIRSTNAME}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.FirstName!=PersonalData_OLD.FirstName"><span class="red_text"><strike>{{PersonalData_OLD.FirstName}}</strike></span></div>
                                            <div ng-show="PersonalData.FirstName!=PersonalData_OLD.FirstName"><span class="blue_text">{{PersonalData.FirstName}}</span></div>
                                            <div ng-show="PersonalData.FirstName==PersonalData_OLD.FirstName">{{PersonalData.FirstName}}</div>
                                            <div ng-show="!PersonalData.FirstName">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'LastName'}" ng-show="item.FieldName=='LastName' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].LASTNAME}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.LastName!=PersonalData_OLD.LastName"><span class="red_text"><strike>{{PersonalData_OLD.LastName}}</strike></span></div>
                                            <div ng-show="PersonalData.LastName!=PersonalData_OLD.LastName"><span class="blue_text">{{PersonalData.LastName}}</span></div>
                                            <div ng-show="PersonalData.LastName==PersonalData_OLD.LastName">{{PersonalData.LastName}}</div>
                                            <div ng-show="!PersonalData.LastName">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'NameFormat'}" ng-show="item.FieldName=='NameFormat' && item.CategoryName=='PersonalData' && item.IsVisible">
                                        <div class="">
                                            <span class="ess-personal-info-label">{{Text[Textcategory].NAMEFORMAT}}</span>
                                        </div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="FullNameTH!=FullNameOLD_TH"><span class="red_text"><strike>{{FullNameOLD_TH}}</strike></span></div>
                                            <div ng-show="FullNameTH!=FullNameOLD_TH"><span class="blue_text">{{FullNameTH}}</span></div>
                                            <div ng-show="FullNameTH==FullNameOLD_TH">{{FullNameTH}}</div>
                                            <div ng-show="!FullNameTH">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'FirstNameEn'}" ng-show="item.FieldName=='FirstNameEn' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].FIRSTNAMEEN}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.FirstNameEn!=PersonalData_OLD.FirstNameEn"><span class="red_text"><strike>{{PersonalData_OLD.FirstNameEn}}</strike></span></div>
                                            <div ng-show="PersonalData.FirstNameEn!=PersonalData_OLD.FirstNameEn"><span class="blue_text">{{PersonalData.FirstNameEn}}</span></div>
                                            <div ng-show="PersonalData.FirstNameEn==PersonalData_OLD.FirstNameEn">{{PersonalData.FirstNameEn}}</div>
                                            <div ng-show="!PersonalData.FirstNameEn">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'LastNameEn'}" ng-show="item.FieldName=='LastNameEn' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].LASTNAMEEN}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.LastNameEn!=PersonalData_OLD.LastNameEn"><span class="red_text"><strike>{{PersonalData_OLD.LastNameEn}}</strike></span></div>
                                            <div ng-show="PersonalData.LastNameEn!=PersonalData_OLD.LastNameEn"><span class="blue_text">{{PersonalData.LastNameEn}}</span></div>
                                            <div ng-show="PersonalData.LastNameEn==PersonalData_OLD.LastNameEn">{{PersonalData.LastNameEn}}</div>
                                            <div ng-show="!PersonalData.LastNameEn">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'NameFormatEn'}" ng-show="item.FieldName=='NameFormatEn' && item.CategoryName=='PersonalData' && item.IsVisible">
                                        <div class="">
                                            <span class="ess-personal-info-label">{{Text[Textcategory].NAMEFORMATEN}}</span>
                                        </div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="FullNameEN!=FullNameOLD_EN"><span class="red_text"><strike>{{FullNameOLD_EN}}</strike></span></div>
                                            <div ng-show="FullNameEN!=FullNameOLD_EN"><span class="blue_text">{{FullNameEN}}</span></div>
                                            <div ng-show="FullNameEN==FullNameOLD_EN">{{FullNameEN}}</div>
                                            <div ng-show="!FullNameEN">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'NickName'}" ng-show="item.FieldName=='NickName' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].NICKNAME}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.NickName!=PersonalData_OLD.NickName"><span class="red_text"><strike>{{PersonalData_OLD.NickName}}</strike></span></div>
                                            <div ng-show="PersonalData.NickName!=PersonalData_OLD.NickName"><span class="blue_text">{{PersonalData.NickName}}</span></div>
                                            <div ng-show="PersonalData.NickName==PersonalData_OLD.NickName">{{PersonalData.NickName}}</div>
                                            <div ng-show="!PersonalData.NickName">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BirthDate'}" ng-show="item.FieldName=='BirthDate' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].BIRTHDATE}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.DOB!=PersonalData_OLD.DOB"><span class="red_text"><strike>{{BirthDateText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.DOB!=PersonalData_OLD.DOB"><span class="blue_text">{{BirthDateText}}</span></div>
                                            <div ng-show="PersonalData.DOB==PersonalData_OLD.DOB">{{BirthDateText}}</div>
                                            <div ng-show="!PersonalData.DOB">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'Gender'}" ng-show="item.FieldName=='Gender' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].GENDER}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.Gender!=PersonalData_OLD.Gender"><span class="red_text"><strike>{{GenderText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.Gender!=PersonalData_OLD.Gender"><span class="blue_text">{{GenderText}}</span></div>
                                            <div ng-show="PersonalData.Gender==PersonalData_OLD.Gender">{{GenderText}}</div>
                                            <div ng-show="!PersonalData.Gender">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BirthPlace'}" ng-show="item.FieldName=='BirthPlace' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].BIRTHPLACE}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.BirthPlace!=PersonalData_OLD.BirthPlace"><span class="red_text"><strike>{{BirthPlaceText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.BirthPlace!=PersonalData_OLD.BirthPlace"><span class="blue_text">{{BirthPlaceText}}</span></div>
                                            <div ng-show="PersonalData.BirthPlace==PersonalData_OLD.BirthPlace">{{BirthPlaceText}}</div>
                                            <div ng-show="!PersonalData.BirthPlace">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'Nationality'}" ng-show="item.FieldName=='Nationality' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].NATIONALITY}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.Nationality!=PersonalData_OLD.Nationality"><span class="red_text"><strike>{{NationalityText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.Nationality!=PersonalData_OLD.Nationality"><span class="blue_text">{{NationalityText}}</span></div>
                                            <div ng-show="PersonalData.Nationality==PersonalData_OLD.Nationality">{{NationalityText}}</div>
                                            <div ng-show="!PersonalData.Nationality">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BirthCity'}" ng-show="item.FieldName=='BirthCity' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].BIRTHCITY}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.BirthCity!=PersonalData_OLD.BirthCity"><span class="red_text"><strike>{{BirthCityText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.BirthCity!=PersonalData_OLD.BirthCity"><span class="blue_text">{{BirthCityText}}</span></div>
                                            <div ng-show="PersonalData.BirthCity==PersonalData_OLD.BirthCity">{{BirthCityText}}</div>
                                            <div ng-show="!PersonalData.BirthCity">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'MaritalStatus'}" ng-show="item.FieldName=='MaritalStatus' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].MARITALSTATUS}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.MaritalStatus!=PersonalData_OLD.MaritalStatus"><span class="red_text"><strike>{{MaritalStatusText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.MaritalStatus!=PersonalData_OLD.MaritalStatus"><span class="blue_text">{{MaritalStatusText}}</span></div>
                                            <div ng-show="PersonalData.MaritalStatus==PersonalData_OLD.MaritalStatus">{{MaritalStatusText}}</div>
                                            <div ng-show="!PersonalData.MaritalStatus">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'Religion'}" ng-show="item.FieldName=='Religion' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].RELIGION}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.Religion!=PersonalData_OLD.Religion"><span class="red_text"><strike>{{ReligionText_OLD}}</strike></span></div>
                                            <div ng-show="PersonalData.Religion!=PersonalData_OLD.Religion"><span class="blue_text">{{ReligionText}}</span></div>
                                            <div ng-show="PersonalData.Religion==PersonalData_OLD.Religion">{{ReligionText}}</div>
                                            <div ng-show="!PersonalData.Religion">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'BloodType'}" ng-show="item.FieldName=='BloodType' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].BLOODTYPE}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.BloodType!=PersonalData_OLD.BloodType"><span class="red_text"><strike>{{PersonalData_OLD.BloodType}}</strike></span></div>
                                            <div ng-show="PersonalData.BloodType!=PersonalData_OLD.BloodType"><span class="blue_text">{{PersonalData.BloodType}}</span></div>
                                            <div ng-show="PersonalData.BloodType==PersonalData_OLD.BloodType">{{PersonalData.BloodType}}</div>
                                            <div ng-show="!PersonalData.BloodType">-</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'IDCardNo'}" ng-show="item.FieldName=='IDCardNo' && item.IsVisible">
                                        <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].IDCARD}}</span></div>
                                        <div class="ess-personal-info-data">
                                            <div ng-show="PersonalData.IDCard!=PersonalData_OLD.IDCard"><span class="red_text"><strike>{{PersonalData_OLD.IDCard}}</strike></span></div>
                                            <div ng-show="PersonalData.IDCard!=PersonalData_OLD.IDCard"><span class="blue_text">{{PersonalData.IDCard}}</span></div>
                                            <div ng-show="PersonalData.IDCard==PersonalData_OLD.IDCard">{{PersonalData.IDCard}}</div>
                                            <div ng-show="!PersonalData.IDCard">-</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="col-12 ">
            <div class="ess-showhide-detail-button">
                <a class="ess-btn-showhide-detail" data-toggle="collapse" data-target="#essLicenceContent" href="" role="button" aria-expanded="true" aria-controls="essLicenceContent-label">
                    <div class="ess-tab-section-bar1">
                        <div class="ess-tab-section-bar-hdr">{{Text['HRPAPERSONALDATA'].LICENCEDATA}}</div>
                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i><i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="collapse show" id="essLicenceContent">
                <div class="ess-personal-info-edit-panel">
                    <div class="row ess-personal-info-general">
                        <div class="row col-12">
                            <div class="col-lg-12 col-md-12 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'LicenseID'}" ng-show="item.FieldName=='LicenseID' && item.IsVisible">
                                <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].LICENCENO}}</span></div>
                                <div class="ess-personal-info-data">
                                    <div ng-show="PersonalData.LicenseID!=PersonalData_OLD.LicenseID"><span class="red_text"><strike>{{PersonalData_OLD.LicenseID}}</strike></span></div>
                                    <div ng-show="PersonalData.LicenseID!=PersonalData_OLD.LicenseID"><span class="blue_text">{{PersonalData.LicenseID}}</span></div>
                                    <div ng-show="PersonalData.LicenseID==PersonalData_OLD.LicenseID">{{PersonalData.LicenseID}}</div>
                                    <div ng-show="!PersonalData.LicenseID">-</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'LicenceIssueDate'}" ng-show="item.FieldName=='LicenceIssueDate' && item.IsVisible">
                                <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].LICENCEISSUEDATE}}</span></div>
                                <div class="ess-personal-info-data">
                                    <div ng-show="PersonalData.LicenceIssueDate!=PersonalData_OLD.LicenceIssueDate"><span class="red_text"><strike>{{LicenceIssueDateText_OLD}}</strike></span></div>
                                    <div ng-show="PersonalData.LicenceIssueDate!=PersonalData_OLD.LicenceIssueDate"><span class="blue_text">{{LicenceIssueDateText}}</span></div>
                                    <div ng-show="PersonalData.LicenceIssueDate==PersonalData_OLD.LicenceIssueDate">{{LicenceIssueDateText}}</div>
                                    <div ng-show="!PersonalData.LicenceIssueDate">-</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 ess-personal-info-panel-s" style="margin-bottom:10px;" ng-repeat="item in PAConfiguration| filter:{ FieldName:'LicenceExpiredDate'}" ng-show="item.FieldName=='LicenceExpiredDate' && item.IsVisible">
                                <div class=""><span class="ess-personal-info-label">{{Text[Textcategory].LICENCEEXPIREDDATE}}</span></div>
                                <div class="ess-personal-info-data">
                                    <div ng-show="PersonalData.LicenceExpiredDate!=PersonalData_OLD.LicenceExpiredDate"><span class="red_text"><strike>{{LicenceExpiredDateText_OLD}}</strike></span></div>
                                    <div ng-show="PersonalData.LicenceExpiredDate!=PersonalData_OLD.LicenceExpiredDate"><span class="blue_text">{{LicenceExpiredDateText}}</span></div>
                                    <div ng-show="PersonalData.LicenceExpiredDate==PersonalData_OLD.LicenceExpiredDate">{{LicenceExpiredDateText}}</div>
                                    <div ng-show="!PersonalData.LicenceExpiredDate">-</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
