﻿
<div ng-include="'views/common/partials/document_breadcrumb.html?t='+runtime"></div>
<div ng-include="'views/common/partials/document_info.html?t='+runtime"></div>

<div ng-controller="PollDeleteViewerController">

    <div class="ess-wrapper">
        <div class="ess-inner-wrapper">
            <div class="ess-tab-section-bar1">
                <div class="ess-personal-info-sub-hdr">{{Text[Textcategory].POLLQUESTION}}</div>
            </div>
            <div class="row ess-document-info-edit-panel">
                <div class="col-xs-12 col-lg-6">

                    <div class="row" style="margin-bottom: 1rem;">
                        <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text[Textcategory].POLLTOPICTH}}</label>
                        <div class="col-sm-6 col-md-8 col-lg-12 ">
                            <span class="blue_text">{{document.Additional.PollTopicTH}}</span>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 1rem;">
                        <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text[Textcategory].POLLTOPICEN}}</label>
                        <div class="col-sm-6 col-md-8 col-lg-12 ">
                            <span class="blue_text">{{document.Additional.PollTopicEN}}</span>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 1rem;">
                        <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text[Textcategory].BEGINDATE}}</label>
                        <div class="col-sm-6 col-md-8 col-lg-12 ">
                            <span class="blue_text">{{document.Additional.BeginDate|date:'dd/MM/yyyy'}}</span>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 1rem;">
                        <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text[Textcategory].ENDDATE}}</label>
                        <div class="col-sm-6 col-md-8 col-lg-12 ">
                            <span class="blue_text">{{document.Additional.EndDate|date:'dd/MM/yyyy'}}</span>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 1rem;">
                        <label class="col-sm-4 col-md-2 col-lg-12 ess-form-group-label -settxt-right ng-binding">{{Text[Textcategory].LASTDAYOFSEEING}}</label>
                        <div class="col-sm-6 col-md-8 col-lg-12 ">
                            <span class="blue_text">{{document.Additional.LastSeenDate|date:'dd/MM/yyyy'}}</span>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-lg-6">
                    <div class="ess-inner-wrapper">
                        <div class="form-group ess-form-group">
                            <div class="row col-12 justify-content-center">
                                <div class="ess-table-container col-xs-12 col-xl-10">
                                    <table class="ess-table-default">
                                        <thead>
                                            <tr>

                                                <th style="width:10%"><div class="th-text"></div></th>
                                                <th style="width:40%"><div class="th-text">{{Text[Textcategory].OPTIONTH}}</div></th>
                                                <th style="width:40%"><div class="th-text">{{Text[Textcategory].OPTIONEN}}</div></th>

                                            </tr>
                                        </thead>
                                        <tbody class="freeze">
                                            <tr ng-repeat="item in document.Additional.PollOption">
                                                <td>
                                                    <div class="radio radio-inline text-center">
                                                        <input type="radio" name="radio" id="radio_0" value="0" disabled />
                                                    </div>
                                                </td>

                                                <td class="text-left">
                                                    <div class="col-sm-6 col-md-8 col-lg-12 ">
                                                        <span class="blue_text">{{item.OptionNameTH}}</span>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <div class="col-sm-6 col-md-8 col-lg-12 ">
                                                        <span class="blue_text">{{item.OptionNameEN}}</span>
                                                    </div>
                                                </td>

                                            </tr>

                                        </tbody>

                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!--</div>-->
</div>

<style>
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .announceCheckmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .announceCheckmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .announceCheckmark {
        background-color: #808080;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .announceCheckmark::after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .announceCheckmark::after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .announceCheckmark::after {
        left: 10px;
        top: 5px;
        width: 5px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>