﻿
<div class="main-content">
    <div class="page-body">
        <div class="breadcrumb-container ess-breadcrumb-container" ng-controller="RequestViewerController">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ess-breadcrumb">
                    <li id="CORE_405_btnBackHome" class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(0)" href="">{{Text['BOXLIST']['HOME']}}</a></li>
                    <li id="CORE_405_btnOpenUserRole" class="breadcrumb-item ess-breadcrumb-item"><a ng-click="openViewContent(405)" href="">{{Text['APPLICATION']['USER_ROLE_SETTNG']}}</a></li>
                    <li class="breadcrumb-item ess-breadcrumb-item active" aria-current="page">{{Text['APPLICATION']['USER_ROLE_RESPONSE_SETTING']}}</li>
                </ol>
            </nav>
        </div>
        <div class="ess-page-header-panel row ess-row-wrap">
            <div class="col-12 ess-page-header">
                <i class="icon icon-man"></i>
                <h1 class="ess-page-header1">{{Text['APPLICATION'].USER_ROLE_RESPONSE_SETTING}}</h1>
            </div>
        </div>
        <div class="ess-headersub-1"></div>
        <div class="ess-headersub-2"></div>
        <div class="ess-wrapper" ng-controller="UserRoleSettingEditorController" ng-init="init()">
            <div class="ess-inner-wrapper">
                <div class="row col-12 mb-2">
                    <div class="col-2">
                        <label for="">{{Text['SYSTEM'].COMPANY}}</label>
                    </div>
                    <div class="col-6">
                        <div style="position:relative">
                            <md-autocomplete id="CORE_405_btnSelectCompany" class="blocked-cross-btn" style="width:410px"
                                             ng-click="tryToSelectCompany(oUserRole)"
                                             ng-blur="checkTextCompany(oUserRole.searchCompanyText)"
                                             theme="bootstrap"
                                             md-no-cache="true"
                                             md-search-text="oUserRole.searchCompanyText"
                                             md-selected-item-change="selectedItemCompanyChange(item)"
                                             md-items="item in querySearchCompany(oUserRole.searchCompanyText)"
                                             md-item-text="item.CompanyDetail"
                                             md-selected-item="tempResultCompany"
                                             md-min-length="0"
                                             placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                <md-item-template>
                                    <span md-highlight-text="oUserRole.searchCompanyText" md-highlight-flags="^i">{{item.CompanyDetail}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{oUserRole.searchCompanyText}}" was found.
                                    <a id="CORE_405_btnCreateNewData" ng-click="newData(oUserRole.searchCompanyText)">Create a new one!</a>
                                </md-not-found>
                            </md-autocomplete>
                            <i class="caret pull-right" style=" position: absolute; right: 100px; top: 20px; color: black;"></i>
                        </div>
                    </div>
                </div>
                <!-- Employee data -->
                <!--<div class="row col-12 mb-2">
        <div class="col-2">
            <label for="">{{Text['APPLICATION'].PERSONAL_DATA_SETTING}}</label>
        </div>
        <div class="col-6">
            <div style="position:relative">
                <div ng-if="!employeeDataList" class="filter-blocker" style="width: 100%; height: 100%; z-index: 1; background: rgba(255, 0, 0, 0); position: absolute; "></div>
                <md-autocomplete id="CORE_405_btnSelectCompany2" class="blocked-cross-btn" style="width:410px" ng-disabled="!employeeDataList"
                                 ng-click="tryToSelectEmployee(oUserRole)"
                                 ng-blur="checkTextEmployee(oUserRole.searchEmployeeText)"
                                 theme="bootstrap"
                                 md-no-cache="true"
                                 md-search-text="oUserRole.searchEmployeeText"
                                 md-selected-item-change="selectedItemEmployeeChange(item)"
                                 md-items="item in querySearchEmployee(oUserRole.searchEmployeeText)"
                                 md-item-text="item.EmployeeID + ' : ' + item.Name"
                                 md-min-length="0"
                                 placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                    <md-item-template>
                        <span md-highlight-text="oUserRole.searchEmployeeText" md-highlight-flags="^i">{{item.EmployeeID + ' : ' + item.Name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{oUserRole.searchEmployeeText}}" was found.
                        <a id="CORE_405_btnCreateNewData2" ng-click="newData(oUserRole.searchEmployeeText)">Create a new one!</a>
                    </md-not-found>
                </md-autocomplete>
                <i class="caret pull-right" style=" position: absolute; right: 100px; top: 20px; color: black;"></i>
            </div>
        </div>
    </div>-->
                <!-- Organation data-->
                <div class="row col-12 mb-2">
                    <div class="col-2">
                        <label for="">{{Text['SYSTEM'].ORGANIZATION}}</label>
                    </div>
                    <div class="col-6">
                        <div style="position:relative">
                            <div ng-if="!organizationDataList" class="filter-blocker" style="width: 100%; height: 100%; z-index: 1; background: rgba(255, 0, 0, 0); position: absolute; "></div>
                            <md-autocomplete id="CORE_405_btnSelectCompany2" class="blocked-cross-btn" style="width:410px" ng-disabled="!organizationDataList"
                                             ng-click="tryToSelectOrganization(oUserRole)"
                                             ng-blur="checkTextOrganization(oUserRole.searchOrganizationText)"
                                             theme="bootstrap"
                                             md-no-cache="true"
                                             md-search-text="oUserRole.searchOrganizationText"
                                             md-selected-item-change="selectedItemOrganizationChange(item)"
                                             md-items="item in querySearchOrganization(oUserRole.searchOrganizationText)"
                                             md-item-text="item.OrgDetail"
                                             md-selected-item="tempResultOrganization"
                                             md-min-length="0"
                                             placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                <md-item-template>
                                    <span md-highlight-text="oUserRole.searchEmployeeText" md-highlight-flags="^i">{{item.OrgDetail}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No states matching "{{oUserRole.searchOrganizationText}}" was found.
                                    <a id="CORE_405_btnCreateNewData2" ng-click="newData(oUserRole.searchOrganizationText)">Create a new one!</a>
                                </md-not-found>
                            </md-autocomplete>
                            <i class="caret pull-right" style=" position: absolute; right: 100px; top: 20px; color: black;"></i>
                        </div>
                    </div>
                </div>
                <!-- Table user role-->
                <div class="row col-12 mb-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="freeze scrollbar-default">
                                <table class="ess-table-default">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="min-width:100px"><div class="th-text">{{Text['SYSTEM'].EMPLOYEE_ID}}</div></th>
                                            <th class="text-center" style="min-width:50px" ng-repeat="column in mRoleSetting"><div class="th-text">{{Text['USERROLENAME'][column.RoleName]}}</div></th>
                                            <th class="text-center" style="min-width:50px;background-color:darkorange"><div class="th-text" style="color:white">{{Text[Textcategory].BTN_INCLUDESUB}}</div></th>
                                            <th class="text-center" style="min-width:50px"><div class="th-text">{{Text['SYSTEM'].DELETE}}</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in UserRoleDisplay" ng-show="item.ResponseCode == tempResultOrganization.OrgUnit">
                                            <td class="ess-report-data"><div ng-show="item.EmployeeID">{{item.EmployeeID}} : {{item.EmployeeName}}</div></td>
                                            <td class="ess-report-data text-center" ng-repeat="col in mRoleSetting">
                                                <div>
                                                    <input type="checkbox" ng-checked="item.Roles.includes(col.RoleName)" ng-click="ItemChange(item,col.RoleName)" />
                                                </div>
                                            </td>
                                            <td class="ess-report-data text-center" style="background-color:burlywood"><input type="checkbox" ng-model="item.includeSub"></td>
                                            <td class="ess-report-data text-center"><a href="" ng-click="DeleteRole(item)"><i class="fa fa-trash-o" style="cursor:pointer; color:orangered"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td class="ess-report-data">
                                                <div style="position:relative">
                                                    <div ng-if="!employeeDataList" class="filter-blocker" style="width: 100%; height: 100%; z-index: 1; background: rgba(255, 0, 0, 0); position: absolute; "></div>
                                                    <md-autocomplete id="CORE_405_btnSelectCompany2" class="blocked-cross-btn" style="width:410px" ng-disabled="!employeeDataList"
                                                                     ng-click="tryToSelectEmployee(oUserRole)"
                                                                     ng-blur="checkTextEmployee(oUserRole.searchEmployeeText)"
                                                                     theme="bootstrap"
                                                                     md-no-cache="true"
                                                                     md-search-text="oUserRole.searchEmployeeText"
                                                                     md-selected-item-change="selectedItemEmployeeChange(item)"
                                                                     md-items="item in querySearchEmployee(oUserRole.searchEmployeeText)"
                                                                     md-item-text="item.EmployeeID + ' : ' + item.Name"
                                                                     md-min-length="0"
                                                                     placeholder="{{ Text['SYSTEM']['SELECT_OR_SEARCH'] }}">
                                                        <md-item-template>
                                                            <span md-highlight-text="oUserRole.searchEmployeeText" md-highlight-flags="^i">{{item.EmployeeID + ' : ' + item.Name}}</span>
                                                        </md-item-template>
                                                        <md-not-found>
                                                            No states matching "{{oUserRole.searchEmployeeText}}" was found.
                                                            <a id="CORE_405_btnCreateNewData2" ng-click="newData(oUserRole.searchEmployeeText)">Create a new one!</a>
                                                        </md-not-found>
                                                    </md-autocomplete>
                                                    <i class="caret pull-right" style=" position: absolute; right: 100px; top: 20px; color: black;"></i>
                                                </div>
                                            </td>
                                            <td class="ess-report-data text-center" ng-repeat="col in mRoleSetting">
                                                <div>
                                                    <input type="checkbox" ng-checked="data.Roles.includes(col.RoleName)" ng-click="dataRoleSelect(col.RoleName)" />
                                                </div>
                                            </td>
                                            <td class="ess-report-data text-center" style="background-color:burlywood"><input type="checkbox" ng-model="data.includeSub"></td>
                                            <td>
                                                <a id="CORE_405_btnAddNewRole" href="" class="btn" style="border-color: green;" ng-click="addRow()"><i class="fa fa-plus-circle"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div class="col-3">
                            <a id="CORE_405_btnSaveRoleSetting" href="" class="btn" style="border-color: blue;" ng-click="SaveRoleSetting()"><i class="fa fa-plus-circle"></i>&nbsp;{{Text[Textcategory].SAVE_USER_ROLE}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>